
	<!-- Main navbar -->
	<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>
		
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">
		<!-- Page content -->
		<div class="page-content">
			<!-- Main Sidebar -->
			<aside-parent class="sidebar sidebar-main"></aside-parent>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<div class="panel panel-flat">

						<div class="panel-heading">
							<h4 class="panel-title text-uppercase">My Settings</h4>
						</div>

						<div class="panel-body">

							<div class="settings-tab row">

								<div class="col-sm-3 tab-nav">
									<ul id="settingsNav" class="nav nav-settings">
										<li class="active"><a data-toggle="tab" href="#parentAccountSettings">My Account</a></li>
										<li><a data-toggle="tab" href="#parentSubscriptionSettings">My Subscription</a></li>
										<li><a data-toggle="tab" href="#parentMlgSettings">MLG Settings</a></li>
									</ul>
								</div>

								<div class="col-sm-9 tab-content">
									<div id="parentAccountSettings" class="tab-pane active">
										<div role="form" class="form-horizontal form-account-settings">
											<div class="form-group">
												<label class="control-label col-sm-3" for="fullname">Full Name</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" value="Andrew Garfield" name="fullname" readonly>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-3" for="fullname">Email</label>
												<div class="col-sm-9">
													<input type="email" class="form-control" value="andrew.Garfield@gmail.com" name="email" readonly>
												</div>
											</div>
											<div class="form-group has-feedback">
												<label class="control-label col-sm-3" for="address">Address</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" value="#5453, loreum Rd, Ipsum, Dolor City, CA-23244" name="address">
													<div class="form-control-feedback"><button class="btn-link btn"><i class="fa fa-pencil"></i></button></div>
												</div>
											</div>
											<div class="form-group has-feedback">
												<label class="control-label col-sm-3" for="phone">Phone No.</label>
												<div class="col-sm-9">
													<input type="tel" class="form-control" value="+1 54590433" name="phone">
													<div class="form-control-feedback"><button class="btn-link btn"><i class="fa fa-pencil"></i></button></div>
													<div class="checkbox checkbox-primary">
														<input type="checkbox" name="sendreports">
														<label for="sendreports">
															Send report and progresses on my phone.
														</label>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-12">
													<p><a href="#" class="link">Change Password</a></p>
													<p><a href="#" class="link link-gray-light text-semibold">Deactivate My Account</a></p>
												</div>
											</div>
										</div>
									</div>

									<div id="parentSubscriptionSettings" class="tab-pane">
										<h4>Subscription type</h4>
										<hr>
										<div class="dropdown">
										  <button class="btn btn-link dropdown-toggle" type="button" id="dropdownChild" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										    Child
										    <span class="caret"></span>
										  </button>
										  <ul class="dropdown-menu" aria-labelledby="dropdownChild">
										    <li><a href="#">Andrew Gordon</a></li>
										    <li><a href="#">Another Gordon</a></li>
										    <li><a href="#">Something else Gordon</a></li>
										  </ul>
										</div>
										<br>
										<div class="parent-subscription-table">
											<div class="table-col col-left your-subscriptions">
												<div class="table-item">
													<h3 class="col-title">Your Subscription</h3>
												</div>
												<div class="table-item">
													<p class="text-uppercase">CURRENT SUBJECT PACKAGE</p>
													<div class="current-package package-box">
														<span class="package-title">1 Subject</span>
													</div>
												</div>
												<div class="table-item">
													<p class="text-uppercase">CURRENT Plan</p>
													<div class="current-plan package-box">
														<span class="package-title">Monthly</span>
														<i class="icon icon-monthly package-icon"></i>
													</div>
												</div>
												<div class="table-item">
													<p class="text-uppercase">Current Subjects</p>
													<div class="current-subject package-box">
														<span class="package-title">Math</span>
														<strong class="package-price">$72</strong>
														<small class="package-type">monthly</small>
													</div>
												</div>
											</div>
											<div class="table-col col-right all-subscriptions">
												<div class="table-item">
													<h3 class="col-title">Upgrade to</h3>
												</div>
												<div class="table-item">
													<p class="text-uppercase">Select SUBJECT PACKAGE</p>
													<div id="ChooseSubjectPackages" class="btn-group package-group" data-toggle="buttons">
														<label class="btn package-box active">
															<input type="radio" name="subjectPackages" id="subjectPackage2" autocomplete="off">
															<span class="package-title">2 Subjects</span>
															<strong class="package-offer">10% off</strong>
														</label>
														<label class="btn package-box">
															<input type="radio" name="subjectPackages" id="subjectPackage3" autocomplete="off">
															<span class="package-title">3 Subjects</span>
															<strong class="package-offer">10% off</strong>
														</label>
														<label class="btn package-box">
															<input type="radio" name="subjectPackages" id="subjectPackage4" autocomplete="off">
															<span class="package-title">All Subjects</span>
															<strong class="package-offer">10% off</strong>
														</label>
													</div>
												</div>

												<div class="table-item">
													<p class="text-uppercase">Choose a Plan</p>
													<div id="ChooseSubscriptionPlans" class="btn-group package-group" data-toggle="buttons">
														<label class="btn package-box package-plan active">
															<input type="radio" name="subscriptionPlans" id="planQuarterly" autocomplete="off">
															<span class="package-title">Quarterly</span>
															<i class="icon icon-quarterly package-icon"></i>
														</label>
														<label class="btn package-box package-plan">
															<input type="radio" name="subscriptionPlans" id="planYearly" autocomplete="off">
															<span class="package-title">Yearly</span>
															<i class="icon icon-yearly package-icon"></i>
														</label>
													</div>
												</div>

												<div class="table-item">
													<p class="text-uppercase">Choose your subjects</p>
													<div id="ChooseSubjects" class="btn-group package-group" data-toggle="buttons">
														<label class="btn package-box subject active disabled">
															<input type="checkbox" name="math" autocomplete="off" checked disabled>
															<span class="package-title">Math</span>
															<strong class="package-price">$72</strong>
															<small class="package-type">per quarter</small>
														</label>
														<label class="btn package-box subject active">
															<input type="checkbox" name="english" autocomplete="off">
															<span class="package-title">English</span>
															<strong class="package-price">$28</strong>
															<small class="package-type">per quarter</small>
														</label>
														<label class="btn package-box subject">
															<input type="checkbox" name="science" autocomplete="off">
															<span class="package-title">Science</span>
															<strong class="package-price">$50</strong>
															<small class="package-type">per quarter</small>
														</label>
														<label class="btn package-box subject">
															<input type="checkbox" name="socialScience" autocomplete="off">
															<span class="package-title">Social Science</span>
															<strong class="package-price">$30</strong>
															<small class="package-type">per quarter</small>
														</label>
													</div>
												</div>
											</div>
										</div>
										<br><br>
										<div class="text-right">
											<button type="button" class="btn btn-primary">Save</button>
										</div>
									</div>

									<div id="parentMlgSettings" class="tab-pane">
										<div class="setting-items-group">
											<div class="group-item">
												<h4 class="group-item-title">Notifications</h4>
												<div class="form-group">
													<div class="checkbox checkbox-primary">
														<input type="checkbox" id="acceptAllTerms">
														<label for="acceptAllTerms">
															Send me text messages
														</label>
													</div>

													<div class="checkbox checkbox-primary">
														<input type="checkbox" id="acceptAllTerms">
														<label for="acceptAllTerms">
															Send me emails
														</label>
													</div>
												</div>
											</div>
											<div class="group-item">
												<h4 class="group-item-title">Offers:</h4>
												<p class="text-muted">Recieve offers from MLG <span class="fa fa-info-circle text-info"></span></p>
												<div class="form-group">
													<div class="radio radio-primary radio-inline">
														<input type="radio" value="yes" name="recieveoffers">
														<label for="yes">
															Yes
														</label>
													</div>
													<div class="radio radio-primary radio-inline">
														<input type="radio" value="no" name="recieveoffers">
														<label for="no">
															No
														</label>
													</div>
												</div>
											</div>
											<div class="group-item">
												<h4 class="group-item-title">Redeem:</h4>
												<p class="text-muted">Turn on/off auto redeem <span class="fa fa-info-circle text-info"></span></p>
												<div class="checkbox checkbox-switchery checkbox-inline switchery-sm switchery-double">
													<label>
														<span class="off">OFF</span>
														<input type="checkbox" class="switchery" checked>
														<span class="on">ON</span>
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--/ tabs-mySettings-->


						</div><!--/ panel-body-->

					</div>

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->

