
	<!-- Main navbar -->
	<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>
		
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			
			<aside-parent class="sidebar sidebar-main"></aside-parent>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<!-- Student List Panel  -->
					<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title text-uppercase">Progress</h5>
						</div>
						<div class="panel-body progress_content">
								<div class="row">

									<div class="col-md-6">
										<img src="assets/img/progress-chart-1.png" alt="Overall Progress Chart">
									</div>

									<div class="col-md-6 text-center">
										<div class="row">
											<div class="col-sm-6">
												<img src="assets/img/icon-stopwatch.png" alt="Time Spent on platform">
												<div class="time-spent total">
													<h2 class="time-value">2 hrs</h2>
													<span class="text-muted">Time spent on plateform</span>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="time-spent week">
													<h4 class="time-value">50 mins <span class="text-muted display-block">Week</span></h4>
												</div>
												<hr>
												<div class="time-spent month">
													<h4 class="time-value">1 hr 10 mins <span class="text-muted display-block">Month</span></h4>
												</div>
											</div>
										</div>
									</div>

								</div>
						</div>
					</div>
					<!-- /student list panel  -->

					<!-- Areas of Focus Panel  -->
					<div class="well well-flat tabs-analysis">
						<div class="row">
							<div class="tab-content tab-content-left col-sm-6 ">
								<h4 class="category-content text-uppercase no-margin">Areas of Focus</h4>
								<ul id="myNav" class="nav nav-tabs-analysis row">
									<li class="active">
										<a data-toggle="tab" href="#menu">
												<h5 class="nav__title">MATHS - <span>H.C.F & L.C.M</span></h5>
												<p class="nav__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do
												eiusmod tempor incididunt ut labore et dolore magna aliqua.
												Ut enim ad minim veniam,</p>
										</a>
									</li>
									<li>
										<a data-toggle="tab" href="#menu1">
											<h5 class="nav__title">MATHS - <span>H.C.F & L.C.M</span></h5>
											<p class="nav__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do
											eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ut enim ad minim veniam,</p>
										</a>
									</li>
									<li>
										<a data-toggle="tab" href="#menu2">
											<h5 class="nav__title">MATHS - <span>H.C.F & L.C.M</span></h5>
											<p class="nav__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do
											eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ut enim ad minim veniam,</p>
										</a>
									</li>
									<li>
										<a data-toggle="tab" href="#menu3">
											<h5 class="nav__title">MATHS - <span>H.C.F & L.C.M</span></h5>
											<p class="nav__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do
											eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ut enim ad minim veniam,</p>
										</a>
									</li>
								</ul>
								<h5 class="text-center"><a class="fa fa-2x fa-angle-down link link-gray-light"></a></h5>
							</div>

							<div class="tab-content tab-content-right col-sm-6">
								<div id="menu" class="tab-pane fade in active">
									<h3 class="nav__title text-center">MATHS - <span>H.C.F & L.C.M</span></h3>

									 <ul class="list-unstyled list_scoreAnalysis">
											 <li>
												 Andrew's Score <span class="text-danger score__value">42</span>
											 </li>
											 <li>
												 Peer Group Average <span class="text-warning score__value">42</span>
											 </li>
											 <li>
												 Class Average <span class="text-succes score__value">42</span>
											 </li>
									 </ul>
									 <br>
									 <h5 class="text-uppercase">Problem Areas:</h5>
									 <div class="tags-problems-area">
										 <h4>
											 <span class="label label-danger">Loreum ipsum dolor sit</span>
											 <span class="label label-danger">dolor sit</span>
											 <span class="label label-danger">ipsum dolor</span>
										 </h4>
									 </div>
									 <br>
									 <div class="text-center">
										 <button class="btn btn-default btn-outline" data-toggle="modal" data-target="#modal-parentAssignment">Create Assignment</button>
									 </div>
								</div>

								<div id="menu1" class="tab-pane fade">
									<!-- remove below image in the case of using plugins -->
									 <img src="assets/img/student-gap-analysis/analysis_img_1.png" alt="" class="img-responsive"/>

									 <br>
									 <div class="text-center"><button type="button" class="btn btn-default btn-outline">CREATE ASSIGNMENT</button></div>
								</div>

								<div id="menu2" class="tab-pane fade">
									<!-- remove below image in the case of using plugins -->
									 <img src="assets/img/student-gap-analysis/analysis_img_1.png" alt="" class="img-responsive"/>

									 <br>
									 <div class="text-center"><button type="button" class="btn btn-default btn-outline">CREATE ASSIGNMENT</button></div>
								</div>

								<div id="menu3" class="tab-pane fade">
									<!-- remove below image in the case of using plugins -->
									 <img src="assets/img/student-gap-analysis/analysis_img_1.png" alt="" class="img-responsive"/>

									 <br>
									 <div class="text-center"><button type="button" class="btn btn-default btn-outline">CREATE ASSIGNMENT</button></div>
								</div>
							</div>

						</div>
					</div>
					<!-- /student gap analysis panel  -->
					
					<!-- award achived  -->
					<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title text-uppercase">Awards Achived</h5>
						</div>
						<div class="panel-body">
							<div award-carousel class="award-achived owl-carousel">
								<div class="item ">
									<img src="assets/img/award-achived-img/logo_2.png" alt="" class="award-achived-logo">
									<h5 class="award-hd">Level Up to 6th</h5>
									<ul class="list-inline social-share">
										<li><span>Share</span></li>
										<li><a href="#" class="fa fa-facebook-square"></a></li>
										<li><a href="#" class="fa fa-instagram"></a></li>
										<li><a href="#" class="fa fa-twitter-square"></a></li>
									</ul>
								</div>
								<div class="item">
									<img src="assets/img/award-achived-img/logo_4.png" alt="" class="award-achived-logo">
									<h5 class="award-hd">Achieved a new Skill in Maths</h5>
									<ul class="list-inline social-share">
										<li><span>Share</span></li>
										<li><a href="#" class="fa fa-facebook-square"></a></li>
										<li><a href="#" class="fa fa-instagram"></a></li>
										<li><a href="#" class="fa fa-twitter-square"></a></li>
									</ul>
								</div>
								<div class="item">
									<img src="assets/img/award-achived-img/logo_1.png" alt="" class="award-achived-logo">
									<h5 class="award-hd">3 Challenges Completed</h5>
									<ul class="list-inline social-share">
										<li><span>Share</span></li>
										<li><a href="#" class="fa fa-facebook-square"></a></li>
										<li><a href="#" class="fa fa-instagram"></a></li>
										<li><a href="#" class="fa fa-twitter-square"></a></li>
									</ul>
								</div>
								<div class="item">
									<img src="assets/img/award-achived-img/logo_3.png" alt="" class="award-achived-logo">
									<h5 class="award-hd">Conquered a Castle</h5>
									<ul class="list-inline social-share">
										<li><span>Share</span></li>
										<li><a href="#" class="fa fa-facebook-square"></a></li>
										<li><a href="#" class="fa fa-instagram"></a></li>
										<li><a href="#" class="fa fa-twitter-square"></a></li>
									</ul>
								</div>
								<div class="item">
									<img src="assets/img/award-achived-img/logo_2.png" alt="" class="award-achived-logo">
									<h5 class="award-hd">Level Up to 7<sup>th</sup></h5>
									<ul class="list-inline social-share">
										<li><span>Share</span></li>
										<li><a href="#" class="fa fa-facebook-square"></a></li>
										<li><a href="#" class="fa fa-instagram"></a></li>
										<li><a href="#" class="fa fa-twitter-square"></a></li>
									</ul>
								</div>
								<div class="item">
									<img src="assets/img/award-achived-img/logo_2.png" alt="" class="award-achived-logo">
									<h5 class="award-hd">Level Up to 6th</h5>
									<ul class="list-inline social-share">
										<li><span>Share</span></li>
										<li><a href="#" class="fa fa-facebook-square"></a></li>
										<li><a href="#" class="fa fa-instagram"></a></li>
										<li><a href="#" class="fa fa-twitter-square"></a></li>
									</ul>
								</div>
								<div class="item">
									<img src="assets/img/award-achived-img/logo_4.png" alt="" class="award-achived-logo">
									<h5 class="award-hd">Achieved a new Skill in Maths</h5>
									<ul class="list-inline social-share">
										<li><span>Share</span></li>
										<li><a href="#" class="fa fa-facebook-square"></a></li>
										<li><a href="#" class="fa fa-instagram"></a></li>
										<li><a href="#" class="fa fa-twitter-square"></a></li>
									</ul>
								</div>
								<div class="item">
									<img src="assets/img/award-achived-img/logo_1.png" alt="" class="award-achived-logo">
									<h5 class="award-hd">3 Challenges Completed</h5>
									<ul class="list-inline social-share">
										<li><span>Share</span></li>
										<li><a href="#" class="fa fa-facebook-square"></a></li>
										<li><a href="#" class="fa fa-instagram"></a></li>
										<li><a href="#" class="fa fa-twitter-square"></a></li>
									</ul>
								</div>
								<div class="item">
									<img src="assets/img/award-achived-img/logo_3.png" alt="" class="award-achived-logo">
									<h5 class="award-hd">Conquered a Castle</h5>
									<ul class="list-inline social-share">
										<li><span>Share</span></li>
										<li><a href="#" class="fa fa-facebook-square"></a></li>
										<li><a href="#" class="fa fa-instagram"></a></li>
										<li><a href="#" class="fa fa-twitter-square"></a></li>
									</ul>
								</div>
								<div class="item">
									<img src="assets/img/award-achived-img/logo_2.png" alt="" class="award-achived-logo">
									<h5 class="award-hd">Level Up to 7<sup>th</sup></h5>
									<ul class="list-inline social-share">
										<li><span>Share</span></li>
										<li><a href="#" class="fa fa-facebook-square"></a></li>
										<li><a href="#" class="fa fa-instagram"></a></li>
										<li><a href="#" class="fa fa-twitter-square"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- award achived  -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	
	<section class="modal-section">
		<!-- Modal -->
		<div id="modal-parentAssignment" class="modal fade modal-parentAssignment" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
		      </div>
		      <div class="modal-body">
		        <p>Confirm Sending an Assignment</p>
						<div class="confirm-success-msg">
							<i class="icon icon-check"></i>
							<p>Your assignment has been succefully  sent to  your child</p>
						</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-background-none" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" onclick="showTargetElement('.modal-parentAssignment .modal-content', 'success')">Confirm</button>
		      </div>
		    </div>

		  </div>
		</div>
	</section>
