
	<!-- Main navbar -->
	<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>

	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
				<aside-parent class="sidebar sidebar-main"></aside-parent>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<!-- panel-help  -->
					<div class="panel panel-flat panel-help">
						<div class="panel-heading">
							<h5 class="panel-title text-uppercase">Help</h5>
						</div>
						<div class="panel-body">
							<h4 class="hd">We hope you find your answer here, but if you still have stions don't hesitate to <a href="contact-us">contact us</a></h4>
						<div class="panel-group panel-accordion" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapse_1" class="icon-angle-down">What gaps in learning exist? Where do my students need to work?</a>
										</h4>
									</div>
									<div id="collapse_1" class="panel-collapse collapse in">
										<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapse_2" class="collapsed icon-angle-down">What are their gaps ? and Where do my students need to work?</a>
										</h4>
									</div>
									<div id="collapse_2" class="panel-collapse collapse">
										<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapse_3" class="collapsed icon-angle-down">What skills and standards are my students struggling with?</a>
										</h4>
									</div>
									<div id="collapse_3" class="panel-collapse collapse">
										<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapse_4" class="collapsed icon-angle-down">How can I build classroom groups for remedial, moderate and advanced learners?</a>
										</h4>
									</div>
									<div id="collapse_4" class="panel-collapse collapse">
										<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapse_5" class="collapsed icon-angle-down">Can I visually represent at-risk students, and what do they need ?</a>
										</h4>
									</div>
									<div id="collapse_5" class="panel-collapse collapse">
										<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapse_6" class="collapsed icon-angle-down">Can I see progress by skill, sub-skill, national and state standards ?</a>
										</h4>
									</div>
									<div id="collapse_6" class="panel-collapse collapse">
										<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
									</div>
								</div>
						 </div>
						</div>
					</div>
					<!-- /panel-help  -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->

							<!-- Latest compiled and minified jQuery -->
							<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
							<script>window.jQuery || document.write('<script src="assets/js/min/jquery-2.1.3.min.js"><\/script>')</script>
							<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

							<!-- plugins -->
							<script src="../assets/js/plugins/forms/bootstrap-select.min.js"></script>
							<!-- plugins -->
							<!-- Page Specific JavaScript -->
							<script src="../assets/js/main.js"></script>


