<!-- Main navbar -->
<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main Sidebar -->
    <aside-parent class="sidebar sidebar-main"></aside-parent>
    <!-- /sidebar -->


    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Content area -->
      <div class="content">

        <!-- Areas of Focus Panel  -->
        <div class="panel panel-flat panel-redeem">
          <div class="panel-heading">
            <h5 class="panel-title text-uppercase">Redeem </h5>
            <div class="heading-elements">
              <span class="redeem-score">Your Points:- <b class="text-primary">600</b></span>
            </div>
          </div>
          <div class="panel-body parentRedeem-content">
            <ul class="list-inline heading-text text-right text-xs-center">
              <li>
                <div class="switch-box label-left is-success margin-top-0" ng-init="init()">
                  <label for="automaticApproval" class="switch-box-label margin-top-10">Automatic Approval</label>
                  <i class="fa fa-toggle-on active" ng-if="automatic_approval_status == true" ng-click="changeStatus();"></i>
                  <i class="fa fa-toggle-on fa-rotate-180 inactive" ng-if="automatic_approval_status == false" ng-click="changeStatus();"></i>
                </div>
              </li>
            </ul>
            <ul class="media-list redeem-list">

              <li ng-repeat="avail_coupon in avail_coupons" class="media redeem-item" 
                  ng-show="avail_coupon.status.toLowerCase() == 'acquired' || avail_coupon.status.toLowerCase() == 'rejected' || avail_coupon.status.toLowerCase() == 'approval pending'">
                <div class="media-left">
                  <img class="media-object coupon-img" src=".{{avail_coupon.coupons.image}}" alt="Get coupen worth $12 for 200points">
                </div>
                <div class="media-body media-middle">
                  <div class="row">
                    <div class="col-sm-8">
                      <h4 class="media-heading">Your child is redeem this coupan</h4>
                    </div>
                    <div class="col-sm-4">
                      <div id="{{avail_coupon.coupon_id}}"> 
                      <div class="media-btns " ng-if="avail_coupon.status.toLowerCase() == 'approval pending'">
                        <button class="btn btn-primary btn-accept" data-toggle="modal" ng-click = "modal_couponAccept(avail_coupon)">Accept</button>
                        <button class="btn background-none btn-reject" data-toggle="modal" ng-click = "modal_couponReject(avail_coupon)">Reject</button>
                      </div>
                        
                      <div class="media-btns disabled" ng-if="avail_coupon.status.toLowerCase() == 'acquired'">
                        <a class="btn btn-background-none text-success text-uppercase">
                          <i class="icon icon-tick"></i> Approved
                        </a>
                      </div>

                      <div class="media-btns disabled" ng-if="avail_coupon.status.toLowerCase() == 'rejected' ">
                        <a class="btn btn-background-none text-danger text-uppercase">
                          <i class="icon icon-cross"></i> Rejected
                        </a>
                      </div>
                        </div>

                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
        <!-- /student gap analysis panel  -->

      </div>
      <!-- /content area -->

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->

</div>
<!-- page container -->
<!-- modal-section  -->
<section class="modal-section">
  <!-- Modal -->
  <div id="modal-couponAccept" class="modal fade modal-confirmSuccess" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
        </div>
        <div class="modal-body">
          <p>Approved the Coupon Request?</p>
          <div class="confirm-success-msg">
            <i class="icon icon-check"></i>
            <p>Coupon approved successfully</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-background-none" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="coupon_accepted()">Confirm</button>
        </div>
      </div>

    </div>
  </div>
  <div id="modal-couponReject" class="modal fade modal-confirmSuccess" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
        </div>
        <div class="modal-body">
          <p>Reject the Coupon Request?</p>
          <div class="confirm-success-msg">
            <i class="icon icon-check"></i>
            <p>Coupon Reject successfully</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-background-none" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="coupon_rejected()">Confirm</button>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- modal-section -->
