<!-- Main navbar -->
<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top">

</top-search-bar>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main Sidebar -->
    <aside-parent class="sidebar sidebar-main"></aside-parent>
    <!-- /sidebar -->


    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Content area -->
      <div class="content">

        <div class="panel panel-flat panel-notification">
          <div class="panel-heading">
            <h5 class="panel-title"><i class="icon icon-arrow-left"></i> Notifications</h5>
          </div>
          <div class="panel-body">

            <div ng-repeat="notification in notifications" class="media-list">
              <div class="media-left hidden-xs">
                <i class="icon icon-my_class"></i>
              </div>
              <div class="media-body">
                <h5 class="hd text-uppercase">
                  <i ng-if="notification.kind.toLowerCase() == 'analytics'" class="icon icon-my_class hidden-lg hidden-md hidden-sm"></i>
                  <i ng-if="notification.kind.toLowerCase() == 'offers'" class="icon icon-my_subscriptions hidden-lg hidden-md hidden-sm"></i>
                  <i ng-if="notification.kind.toLowerCase() == 'subcriptions'" class="icon icon-my_data hidden-lg hidden-md hidden-sm"></i>
                  <i ng-if="notification.kind.toLowerCase() == 'coupons'" class="icon icon-my_rewards hidden-lg hidden-md hidden-sm"></i>
                  {{notification.kind}}
                </h5>
                <p class="para">{{notification.message}}</p>
                <div class="text-right">
                  <time>{{notification.time_before.days}} days {{notification.time_before.h}} hours {{notification.time_before.i}} minutes ago</time>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!-- /content area -->

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->

</div>
<!-- page container -->

<!-- Latest compiled and minified jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/min/jquery-2.1.3.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Page Specific JavaScript -->
<script src="../assets/js/main.js"></script>
