	<!-- Main navbar -->
	<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main"></aside>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<!-- Teacher Setting  Panel  -->
					<div class="panel panel-flat  teacher_assignment">
						<div class="panel-heading padding-bottom-5">
              <h5 class="panel-title"><i class="icon icon-arrow-left"></i> Create Custom Assignment</h5>
						</div>
            <div class="panel-body">
							<form class="form-horizontal">
                <div class="row repeat-row">
                  <span class="color-gray text-uppercase">Send To:</span>
                </div>
								<div class="row repeat-row">
                  <div class="col-lg-5">
                    <div class="row">
                      <div class="form-group">
												<label for="" class="col-xs-5 control-label text-left">
													<div class="radio radio-primary radio-inline">
														<input type="radio" id="inlineRadio1" value="option1" name="challengesGroup" checked="">
														<label for="inlineRadio1" class="text-uppercase margin-top-0"> All Class</label>
													</div>
												</label>
	                      <div class="col-xs-7 padding-right-0">
													<div class="row">
	                          <div class="col-xs-1">
	                            <div class="radio radio-primary radio-inline">
	                              <input type="radio" id="inlineRadio1" value="option1" name="challengesGroup" checked="">
	                              <label></label>
	                            </div>
	                          </div>
	                          <div class="col-xs-10 padding-md-right-0 ">
															<select class="mlg-selectpicker" title="Group" data-width="auto" data-size="auto">
											           <option>Approved</option>
											           <option>Not Approved</option>
											           <option>Submitted</option>
											           <option>Pending</option>
											           <option>Under review</option>
											           <option>Draft</option>
											        </select>
	                          </div>
	                        </div>
	                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2 padding-md-right-0">
										<div class="row">
											<div class="form-group">
												<label for="" class="col-xs-5 control-label"></label>
												<div class="col-xs-7">
													<div class="row">
														<div class="col-xs-1">
															<div class="radio radio-primary radio-inline">
																<input type="radio" id="inlineRadio1" value="option1" name="challengesGroup" checked="">
																<label></label>
															</div>
														</div>
														<div class="col-xs-10 padding-right-0 ">
															<div class="multi-select-full">
																<div ng-dropdown-multiselect="" options="autoAssignmentData" selected-model="autoAssignmentModel" extra-settings="autoAssignmentSetting"></div>
															</div>
														</div>
													</div>
													</select>
												</div>
											</div>
										</div>
                  </div>
                </div>
								<div class="row repeat-row">
                  <div class="col-lg-5">
                    <div class="row">
                      <div class="form-group">
												<label for="" class="col-xs-5 control-label text-left">Select A skills :</label>
	                      <div class="col-xs-7 ">
													<select class="mlg-selectpicker form-control" title="Numbers" data-size="auto">
													 <option>Numbers</option>
													 <option>Integeratio</option>
													 <option>Division</option>
													 <option>Multiplication</option>
													</select>
	                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2">
										<div class="row">
											<div class="form-group">
												<label for="" class="col-xs-5 control-label">Select a subskills :</label>
												<div class="col-xs-7">
														<select class="mlg-selectpicker form-control" title="Whole Numbers" data-size="auto">
														 <option>Whole Numbers</option>
														 <option>Prime Numbers</option>
														 <option>Rational Numbers</option>
														 <option>Irractional Numbers</option>
														 <option>Trigonometry</option>

													</select>
												</div>
											</div>
										</div>
                  </div>
                </div>
								<div class="row repeat-row">
                  <div class="col-lg-5">
                    <div class="row">
                      <div class="form-group">
												<label for="" class="col-xs-5 control-label text-left">Numbers of Questions :</label>
	                      <div class="col-xs-7">
													<div class="btn-group">
														<button type="button" class="btn btn-default">3</button>
														<button type="button" class="btn btn-default">20</button>
													</div>
	                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2">
										<div class="row">
											<div class="form-group">
												<label for="" class="col-xs-5 control-label">Skill Level :</label>
												<div class="col-xs-7">
														<select class="mlg-selectpicker form-control" title="Moderate" data-size="auto">
														 <option>Easy</option>
														 <option>Easiest</option>
														 <option>Moderate</option>
														 <option>Hard</option>
														 <option>Harder</option>
													</select>
												</div>
											</div>
										</div>
                  </div>
                </div>
                <div class="text-center margin-top-10">
                  <button type="button" id="btnGenerate" class="btn btn-primary" ng-click="showDiv=true">Generate</button>
                </div>
                <div class="question-block-cover" ng-show="showDiv">
									<div class="question-block active add-question icon-drag">
	                  <button type="button" class="btn  btn-check"><i class="icon icon-check"></i></button>
	                  <div class="row">
	                    <div class="col-md-9">
	                      <h5 class="ques">Q1.  What comes in between 14 __ 15.</h5>
	                    </div>
	                    <div class="col-md-3 text-right text-sm-left">
	                      <span  class="text-uppercase color-gray-light padding-left-0"><i class="icon icon-my_data margin-right-10 margin-bottom-20"></i> MY Content</span>
	                      <ul class="list-inline color-gray font-weight-bold">
	                        <li>Skills Level:</li>
	                        <li>Moderate</li>
	                      </ul>
	                    </div>
	                  </div>
	                  <div class="row option-block">
	                    <div class="col-md-7 margin-sm-bottom-10">
	                      <span> A. 13 </span>
	                    </div>
	                    <div class="col-md-5 margin-sm-bottom-10">
	                      <span> A. 16 </span>
	                    </div>
	                  </div>
	                  <div class="row option-block margin-bottom-0 margin-sm-top-0 ">
	                    <div class="col-md-7 margin-sm-bottom-10">
	                      <span> C. 15 </span>
	                    </div>
	                    <div class="col-md-5 margin-sm-bottom-10">
	                      <span> D. 14 </span>
	                    </div>
	                  </div>
	                  <div class="text-right">
	                    <button type="button" class="btn btn-background-none color-primary"><u>Change Question</u></button>
	                  </div>
	                </div>
	                <div class="question-block add-question icon-drag">
	                  <button type="button" class="btn  btn-check"><i class="icon icon-check"></i></button>
	                  <div class="row">
	                    <div class="col-md-9">
	                      <h5 class="ques">Q1.  What comes in between 14 __ 15.</h5>
	                    </div>
	                    <div class="col-md-3 text-right text-sm-left">
	                      <span  class="text-uppercase color-gray-light padding-left-0"><i class="icon icon-my_data margin-right-10 margin-bottom-20"></i> MY Content</span>
	                      <ul class="list-inline color-gray font-weight-bold">
	                        <li>Skills Level:</li>
	                        <li>Easy</li>
	                      </ul>
	                    </div>
	                  </div>
	                  <div class="row option-block">
	                    <div class="col-md-7 margin-sm-bottom-10">
	                      <span> A. 13 </span>
	                    </div>
	                    <div class="col-md-5 margin-sm-bottom-10">
	                      <span> A. 16 </span>
	                    </div>
	                  </div>
	                  <div class="row option-block margin-bottom-0 margin-sm-top-0">
	                    <div class="col-md-7 margin-sm-bottom-10">
	                      <span> C. 15 </span>
	                    </div>
	                    <div class="col-md-5 margin-sm-bottom-10">
	                      <span> D. 14 </span>
	                    </div>
	                  </div>
	                  <div class="text-right">
	                    <button type="button" class="btn btn-background-none color-primary"><u>Change Question</u></button>
	                  </div>
	                </div>

									<div class="text-center margin-top-10">
										<button type="button" class="btn btn-outline btn-default border-radius-0 margin-right-15 text-uppercase" data-toggle="modal" data-target="#modal-calender">plan for later</button>
										<button type="button" class="btn  btn-primary border-radius-0 text-uppercase" data-toggle="modal" data-target="#modal-generateAssignmentdone">Send now</button>
									</div>
                </div>
              </form>
            </div>
            <!-- /panel-body -->
					</div>
					<!-- /Teacher Setting  Panel  -->
				</div>
				<!-- /content area -->
			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->

	<section class="modal-section">
		<div id="modal-generateAssignmentdone" class="modal fade modal-done" role="dialog">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
		      </div>
		      <div class="modal-body ">
						<button type="button" class="btn btn-success"><i class="icon icon-check"></i></button>
						<p>Your assignment has been sent successfully.</p>
		      </div>
		    </div>
		  </div>
		</div>


		<!-- modal-calender  -->

		<div id="modal-calender" class="modal fade modal-done" role="dialog">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
		      </div>
		      <div class="modal-body ">
						<button type="button" class="btn btn-success"><i class="icon icon-check"></i></button>
						<p>Your assignment has been sent successfully.</p>
		      </div>
		    </div>
		  </div>
		</div>

	</section>
