
	<!-- Main navbar -->
	<nav class="navbar navbar-default navbar-dashboard navbar-static-top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle sidebar-mobile-main-toggle" aria-expanded="false">
				<span class="sr-only">Menu</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="dashboard.html">MLG</a>
		</div>
		<div class="search_form">
			<div class="form-group has-feedback has-feedback-left">
				<input type="search" class="form-control" placeholder="Type here to search...">
				<div class="form-control-feedback"><i class="fa fa-search"></i><span class="sr-only">Search</span></div>
			</div>
		</div>
	</nav>
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main" ng-include='"include/sidebar-teacher.html"'></aside>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<!-- Teacher Setting  Panel  -->
					<div class="panel panel-flat panel-teacher-add-content">
						<div class="panel-heading padding-bottom-5">
							<div class="row">
							  <div class="col-sm-7 col-xs-5">
							    <h3 class="panel-title"><b>Add Lesson</b></h3>
							  </div>
                <div class="col-sm-5 col-xs-7">
                  <div class="input-group input-dropdown">
                    <input type="text" class="form-control" placeholder="Import Template">
                    <div class="input-group-btn ">
                      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
							</div>
						</div>
						<div class="panel-body">
              <form class="form">
                <div class="row repeat-row">
                  <div class="col-md-5">
                    <div class="row margin-sm-bottom-10">
                      <div class="col-xs-5 padding-right-0">
                        <label for="">Grade :</label>
                      </div>
                      <div class="col-xs-7">
                        <div class="input-group input-dropdown">
                          <input type="text" class="form-control" placeholder="Six Grade">
                          <div class="input-group-btn ">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Six Grade</a></li>
                              <li><a class="dropdown-item" href="#">Seventh Grade</a></li>
                              <li><a class="dropdown-item" href="#">Eight Grade</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 col-md-offset-2">
                    <div class="row margin-sm-bottom-10">
                      <div class="col-xs-5 padding-right-0">
                        <label for="">Subject :</label>
                      </div>
                      <div class="col-xs-7">
                        <div class="input-group input-dropdown">
                          <input type="text" class="form-control" placeholder="Mathematics">
                          <div class="input-group-btn ">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Mathematics</a></li>
                              <li><a class="dropdown-item" href="#">Science</a></li>
                              <li><a class="dropdown-item" href="#">Social Science</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row repeat-row">
                  <div class="col-md-5">
                    <div class="row margin-sm-bottom-10">
                      <div class="col-xs-5 padding-right-0">
                        <label for="">Assignment Target :</label>
                      </div>
                      <div class="col-xs-7">
                         <input type="text" class="form-control normal-input" placeholder="Target 1"/>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 col-md-offset-2">
                    <div class="row margin-sm-bottom-10">
                      <div class="col-xs-5 padding-right-0">
                        <label for="">Secondary Target :</label>
                      </div>
                      <div class="col-xs-7">
                        <input type="text" class="form-control normal-input" placeholder="Target 1"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row repeat-row">
                  <div class="col-md-5">
                    <div class="row">
                      <div class="col-xs-5 padding-right-0">
                        <label for="">Claim :</label>
                      </div>
                      <div class="col-xs-7">
                        <div class="input-group input-dropdown">
                          <input type="text" class="form-control" placeholder="Student can read clo...">
                          <div class="input-group-btn ">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Six Grade</a></li>
                              <li><a class="dropdown-item" href="#">Seventh Grade</a></li>
                              <li><a class="dropdown-item" href="#">Eight Grade</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 col-md-offset-2">
										<div class="row">
                      <div class="col-xs-5 padding-right-0">
                        <label for="">Difficulty Level :</label>
                      </div>
                      <div class="col-xs-7">
                        <div class="input-group input-dropdown">
                          <input type="text" class="form-control" placeholder="Student can read clo...">
                          <div class="input-group-btn ">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Six Grade</a></li>
                              <li><a class="dropdown-item" href="#">Seventh Grade</a></li>
                              <li><a class="dropdown-item" href="#">Eight Grade</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row repeat-row">
                  <div class="col-md-5">
                    <div class="row margin-sm-bottom-10">
                      <div class="col-xs-5 padding-right-0">
                        <label for="">Lesson Name :</label>
                      </div>
                      <div class="col-xs-7">
                        <input type="text" class="form-control normal-input" placeholder="Target 1"/>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 col-md-offset-2">
                    <div class="row margin-sm-bottom-10">
                      <div class="col-xs-5 padding-right-0">
                        <label for="">Depth of Knowledge  :</label>
                      </div>
                      <div class="col-xs-7">
                        <div class="input-group input-dropdown">
                          <input type="text" class="form-control" placeholder="Multiplication">
                          <div class="input-group-btn ">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Mathematics</a></li>
                              <li><a class="dropdown-item" href="#">Science</a></li>
                              <li><a class="dropdown-item" href="#">Social Science</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
								<div class="row repeat-row">
                  <div class="col-md-5">
                    <div class="row margin-sm-bottom-10">
                      <div class="col-xs-5 padding-right-0">
                        <label for="">Standards :</label>
                      </div>
                      <div class="col-xs-7">
												<div class="input-group input-dropdown">
													<input type="text" class="form-control" placeholder="Multiplication">
													<div class="input-group-btn ">
														<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="caret"></span>
														</button>
														<ul class="dropdown-menu">
															<li><a class="dropdown-item" href="#">Mathematics</a></li>
															<li><a class="dropdown-item" href="#">Science</a></li>
															<li><a class="dropdown-item" href="#">Social Science</a></li>
														</ul>
													</div>
												</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 col-md-offset-2">
                    <div class="row margin-sm-bottom-10">
                      <div class="col-xs-5 padding-right-0">
                        <label for="">Skills  :</label>
                      </div>
                      <div class="col-xs-7">
                        <div class="input-group input-dropdown">
                          <input type="text" class="form-control" placeholder="Select Skills">
                          <div class="input-group-btn ">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Mathematics</a></li>
                              <li><a class="dropdown-item" href="#">Science</a></li>
                              <li><a class="dropdown-item" href="#">Social Science</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
								<h5>Enter Question statement below :</h5>

              </form>
						</div>
						<div class="panel-footer text-center">
              <button type="button" class="btn btn-outline btn-default margin-right-10"><i class="icon icon-plus-outline margin-right-5"></i> SAVE AS TEMPLATE</button>
              <button type="button" class="btn  btn-primary margin-xs-top-10" data-toggle="modal" data-target="#modal-lessonPreview">Preview</button>
						</div>
            <!-- /panel-body -->
					</div>
					<!-- /Teacher Setting  Panel  -->
				</div>
				<!-- /content area -->
			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->

	<section class="modal-section">
		<div id="modal-lessonPreview" class="modal fade modal-Preview " role="dialog">
		  <div class="modal-dialog modal-lg">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
		        <h4 class="modal-title">Lesson Preview</h4>
		      </div>
		      <div class="modal-body ">
						<div class="table-cover">
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>GRADE</span>
								</div>
								<div class="col-md-9 table-cell">
									<p>Fifth Grade (5)</p>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>SUBJECT</span>
								</div>
								<div class="col-md-9 table-cell">
									<p>English & Language Arts (ela)</p>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>LESSON NAME</span>
								</div>
								<div class="col-md-9 table-cell">
									<p>Basic Grammer</p>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>LESSON NAME</span>
								</div>
								<div class="col-md-9 table-cell">
									<p>Basic Grammer</p>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>STANDARDS</span>
								</div>
								<div class="col-md-9 table-cell">
									<ul>
										<li>College & Career Readiness Anchor Standards for Reading</li>
										<li>Key Ideas & Details</li>
									</ul>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>Claim</span>
								</div>
								<div class="col-md-9 table-cell">
									<p>Students can produce effective & well-grounded writing for a rnage
									of purpose & audiences (produce effective and well ground writing)</p>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>DEPTH OF KNOWLEDGE</span>
								</div>
								<div class="col-md-9 table-cell">
									<p>Level 1 requires or recite facts or to use simple skills or abilities. Oral
									reading that does not include analysis of the text as well as basic
									comprehension of a text is included. Items require only a shallow
									understanding of text presented & often consist of verbatim recall from
									text or simple understanding of a single word or phase (Level 1)</p>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>ASSESSMENT TARGET</span>
								</div>
								<div class="col-md-9 table-cell">
									<span>This is lessson.</span>
								</div>
							</div>
							<div class="question-block">
								<div class="row">
									<div class="col-md-12">
										<h5 class="ques">Q1.  What comes in between 14 __ 15.</h5>
									</div>
								</div>
								<div class="row option-block">
									<div class="col-md-7 margin-sm-bottom-10">
										<span class="ans"> A. 13 </span>
									</div>
									<div class="col-md-5 margin-sm-bottom-10">
										<span> A. 16 </span>
									</div>
								</div>
								<div class="row option-block margin-bottom-0 margin-sm-top-0">
									<div class="col-md-7 margin-sm-bottom-10">
										<span> C. 15 </span>
									</div>
									<div class="col-md-5 margin-sm-bottom-10">
										<span> D. 14 </span>
									</div>
								</div>
							</div>
						</div>
		      </div>
		      <div class="modal-footer border-top-0 padding-top-0">
						<div class="text-center">
		        	<button type="button" class="btn btn-primary" data-dismiss="modal">Submit Question</button>
						</div>
		      </div>
		    </div>
		  </div>
		</div>
</section>
