	<!-- Main navbar -->
	<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar> 
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main"></aside>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<!-- Student List Panel  -->
					<div class="panel panel-flat create-group">
						<div class="panel-heading">
							<h5 class="panel-title text-uppercase"><i class="icon icon-arrow-left"></i>  Create Group</h5>
						</div>
            		<div class="panel-body">
             			<div class="text-center">
                			<input type="text" class="group-name" placeholder="Enter group name" ng-model="frm.groupname"/>
             			</div>
             			
             				<div class="panel-body" style="width: 30%; float:right;">
             				<label>Upload Group Icon</label>
							<form action=""class="dropzone" drop-zone="" id="file-img"ng-model="frm.gpimg"></form>
							</div>
	       					<!--  <div id="uploded-image"></div> -->
 	
							<br>
							<ul class="row list-thumb student_list">
								
								<li class="student gifted" ng-repeat="student in students">{{student.id}}
									<div class="checkbox checkbox-primary"> 
										<input type="checkbox" ng-model="frm.selectedstudent[student.id]" ng-true-value="'{{student.username}}'" ng-false-value="''" > 
										<label></label>
									</div>
									<a href="#">
										<div class="student__img">
										<img class="img-circle" src="{{baseURL+'/'+student.profile_pic}}" alt="{{student.first_name}}"/>
									</div>
										<span class="student__name">{{student.first_name}}</span>
									</a>
								</li>					

							</ul>

							<div class="show-msg" style="color:orange">{{errorMessage + successMessage}}</div>
						</div>
						<div class="panel-footer text-center">
			                <div class="text-right">
			                  <button type="button" class="btn btn-background-none">Cancel</button>
			                  <button type="button" class="btn btn-primary" ng-click="onSubmitCreateGroup(frm)">Create</button>
			                </div>
						</div>
					</div>

						<!-- To show added Group -->
					<div class="panel panel-flat create-group">
						<div class="panel-body">
							<h5 class="panel-title text-uppercase"><i class="icon icon-arrow-left"></i>  Added Groups</h5>
							<ul class="row list-thumb student_list">
								<li class="student gifted" ng-repeat="group in groups">
									
									<a href="teacher/edit-group/{{group.URL_title}}/{{group.id}}">
										<div class="student__img">
										<img class="img-circle" src="{{baseURL+'/webroot/upload/'+group.group_icon}}" alt="{{group.title}}"/>
									</div>
										<span class="student__name">{{group.title}}</span>
									</a>
								</li>
								<li ng-show="!groups.length">No Group is Added Yet</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->
