<!-- Main navbar -->
<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main Sidebar -->
    <aside class="sidebar sidebar-main"></aside>
    <!-- /sidebar -->


    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Content area -->
      <div class="content">

        <!-- Teacher Setting  Panel  -->
        <div class="panel panel-flat panel-setting">
          <div class="panel-heading padding-bottom-5">
            <h5 class="panel-title text-uppercase">My Setting</h5>
          </div>
          <div class="panel-body">
            <!-- mlg tabs  -->
            <div class="teacher_setting_tabs">
              <div class="row">
                <div class="col-md-3 col-sm-12 tab-nav">
                  <ul class="nav nav-mlg" id="settingTabs">
                    <li class="active"><a data-toggle="tab" href="{{page_url}}#myAcount">My Account</a></li>
                    <li><a ng-click="teacherClassSettings()" href="{{page_url}}#other" data-toggle="tab" >Other</a></li>
                  </ul>
                </div>
                <div class="col-md-9 col-sm-12">
                  <div class="tab-content">
                    <div id="myAcount" class="tab-pane fade in active">
                      <form class="form-horizontal">
                        <div class="row">
                          <div class="col-sm-4 col-xs-12 pull-right">
                            <div class="img-uploader-cover icon-cemera">
                              <div class="fileContainer">
                                <img id="ImgShw" src="{{profile_image}}" alt="">
                                <input id="imgInp" file-model="frm.profile_picture" type="file">
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-8  col-xs-12 pull-left">
                            <div class="form-group edited-input-group">
                              <div class="col-md-3">
                                <label class="control-label" for="">Full Name</label>
                              </div>
                              <div class="col-md-9">
                                <div class="input-group edited-input">
                                  <input  type="text" class="form-control" name="name" value="{{full_name}}" disabled="disabled">
                                  <span class="input-group-addon"><i class="icon icon-pencil"></i></span>
                                </div>
                              </div>
                            </div>
                            <div class="form-group edited-input-group">
                              <div class="col-md-3">
                                <label class="control-label" for="">Email</label>
                              </div>
                              <div class="col-md-9">
                                <div class="input-group edited-input">
                                  <input  type="email" class="form-control" name="name" value="{{email}}" disabled="disabled">
                                  <span class="input-group-addon"><i class="icon icon-pencil"></i></span>
                                </div>
                              </div>
                            </div>
                            <div class="form-group edited-input-group">
                              <div class="col-md-3">
                                <label class="control-label" for="">School</label>
                              </div>
                              <div class="col-md-9">
                                <div class="input-group edited-input">
                                  <input  type="text" class="form-control" name="name" value="Christ Sr. Sec. school" disabled="disabled">
                                  <span class="input-group-addon"><i class="icon icon-pencil"></i></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group edited-input-group">
                          <div class="col-md-2 ">
                            <label class="control-label" for="">Address Line 1</label>
                          </div>
                          <div class="col-md-9">
                            <div class="input-group edited-input">
                              <input  type="text" class="form-control" name="name" ng-model="frm.address_line_1">
                              <span class="input-group-addon"><i class="icon icon-pencil"></i></span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group edited-input-group">
                          <div class="col-md-2 ">
                            <label class="control-label" for="">Address Line 2</label>
                          </div>
                          <div class="col-md-9">
                            <div class="input-group edited-input">
                              <input  type="text" class="form-control" name="name" ng-model="frm.address_line_2">
                              <span class="input-group-addon"><i class="icon icon-pencil"></i></span>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group edited-input-group">
                              <div class="col-md-2 ">
                                <label class="control-label" for="">City</label>
                              </div>
                              <div class="col-md-9">
                                <div class="input-group edited-input">
                                  <input  type="text" class="form-control" name="name" ng-model="frm.city">
                                  <span class="input-group-addon"><i class="icon icon-pencil"></i></span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group edited-input-group">
                              <div class="col-md-2 ">
                                <label class="control-label" for="">State</label>
                              </div>
                              <div class="col-md-9">
                                <div class="input-group edited-input">
                                  <input  type="text" class="form-control" name="name" ng-model="frm.state">
                                  <span class="input-group-addon"><i class="icon icon-pencil"></i></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group edited-input-group">
                              <div class="col-md-2 ">
                                <label class="control-label" for="">District</label>
                              </div>
                              <div class="col-md-9">
                                <div class="input-group edited-input">
                                  <input  type="text" class="form-control" name="name" ng-model="frm.district">
                                  <span class="input-group-addon"><i class="icon icon-pencil"></i></span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group edited-input-group">
                              <div class="col-md-2 ">
                                <label class="control-label" for="">Country</label>
                              </div>
                              <div class="col-md-9">
                                <div class="input-group edited-input">
                                  <input  type="text" class="form-control" name="name" ng-model="frm.country">
                                  <span class="input-group-addon"><i class="icon icon-pencil"></i></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group edited-input-group">
                          <div class="col-md-2 "> 
                            <label class="control-label" for="">Phone No.</label>
                          </div>
                          <div class="col-md-9">
                            <div class="input-group edited-input">
                              <input  type="phone" class="form-control" name="name" ng-model="frm.mobile">
                              <span class="input-group-addon"><i class="icon icon-pencil"></i></span>
                            </div>
                          </div>
                        </div>
                      </form>
                      <!-- /form -->
                      <button type="button" class="btn btn-background-none text-primary  padding-left-0" onclick="toggleClassElement('.change-code-input', 'show hide')">Change Password</button>
                      <div class="form-inline change-code-input hide margin-top-10" >
                        <input type="password" placeholder="Current Password" ng-model="user.old_password" class="form-control"/>
                        <input type="password" placeholder="New Password" ng-model="user.password" class="form-control"/>
                        <button type="button" ng-click="changePassword(user)" class="btn btn-primary ">Change</button>
                      </div>
                      <br/>
                      <div class="checkbox checkbox-primary display-inline">
                        <input ng-model="frm.deactivate" type="checkbox" value="parentChat" id="parentChat">
                        <label for="parentChat">Deactivate My Account</label>
                      </div>
                      <br/>
                      <br/>
                      <i class="pull-right fa fa-question-circle margin-top-15" data-toggle="tooltip" data-placement="left" title="" data-original-title="Turning of this Setting will automatically approve the coupon request by your kids"></i>
                      <div class="text-right text-xs-center">
                        <button ng-click="updateMyAccount(frm)" class="btn btn-primary btn-xs">Save</button>
                      </div>
                    </div>
                    <div  id="other" class="tab-pane fade mgl-setting ">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-5 col-sm-6">
                                  <label class="lable">Select Class</label>
                                </div>
                                <div class="col-md-7 col-sm-6">
                                  <select ng-change="getClassSettingsOnChange(frm.grade)" ng-model="frm.grade" class="mlg-selectpicker" 
                                       ng-options="grade.course_id+','+grade.course_name+','+grade.level_id+','+grade.name as grade.name +'-'+grade.course_name for grade in grades track by grade.course_id" title="Select Class" data-width="auto" data-size="auto">
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="panel-body">
                          <form class="form-horizontal">
                            <div class="form-group edited-input-group">
                              <div class="col-md-3">
                                <label class="control-label" for="">Subject</label>
                              </div>
                              <div class="col-md-9">
                                <div class="input-group edited-input">
                                  <input  type="text" class="form-control" name="name" ng-model="subject_name" disabled="disabled">
                                  <span class="input-group-addon"><i class="icon icon-pencil"></i></span>
                                </div>
                              </div>
                            </div>

                            <div class="form-group edited-input-group">
                              <div class="col-md-3">
                                <label class="control-label" for="">Grade</label>
                              </div>
                              <div class="col-md-9">
                                <div class="input-group edited-input">
                                  <input  type="text" class="form-control" name="name" ng-model="selected_grade" disabled="disabled">
                                  <span class="input-group-addon"><i class="icon icon-pencil"></i></span>
                                </div>
                              </div>
                            </div>

                            <div class="form-group edited-input-group">
                              <div class="col-md-3">
                                <label class="control-label" for="">No of students</label>
                              </div>
                              <div class="col-md-9">
                                <div class="input-group edited-input">
                                  <h6>{{number_of_students_in_class}}</h6>
                                  <p>To Increase number of stundents more than {{number_of_students_in_class}}. Get a personalized quote : <a href="{{site_root}}teacher/requestQuote">Get a Quote</a></p>
                                </div>
                              </div>
                            </div>

                            <div class="form-group edited-input-group">
                              <div class="col-md-3">
                                <label class="control-label" for="">Subscriptions </label>
                              </div>
                              <div class="col-md-9">
                                <div class="input-group edited-input">
                                  <h6>Monthly</h6>
                                  <p>To change your subscripton for your class, Manage subscription : <a href="{{site_root}}teacher/subscription">Subscription Setting</a></p>
                                </div>
                              </div>
                            </div>

                            <div class="form-block">
                              <h5>Frequency of challenges : <i class="pull-right fa fa-question-circle" data-toggle="tooltip" data-placement="left" title="Turning of this Setting will automatically approve the coupon request by your kids"></i></h5>
                              <div class="row">
                                <div class="col-md-2">
                                  <div class="radio radio-primary radio-inline">
                                    <input type="radio" id="inlineRadio1" ng-model="pfrm.frequency_of_challenges_by" value="all_class" name="challengesGroup" checked="">
                                    <label for="inlineRadio1" class="text-uppercase"> All Class</label>
                                  </div>
                                </div>
                                <div class="col-md-5">
                                  <div class="row">
                                    <div class="col-sm-1 col-xs-2">
                                      <div class="radio radio-primary radio-inline margin-sm-top-10">
                                        <input type="radio" id="inlineRadio1" ng-model="pfrm.frequency_of_challenges_by" value="group" name="challengesGroup" checked="">
                                        <label></label>
                                      </div>
                                    </div>
                                    <div class="col-sm-10 col-xs-10">
                                      <select class="mlg-selectpicker" title="Status" ng-model="pfrm.frequency_of_challenges_for_group" 
                                              ng-options="group.id as group.title for group in class_groups" 
                                              data-width="auto" data-size="auto">
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-5">
                                  <div class="row">
                                    <div class="col-sm-1 col-xs-2">
                                      <div class="radio radio-primary radio-inline margin-sm-top-10">
                                        <input type="radio" id="inlineRadio1" ng-model="pfrm.frequency_of_challenges_by" value="individual" name="challengesGroup" checked="">
                                        <label></label>
                                      </div>
                                    </div>
                                    <div class="col-sm-10 col-xs-10">
                                      <select class="mlg-selectpicker" title="Status" ng-model="pfrm.frequency_of_challenges_for_individual" 
                                        ng-options="student.id as student.first_name +' '+student.last_name for student in class_students"  
                                        data-width="auto" data-size="auto">
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-2 col-sm-6">
                                  <div class="radio radio-primary radio-inline">
                                    <input type="radio" id="inlineRadio1" ng-model="pfrm.challenges_frequency" value="daily" name="timePeriod" checked="">
                                    <label>Daily</label>
                                  </div>
                                </div>
                                <div class="col-md-2 col-sm-6">
                                  <div class="radio radio-primary radio-inline">
                                    <input type="radio" id="inlineRadio1" ng-model="pfrm.challenges_frequency" value="weekly" name="timePeriod" checked="">
                                    <label>Weekly</label>
                                  </div>
                                </div>
                                <div class="col-md-2 col-sm-6">
                                  <div class="radio radio-primary radio-inline">
                                    <input type="radio" id="inlineRadio1" ng-model="pfrm.challenges_frequency" value="fortnightly" name="timePeriod" checked="">
                                    <label>Fortnightly</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form-block">
                              <div class="row margin-0">
                                <div class="col-sm-6 padding-0">
                                  <h5>Chat enable/disable : </h5>
                                </div>
                                <div class="col-sm-6">
                                  <div class="row">
                                    <div class="col-xs-6 padding-0">
                                      <div class="checkbox checkbox-primary">
                                        <input ng-model="pfrm.parent_chat_enabled" type="checkbox" value="parentChat">
                                        <label>Parent</label>
                                      </div>
                                    </div>
                                    <div class="col-xs-6 padding-0">
                                      <div class="checkbox checkbox-primary">
                                        <input ng-model="pfrm.student_chat_enabled" type="checkbox" value="studentChat">
                                        <label>Student</label>
                                        <i class="pull-right margn-top-5 fa fa-question-circle" data-toggle="tooltip" data-placement="left" title="Turning of this Setting will automatically approve the coupon request by your kids"></i>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-2 col-sm-6">
                                  <div class="radio radio-primary radio-inline">
                                    <input type="radio" id="inlineRadio1" ng-model="pfrm.chat_status" name="chatEnablity" value="true" checked="">
                                    <label>Enable</label>
                                  </div>
                                </div>
                                <div class="col-md-2 col-sm-6">
                                  <div class="radio radio-primary radio-inline">
                                    <input type="radio" id="inlineRadio1" ng-model="pfrm.chat_status" value="false" name="chatEnablity" checked="">
                                    <label>Disable</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form-block">
                              <h5>Group builder enable/disable : <i class="pull-right fa fa-question-circle" data-toggle="tooltip" data-placement="left" title="Turning of this Setting will automatically approve the coupon request by your kids"></i></h5>
                              <div class="row">
                                <div class="col-md-2 col-sm-6">
                                  <div class="radio radio-primary radio-inline">
                                    <input type="radio" id="inlineRadio1" ng-model="pfrm.group_builder" value="true" name="groupBuilderEnablity" checked="">
                                    <label>Enable</label>
                                  </div>
                                </div>
                                <div class="col-md-2 col-sm-6">
                                  <div class="radio radio-primary radio-inline">
                                    <input type="radio" id="inlineRadio1" ng-model="pfrm.group_builder" value="false" name="groupBuilderEnablity" checked="">
                                    <label>Disable</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form-block">
                              <h5>Placement Test : <a href="teacher-review-placement.html" class="padding-left-15"><u>Review placement test</u> </a>
                                <i class="pull-right fa fa-question-circle margin-left-15" data-toggle="tooltip" data-placement="left" title="Turning of this Setting will automatically approve the coupon request by your kids"></i>
                                <div class="switch-box pull-right padding-top-0 margin-bottom-5 checkbox-switchery checkbox-inline label-left is-success margin-top-0">
                                  <label class="switch-box-label margin-top-10" for="fillIntheBlanks"></label>
                                  <span class="btn">OFF</span>
                                  <i class="fa fa-toggle-on active" ng-if="pfrm.placement_test == true" ng-click="changeStatus('placement_test');"></i>
                                  <i ng-click="changeStatus('placement_test');" ng-if="pfrm.placement_test == false" class="fa fa-toggle-on fa-rotate-180 inactive ng-scope"></i>
                                  <span class="btn">ON</span>
                                </div>
                              </h5>
                            </div>
                            <div class="form-block">
                              <h5>Auto-progression on/off per student : <i class="pull-right fa fa-question-circle margin-left-15" data-toggle="tooltip" data-placement="left" title="Turning of this Setting will automatically approve the coupon request by your kids"></i>
                                <div class="pull-right padding-top-0 margin-bottom-5 checkbox-switchery checkbox-inline switch-box label-left is-success margin-top-0">
                                  <label class="switch-box-label margin-top-10" for="fillIntheBlanks"></label>
                                  <span class="btn">OFF</span>
                                  <i class="fa fa-toggle-on active" ng-if="pfrm.auto_progression == true" ng-click="changeStatus('auto_progression');"></i>
                                  <i ng-click="changeStatus('auto_progression');" ng-if="pfrm.auto_progression == false" class="fa fa-toggle-on fa-rotate-180 inactive ng-scope"></i>
                                  <span class="btn">ON</span>
                                </div>
                              </h5>
                              <div class="row">
                                <div class="col-md-2">
                                  <div class="radio radio-primary radio-inline">
                                    <input type="radio" id="inlineRadio1" ng-model="pfrm.auto_progression_by" value="all_class" name="autoProgression" checked="">
                                    <label for="inlineRadio1" class="text-uppercase"> All Class</label>
                                  </div>
                                </div>
                                <div class="col-md-5">
                                  <div class="row">
                                    <div class="col-sm-1 col-xs-2">
                                      <div class="radio radio-primary radio-inline margin-sm-top-10">
                                        <input type="radio" id="inlineRadio1" ng-model="pfrm.auto_progression_by" value="group" name="autoProgression" checked="">
                                        <label></label>
                                      </div>
                                    </div>
                                    <div class="col-sm-10 col-xs-10">
                                      <select class="mlg-selectpicker" title="Status" ng-model="pfrm.auto_progression_for_group" 
                                              ng-options="group.id as group.title for group in class_groups" 
                                              data-width="auto" data-size="auto">
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-5">
                                  <div class="row">
                                    <div class="col-sm-1 col-xs-2">
                                      <div class="radio radio-primary radio-inline margin-sm-top-10">
                                        <input type="radio" id="inlineRadio1" ng-model="pfrm.auto_progression_by" value="individual" name="autoProgression" checked="">
                                        <label></label>
                                      </div>
                                    </div>
                                    <div class="col-sm-10 col-xs-10">
                                      <select class="mlg-selectpicker" title="Status" ng-model="pfrm.auto_progression_for_individual" 
                                        ng-options="student.id as student.first_name +' '+student.last_name for student in class_students"  
                                        data-width="auto" data-size="auto">
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form-block">
                              <h5>Type of questions turned off/on : <i class="pull-right fa fa-question-circle" data-toggle="tooltip" data-placement="left" title="Turning of this Setting will automatically approve the coupon request by your kids"></i></h5>
                              <div class="row">
                                <div class="col-xs-6 ">
                                  <p>1. Fill in the blank</p>
                                </div>
                                <div class="col-sm-6 text-right">
                                  <div class="switch-box label-left is-success margin-top-0">
                                    <label class="switch-box-label margin-top-10" for="fillIntheBlanks"></label>
                                    <span class="btn">OFF</span>
                                    <i class="fa fa-toggle-on active" ng-if="pfrm.fill_in_the_blanks_question == true" ng-click="changeStatus('fill_in_the_blanks_question');"></i>
                                    <i ng-click="changeStatus('fill_in_the_blanks_question');" ng-if="pfrm.fill_in_the_blanks_question == false" class="fa fa-toggle-on fa-rotate-180 inactive ng-scope"></i>
                                    <span class="btn">ON</span>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xs-6 ">
                                  <p>2. Single choice</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                  <div class="switch-box label-left is-success margin-top-0">
                                    <label class="switch-box-label margin-top-10" for="fillIntheBlanks"></label>
                                    <span class="btn">OFF</span>
                                    <i class="fa fa-toggle-on active" ng-if="pfrm.single_choice_question == true" ng-click="changeStatus('single_choice_question');"></i>
                                    <i ng-click="changeStatus('single_choice_question');" ng-if="pfrm.single_choice_question == false" class="fa fa-toggle-on fa-rotate-180 inactive ng-scope"></i>
                                    <span class="btn">ON</span>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xs-6 ">
                                  <p>3. Multipule choice</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                  <div class="switch-box label-left is-success margin-top-0">
                                    <label class="switch-box-label margin-top-10" for="fillIntheBlanks"></label>
                                    <span class="btn">OFF</span>
                                    <i class="fa fa-toggle-on active" ng-if="pfrm.multiple_choice_question == true" ng-click="changeStatus('multiple_choice_question');"></i>
                                    <i ng-click="changeStatus('multiple_choice_question');" ng-if="pfrm.multiple_choice_question == false" class="fa fa-toggle-on fa-rotate-180 inactive ng-scope"></i>
                                    <span class="btn">ON</span>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xs-6 ">
                                  <p>4. True False</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                  <div class="switch-box label-left is-success margin-top-0">
                                    <label class="switch-box-label margin-top-10" for="fillIntheBlanks"></label>
                                    <span class="btn">OFF</span>
                                    <i class="fa fa-toggle-on active" ng-if="pfrm.true_false_question == true" ng-click="changeStatus('true_false_question');"></i>
                                    <i ng-click="changeStatus('true_false_question');" ng-if="pfrm.true_false_question == false" class="fa fa-toggle-on fa-rotate-180 inactive ng-scope"></i>
                                    <span class="btn">ON</span>
                                  </div>
                                </div>
                              </div>
                              <div class="text-right text-xs-center margin-top-15">
                                <button ng-click="submitTeacherSettingForClass(pfrm)" class="btn btn-primary btn-xs">Save</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /mlg tabs  -->
          </div>
          <!-- /panel-body -->
        </div>
        <!-- /Teacher Setting  Panel  -->
      </div>
      <!-- /content area -->

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->

</div>
<!-- page container -->
