<!-- Main navbar -->
<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main Sidebar -->
    <aside class="sidebar sidebar-main"></aside>
    <!-- /sidebar -->


    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Content area -->
      <div class="content">

        <!-- get a quote  Panel  -->
        <div class="panel panel-flat get-a-quote-panel">
          <div class="panel-body">
            <form action="" class="form-login">
              <h5 class="text-uppercase"><a href="teacher/subscription" ><i class="icon icon-arrow-left"></i></a> Your contact information</h5>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group float-label">
                    <label class="control-label">First Name</label>
                    <input ng-model="frm.first_name" type="text" class="form-control float-input" value="{{teacher.first_name}}" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group float-label">
                    <label class="control-label">Last Name</label>
                    <input ng-model="frm.last_name" type="text" class="form-control float-input" value="{{teacher.last_name}}" />
                  </div>
                </div>
              </div>
              <div class="form-group float-label  has-feedback">
                <label class="control-label">EMAIL ADDRESS</label>
                <input ng-model="frm.email" type="text" value="{{teacher.email}}" class="form-control float-input" id="inputEmail" aria-describedby="inputEmailErrorStatus" >
                <div class="form-control-feedback"><i class="fa"></i></div>
                <!--<span id="inputEmailErrorStatus" class="help-block">Enter valid email</span>-->
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group float-label">
                    <label class="control-label">Phone Number</label>
                    <input ng-model="frm.phone_number" value="{{mobile}}" type="phone" class="form-control float-input" id="inputEmail">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group float-label has-success has-feedback">
                    <label class="control-label">Position</label>
                    <input ng-model="frm.position" value="{{position}}" ype="text" class="form-control float-input">
                  </div>
                </div>
              </div>
              <!-- contact information -->
              <h5 class="text-uppercase">Your school information</h5>
              <div class="form-group float-label">
                <label class="control-label">School Name</label>
                <input type="text" class="form-control float-input" ng-model="frm.school"/>
              </div>
              <div class="form-group float-label">
                <label class="control-label">Street</label>
                <input type="text" class="form-control float-input" ng-model="frm.street"/>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group float-label">
                    <label class="control-label">city</label>
                    <select ng-model="frm.city" type="phone" class="form-control float-input">
                      <option value="Delhi">Delhi</option>
                      <option value="Haryana">Haryana</option>
                      <option value="Uttarpardesh">Uttarpardesh</option>
                      <option value="Uttrakhand">Uttrakhand</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group float-label has-success has-feedback">
                    <label class="control-label">District</label>
                    <input ng-model="frm.district" type="text" class="form-control float-input">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group float-label">
                    <label class="control-label">Zip Code</label>
                    <input ng-model="frm.zip_code" type="number" class="form-control float-input">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group float-label">
                    <label class="control-label">Country</label>
                    <select ng-model="frm.country" class="form-control float-input" >
                      <option value=""></opiton>
                      <option value="India">India</option>
                      <option value="Australia">Australia</option>
                      <option value="America">America</option>
                      <option value="Ukrane">Ukrane</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- school information -->
              <h5 class="text-uppercase">Your implementation</h5>
              <div class="form-group float-label">
                <label class="control-label">TYPE OF LICENCE</label>
                <select  ng-model="frm.licence" class="form-control float-input" >
                  <option value="Licence_1">Licence 1</option>
                  <option value="Licence_2">Licence 2</option>
                  <option value="Licence_3">Licence 3</option>
                  <option value="Licence_4">Licence 4</option>
                </select>
              </div>
              <!-- implementation -->

              <div>
                <!--<div>-->
                <h5 class="text-uppercase">Select your Grades & Subjects</h5>
                <div class="subject-grade-section">
                  <div class="btn-group grade-group" data-toggle="1buttons">
                    <!-- to show the selected or checked add class active to label as below-->
                    <label class="btn active1 customCheckbox" ng-repeat="grade in grades" >
                      <input type="checkbox" ng-change="changeCourseList(frm.selectedgrade)" ng-model="frm.selectedgrade" ng-true-value="'{{grade.id}}'" ng-false-value="''" > 
                      <span class="grade customLabel" ng-class="{checked: frm.selectedgrade == grade.id}"><span class="hidden-xs">{{grade.name}}</span></span>
                    </label>
                  </div>
                  <!-- grade_btn_group -->
                  <div class="btn-group subject-group subjectCheckboxouter" data-toggle="1buttons">
                    <!-- to show the selected or checked add class active to label as below-->
                    <label class="btn active1" ng-repeat="course in cousesListByGrade" ng-class="{checked: frm.selectedcourse[course.id]}">						
                      <input type="checkbox" ng-change="onchangeSelectedcourse(frm.selectedcourse)" ng-model="frm.selectedcourse[course.id]" ng-true-value="'{{course.course_name}},{{course.level_id}}'" ng-false-value="''" > 
                      <span class="subject">{{course.course_name}}</span>
                    </label>
                  </div>
                  <div class="error" style="color:red;">{{message}}</div>
                </div>

                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1 selected-grades-subjects">
                      <h3 class="text-gray-light">Your choosen grades and subjects</h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1 selected-grades-subjects">
                      <div class="form-group" ng-repeat="grade in grades">
                        <label class="label-grade">{{grade.name}}</label>
                        <div class="subjects-list">
                          <span class="label label-subject deleteBox" ng-repeat="stcourse in stcourses" ng-if="grade.id == stcourse.level_id">{{stcourse.name}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="row margin-top-20">
                <div class="col-sm-6">
                  <div class="form-group float-label">
                    <label class="control-label">Number of Student</label>
                    <input ng-model="frm.number_of_student" type="number" class="form-control float-input">
                  </div>
                </div>
              </div>
              <div class="form-group float-label">
                <label class="control-label text-uppercase">comments for mlg</label>
                <span class="optional-input">(optional)</span>
                <textarea ng-model="frm.comment_for_mlg" type="email" class="form-control float-input"></textarea>
              </div>
              <br>
              <center ng-if="msg"><span class="text-warning">{{msg}}</span></center>
              <div class="form-group text-center">
                <span ng-click="setQuotation(frm)"  class="btn btn-primary">Get a quote</span>
                <!--<button ng-click="getQuote(frm)"  class="btn btn-primary">Get a quote</button>-->
              </div>
            </form>
          </div>
          <!-- /panel-body -->
        </div>
        <!-- /get a quote  Panel  -->
      </div>
      <!-- /content area -->

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->

</div>
<!-- page container -->