	
	<!-- Main navbar -->
	<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>
		
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main"></aside>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<div class="panel panel-flat panel-teacher-create-class ">
						<div class="panel-heading">
							<h5 class="panel-title text-uppercase">
								<div class="btn-group" role="group" aria-label="...">
									<button type="button" class="btn btn-default">
									Class 10<sup>th</sup>A - Maths</button>
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#">Clever</a></li>
										<li><a href="#">Student Information System</a></li>
									</ul>
								</div></h5>
								<div class="heading-elements">
									<ul class="padding-left-0 list-inline">
										<li class="toolbar-item">
											<div class="btn-group" role="group" aria-label="...">
												<button type="button" class="btn btn-default"><i class="icon icon-user"></i> Email Me</button>
											</div>
										</li>


										<li class="toolbar-item">
											<div class="btn-group" role="group" aria-label="...">
												<button type="button" class="btn btn-default" data-toggle="tooltip" title="Hooray!"><i class="icon icon-users"></i> Email Students</button>
											</div>
										</li>

										<li class="toolbar-item">
											<div class="btn-group" role="group" aria-label="...">
												<button type="button" class="btn btn-default"><i class="icon icon-upload"></i> Upload an excel sheet</button>
											</div>
										</li>

										<li class="toolbar-item">
											<div class="btn-group" role="group" aria-label="...">
											  <button type="button" class="btn btn-default">Select an X-tool</button>
												<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Clever</a></li>
													<li><a href="#">Student Information System</a></li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
						</div>
						<div class="panel-body" ng-controller="tableRow">
							<div class="panel-toolbar responsive-md">

							</div>
							<div class="row">
								<div class="col-sm-4 margin-bottom-10">
									<input ng-model="q" id="search" class="form-control" placeholder="Filter text">
								</div>
								<div class="col-sm-4  margin-bottom-10">
									<select ng-model="pageSize" id="pageSize" class="form-control">
										<option value="5">5</option>
										<option value="10">10</option>
										<option value="15">15</option>
										<option value="20">20</option>
									 </select>
								</div>
							</div>
							
							<table id="tableAllQuestions" class="table table-condenced table-teacherContent table-lessons" >
								<thead>
									<tr>
										<th class="sr-no" width="5%">#</th>
										<th class="last-name">Last Name</th>
										<th class="first-name">First Name</th>
										<th class="parent-student-email">Parent or Student E-mail</th>
										<th class="user-name">User Name</th>
										<th class="pasword">Pasword</th>
										<th class="actions">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="sr-no">1</td>
										<td class="last-name">Henston</td>
										<td class="first-name">Andrew</td>
										<td class="parent-student-email">andrew.henston@gmail.com</td>
										<td class="user-name">andrew.henston</td>
										<td class="pasword">andrew@123</td>
										<td class="actions">
											<button class="btn btn-link"><i class="fa fa-pencil"></i></button>
											<button class="btn btn-link"><i class="fa fa-trash"></i></button>
										</td>
									</tr>
									<tr ng-repeat="person in people | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize">
										<td class="sr-no">{{person.id}}</td>
										<td class="last-name">{{person.Lname}}</td>
										<td class="first-name">{{person.Fname}}</td>
										<td class="parent-student-email">{{person.email}}</td>
										<td class="user-name">{{person.Uname}}</td>
										<td class="pasword">{{person.pass}}</td>
										<td class="actions">
											<button class="btn btn-link"><i class="fa fa-pencil"></i></button>
											<button class="btn btn-link" ng-click="removePerson($index)"><i class="fa fa-trash"></i></button>
										</td>

										<!--<td>
											<button type="button" ng-click="removePerson($index)">Remove Person</button>
										</td>-->
									</tr>
									
									

									<tr>
										<td class="classId"><input type="text" ng-model="id" placeholder="ID" ></td>
										<td><input type="text" ng-model="Lname" placeholder="Last Name" ></td>
										<td><input type="text" ng-model="Fname" placeholder="First Name" ></td>
										<td><input type="text" ng-model="email" placeholder="Email" ></td>
										<td><input type="text" ng-model="Uname" placeholder="User Name" ></td>	
										<td><input type="text" ng-model="pass" placeholder="Password" ></td>
										<td><button type="button" ng-click="addPerson()">Save</button></td>
									</tr>
								</tbody>
							</table>
							
							<div class="BtnGroup">
								<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
									<i class="fa fa-angle-left"></i>
								</button>
								{{currentPage+1}}/{{numberOfPages()}}
								
								<button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
									<i class="fa fa-angle-right"></i>
								</button>
							</div>
							
							<!--<table datatable sAjaxSource="data.json" sAjaxDataProp="result" class="table table-striped table-bordered">
							  <thead>
									<tr>
										<th data-mdata="id" data-sclass="highlight-red">ID</th>
										<th data-mdata="name">Name</th>
										<th data-mdata="about.text" data-bvisible="false">About me</th>
										<th data-mdata="phone">Phone</th>
										<th data-mdata="email">Email</th>
										<th data-mdata="age">Age</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>-->
							
							

							
							<a href="quick-start-guide.html"><span>Have questions?</span> <b><u>Quick-start Guide</u></b></a>
						</div>
					</div>
				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script>
		var headertext = [],
		headers = document.querySelectorAll(".table-teacherContent th"),
		tablerows = document.querySelectorAll(".table-teacherContent th"),
		tablebody = document.querySelector(".table-teacherContent tbody");

		for(var i = 0; i < headers.length; i++) {
		  var current = headers[i];
		  headertext.push(current.textContent.replace(/\r?\n|\r/,""));
		}
		for (var i = 0, row; row = tablebody.rows[i]; i++) {
		  for (var j = 0, col; col = row.cells[j]; j++) {
		    col.setAttribute("data-th", headertext[j]);
		  }
		}

	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();
	});
	</script>