<!-- Main navbar -->
<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main Sidebar -->
  <aside class="sidebar sidebar-main"></aside>
    <!-- /sidebar -->


    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Content area -->
      <div class="content" ng-if="students_count!=null">

        <!-- Student List Panel  -->
        <div class="panel panel-flat">
          <div class="panel-heading">
            <h5 class="panel-title text-uppercase">My Class</h5>
            <div class="heading-elements">
                <ul class="list-inline heading-text list-filters">
                  <li>
                    <select class="form-control input-sm no-border">
                      <option value="Standard">Standard</option>

                    </select>
                  </li>
                  <li>
                    <select class="form-control input-sm no-border">
                      <option value="Subject">Subject</option>
                      
                    </select>
                  </li>
                  <li>
                    <select class="form-control input-sm no-border">
                      <option value="Skills">Skills</option>
                    </select>
                  </li>
                  <li>
                    <select class="form-control input-sm no-border">
                      <option value="Sub Skills">Sub Skills</option>
                    </select>
                  </li>
                  <li>
                    <select class="form-control input-sm no-border">
                      <option value="Time relevance">Time relevance</option>
                    </select>
                  </li>
                </ul>
            </div>
          </div>
          <div class="panel-body">
            <ul class="list-inline student_status_legend">
                <li class="gifted"><i class="fa fa-circle"></i>Gifted</li>
                <li class="outstanding"><i class="fa fa-circle"></i>Outstanding</li>
                <li class="ontarget"><i class="fa fa-circle"></i>On Target</li>
                <li class="struggling"><i class="fa fa-circle"></i>Struggling</li>
                <li class="remedial"><i class="fa fa-circle"></i>Remedial</li>
            </ul>
            <br>
            <ul class="row list-thumb student_list">
              <li ng-repeat="student in students" class="student gifted">
                <a href="teacher/student-profile/{{student.id}}">
                  <div class="student__img">
                 
                 <img class="img-circle" src="{{baseURL}}/{{student.profile_pic}}" alt="{{student.first_name + student.last_name}}"/>
                  
                </div>
                  <span class="student__name">{{student.first_name }}</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- <div class="panel-footer text-center">
              <a class="link link-gray-dark" href="#">Show All</a>
          </div> -->
        </div>
        <!-- /student list panel  -->

        <!-- Student Gap Analysis Panel  -->
        <div class="well well-flat tabs-analysis">
          <div class="row">
            <div class="tab-content tab-content-left col-sm-6">
              <h4 class="category-content text-uppercase no-margin">Needs Your Attention</h4>
              <ul id="myNav" class="nav nav-tabs-analysis row">
                <li class="active" ng-if="atnRecord.pass==0" ng-repeat="atnRecord in strecords">
                  <a data-toggle1="tab" ng-click="clickNeedAttention($index+1, atnRecord.course_id)">
                      <h5 class="nav__title">MATHS - <span>{{atnRecord.course_name}}</span> <span class="gifted status"><i class="fa fa-circle"></i></span></h5>
                      <h6>
                          <span><strong>Username:</strong> {{atnRecord.username}}</span>  
                          <span><strong>  Student Name:</strong> {{atnRecord.first_name +' '+atnRecord.last_name}} </span>
                      </h6>
                      <p class="nav__text">                        
                          <span><strong>Result On :</strong> {{atnRecord.quiz_type_name}}</span><br>
                          <span ><strong>Attempt :</strong> {{atnRecord.attempts}} OUT OF: {{atnRecord.quiz_questions}} </span><br>
                          <span ><strong>Scored :</strong> {{atnRecord.score}} OUT OF: {{atnRecord.exam_marks}} </span><br>
                           <span ><strong>Scored(%) :</strong> {{ ((atnRecord.score/atnRecord.exam_marks)*100)|number :2 }} % </span>
                      </p>
                  </a>

                </li>                
                 <li ng-if="attention_message"><h5 style="color:green">{{attention_message}}</h5></li>

              </ul>
              <h5 class="text-center"><a class="fa fa-2x fa-angle-down link link-gray-light"></a></h5>
            </div>

            <div class="tab-content tab-content-right col-sm-6">
           <!--    <div class="text-center">
             
                <ul class="list-inline list-filters">
                  <li>
                    <select class="form-control input-sm no-border">
                      <option value="Standard">Standard</option>
                      
                    </select>
                  </li>
                  <li>
                    <select class="form-control input-sm no-border">
                      <option value="Subject">Subject</option>
                      
                    </select>
                  </li>
                  <li>
                    <select class="form-control input-sm no-border">
                      <option value="Skills">Skills</option>
                    </select>
                  </li>
                </ul> 
              </div> -->
              
             
              <div id="menu{{$index+1}}" class="tab-pane fade" ng-repeat="atnRecord in strecords" >               
                 <div class="analysis-chart-container" id="bar-chart">                   
                    <div class="container-progress-chart">                 
                      <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="colors" chart-options="options" chart-dataset-override="datasetOverride">
                      </canvas> 
                    </div>
                </div>
                  <div class="row">
                    <div class="text-center col-sm-8 col-sm-offset-2">
                      <button type="button" class="btn btn-danger btn-outline btn-block">Send auto-generated assignment</button>
                      <br>
                      
                      <a href="teacher/custom-assignment/{{grade_id}}/{{subject_name}}/{{course_id}}" type="button" class="btn btn-default btn-outline btn-block">Create custom assignment</a>
                    </div>
                  </div>
              </div>

            </div>

          </div>
        </div>
        <!-- /student gap analysis panel  -->

        <!-- group List Panel  -->
        <div class="panel panel-flat">
          <div class="panel-heading">
            <h5 class="panel-title text-uppercase">My Groups</h5>
          </div>
          <div class="panel-body">
            <ul class="row list-thumb group_list">
             <li class="group">
                <a class="add__group" href="teacher/create-group/class/{{grade_id}}/{{subject_name}}/{{course_id}}">
                  <img class="img-circle" src="assets/img/group-img/add_group_img.png" alt="Group Default"/>
                  <span class="group__name">Add Group</span>
                </a>
              </li>              
             
              <li class="group" ng-repeat="group in groups">
                <a href="teacher/edit-group/{{group.URL_title}}/{{group.id}}">
                  <div class="group-thumb">
                  <img class="img-circle" src="{{baseURL}}/upload/{{group.group_icon}}" alt="Group Default"/>
                </div>
                  <span class="group__name">{{group.title}}</span>
                </a>
              </li>   
              
            </ul>
          </div>
        </div>
        <!-- /group list panel  -->
        <!-- Planner Panel  -->
					<div class="panel panel-flat panel-calendar">
						<div class="panel-body no-padding">
							<div class="row margin-0">
								<div class="col-md-6 col-xs-12 pull-right right-portion">
									<a href=""><i class="icon icon-arrow-left"></i></a>
										<div class="date-day">
                      <span class="date" ng-bind="ddMMyyyy"></span>
                      <span class="day" ng-bind="weak"></span>
										</div>
                     <!--EVENT CREATION ALL Start-->
							    	<div class="text-center" ng-show=" event == 'all'">
                      <h4 class="events-name">What type of Event do you want to create?</h4>
											<a href="" ng-click="assignmentEvent()" role="button" class="btn btn-primary btn-block">Assignment</a>
											<br/>
											<a href="" ng-click="pTMEvent()" class="btn btn-primary btn-block">Parent Teacher Meeting</a>
											<br/>
											<a href="" ng-click="toDoEvent()" class="btn btn-primary btn-block">To Do</a>
										</div>
                     <!--EVENT CREATION ALL END-->
                     <!--TODO END-->
                     <form class="form-horizontal" ng-show=" event == 'todo'">
                      <h4 class="events-name">To do</h4>
												<div class="form-group">
													<input type="text" class="form-control border-top-0 border-left-0 border-right-0"
                                 placeholder="Enter your text here..." name="todo" ng-model="calndr.todo"/>
												</div>
												<div class="text-right">
													<button type="button" class="btn btn-link">Cancel</button>
													<button type="button" class="btn btn-primary" ng-click="CreateTodo(calndr)">Create</button>
												</div>
                         <span>{{message}}{{msg}}</span>
										</form>
                     <!--TODO END-->
                     <!--PARENT TEACHER MEETING START-->
                     <form class="form-horizontal" ng-show=" event == 'ptm'">
                    <h4 class="events-name">Parents Teacher Meating</h4>
											<div class="row">
												<div class="col-md-4 padding-0">
													<div class="radio radio-primary radio-inline">
														<input type="radio" id="inlineRadio1" name="ptm" ng-model="calender.checkedType" value="all" checked="">
														<label for="inlineRadio1" class="text-uppercase"> All Class</label>
													</div>
												</div>
												<div class="col-md-4 padding-0">
													<div class="row">
														<div class="col-sm-1 col-xs-2">
															<div class="radio radio-primary radio-inline margin-sm-top-10">
																<input type="radio" id="inlineRadio2"name="ptm" ng-model="calender.checkedType" value="people" checked="">
																<label for="inlineRadio2"></label>
															</div>
														</div>
														<div class="col-sm-10 col-xs-10">
                              <select class="mlg-selectpicker background-none" title="people" data-width="auto" data-size="auto"
                                      ng-model="calender.selectedPeopleModel"
                                      ng-options="student.id as student.first_name+' '+student.last_name for student in students track by student.id">
                              </select>
														</div>
													</div>
												</div>
												<div class="col-md-4 padding-0">
													<div class="row">
														<div class="col-sm-1 col-xs-2">
															<div class="radio radio-primary radio-inline margin-sm-top-10">
																<input type="radio" id="inlineRadio3" name="ptm" ng-model="calender.checkedType" value="group" checked="">
																<label for="inlineRadio3"></label>
															</div>
														</div>
														<div class="col-sm-10 col-xs-10">
                              <select class="mlg-selectpicker background-none" title="Group" data-width="auto" data-size="auto"
                                      ng-model="calender.selectedGroupModel" ng-change="getGroup(calender.selectedGroupModel)"
                                      ng-options="group.id as group.title for group in groups track by group.id">
                              </select>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group event-time-selector">
										    <label class="col-sm-4 control-label col-sm-offset-2">SELECT TIME</label>
										    <div class="col-sm-4">
													<div class="input-group clockpicker">
                            <input type="text" id="time" class="form-control floating-label" placeholder="Time" ng-click="getTime()"ng-model="calender.time">
														<span class="input-group-addon">
															<span class="glyphicon glyphicon-time"></span>
														</span>
													</div>
										    </div>
										  </div>
											<div class="text-right">
												<button type="button" class="btn btn-link">Cancel</button>
												<button type="button" class="btn btn-primary"ng-click="EventUpload(calender)">Create</button>
											</div>
                    <span>{{message}}{{msg}}</span>
                    </form>
                    <!--PARENT TEACHER MEETING END-->
                    <!--ASSIGNMENT START-->
                    <div class="text-center" ng-show="event == 'assignment'">
                      <h4 class="events-name">Assignment</h4>
											<a href="teacher-autoGenerateAssignment.html" role="button" class="btn btn-primary btn-block">Send Auto-Generated Assignment</a>
											<br/>
											<a href="teacher/custom-assignment/{{grade_id}}/{{subject_name}}/{{course_id}}" class="btn btn-primary btn-block">Create Custom Assignment</a>
										</div>
                    <!--ASSIGNMENT END-->
                </div>
								<div class="col-md-6 col-xs-12 pull-left left-portion">
									<tien-clndr class="clndr" tien-clndr-object="clndr" tien-clndr-events="events">
                <div class="clndr-controls">
                  <div class="clndr-previous-button" ng-click="clndr.back()">
                    &lsaquo;
                  </div>
                  <div class="month">
                    {{month}}
                  </div>
                  <div class="clndr-next-button" ng-click="clndr.forward()">
                    &rsaquo;
                  </div>
                </div>
                <div class="clndr-grid">
                  <div class="days-of-the-week">
                    <div class="header-day" ng-repeat="day in daysOfTheWeek track by $index">
                      {{day}}
                    </div>
                  </div>
                  <div class="days">
                    <div class="{{day.classes}}" ng-repeat="day in days" ng-click="getUserSelectedDate(day)" style="cursor:pointer">
                      <div class="event-indicator" ng-show="day.events.length" ng-click="showEvents(day.events)">{{day.events.length}}</div>
                      {{day.day}}
                    </div>
                  </div>
                </div>
            </tien-clndr>
									</div>
								</div>
							</div>
						
					</div>
					<!-- /planner panel  -->
      </div>
      <!-- /content area -->
      



       <!--start- /content area when dashboard is empty -->
             <!-- Content area -->
        <div class="content" ng-if="students_count==null">

          <!-- Student List Panel  -->
          <div class="panel panel-flat panel-empty">
            <div class="panel-heading">
              <h5 class="panel-title text-uppercase"><i class="icon icon-arrow-left"></i> My Class</h5>
              <div class="heading-elements">
                  <ul class="list-inline heading-text list-filters">
                    <li>
                      <select class="form-control input-sm no-border" disabled>
                        <option value="Standard" >Standard</option>
                      </select>
                    </li>
                    <li>
                      <select class="form-control input-sm no-border" disabled>
                        <option value="Subject">Subject</option>
                      </select>
                    </li>
                    <li>
                      <select class="form-control input-sm no-border" disabled>
                        <option value="Skills">Skills</option>
                      </select>
                    </li>
                    <li>
                      <select class="form-control input-sm no-border" disabled>
                        <option value="Sub Skills">Sub Skills</option>
                      </select>
                    </li>
                    <li>
                      <select class="form-control input-sm no-border" disabled>
                        <option value="Time relevance">Time relevance</option>
                      </select>
                    </li>
                  </ul>
              </div>
            </div>
            <div class="panel-body">
                <h5 class="hd"><span>Oh oh!</span><span>Your class is empty bring in some Students</span></h5>
                <div class="text-center">
                  <span class="btn btn-background-none text-primary"><a href="teacher/create-class"><i class="icon icon-plus-outline"></i> Add Students</a></span>
                </div>
            </div>
          </div>
          <!-- /student list panel  -->

          <!-- Student List Panel  -->
          <div class="panel panel-flat panel-empty">
            <div class="panel-heading">
              <h5 class="panel-title text-uppercase"><i class="icon icon-arrow-left"></i> My Group</h5>
            </div>
            <div class="panel-body">
                <h5 class="hd">Create Group of studnets</h5>
                <div class="text-center">
                  <span class="btn btn-background-none text-primary"><i class="icon icon-plus-outline"></i><a class="add__group" href="teacher/create-group/{{subject_name}}/{{course_id}}"> Add Students </a></span>
                </div>
            </div>
          </div>
          <!-- /student list panel  -->

          <!-- Student Gap Analysis Panel  -->
          <div class="panel panel-flat panel-empty">
            <div class="panel-heading">
              <h5 class="panel-title text-uppercase"><i class="icon icon-arrow-left"></i> Need You Attention</h5>
            </div>
            <div class="panel-body">
                <h5 class="hd">No Students Attention Records.</h5>
                <div class="text-center">
                  <span class="btn btn-background-none text-primary"><i class="icon icon-plus-outline"></i><a class="add__group" href="teacher/create-group/{{subject_name}}/{{course_id}}"> Add Students </a></span>
                </div>
            </div>
          </div>
          <!-- /student gap analysis panel  -->

          <!-- Planner Panel  -->
          <!-- calender/schedular for teacher meeting  -->
          <div class="panel panel-flat panel-calendar">
            <div class="panel-body no-padding">
              <div class="row margin-0">
                <div class="col-md-6 col-xs-12 pull-right right-portion">
                  <a href=""><i class="icon icon-arrow-left"></i></a>
                    <div class="date-day">
                      <span class="date" ng-bind="ddMMyyyy"></span>
                      <span class="day" ng-bind="weak"></span>
                    </div>
                     <!--EVENT CREATION ALL Start-->
                    <div class="text-center" ng-show=" event == 'all'">
                      <h4 class="events-name">What type of Event do you want to create?</h4>
                      <a href="" ng-click="assignmentEvent()" role="button" class="btn btn-primary btn-block">Assignment</a>
                      <br/>
                      <a href="" ng-click="pTMEvent()" class="btn btn-primary btn-block">Parent Teacher Meeting</a>
                      <br/>
                      <a href="" ng-click="toDoEvent()" class="btn btn-primary btn-block">To Do</a>
                    </div>
                     <!--EVENT CREATION ALL END-->
                     <!--TODO END-->
                     <form class="form-horizontal" ng-show=" event == 'todo'">
                      <h4 class="events-name">To do</h4>
                        <div class="form-group">
                          <input type="text" class="form-control border-top-0 border-left-0 border-right-0"
                                 placeholder="Enter your text here..." name="todo" ng-model="calndr.todo"/>
                        </div>
                        <div class="text-right">
                          <button type="button" class="btn btn-link">Cancel</button>
                          <button type="button" class="btn btn-primary" ng-click="CreateTodo(calndr)">Create</button>
                        </div>
                         <span>{{message}}{{msg}}</span>
                    </form>
                     <!--TODO END-->
                     <!--PARENT TEACHER MEETING START-->
                     <form class="form-horizontal" ng-show=" event == 'ptm'">
                    <h4 class="events-name">Parents Teacher Meating</h4>
                      <div class="row">
                        <div class="col-md-4 padding-0">
                          <div class="radio radio-primary radio-inline">
                            <input type="radio" id="inlineRadio1" name="ptm" ng-model="calender.checkedType" value="all" checked="">
                            <label for="inlineRadio1" class="text-uppercase"> All Class</label>
                          </div>
                        </div>
                        <div class="col-md-4 padding-0">
                          <div class="row">
                            <div class="col-sm-1 col-xs-2">
                              <div class="radio radio-primary radio-inline margin-sm-top-10">
                                <input type="radio" id="inlineRadio2"name="ptm" ng-model="calender.checkedType" value="people" checked="">
                                <label for="inlineRadio2"></label>
                              </div>
                            </div>
                            <div class="col-sm-10 col-xs-10">
                              <select class="mlg-selectpicker background-none" title="people" data-width="auto" data-size="auto"
                                      ng-model="calender.selectedPeopleModel"
                                      ng-options="student.id as student.first_name+' '+student.last_name for student in students track by student.id">
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 padding-0">
                          <div class="row">
                            <div class="col-sm-1 col-xs-2">
                              <div class="radio radio-primary radio-inline margin-sm-top-10">
                                <input type="radio" id="inlineRadio3" name="ptm" ng-model="calender.checkedType" value="group" checked="">
                                <label for="inlineRadio3"></label>
                              </div>
                            </div>
                            <div class="col-sm-10 col-xs-10">
                              <select class="mlg-selectpicker background-none" title="Group" data-width="auto" data-size="auto"
                                      ng-model="calender.selectedGroupModel" ng-change="getGroup(calender.selectedGroupModel)"
                                      ng-options="group.id as group.title for group in groups track by group.id">
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group event-time-selector">
                        <label class="col-sm-4 control-label col-sm-offset-2">SELECT TIME</label>
                        <div class="col-sm-4">
                          <div class="input-group clockpicker">
                            <input type="text" id="time" class="form-control floating-label" placeholder="Time" ng-click="getTime()"ng-model="calender.time">
                            <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="text-right">
                        <button type="button" class="btn btn-link">Cancel</button>
                        <button type="button" class="btn btn-primary"ng-click="EventUpload(calender)">Create</button>
                      </div>
                    <span>{{message}}{{msg}}</span>
                    </form>
                    <!--PARENT TEACHER MEETING END-->
                    <!--ASSIGNMENT START-->
                    <div class="text-center" ng-show="event == 'assignment'">
                      <h4 class="events-name">Assignment</h4>
                      <a href="teacher-autoGenerateAssignment.html" role="button" class="btn btn-primary btn-block">Send Auto-Generated Assignment</a>
                      <br/>
                      <a href="teacher/custom-assignment/{{grade_id}}/{{subject_name}}/{{course_id}}" class="btn btn-primary btn-block">Create Custom Assignment</a>
                    </div>
                    <!--ASSIGNMENT END-->
                </div>
                <div class="col-md-6 col-xs-12 pull-left left-portion">
                  <tien-clndr class="clndr" tien-clndr-object="clndr" tien-clndr-events="events">
                <div class="clndr-controls">
                  <div class="clndr-previous-button" ng-click="clndr.back()">
                    &lsaquo;
                  </div>
                  <div class="month">
                    {{month}}
                  </div>
                  <div class="clndr-next-button" ng-click="clndr.forward()">
                    &rsaquo;
                  </div>
                </div>
                <div class="clndr-grid">
                  <div class="days-of-the-week">
                    <div class="header-day" ng-repeat="day in daysOfTheWeek track by $index">
                      {{day}}
                    </div>
                  </div>
                  <div class="days">
                    <div class="{{day.classes}}" ng-repeat="day in days" ng-click="getUserSelectedDate(day)" style="cursor:pointer">
                      <div class="event-indicator" ng-show="day.events.length" ng-click="showEvents(day.events)">{{day.events.length}}</div>
                      {{day.day}}
                    </div>
                  </div>
                </div>
            </tien-clndr>
                  </div>
                </div>
              </div>
            
          </div>
          <!-- /planner panel  -->
        </div><!-- /content area -->


        <!--end  /content area when dashboard is empty -->

    </div><!-- /main content -->
  </div><!-- /page content -->
</div><!-- page container -->
