
	<!-- Main navbar -->
	<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main"></aside>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<div class="panel panel-flat panel-teacher-content">
						<div class="panel-heading">
							<h5 class="panel-title text-uppercase">All Lessons
								<div class="pull-right text-capitalize">
									<span class="text-muted">Your Points:</span> <span class="text-primary text-semibold">{{points}}</span>
								</div>
						</h5>
						</div>
						<div class="panel-body">
							<div class="panel-toolbar responsive-md">
									<li class="toolbar-item">
										<label class="label-toolbar">Filters:</label>
									</li>

									<li class="toolbar-item">
										<div class="btn-group" role="group" aria-label="...">
											<button type="button" class="btn btn-default">Status</button>
											<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li><a href="#">Approved</a></li>
<!--												<li><a href="#">Not Approved</a></li>
												<li><a href="#">Submitted</a></li>
												<li><a href="#">Pending</a></li>
												<li><a href="#">Under review</a></li>
												<li><a href="#">Draft</a></li>-->
											</ul>
										</div>
									</li>


									<li class="toolbar-item">
										<div class="btn-group" role="group" aria-label="...">
										  <select class="mlg-selectpicker form-control" data-width="auto"  
                            ng-model="gradeModel" ng-change="getGrade(gradeModel)" title="Class" 
                            ng-options="grade.id as grade.name for grade in grades track by grade.id">
                      <option value="">- Select Class -</option>
                    </select>
											<!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<span class="caret"></span>
											</button> -->
										</div>
									</li>

									<li class="toolbar-item">
										<div class="btn-group" role="group" aria-label="...">
										  <select class="mlg-selectpicker form-control" data-width="auto"  
                            ng-model="courseModel" ng-change="getCourse(courseModel)" title="Class" 
                            ng-options="course.course_id as course.course_name for course in courses track by course.course_id">
                      <option value="">- Select Subject -</option>
                    </select>
											<!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<span class="caret"></span>
											</button> -->
											
										</div>
									</li>
                  <li class="toolbar-item">
											<select class="mlg-selectpicker form-control" data-width="auto"  
                            ng-model="standardTypeModel" ng-change="getStandardType(standardTypeModel)" 
                            ng-init="standardTypeModel = ''" ng-options="sty.id as sty.label for sty in standardType">
                      <option value="">Standard Type</option>
                    </select>
									</li>
                  <li class="toolbar-item">
											<select class="mlg-selectpicker form-control" data-width="auto"  
                            ng-model="standardModel" ng-change="getStandard(standardModel)" 
                            ng-init="standardModel = ''" ng-options="st.id as st.label for st in standard">
                      <option value="">Standard</option>
                    </select>
									</li>
									<li class="toolbar-item">
										<div class="btn-group" role="group" aria-label="...">
										  <select class="mlg-selectpicker form-control" data-width="auto"  
                            ng-model="skillModel" ng-change="getSkill(skillModel)" title="Class" 
                            ng-options="skil.id as skil.label for skil in skill track by skil.id">
                      <option value="">- Select Skills -</option>
                    </select>
							
											<!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<span class="caret"></span>
											</button> -->
										</div>
									</li>

									<li class="toolbar-item pull-right">
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-addContent"><i class="icon icon-plus-outline position-left"></i>Add Lessons</button>
									</li>
							</div>
							<table id="tableAllQuestions" class="table table-condenced table-teacherContent table-lessons">
								<thead>
									<tr>
										<th class="sr-no">#</th>
										<th class="title">Title</th>
                    <th class="title">Sub Skill</th>
										<th class="status">Status</th>
										<th class="earned-points">Earned</th>
										<th class="actions">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr class="approved" ng-repeat="lesson in lessonList track by $index">
										<td class="sr-no">{{$index+1}}</td>
										<td class="title">{{lesson.title}}</td>
                    <td class="title">{{lesson.sub_skill_name}}</td>
										<td class="status">{{lesson.status}}</td>
										<td class="earned-points">{{lesson.points}}pts</td>
										<td class="actions">
											<button class="btn btn-link"><a href="teacher/add-content?{{lesson.course_content_id}}&F{{lesson.course_detail_id}}"><i class="fa fa-pencil"></i></a></button>
											<button class="btn btn-link"><a ng-click="deleteContent(lesson.course_content_id )"<i class="fa fa-trash"></i></a></button>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td class="table-pagination" colspan="7">
											<!-- <span class="pull-left">Showing 1-10 of 50 entries</span> -->
											<ul class="pagination pagination-sm">
												<li class="{{preClass}}">
													<a ng-click="getPrevious()">
														<span aria-hidden="true" >Previous</span>
													</a>
												</li>
                        <!--style="border-color: #66818d"-->
												<li ng-repeat="n in range(1,lastPage)">
													<a href="#{{n}}">{{n}}</a>
												</li>
												<li class="{{nexClass}}">
													<a aria-hidden="true" ng-click="getNext()">Next</a>
												</li>
											</ul>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->

	<section class="modal-section">
		<div id="modal-addContent" class="modal fade modal-addContent" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
						<h4 class="modal-title">How would you like to Add Lessons?</h4>
					</div>
					<div class="modal-body">
						<a href="teacher/add-content" class='btn btn-outline btn-danger btn-block' ng-click="close_modal();">Add Lessons Manually</a>
						<button type="button" class='btn btn-outline btn-default btn-block border-radius-0' data-toggle="modal" data-target="#modal-uploadContent" data-dismiss="modal">Upload A file</button>
					</div>
				</div>
			</div>
				<!-- Modal content-->
		</div>

		<div id="modal-uploadContent" class="modal fade modal-uploadContent" role="dialog">
			<div class="modal-dialog modal-lg">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
						<h4 class="modal-title">Upload A File</h4>
					</div>
					<div class="modal-body">
					<form action="http://localhost/mlg/courses/readCSV" class="dropzone" id="dropzone_multiple"></form>
						<div class="text-right">
							<a href="assets/documents/doc.pdf" download><u>Dowload a sample Version</u></a>
							<div class="text-center">
									<button class="btn btn-primary" id="upload">Upload</button>
							</div>
						</div>
					</div>
				</div>
			</div>
				<!-- Modal content-->
		</div>
	</section>


	<script>
		Dropzone.options.dropzoneMultiple = {
  		paramName: "csv", // The name that will be used to transfer the file
  		maxFilesize: 2, // MB
  		autoProcessQueue:false,
  		maxFiles:1,
  		addRemoveLinks:true,
  		init: function() {
    		var submitButton = document.querySelector("#upload")
       			 myDropzone = this; // closure

    	submitButton.addEventListener("click", function() {
      			myDropzone.processQueue(); // Tell Dropzone to process all queued files.
    		});

    // You might want to show the submit button only when 
    // files are dropped here:
    this.on("addedfile", function() {
    	//$("#upload").show();
      // Show submit button here and/or inform user to click it.
    });

    myDropzone.on("complete", function(file) {
    	alert('file uploaded susccefully');
    	//$("#modal-uploadContent").dismiss();
  myDropzone.removeFile(file);
});

  }
	  		
  		};

  		


		var headertext = [],
		headers = document.querySelectorAll(".table-teacherContent th"),
		tablerows = document.querySelectorAll(".table-teacherContent th"),
		tablebody = document.querySelector(".table-teacherContent tbody");

		for(var i = 0; i < headers.length; i++) {
		  var current = headers[i];
		  headertext.push(current.textContent.replace(/\r?\n|\r/,""));
		}
		for (var i = 0, row; row = tablebody.rows[i]; i++) {
		  for (var j = 0, col; col = row.cells[j]; j++) {
		    col.setAttribute("data-th", headertext[j]);
		  }
		}
	</script>
