
	<!-- Main navbar -->
	<nav class="navbar navbar-default navbar-dashboard navbar-static-top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle sidebar-mobile-main-toggle" aria-expanded="false">
				<span class="sr-only">Menu</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="dashboard-dashboard.html"><img src="assets/img/logo_1.png" alt="" class="img-responsive"></a>
		</div>
		<div class="search_form">
			<div class="form-group has-feedback has-feedback-left">
				<input type="search" class="form-control" placeholder="Type here to search...">
				<div class="form-control-feedback"><i class="fa fa-search"></i><span class="sr-only">Search</span></div>
			</div>
		</div>
	</nav>
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main"></aside>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<!-- Student List Panel  -->
					<div class="panel panel-flat teacher-notification">
            <div class="panel-heading">
              <h5 class="panel-title"><i class="icon icon-arrow-left"></i> Notifications</h5>
            </div>
            <div class="panel-body">
              <div class="media-list">
                <div class="media-left hidden-xs">
                  <i class="icon icon-my_class"></i>
                </div>
                <div class="media-body">
                  <h5 class="hd text-uppercase"><i class="icon icon-my_class hidden-lg hidden-md hidden-sm"></i> My CLass</h5>
                  <p class="para">15 student have submitted their assignment.</p>
                  <div class="text-right">
                    <time>10 minutes ago</time>
                  </div>
                </div>
              </div>
              <div class="media-list">
                <div class="media-left hidden-xs">
                  <i class="icon icon-my_subscriptions"></i>
                </div>
                <div class="media-body">
                  <h5 class="hd text-uppercase"><i class="icon icon-my_subscriptions hidden-lg hidden-md hidden-sm"></i> my subscriptions</h5>
                  <p class="para">15 student have submitted their assignment.</p>
                  <div class="text-right">
                    <time>10 minutes ago</time>
                  </div>
                </div>
              </div>
              <div class="media-list">
                <div class="media-left hidden-xs">
                  <i class="icon icon-my_data"></i>
                </div>
                <div class="media-body">
                  <h5 class="hd text-uppercase"><i class="icon icon-my_data hidden-lg hidden-md hidden-sm"></i> My Content</h5>
                  <p class="para">15 student have submitted their assignment.</p>
                  <div class="text-right">
                    <time>10 minutes ago</time>
                  </div>
                </div>
              </div>
              <div class="media-list">
                <div class="media-left hidden-xs">
                  <i class="icon icon-my_rewards"></i>
                </div>
                <div class="media-body">
                  <h5 class="hd text-uppercase"><i class="icon icon-my_rewards hidden-lg hidden-md hidden-sm"></i> My Rewards</h5>
                  <p class="para">15 student have submitted their assignment.</p>
                  <div class="text-right">
                    <time>10 minutes ago</time>
                  </div>
                </div>
              </div>

              <div class="media-list">
                <div class="media-left hidden-xs">
                  <i class="icon icon-my_class"></i>
                </div>
                <div class="media-body">
                  <h5 class="hd text-uppercase"><i class="icon icon-my_class hidden-lg hidden-md hidden-sm"></i> My CLass</h5>
                  <p class="para">15 student have submitted their assignment.</p>
                  <div class="text-right">
                    <time>10 minutes ago</time>
                  </div>
                </div>
              </div>
              <div class="media-list">
                <div class="media-left hidden-xs">
                  <i class="icon icon-my_subscriptions"></i>
                </div>
                <div class="media-body">
                  <h5 class="hd text-uppercase"><i class="icon icon-my_subscriptions hidden-lg hidden-md hidden-sm"></i> my subscriptions</h5>
                  <p class="para">15 student have submitted their assignment.</p>
                  <div class="text-right">
                    <time>10 minutes ago</time>
                  </div>
                </div>
              </div>
              <div class="media-list">
                <div class="media-left hidden-xs">
                  <i class="icon icon-my_data"></i>
                </div>
                <div class="media-body">
                  <h5 class="hd text-uppercase"><i class="icon icon-my_data hidden-lg hidden-md hidden-sm"></i> My Content</h5>
                  <p class="para">15 student have submitted their assignment.</p>
                  <div class="text-right">
                    <time>10 minutes ago</time>
                  </div>
                </div>
              </div>
              <div class="media-list">
                <div class="media-left hidden-xs">
                  <i class="icon icon-my_rewards"></i>
                </div>
                <div class="media-body">
                  <h5 class="hd text-uppercase"><i class="icon icon-my_rewards hidden-lg hidden-md hidden-sm"></i> My Rewards</h5>
                  <p class="para">15 student have submitted their assignment.</p>
                  <div class="text-right">
                    <time>10 minutes ago</time>
                  </div>
                </div>
              </div>

            </div>
					</div>
				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->							
