	<!-- Main navbar -->
	<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>
		
	</nav>
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main"></aside>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<!-- Teacher Setting  Panel  -->
					<div class="panel panel-flat add-content-panel">
						<div class="panel-heading">
							<h5 class="panel-title"><i class="icon icon-arrow-left"></i> Add Question</h5>
							<div class="heading-elements">
								<select class="mlg-selectpicker form-control" title="Import Template" data-width="auto" data-size="auto">
									 <option>Template 1</option>
									 <option>Template 2</option>
									 <option>Template 3</option>
									 <option>Template 4</option>
								</select>
							</div>
						</div>
						<div class="panel-body">
              <form class="form-horizontal">
                <div class="row repeat-row">
                  <div class="col-lg-5">
                    <div class="row">
                      <div class="form-group">
												<label for="" class="col-xs-5 control-label text-left">Grade :</label>
	                      <div class="col-xs-7">
													<select class="mlg-selectpicker form-control" title="Sixth Grade" data-size="auto">
													 <option>Sixth Grade</option>
													 <option>Seventh Grade</option>
													 <option>Eight Grade</option>
													 <option>Nine Grade</option>
													 <option>Ten Grade</option>
													 <option>Eleventh Grade</option>
													 <option>Twelfth Grade</option>
													</select>
	                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2">
										<div class="row">
											<div class="form-group">
												<label for="" class="col-xs-5 control-label">Subject :</label>
												<div class="col-xs-7">
														<select class="mlg-selectpicker form-control" title="Mathematics" data-size="auto">
														 <option>Mathematics</option>
														 <option>Science</option>
														 <option>Social Science</option>
														 <option>History</option>
														 <option>Geography</option>

													</select>
												</div>
											</div>
										</div>
                  </div>
                </div>
								<div class="row repeat-row">
									<div class="col-xs-12">
										<div class="form-group">
									    <label class="control-label padding-left-0 col-sm-2" for="email">Standards:</label>
									    <div class="col-sm-10 padding-right-0">
												<select class="mlg-selectpicker form-control" title="select Standards" data-size="auto">
												 <option>CCSS</option>
												 <option>Math</option>
												 <option>Practice</option>
												</select>
									    </div>
									  </div>
									</div>
								</div>
								<div class="row repeat-row">
                  <div class="col-lg-5">
                    <div class="row">
                      <div class="form-group">
												<label for="" class="col-xs-5 control-label text-left">Skills :</label>
	                      <div class="col-xs-7">
													<select class="mlg-selectpicker form-control" title="Multiplication" data-size="auto">
													 <option>Multiplication</option>
													 <option>Division</option>
													 <option>LCM</option>
													 <option>HCF</option>
													</select>
	                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2">
										<div class="row">
											<div class="form-group">
												<label for="" class="col-xs-5 control-label">Lesson :</label>
												<div class="col-xs-7">
														<select class="mlg-selectpicker form-control" title="Select Lessons" data-size="auto">
														 <option>Mathematics</option>
														 <option>Science</option>
														 <option>Social Science</option>
														 <option>History</option>
														 <option>Geography</option>
													</select>
												</div>
											</div>
										</div>
                  </div>
                </div>
								<div class="row repeat-row">
                  <div class="col-lg-5">
                    <div class="row">
                      <div class="form-group">
												<label for="" class="col-xs-5 control-label text-left">Difficulty Level :</label>
	                      <div class="col-xs-7">
													<select class="mlg-selectpicker form-control" title="Moderate" data-size="auto">
													 <option>Moderate</option>
													 <option>lower</option>
													 <option>High</option>
													 <option>lowest</option>
													</select>
	                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2">
										<div class="row">
											<div class="form-group">
												<label for="" class="col-xs-5 control-label">Claim :</label>
												<div class="col-xs-7">
														<select class="mlg-selectpicker form-control" title="Select Lessons" data-size="auto">
														 <option>Mathematics</option>
														 <option>Science</option>
														 <option>Social Science</option>
														 <option>History</option>
														 <option>Geography</option>
													</select>
												</div>
											</div>
										</div>
                  </div>
                </div>
								<div class="row repeat-row">
                  <div class="col-lg-5">
                    <div class="row">
                      <div class="form-group">
												<label for="" class="col-xs-5 control-label text-left">Rubric/ Scope :</label>
	                      <div class="col-xs-7">
													<input type="number" class="form-control normal-input" value="2"/>
	                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2">
										<div class="row">
											<div class="form-group">
												<label for="" class="col-xs-5 control-label">Depth of Knowledge :</label>
												<div class="col-xs-7">
														<select class="mlg-selectpicker form-control" title="Select DOK" data-size="auto">
														 <option>Mathematics</option>
														 <option>Science</option>
														 <option>Social Science</option>
														 <option>History</option>
														 <option>Geography</option>
													</select>
												</div>
											</div>
										</div>
                  </div>
                </div>
								<div class="row repeat-row">
                  <div class="col-lg-5">
                    <div class="row">
                      <div class="form-group">
												<label for="" class="col-xs-5 control-label text-left">Stimuli/ Passage :</label>
	                      <div class="col-xs-7">
													<input type="text" class="form-control normal-input" />
	                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2">
										<div class="row">
											<div class="form-group">
												<label for="" class="col-xs-5 control-label">Secondary Target :</label>
												<div class="col-xs-7">
														<input type="text" class="form-control normal-input" />
												</div>
											</div>
										</div>
                  </div>
                </div>
								<div class="row repeat-row">
                  <div class="col-lg-5">
                    <div class="row">
                      <div class="form-group">
												<label for="" class="col-xs-5 control-label text-left">Items/ Task noties :</label>
	                      <div class="col-xs-7">
													<input type="text" class="form-control normal-input" />
	                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2">
										<div class="row">
											<div class="form-group">
												<label for="" class="col-xs-5 control-label">Stimuli/ text complexity :</label>
												<div class="col-xs-7">
														<input type="text" class="form-control normal-input" />
												</div>
											</div>
										</div>
                  </div>
                </div>
								<div class="row repeat-row">
                  <div class="col-lg-5">
                    <div class="row">
                      <div class="form-group">
												<label for="" class="col-xs-5 control-label text-left">Question <Type></Type> :</label>
	                      <div class="col-xs-7">
													<select class="mlg-selectpicker form-control" multiple title="Mulitple choice, Mulitple choice" data-size="auto">
													 <option>Moderate</option>
													 <option>lower</option>
													 <option>High</option>
													 <option>lowest</option>
													</select>
	                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2">
										<div class="row">
											<div class="form-group">
												<label for="" class="col-xs-5 control-label">Choose Voice :</label>
												<div class="col-xs-7">
														<select class="mlg-selectpicker form-control" title="Google UK English" data-size="auto">
														 <option>English</option>
														 <option>Hindi</option>
													</select>
												</div>
											</div>
										</div>
                  </div>
                </div>
								<h5>Enter Question statement below :</h5>
								<!-- summernotes  -->

								<div class="summernote">
								
									<h2>Apollo 11</h2>
									<div class="pull-right" style="margin-left: 20px;"><img alt="Saturn V carrying Apollo 11" class="right" src="http://c.cksource.com/a/1/img/sample.jpg"></div>

									<p><strong>Apollo 11</strong> was the spaceflight that landed the first humans, Americans <a href="#">Neil Armstrong</a> and <a href="#">Buzz Aldrin</a>, on the Moon on July 20, 1969, at 20:18 UTC. Armstrong became the first to step onto the lunar surface 6 hours later on July 21 at 02:56 UTC.</p>

									<p class="mb-15">Armstrong spent about <s>three and a half</s> two and a half hours outside the spacecraft, Aldrin slightly less; and together they collected 47.5 pounds (21.5&nbsp;kg) of lunar material for return to Earth. A third member of the mission, <a href="#">Michael Collins</a>, piloted the <a href="#">command</a> spacecraft alone in lunar orbit until Armstrong and Aldrin returned to it for the trip back to Earth.</p>

									<h5 class="text-semibold">Technical details</h5>

								</div>
								<!-- summernotes <--></-->
                <h5><u>Select an answer for question</u></h5>

								<!-- answer_block -->
              	<div class="text-answer-block">
                  <div class="row repeat-row">
                    <div class="col-xs-1 padding-right-0">
                      <div class="radio radio-primary radio-inline">
                        <input type="radio" id="inlineRadio1" value="option1" name="timePeriod" checked="">
                        <label></label>
                      </div>
                    </div>
                    <div class="col-xs-11 padding-left-0">
                      <div class="input-group edited-input">
                        <input  type="text" class="form-control" name="name" value="30863736" disabled="disabled">
                          <span class="input-group-addon"><i class="icon icon-trash"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="row repeat-row">
                    <div class="col-xs-1 padding-right-0">
                      <div class="radio radio-primary radio-inline">
                        <input type="radio" id="inlineRadio1" value="option1" name="timePeriod" checked="">
                        <label></label>
                      </div>
                    </div>
                    <div class="col-xs-11 padding-left-0">
                      <div class="input-group edited-input">
                        <input  type="text" class="form-control" name="name" value="30863736" disabled="disabled" >
                          <span class="input-group-addon"><i class="icon icon-trash"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="row repeat-row">
                    <div class="col-xs-1 padding-right-0">
                      <div class="radio radio-primary radio-inline">
                        <input type="radio" id="inlineRadio1" value="option1" name="timePeriod" checked="">
                        <label></label>
                      </div>
                    </div>
                    <div class="col-xs-11 padding-left-0">
                      <div class="input-group edited-input">
                        <input  type="text" class="form-control" name="name" value="30863736" disabled="disabled" >
                          <span class="input-group-addon"><i class="icon icon-trash"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="row repeat-row">
                    <div class="col-xs-1 padding-right-0">
                      <div class="radio radio-primary radio-inline">
                        <input type="radio" id="inlineRadio1" value="option1" name="timePeriod" checked="">
                        <label></label>
                      </div>
                    </div>
                    <div class="col-xs-11 padding-left-0">
                      <div class="input-group edited-input">
                        <input  type="text" class="form-control" name="name" value="30863736" disabled="disabled" >
                          <span class="input-group-addon"><i class="icon icon-trash"></i></span>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn add-new-btn">+ Add new</button>
                </div>
								<!-- answer_block -->

								<!-- img-answer-block -->
								<div class="row img-answer-block">
									<form action="#" class="dropzone" id="dropzone_multiple"></form>
									<div class="owl-carousel img-ans-owl-carousel">
											<div class="item">
												<img src="assets/img/gallery-1.jpg" alt="" class="img-responsive"/>
											</div>
											<div class="item active">
												<img src="assets/img/gallery-2.jpg" alt="" class="img-responsive"/>
											</div>
											<div class="item">
												<img src="assets/img/gallery-3.jpg" alt="" class="img-responsive"/>
											</div>
											<div class="item">
												<img src="assets/img/gallery-4.jpg" alt="" class="img-responsive"/>
											</div>
											<div class="item">
												<img src="assets/img/gallery-1.jpg" alt="" class="img-responsive"/>
											</div>
											<div class="item">
												<img src="assets/img/gallery-2.jpg" alt="" class="img-responsive"/>
											</div>
											<div class="item">
												<img src="assets/img/gallery-3.jpg" alt="" class="img-responsive"/>
											</div>
											<div class="item">
												<img src="assets/img/gallery-4.jpg" alt="" class="img-responsive"/>
											</div>
										</div>
								</div>
								<!-- img-answer-block -->


								<ul class="list-inline answer-type-option margin-top-15">
									<li><button type="button" class="btn btn-outline btn-default" id="addTextAns">Answers are Text based</button></li>
									<li>Or</li>
									<li><button type="button" class="btn btn-outline btn-default" id="addImgAns">Answers are Image based</button></li>
								</ul>
              </form>
						</div>
						<div class="panel-footer text-center">
              <button type="button" class="btn btn-outline btn-default margin-right-10 margin-xs-top-10"><i class="icon icon-plus-outline margin-right-5"></i> SAVE AS TEMPLATE</button>
              <button type="button" class="btn  btn-primary margin-xs-top-10" data-toggle="modal" data-target="#modal-contentPreview">Preview</button>
						</div>
            <!-- /panel-body -->
					</div>
					<!-- /Teacher Setting  Panel  -->
				</div>
				<!-- /content area -->
			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->

	<section class="modal-section">
		<div id="modal-contentPreview" class="modal fade modal-contentPreview " role="dialog">
		  <div class="modal-dialog modal-lg">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
		        <h4 class="modal-title">Question Preview</h4>
		      </div>
		      <div class="modal-body ">
						<div class="table-cover">
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>GRADE</span>
								</div>
								<div class="col-md-9 table-cell">
									<p>Fifth Grade (5)</p>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>SUBJECT</span>
								</div>
								<div class="col-md-9 table-cell">
									<p>English & Language Arts (ela)</p>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>LESSON NAME</span>
								</div>
								<div class="col-md-9 table-cell">
									<p>Basic Grammer</p>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>LESSON NAME</span>
								</div>
								<div class="col-md-9 table-cell">
									<p>Basic Grammer</p>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>STANDARDS</span>
								</div>
								<div class="col-md-9 table-cell">
									<ul>
										<li>College & Career Readiness Anchor Standards for Reading</li>
										<li>Key Ideas & Details</li>
									</ul>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>Claim</span>
								</div>
								<div class="col-md-9 table-cell">
									<p>Students can produce effective & well-grounded writing for a rnage
									of purpose & audiences (produce effective and well ground writing)</p>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>DEPTH OF KNOWLEDGE</span>
								</div>
								<div class="col-md-9 table-cell">
									<p>Level 1 requires or recite facts or to use simple skills or abilities. Oral
									reading that does not include analysis of the text as well as basic
									comprehension of a text is included. Items require only a shallow
									understanding of text presented & often consist of verbatim recall from
									text or simple understanding of a single word or phase (Level 1)</p>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>ASSESSMENT TARGET</span>
								</div>
								<div class="col-md-9 table-cell">
									<span>This is lessson.</span>
								</div>
							</div>
							<div class="question-block">
								<div class="row">
									<div class="col-md-12">
										<h5 class="ques">Q1.  What comes in between 14 __ 15.</h5>
									</div>
								</div>
								<div class="row option-block">
									<div class="col-md-7 margin-sm-bottom-10">
										<span class="ans"> A. 13 </span>
									</div>
									<div class="col-md-5 margin-sm-bottom-10">
										<span> A. 16 </span>
									</div>
								</div>
								<div class="row option-block margin-bottom-0 margin-sm-top-0">
									<div class="col-md-7 margin-sm-bottom-10">
										<span> C. 15 </span>
									</div>
									<div class="col-md-5 margin-sm-bottom-10">
										<span> D. 14 </span>
									</div>
								</div>
							</div>
						</div>
		      </div>
		      <div class="modal-footer border-top-0 padding-top-0">
						<div class="text-center">
		        	<button type="button" class="btn btn-primary" data-dismiss="modal">Submit Question</button>
						</div>
		      </div>
		    </div>
		  </div>
		</div>
</section>


	<script type="text/javascript">
		$(document).ready(function(){
				$("#addTextAns").click(function(){
					$(".text-answer-block").addClass("show");
					$(this).hide();
					$(this).parent().siblings("li").fadeOut();
				});

				$("#addImgAns").click(function(){
					$(".img-answer-block").addClass("show");
					$(this).hide();
					$(this).parent().siblings("li").fadeOut();
				});
			var owl = $(".img-ans-owl-carousel");
				owl.owlCarousel({
					margin: 20,
					nav: false,
					loop: false,
					responsive: {
						1000: {
							items: 6
						}
					}
				});

		});


	</script>
