
	<!-- Main navbar -->
	<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top">
		
	</top-search-bar>
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main"></aside>
			<!-- /sidebar -->

			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<div class="panel panel-flat panel-teacher-content">
						<div class="panel-heading">
							<h5 class="panel-title text-uppercase">All Questions
								<div class="pull-right text-capitalize">
									<span class="text-muted">Your Points:</span> <span class="text-primary text-semibold">{{points}}</span>
								</div>
						</h5>
						</div>
						<div class="panel-body">
							<div class="panel-toolbar responsive-md">
									<li class="toolbar-item">
										<label class="label-toolbar">Filters:</label>
									</li>

									<li class="toolbar-item">
                    <div class="btn-group" role="group" aria-label="...">
										<select class="mlg-selectpicker form-control" title="Status" data-width="auto" data-size="auto">
											<option>Approved</option>
<!--											<option>Not Approved</option>
											<option>Submitted</option>
											<option>Pending</option>
											<option>Under review</option>
											<option>Draft</option>-->
										</select>
                    </div>
									</li>

									<li class="toolbar-item">
                   
                    <div class="btn-group" role="group" aria-label="...">
										   <select class="mlg-selectpicker form-control" data-width="auto"  
                            ng-model="gradeModel" ng-change="getGrade(gradeModel)" title="Class" 
                            ng-options="grade.id as grade.name for grade in grades track by grade.id">
                        <option value="">- Select Class -</option>
                       </select>
										</div>
									</li>

									<li class="toolbar-item">
                    <div class="btn-group" role="group" aria-label="...">
                    <select class="mlg-selectpicker form-control" data-width="auto"  
                            ng-model="courseModel" ng-change="getCourse(courseModel)" title="Class" 
                            ng-options="course.course_id as course.course_name for course in courses track by course.course_id">
                      <option value="">- Select Subject -</option>
                    </select>
                    </div>
									</li>
                  <li class="toolbar-item">
                    <div class="btn-group" role="group" aria-label="...">
											<select class="mlg-selectpicker form-control" data-width="auto"  
                            ng-model="standardTypeModel" ng-change="getStandardType(standardTypeModel)" 
                            ng-init="standardTypeModel = ''" ng-options="sty.id as sty.label for sty in standardType">
                      <option value="">Standard Type</option>
                    </select>
                    </div>
									</li>
                  <li class="toolbar-item">
                    <div class="btn-group" role="group" aria-label="...">
											<select class="mlg-selectpicker form-control" data-width="auto"  
                            ng-model="standardModel" ng-change="getStandard(standardModel)" 
                            ng-init="standardModel = ''" ng-options="st.id as st.label for st in standard">
                      <option value="">Standard</option>
                    </select>
                    </div>
									</li>
									<li class="toolbar-item">
                    <div class="btn-group" role="group" aria-label="...">
										<select class="mlg-selectpicker form-control" data-width="auto"  
                            ng-model="skillModel" ng-change="getSkill(skillModel)" title="Class" 
                            ng-options="skil.id as skil.label for skil in skill track by skil.id">
                      <option value="">- Select Skills -</option>
                    </select>
                    </div>
									</li>

									<li class="toolbar-item pull-right">
										<a role="button" class="btn btn-primary" href="teacher/add-question"><i class="icon icon-plus-outline position-left"></i>Add Question</a>
									</li>
							</div>
							<table id="tableAllQuestions" class="table table-condenced table-teacherContent table-questions">
								<thead>
									<tr>
										<th class="sr-no">#</th>
										<th class="title">Title</th>
										<th class="level">Level</th>
										<th class="type">Type</th>
										<th class="status">Status</th>
										<th class="earned-points">Earned</th>
										<th class="actions">Actions</th>
									</tr>
								</thead>
								<tbody>
                  <tr class="approved" ng-repeat="question in questionList track by $index">
										<td class="sr-no">{{$index+1}}</td>
										<td class="title"ng-bind-html="question.questionName"></td>
										<td class="level">{{question.level}}</td>
										<td class="type">{{question.type}}</td>
										<td class="status">{{question.status}}</td>
										<td class="earned-points">{{question.points}}pts</td>
										<td class="actions">
                      <button class="btn btn-link"><a href="teacher/add-question?{{question.question_id}}"><i class="fa fa-pencil"></a></i></button>
                      <button class="btn btn-link"><a ng-click="deleteQuestions(question.question_id,question.uniqueId)"><i class="fa fa-trash"></i></a></button>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td class="table-pagination" colspan="7">
											<!-- <span class="pull-left">Showing {{start}}-{{last}} out of {{total}} </span> -->
											<ul class="pagination pagination-sm">
												<li class="{{preClass}}">
													<a ng-click="getPrevious()">
														<span aria-hidden="true">Previous</span>
													</a>
												</li>
                        <li ng-repeat="n in range(1,lastPage)">
													<a href="#{{n}}">{{n}}</a>
												</li>
												<li class="{{nexClass}}">
													<a aria-hidden="true" ng-click="getNext()">Next</a>
												</li>
											</ul>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->

	<!-- Latest compiled and minified jQuery -->

	<script>
		//Bootstrap dropdown select
//		$('.selectpicker').selectpicker();

	</script>

	// Responsive Data Table
	<script>
		var headertext = [],
		headers = document.querySelectorAll(".table-teacherContent th"),
		tablerows = document.querySelectorAll(".table-teacherContent th"),
		tablebody = document.querySelector(".table-teacherContent tbody");

		for(var i = 0; i < headers.length; i++) {
		  var current = headers[i];
		  headertext.push(current.textContent.replace(/\r?\n|\r/,""));
		}
		for (var i = 0, row; row = tablebody.rows[i]; i++) {
		  for (var j = 0, col; col = row.cells[j]; j++) {
		    col.setAttribute("data-th", headertext[j]);
		  }
		}
	</script>
