	<!-- Main navbar -->
	<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top">
		
	</nav>
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main">
					<ul class="nav sidebar_nav sidebar_nav-main">
						<li class="active">
							<a href="#myClass" data-toggle="collapse"><i class="icon icon-my_class"></i><span class="link__text">My Class</span></a>
							<ul id="myClass" class="sub-menu collapse in">
								<li class="active">
									<a href="teacher-dashboard.html"><span class="link__text">Class 7th A Math</span></a>
								</li>
								<li>
									<a href="#"><span class="link__text">Class 7th A Math</span></a>
								</li>
								<li>
									<a href="#"><span class="link__text">Class 7th A Math</span></a>
								</li>
							</ul>
						</li>
						<li >
							<a href="teacher-subscription.html"><i class="icon icon-my_subscriptions"></i><span class="link__text">My Subscription</span></a>
						</li>
						<li >
							<a href="teacher-rewards.html"><i class="icon icon-my_rewards"></i><span class="link__text">My Rewards</span></a>
						</li>
						<li >
							<a href="teacher-content.html"><i class="icon icon-my_data"></i><span class="link__text">My Content</span></a>
						</li>
						<li>
							<a href="teacher-scope-sequence.html"><i class="icon icon-my_blueprinting_tool"></i><span class="link__text">scope and sequence</span></a>
						</li>
						<li>
							<a href="teacher-setting.html"><i class="icon icon-my_settings"></i><span class="link__text">My Setting</span></a>
						</li>
						<li>
							<a href="#"><i class="icon icon-logout"></i><span class="link__text">Logout</span></a>
						</li>
					</ul>
			</aside>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<!-- Student List Panel  -->
					<div class="panel panel-flat gap-analysis">
						<div class="panel-heading">
							<h5 class="panel-title text-uppercase"><i class="icon icon-arrow-left"></i> Gap Analysis</h5>
							<div class="heading-elements">
									<ul class="list-inline heading-text list-filters">
										<li>
											<select class="form-control input-sm no-border">
												<option value="Standard">Standard</option>
											</select>
										</li>
										<li>
											<select class="form-control input-sm no-border">
												<option value="Subject">Subject</option>
											</select>
										</li>
										<li>
											<select class="form-control input-sm no-border">
												<option value="Skills">Skills</option>
											</select>
										</li>
										<li>
											<select class="form-control input-sm no-border">
												<option value="Sub Skills">Sub Skills</option>
											</select>
										</li>
										<li>
											<select class="form-control input-sm no-border">
												<option value="Time relevance">Time relevance</option>
											</select>
										</li>
									</ul>
							</div>
						</div>
						<div class="panel-body">
              <div class="well well-flat tabs-analysis">
    						<div class="row">
    							<div class="tab-content tab-content-left col-sm-6">
    								<ul id="myNav" class="nav nav-tabs-analysis row">
    									<li>
    										<a data-toggle="tab" href="#menu">
    												<h5 class="nav__title">MATHS - <span>H.C.F & L.C.M</span> <span class="gifted status"></span></h5>
    												<p class="nav__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do
    												eiusmod tempor incididunt ut labore et dolore magna aliqua.
    												Ut enim ad minim veniam,</p>
    										</a>
    									</li>
    								</ul>
                    <select class="form-control input-sm no-border display-inline-block">
                      <option value="Subject">Above Average</option>
                    </select>
    							</div>

    							<div class="tab-content tab-content-right col-sm-6">
    								<div id="menu" class="tab-pane fade in active">
    										<div class="row">
    											<div class="text-center col-sm-8 col-sm-offset-2">
    												<button type="button" class="btn btn-danger btn-outline btn-block">Send auto-generated assignment</button>
    												<br>
    												<button type="button" class="btn btn-default btn-outline btn-block">Create custom assignment</button>
    											</div>
    										</div>
    								</div>
    							</div>
    						</div>
    					</div>
              <div class="panel-heading">
  							<h5 class="panel-title text-uppercase">My Class</h5>
              </div>
							<ul class="list-inline student_status_legend">
									<li class="gifted"><i class="fa fa-circle"></i>Gifted</li>
									<li class="outstanding"><i class="fa fa-circle"></i>Outstanding</li>
									<li class="ontarget"><i class="fa fa-circle"></i>On Target</li>
									<li class="struggling"><i class="fa fa-circle"></i>Struggling</li>
									<li class="remedial"><i class="fa fa-circle"></i>Remedial</li>
							</ul>
							<br>
							<ul class="row list-thumb student_list">
								<li class="student gifted">
									<a href="teacher/student-profile">
										<div class="student__img">
										<img class="img-circle" src="assets/img/student-img/stud_img_1.png" alt="Andrew Garfield"/>
									</div>
										<span class="student__name">Andrew Garfield</span>
									</a>
								</li>

								<li class="student outstanding">
									<a href="teacher/student-profile">
										<div class="student__img">
										<img class="img-circle" src="assets/img/student-img/stud_img_2.png" alt="Angelina Barnes"/>
									</div>
										<span class="student__name">Angelina Barnes</span>
									</a>
								</li>

								<li class="student ontarget">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_3.png" alt="Bobby Jackson"/>
										</div>
										<span class="student__name">Bobby Jackson</span>
									</a>
								</li>

								<li class="student ontarget">
									<a href="teacher/student-profile">
										<div class="student__img">
										<img class="img-circle" src="assets/img/student-img/stud_img_3.png" alt="Bobby Jackson"/>
									</div>
										<span class="student__name">Bobby Jackson</span>
									</a>
								</li>

								<li class="student ontarget">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_3.png" alt="Bobby Jackson"/>
										</div>
										  <span class="student__name">Bobby Jackson</span>
									</a>
								</li>

								<li class="student struggling">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_4.png" alt="Caly Miles"/>
										</div>
										<span class="student__name">Caly Miles</span>
									</a>
								</li>

								<li class="student remedial">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_5.png" alt="Jema Stones"/>
										</div>
										<span class="student__name">Jema Stones</span>
									</a>
								</li>

								<li class="student struggling">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_6.png" alt="Saul Millers"/>
										</div>
										<span class="student__name">Saul Millers</span>
									</a>
								</li>

								<li class="student struggling">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_7.png" alt="Peter Parker"/>
										</div>
										<span class="student__name">Peter Parker</span>
									</a>
								</li>

							</ul>
						</div>
					</div>
					<!-- /student list panel  -->


				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->