<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>
	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main"></aside>
			<!-- /sidebar -->
			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">
					<!-- Teacher Setting  Panel  -->
					<div class="panel panel-flat panel panel-scope-sequence">
						<div class="panel-heading padding-bottom-5">
							<h5 class="panel-title text-uppercase">Scope and sequence</h5>
						</div>
						<div class="panel-body">
							<form class="form">
								<div class="row">
									<div class="col-lg-9">
										<div class="row">
											<div class="col-lg-3 col-sm-6">
												<div class="row">
													<div class="col-xs-12">
														<select class="mlg-selectpicker form-control" title="Grade"  data-size="auto"
                                     ng-model="scopeGradeModel" ng-change="getScopeGrade(scopeGradeModel)"
                                    ng-options="grade.id as grade.name for grade in scopeLevel">
                              <option value="">Select Grade</option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-sm-3 col-sm-offset-1 col-xs-6">
												<div class="row">
													<div class="col-xs-12">
														<select class="mlg-selectpicker form-control" title="Subject"  data-size="auto"
                                     ng-model="scopeCourseModel" ng-change="getScopeCourse(scopeCourseModel)"
                                    ng-options="subject.course_id as subject.course_name for subject in scopeSubject">
                              <option value="">Select Course</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 margin-top-xs-10">
										<div class="row">
											<div class="col-lg-12 col-md-6">
												<div class="text-left">
													<button type="button" class="btn btn-block margin-sm-top-10 margin-bottom-10 btn-default btn-outline  text-uppercase border-color-gray-lighter" data-toggle="modal" data-target="#modal-ImportTemplate"><i class="icon icon-plus-outline margin-right-10"></i> Save Template</button>
									
												</div>
											</div>
											<div class="col-lg-12 col-md-6">
												<div class="text-left">
                          <select class="mlg-selectpicker form-control"
                                  ng-model="templateModel" ng-init="templateModel=''" ng-change="getTemplate(templateModel)"
                                  ng-options="temp.id as temp.name for temp in template track by temp.id" >
														 <option value="">APPLY TEMPLATE</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-4 col-xs-12 margin-sm-top-10">
										<div class="row">
											<div class="col-xs-1">
												<div class="radio radio-primary radio-inline">
													<input type="radio" id="inlineRadio1" value="class" name="SCOPE" ng-model="option" checked="">
														<label></label>
												</div>
											</div>
											<div class="col-lg-10 col-xs-10">
												<label class="color-gray-light">All Class</label>
											</div>
										</div>
									</div>
								</div>
								<div class="row margin-top-5">
									<div class="col-lg-4  col-xs-12 margin-sm-top-10">
										<div class="row">
											<div class="col-xs-1">
												<div class="radio radio-primary radio-inline padding-top-5">
													<input type="radio" id="inlineRadio1" value="group" name="SCOPE" ng-model="option">
													<label></label>
												</div>
											</div>
											<div class="col-lg-10 col-xs-10">
												<select class="mlg-selectpicker form-control" title="Group"  data-size="auto"
                                ng-model="scopeGroupModel" ng-init="scopeGroupModel=''" ng-change="getGroup(scopeGroupModel)"
                           ng-options="grp.id as grp.title for grp in groups" >
													 <option value="">Select Group</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row margin-top-5">
									<div class="col-lg-4 col-xs-12 margin-sm-top-10">
										<div class="row">
											<div class="col-xs-1">
												<div class="radio radio-primary radio-inline padding-top-5">
													<input type="radio" id="inlineRadio1" value="people" name="SCOPE" ng-model="option">
													<label></label>
												</div>
											</div>
											<div class="col-lg-10 col-xs-10">
												<div class="multi-select-full">
                          <select class="mlg-selectpicker form-control" title="people" data-width="auto" data-size="auto"
                                  ng-model="scopePeopleModel" ng-init="scopePeopleModel='' " ng-change="getPeople(scopePeopleModel)"
                                      ng-options="student.id as student.first_name+' '+student.last_name for student in students">
                          <option value="">Select People</option>
                          </select>
												</div>
											</div>
										</div>
									</div>
								</div>
                <!--teacher/scope-sequence-subskill/{{skill.course_id}}**/-->
								<div class="scope-sequence-listing">
								<p class="para">Click a skill to see the subskills. Hold and drag to change the order.</p>
									<ul as-sortable="sortableOptions" data-ng-model="scopeSkills" ng-if="!sns_message">
                    <li ng-repeat="skill in scopeSkills" as-sortable-item>
											<a href="teacher/scope-sequence-subskill/{{skill.course_id}}/{{scopeGradeModel}}/{{scopeCourseModel}}/{{option}}/{{grpId}}">
												<div class="row"  as-sortable-item-handle>
													<div class="col-lg-5">
														<div class="row">
															<div class="col-md-5">
																<h5 class="topic_name margin-sm-top-0"><i class="icon icon-drag"></i>{{skill.name}}</h5>
															</div>
															<div class="col-md-7 text-right text-sm-left margin-sm-top-15" ng-if="auto_progression == true">
																<h5 ng-if="(auto_progression_for == 'all_class')">
                                  START DATE :{{skill.start_date}}</h5>
                                <h5 ng-if="(auto_progression_for == 'group' && auto_progression_for_group == grpId)">
                                  START DATE :{{skill.start_date}}</h5>
                                <h5 ng-if="(auto_progression_for == 'individual' && auto_progression_for_individual == grpId)">
                                  START DATE :{{skill.start_date}}</h5>
															</div>
														</div>
													</div>
													<div class="col-lg-5 col-lg-offset-2">
														<div class="row">
															<div class="col-md-7" >
																<h5 class="margin-sm-top-0" 
                                    ng-if="(auto_progression == true) && (auto_progression_for == 'all_class')">
                                  END DATE :{{skill.end_date}}</h5>
                                <h5 class="margin-sm-top-0"
                                    ng-if="(auto_progression == true) && (auto_progression_for == 'group')&& (auto_progression_for_group == grpId)">
                                  END DATE :{{skill.end_date}}</h5>
                                <h5 class="margin-sm-top-0"
                                 ng-if="(auto_progression == true) && (auto_progression_for == 'individual')&& (auto_progression_for_individual == grpId)">
                                  END DATE :{{skill.end_date}}</h5>
															</div>
                              <div class="col-md-5 text-right text-sm-left margin-top-5">
																<div class="checkbox checkbox-switchery checkbox-inline switchery-sm switchery-double">
                                  <label>
                                  <input class="js-switch" type="checkbox" >
                                  <span class="off">OFF</span>
                                  <span class="switchery switchery-default switchery-skills {{skill.course_id}}"ng-if="skill.visibility == '1'">
                                    <small></small>
                                  </span>
                                  <span class="switchery switchery-default switchery-skills off {{skill.course_id}}" ng-if="skill.visibility != '1'">
                                  <small></small>
                                  </span>
                                  <span class="on">ON</span>
                                  </label>
																</div>
															</div>
														</div>
													</div>
												</div>
											</a>
										</li>
								</ul>
								<div class="text-right text-sm-center" ng-if="!sns_message"><!--#modal-approvedQuestion-->
									<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-addSkills"><i class="icon icon-plus-outline margin-right-10"></i> Add own Skills</button>
								</div>
								</div>

								<div ng-if="sns_message" style="color:red;">{{sns_message}}</div>
							</form>
						</div>
						<div class="panel-footer">
							<div class="row">
								<div class="col-lg-3 col-md-6">
									<button type="button" class="btn btn-outline border-color-gray btn-default text-uppercase btn-block border-radius-0" ng-click="restoreDefault()">Restore to Default</button>
									<div class="row margin-top-10">
										<div class="col-xs-6">
											<button type="button" class="btn btn-outline btn-default btn-block btn-print" onClick="window.print();"><i class="icon icon-print margin-right-5"></i> Print</button>
										</div>
										<div class="col-xs-6">
											<button type="button" class="btn btn-outline btn-default btn-block btn-email" ng-click="onClickSendEmail()"><i class="icon icon-mail margin-right-5"></i> eMail</button>
										</div>
									</div>
								</div>
								<div class="col-lg-9 col-md-6 margin-sm-top-10">
<!--									<div class="col-lg-8  text-center text-md-right text-sm-center padding-md-right-0">
										<button type="button" class="btn btn-background-none padding-sm-left-0"><i class="icon icon-undo"></i> Undo</button>
										<button type="button" class="btn btn-background-none padding-sm-right-0"> Redo <i class="icon icon-redo"></i></button>
									</div>-->
									<div class="col-lg-4  text-right padding-right-0 text-sm-center margin-sm-top-10">
											<button type="button" class="btn btn-background-none">Cancel</button>
											<button type="button" class="btn btn-primary btn-preview" data-toggle="modal" data-target="#modal-SequencePreview">Preview</button>
									<span style="color:green">{{msg}}</span>
                  <span style="color:red">{{message}}</span>
                  </div>
                  
								</div>
							</div>
						</div>
            <!-- /panel-body -->
					</div>
					<!-- /Teacher Setting  Panel  -->
				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->

	<!-- modal section  -->
	<section class="">
		<!-- Modal -->
		<div id="modal-ImportTemplate" class="modal fade modal-saveTemplateAs" role="dialog">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
					<div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
					</div>
		      <div class="modal-body">
						<form class="form">
							<div class="form-group float-label">
								<label class="control-label">Template Name</label>
								<input type="text" class="form-control float-input" value=""ng-model="frm.template_name"/>
							</div>
		        </form>
		      </div>
		      <div class="modal-footer text-right border-0">
		        <button type="button" class="btn btn-background-none" data-dismiss="modal">Close</button>
            <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="saveScopeTemplate(frm,'skills')">Save</button>
		      </div>
		    </div>

		  </div>
		</div>


		<div id="modal-addSkills" class="modal fade modal-saveTemplateAs" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
					</div>
					<div class="modal-body">
						<form class="form">
							<div class="form-group float-label">
								<label class="control-label">Add Skills</label>
                <input type="text" class="form-control float-input" value="" ng-model="frm.newSkill"/></br>
                <div class="col-xs-6" ng-if="(auto_progression == true) && (auto_progression_for == 'all_class')">
                  <label>Start Date :</label> <input type="text" ng-model="startDate" jqdatepicker /> <!-- {{ date }}  -->
                </div> 
                <div class="col-xs-6" ng-if="(auto_progression == true) && 
                     (auto_progression_for == 'group') && (auto_progression_for_group == grpId)">
                  <label>Start Date :</label> <input type="text" ng-model="startDate" jqdatepicker /> <!-- {{ date }}  -->
                </div> 
                <div class="col-xs-6" ng-if="(auto_progression == true) && 
                     (auto_progression_for == 'individual') && (auto_progression_for_individual == grpId)">
                  <label>Start Date :</label> <input type="text" ng-model="startDate" jqdatepicker /> <!-- {{ date }}  -->
                </div>
                <div class="col-xs-6" ng-if="(auto_progression == true) && (auto_progression_for == 'all_class')">
                  <label>End Date :</label><input type="text" ng-model="endDate" jqdatepicker /> <!-- {{ date }}  -->
                </div> 
                <div class="col-xs-6" ng-if="(auto_progression == true) && 
                     (auto_progression_for == 'group') && (auto_progression_for_group == grpId)">
                  <label>End Date :</label><input type="text" ng-model="endDate" jqdatepicker /> <!-- {{ date }}  -->
                </div> 
                <div class="col-xs-6" ng-if="(auto_progression == true) && 
                     (auto_progression_for == 'individual') && (auto_progression_for_individual == grpId)">
                  <label>End Date :</label><input type="text" ng-model="endDate" jqdatepicker /> <!-- {{ date }}  -->
                </div>
							</div>
		        </form>
					</div>
					<div class="modal-footer text-right border-0">
						<button type="button" class="btn btn-background-none" data-dismiss="modal">Close</button>
						<button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="setNewSkill(frm)">Save</button>
					</div>
				</div>

			</div>
		</div>
		<!-- modal-SequencePreview -->
		<div id="modal-SequencePreview" class="modal fade modal-SequencePreview" role="dialog">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		       <div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
		       	<h5 class="modal-title">Sequence Preview</h5>
		       </div>
		      <div class="modal-body">
						<div class="content-cover">
							<div  ng-repeat="skill in scopeSkills">
                <div class="row repeat-row" ng-if="skill.visibility == '1'">
								<div class="heading">
									<div class="row">
										<div class="col-md-6 col-sm-8 left-side">
											<h5>{{skill.name}}</h5>
										</div>
										<div class="col-md-6 col-sm-4 right-side">
											<span >Start date: {{skill.start_date}}</span>
											<span >End date: 1{{skill.end_date}}</span>
										</div>
									</div>
								</div>
                  <div ng-repeat="sub in subSkill">
                    <ul class="connected-li-list" ng-repeat="subSkill in sub">
									    <li ng-if="subSkill.parent_id == skill.course_id">{{subSkill.name}}</li>
								    </ul>
                  </div>
                </div>
							</div>
						</div>
		      </div>
		      <div class="modal-footer text-right border-0">
		        <button type="button" class="btn btn-background-none" data-dismiss="modal">Close</button>
            <a href="teacher-addQuestion.html"><button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveScope()">Save Sequence</button></a>
		      </div>
		    </div>

		  </div>
		</div>
		<!-- modal-SequencePreview -->

		<!-- modal-approved-question -->
		<div id="modal-approvedQuestion" class="modal fade modal-approvedQuestion" role="dialog">
		  <div class="modal-dialog modal-lg">
		    <!-- Modal content-->
		    <div class="modal-content">
					<div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
						<h5 class="modal-title">Approved Questions</h5>
					</div>
		      <div class="modal-body">
						<table id="tableAllQuestions" class="table table-condenced table-teacherContent table-lessons">
							<thead>
								<tr>
									<th class="sr-no">#</th>
									<th class="title">Title</th>
									<th class="level">Level</th>
									<th class="type">Type</th>
									<th class="status">Status</th>
									<th class="actions">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr class="approved">
									<td class="sr-no">1</td>
									<td class="title">In the nuymber 7947949, which digit is in</td>
									<td class="level">Easy</td>
									<td class="type">Multiple Choice</td>
									<td class="status">Approved</td>
									<td class="actions">
										<button class="btn btn-link text-success"><i class="icon icon-tick"></i>Add</button>
									</td>
								</tr>
								<tr class="approved">
									<td class="sr-no">1</td>
									<td class="title">In the nuymber 7947949, which digit is in</td>
									<td class="level">Easy</td>
									<td class="type">Multiple Choice</td>
									<td class="status">Approved</td>
									<td class="actions">
										<button class="btn btn-link text-danger"><i class="icon icon-times"></i>Remove</button>
									</td>
								</tr>
							</tbody>
						</table>
		      </div>
		      <div class="modal-footer text-right border-0">
		        <button type="button" class="btn btn-background-none" data-dismiss="modal">Cancel</button>
						 <button class="btn btn-primary btn-add-skills" data-dismiss="modal"  data-toggle="modal" data-target="#modal-addSkills">Add Skill</button>
		      </div>
		    </div>
		  </div>
			<script>
			</script>
		</div>
		<!-- modal-approved-question -->
	</section>
	<!-- modal section  -->