<!-- Main navbar -->
<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main Sidebar -->
    <aside class="sidebar sidebar-main"></aside>
    <!-- /sidebar -->


    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Content area -->
      <div class="content">

        <!-- Areas of Focus Panel  -->
        <div class="panel panel-flat panel-rewards">
          <div class="panel-heading">
            <h5 class="panel-title"> My Rewards</h5>
            <div class="heading-elements">
              <h5>Total points earned:- <b>{{points}}</b> <span class="text-uppercase">Points</span> </h5>
            </div>
          </div>
          <div class="panel-body parentRedeem-content">
            <ul class="media-list redeem-list">

              <li ng-repeat="reward in rewards" class="media redeem-item">
                <div class="media-left">
                  <img class="media-object coupon-img" src="{{reward.image}}" alt="Image">
                </div>
                <div class="media-body media-middle">
                  <div class="row">
                    <div class="col-md-7">
                      <h4 class="media-heading">{{reward.description}}</h4>
                    </div>
                    <div class="col-md-5">
                      <span class="points">{{reward.condition_value}} points</span>
                    </div>
                  </div>
                </div>
                <div class="media-right">
                  <div class="media-btns">
                    <button ng-if="reward.status == ''" type="button" data-toggle="modal" data-target="#modal-redeemCheck_{{reward.id}}" class="btn btn-primary">Redeem</button>
                    <span ng-if="reward.status != '' && reward.coupon_code != ''" style ="border: 2px solid #1688eb; border-radius: 5px;" class="btn">{{reward.coupon_code}}</span>
                    <span ng-if="reward.status != '' && reward.coupon_code == ''" style ="border: 2px solid #1688eb; border-radius: 5px;" class="btn">{{reward.status}}</span>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
        <!-- /student gap analysis panel  -->

      </div>
      <!-- /content area -->

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->

</div>
<!-- page container -->

<section ng-repeat="reward in rewards" class="modal-section">
  <div id="modal-redeemCheck_{{reward.id}}" class="modal fade modal-confirmSuccess" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
        </div>
        <div class="modal-body">
          <p>Confirm redeeming this coupon</p>
          <div class="confirm-success-msg">
            <i class="icon icon-check"></i>
            <p>Coupon successfully, kindly check your email</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-background-none" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="requestReward(reward)">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  <!-- modal -->
</section>