	<!-- Main navbar -->
	<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top">
		
	</nav>
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main"></aside>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<div class="well well-lg well-flat">
						<div class="row">
							<div class="col-md-5"></div>
							<div class="col-md-7">
								<h2 class="title_subscription"><span class="text-uppercase">Free Subscription</span><small>(60 days)</small></h2>
								<br>
								<div class="row">
									<div class="col-sm-4"><p class="text-muted">Subscription Type:</p></div>
									<div class="col-sm-4"><p class="text-uppercase">Trial</p></div>
								</div>
								<div class="row">
									<div class="col-sm-4"><p class="text-muted">Start Date:</p></div>
									<div class="col-sm-4"><p class="text-uppercase">26 Feb 2017</p></div>
								</div>
								<div class="row">
									<div class="col-sm-4"><p class="text-muted">End Date:</p></div>
									<div class="col-sm-4"><p class="text-uppercase">25 April 2017</p></div>
								</div>
								<div class="row">
									<div class="col-sm-4"><p class="text-muted">Days Remaining:</p></div>
									<div class="col-sm-4"><p class="text-uppercase">59 days</p></div>
								</div>
							</div>
						</div>
						<br>
						<h3 class="text-center text-muted"><b>Your Subscription will auto re-new to Quarterly after 59 days</b></h3>
						<div class="flex-row responsive-md subscription_table">
							<div class="flex-col">
								<div class="subscription_col">
									<h4 class="text-uppercase">Monthly</h4>
									<h1 class="plan_price"><sup>$</sup><b>99</b><small>/mo</small></h1>
									<ul class="feature_list">
										<li>Feature 1 loreum ipsum dolor sit amet</li>
										<li>Feature 2 loreum ipsum dolor sit amet</li>
										<li>Feature 3 loreum ipsum dolor sit amet</li>
										<li>Feature 4 loreum ipsum dolor sit amet</li>
									</ul>
									<p>
										<button type="button" class="btn btn-default btn-lg text-uppercase">Upgrade Now</button>
									</p>
								</div>
							</div>
							<div class="flex-col">
								<div class="subscription_col recommended">
									<h4 class="text-uppercase">Quarterly</h4>
									<h1 class="plan_price"><sup>$</sup><b>99</b><small>/qu</small></h1>
									<h1 class="plan_price old_price"><sup>$</sup><b>108</b><small>/qu</small></h1>
									<ul class="feature_list">
										<li>Feature 1 loreum ipsum dolor sit amet</li>
										<li>Feature 2 loreum ipsum dolor sit amet</li>
										<li>Feature 3 loreum ipsum dolor sit amet</li>
										<li>Feature 4 loreum ipsum dolor sit amet</li>
									</ul>
									<p>
										<button type="button" class="btn btn-default btn-lg text-uppercase">Upgrade Now</button>
									</p>
								</div>
							</div>
							<div class="flex-col">
								<div class="subscription_col">
									<h4 class="text-uppercase">Yearly</h4>
									<h1 class="plan_price"><sup>$</sup><b>99</b><small>/yr</small></h1>
									<ul class="feature_list">
										<li>Feature 1 loreum ipsum dolor sit amet</li>
										<li>Feature 2 loreum ipsum dolor sit amet</li>
										<li>Feature 3 loreum ipsum dolor sit amet</li>
										<li>Feature 4 loreum ipsum dolor sit amet</li>
									</ul>
									<p>
										<button type="button" class="btn btn-default btn-lg text-uppercase">Upgrade Now</button>
									</p>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->

	<!-- Latest compiled and minified jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="assets/js/min/jquery-2.1.3.min.js"><\/script>')</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Page Specific JavaScript -->
	<script src="../assets/js/main.js"></script>
	<script src="../assets/js/pages/dashboard.js"></script>