	<!-- Main navbar -->
	<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main"></aside>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<!-- Student List Panel  -->
					<div class="panel panel-flat create-group">
						<div class="panel-heading">
							<h5 class="panel-title text-uppercase"><i class="icon icon-arrow-left"></i>  Create Group</h5>
						</div>
            <div class="panel-body">
              <div class="text-center">
                <input type="text" class="group-name" placeholder="Enter group name"/>
              </div>
							<br>
							<ul class="row list-thumb student_list">
								<li class="student gifted">
									<div class="checkbox checkbox-primary">
										<input type="checkbox">
										<label></label>
									</div>
									<a href="#">
										<div class="student__img">
										<img class="img-circle" src="assets/img/student-img/stud_img_1.png" alt="Andrew Garfield"/>
									</div>
										<span class="student__name">Andrew Garfield</span>
									</a>
								</li>

								<li class="student outstanding">
									<div class="checkbox checkbox-primary">
										<input type="checkbox">
										<label></label>
									</div>
									<a href="#">
										<div class="student__img">
										<img class="img-circle" src="assets/img/student-img/stud_img_2.png" alt="Angelina Barnes"/>
									</div>
										<span class="student__name">Angelina Barnes</span>
									</a>
								</li>

								<li class="student ontarget">
									<div class="checkbox checkbox-primary">
										<input type="checkbox">
										<label></label>
									</div>
									<a href="#">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_3.png" alt="Bobby Jackson"/>
										</div>
										<span class="student__name">Bobby Jackson</span>
									</a>
								</li>

								<li class="student ontarget">
									<div class="checkbox checkbox-primary">
										<input type="checkbox">
										<label></label>
									</div>
									<a href="#">
										<div class="student__img">
										<img class="img-circle" src="assets/img/student-img/stud_img_3.png" alt="Bobby Jackson"/>
									</div>
										<span class="student__name">Bobby Jackson</span>
									</a>
								</li>

								<li class="student ontarget">
									<div class="checkbox checkbox-primary">
										<input type="checkbox">
										<label></label>
									</div>
									<a href="#">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_3.png" alt="Bobby Jackson"/>
										</div>
										  <span class="student__name">Bobby Jackson</span>
									</a>
								</li>

								<li class="student struggling">
									<div class="checkbox checkbox-primary">
										<input type="checkbox">
										<label></label>
									</div>
									<a href="#">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_4.png" alt="Caly Miles"/>
										</div>
										<span class="student__name">Caly Miles</span>
									</a>
								</li>

								<li class="student remedial">
									<div class="checkbox checkbox-primary">
										<input type="checkbox">
										<label></label>
									</div>
									<a href="#">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_5.png" alt="Jema Stones"/>
										</div>
										<span class="student__name">Jema Stones</span>
									</a>
								</li>

								<li class="student struggling">
									<div class="checkbox checkbox-primary">
										<input type="checkbox">
										<label></label>
									</div>
									<a href="#">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_6.png" alt="Saul Millers"/>
										</div>
										<span class="student__name">Saul Millers</span>
									</a>
								</li>

								<li class="student struggling">
									<div class="checkbox checkbox-primary">
										<input type="checkbox">
										<label></label>
									</div>
									<a href="#">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_7.png" alt="Peter Parker"/>
										</div>
										<span class="student__name">Peter Parker</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="panel-footer text-center">
                <div class="text-right">
                  <button type="button" class="btn btn-background-none">Cancel</button>
                  <button type="button" class="btn btn-primary">Create</button>
                </div>
						</div>
					</div>
				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->
