<!-- Main navbar -->
<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main Sidebar -->
    <aside class="sidebar sidebar-main"></aside>
    <!-- /sidebar -->


    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Content area -->
      <div class="content">

        <!-- Student List Panel  -->
        <div class="panel panel-flat panel-student-profile" >
          <div class="panel-heading">
            <p><a href="teacher/dashboard" class="link link-gray-light"><i class="fa fa-arrow-left fa-2x"></i></a></p>
            <div class="row">
              <div class="col-md-6">
                <div class="media student-profile">
                  <div class="media-left">
                    <div class="student__img">
                      <img class="img-circle" src="{{profile_pic}}" alt="{{::student.first_name}} {{::student.last_name }}"/>
                    </div>
                    <p class="status">
                      <span class="gifted"><i class="fa fa-circle"></i> Gifted</span>
                    </p>
                  </div>
                  <div class="media-body">
                    <h3 class="student-name">{{::student.first_name}} {{::student.last_name }}
                      <small class="class">{{student_class}}</small>
                    </h3>
                    <p class="text-uppercase">Over a week </p>
                    <div class="time-spent">
                      <p>Time spent on platform</p>
                      <h1 class="time-value"><i class="fa fa-clock-o"></i> {{total_duration_in_hrs}} hrs</h1
                      <br>
                      <p>Average time spent by class</p>
                      <h1 class="time-value"><i class="fa fa-clock-o"></i> {{average_duration_in_hrs}}hrs</h1>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6" id="bar-chart" >
                <div class="container-progress-chart">
                  <!---<img src="assets/img/progress-chart-1.png" class="img-responsive" alt="Student Progress"/>-->
                  <canvas id="doughnut" class="chart chart-doughnut"
                          chart-data="stprogress_data" chart-labels="stprogress_labels" chart-colors="stprogress_colors" chart-options="stprogress_options" chart-dataset-override="datasetOverride">
                  </canvas> 
                </div>
                <!-- <div class="student-progress-allover">
                  <p class="text-uppercase">System recommended progress: <b>35%</b></p>
                  <p class="text-uppercase">Class average progress: <b>30%</b></p>
                </div> -->
              </div>
            </div>

            <h4 class="panel-title">Grade Analysis
              <select ng-model="selected_course" ng-options = "course.id as course.course_name for course in student_courses" class="form-control no-border input-sm select-subject">
              </select>
            </h4>
          </div>

          <!-- grade Analysis -->
          <div class="panel-body grade-analysis" id="doughnut-chart">
            <!--<img src="assets/img/chart-grade-analysis.png" class="img-responsive"/>-->
            <canvas id="line" class="chart chart-line ng-isolate-scope" chart-data="gradeAnalysis_data"  chart-colors="gradeAnalysis_gradeAnalysis_colors" chart-labels="gradeAnalysis_labels" chart-click="onClick" chart-hover="onHover" chart-series="series" chart-options="gradeAnalysis_options" chart-dataset-override="datasetOverride"></canvas>
          </div>


          <!-- Analysis -->
          <div class="panel-body tabs-analysis">
            <div class="row">
              <div class="tab-content tab-content-left col-sm-6">
                <h4 class="category-content text-uppercase no-margin">Needs Your Attention</h4>
                
                <ul id="myNav" class="nav nav-tabs-analysis row">
                  <li class="active" ng-repeat="atnRecord in strecords">
                      
                      <a data-toggle1="tab" ng-click="clickNeedAttention($index+1, atnRecord.course_id)">
                      <h5 class="nav__title">{{atnRecord.subject_name}} - <span>{{atnRecord.course_name}}</span> <span class="gifted status"><i class="fa fa-circle"></i></span></h5>
                      <h6>
                          <span><strong>Username:</strong> {{atnRecord.username}}</span>  
                          <span><strong>  Student Name:</strong> {{atnRecord.first_name +' '+atnRecord.last_name}} </span>
                      </h6>
                      <p class="nav__text">                        
                          <span><strong>Result On :</strong> {{atnRecord.quiz_type_name}}</span><br>
                          <span ><strong>Attempt :</strong> {{atnRecord.attempts}} OUT OF: {{atnRecord.attempts}} </span><br>
                          <span ><strong>Scored :</strong> {{atnRecord.score}} OUT OF: {{atnRecord.exam_marks}} </span><br>

                          <span ><strong>Scored(%) :</strong> {{ ((atnRecord.score/atnRecord.exam_marks)*100)|number :2 }} % </span>
                      </p>
                  </a>
                  </li>
                  <li ng-if="attention_message"><h5 style="color:green">{{attention_message}}</h5></li>                
                </ul>


                <h5 class="text-center"><a class="fa fa-2x fa-angle-down link link-gray-light"></a></h5>
              </div>

              <div class="tab-content tab-content-right col-sm-6">
                <div class="text-center">
               <!--    <ul class="list-inline list-filters">
                    <li>
                      <select class="form-control input-sm no-border">
                        <option value="Standard">Standard</option>
                      </select>
                    </li>
                    <li>
                      <select class="form-control input-sm no-border">
                        <option value="Subject">Subject</option>
                      </select>
                    </li>
                    <li>
                      <select class="form-control input-sm no-border">
                        <option value="Skills">Skills</option>
                      </select>
                    </li>
                  </ul> -->
                </div>

                  <!-- if records are present in Need Your attention block -->
              <div id="menu{{$index+1}}" class="tab-pane fade" ng-repeat="atnRecord in strecords" >               
                 <div class="analysis-chart-container" id="bar-chart">                   
                    <div class="container-progress-chart">                 
                      <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="colors" chart-options="options" chart-dataset-override="datasetOverride">
                      </canvas> 
                    </div>
                </div>
                  <div class="row">
                    <div class="text-center col-sm-8 col-sm-offset-2">
                      <button type="button" class="btn btn-danger btn-outline btn-block">Send auto-generated assignment</button>
                      <br>
                      
                      <a href="teacher/custom-assignment/{{atnRecord.grade_id}}/{{atnRecord.subject_name}}/{{atnRecord.subject_id}}" type="button" class="btn btn-default btn-outline btn-block">Create custom assignment</a>
                    </div>
                  </div>
              </div>

              <!-- if record is not present in Need Your attention block -->
              <div id="menu" class="tab-pane fade active in" ng-if="st_attention_message!='' " >              
                 <div class="analysis-chart-container" id="bar-chart">              
                    <div class="container-progress-chart">                 
                      <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="colors" chart-options="options" chart-dataset-override="datasetOverride">
                      </canvas> 
                    </div>
                </div>              
              </div>

         


              </div>
            </div>
          </div>

          <!-- bootstrap accordian  -->
            <div class="panel-group panel-group-subskills-report" id="accordian">
                <div class="panel  panel-flat" ng-repeat="stcourse in student_courses">
                    
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a id="sublink_{{$index+1}}" ng-click="clickAccordionSubject($index+1,stcourse.id)">{{stcourse.course_name}}</a>
                        </h4>
                    </div>


                    <div id="subjectblock_{{$index+1}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            
                            <!-- 1. if subject have any subskills -->
                            <div class="subskils-report-block {{stresult.subjectblock_class}}" ng-repeat="stresult in student_results">
                              
                              <!--1.1 if student is mastered in subskill quiz -->
                              <div class="row" ng-if="stresult.student_subskill_percentage >= mastered">
                                <div class="col-md-5">
                                  <div class="row">
                                    <div class="col-xs-6">
                                      <div class="row">
                                        <div class="col-xs-2 icon">
                                          <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-xs-9 subskills-name">
                                            <span>{{stresult.subskill_name}}</span>
                                            <span>{{stresult.skill_name}}</span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-xs-6 status" >
                                      <span>Completed</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="row">
                                    <div class="col-xs-8 rating">
                                      <p>Proficiency Level:<span>{{stresult.student_subskill_percentage/10}}/10</span></p>
                                    </div>
                                    <div class="col-xs-4">
                                      <a href="#" class="view_info" data-toggle="modal" data-target="#modal-viewSkills">View info</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <a href="teacher/custom-assignment/{{stresult.grade_id}}/{{stresult.subject_name}}/{{stresult.subject_id}}" class="btn btn-danger btn-rounded btn-block text-uppercase">Send assignment</a>
                                </div>
                              </div>

                              <!--1.2 if student is not mastered in subskill quiz -->
                              <div class="row" ng-if="stresult.student_subskill_percentage < mastered && stresult.student_subskill_percentage !=0">
                                <div class="col-md-7">
                                  <div class="row">
                                    <div class="col-sm-4 col-xs-6">
                                      <div class="row">
                                        <div class="col-xs-2 icon">
                                          <i class="fa fa-play-circle-o text-warning" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-xs-9 subskills-name">
                                            <span>{{stresult.subskill_name}}</span>
                                            <span>{{stresult.skill_name}}</span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="progress">
                                         <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"  aria-valuenow="{{stresult.student_subskill_percentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{stresult.student_subskill_percentage}}%; font-size: 12px;">
                                        {{stresult.student_subskill_percentage}}%
                                        </div>
                                      </div>
                                    </div>

                                    <div class="col-md-3">
                                  <a href="teacher/custom-assignment/{{stresult.grade_id}}/{{stresult.subject_name}}/{{stresult.subject_id}}" class="btn btn-danger btn-rounded btn-block text-uppercase">Send assignment</a>
                                </div>
                                  </div>
                                </div>
                              </div>

                              <!-- 1.3. if student is not started subskill quiz -->
                              <div class="row"  ng-if="stresult.student_subskill_percentage ==0">
                                <div class="col-md-7">
                                  <div class="row">
                                    <div class="col-sm-4 col-xs-6">
                                      <div class="row">
                                        <div class="col-xs-2 icon">
                                          <i class="fa fa-minus" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-xs-9 subskills-name">
                                            <span>{{stresult.subskill_name}}</span>
                                            <span>{{stresult.skill_name}}</span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-sm-8 col-xs-6 status">
                                      <span>not attempted yet</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!--2. if subject doesn't have any subskills -->
                            <div class="subskils-report-block" ng-if="st_skillresult_message !='' ">
                                <div class="row mesg" >{{st_skillresult_message}}</div>
                            </div> 

                        </div>
                    </div>
                </div>
                

            </div>
            <!-- bootstrap accordian -->

              
