	<!-- Main navbar -->
	<nav class="navbar navbar-default navbar-dashboard navbar-static-top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle sidebar-mobile-main-toggle" aria-expanded="false">
				<span class="sr-only">Menu</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="dashboard-dashboard.html"><img src="assets/img/logo_1.png" alt="" class="img-responsive"></a>
		</div>
		<div class="search_form">
			<div class="form-group has-feedback has-feedback-left">
				<input type="search" class="form-control" placeholder="Type here to search...">
				<div class="form-control-feedback"><i class="fa fa-search"></i><span class="sr-only">Search</span></div>
			</div>
		</div>
	</nav>
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main"></aside>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<!-- Student List Panel  -->
					<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title text-uppercase"><i class="icon icon-arrow-left"></i> My Class</h5>
							<div class="heading-elements">
									<ul class="list-inline heading-text list-filters">
										<li>
											<select class="form-control input-sm no-border">
												<option value="Standard">Standard</option>
											</select>
										</li>
										<li>
											<select class="form-control input-sm no-border">
												<option value="Subject">Subject</option>
											</select>
										</li>
										<li>
											<select class="form-control input-sm no-border">
												<option value="Skills">Skills</option>
											</select>
										</li>
										<li>
											<select class="form-control input-sm no-border">
												<option value="Sub Skills">Sub Skills</option>
											</select>
										</li>
										<li>
											<select class="form-control input-sm no-border">
												<option value="Time relevance">Time relevance</option>
											</select>
										</li>
									</ul>
							</div>
						</div>
						<div class="panel-body">
							<ul class="list-inline student_status_legend">
									<li class="gifted"><i class="fa fa-circle"></i>Gifted</li>
									<li class="outstanding"><i class="fa fa-circle"></i>Outstanding</li>
									<li class="ontarget"><i class="fa fa-circle"></i>On Target</li>
									<li class="struggling"><i class="fa fa-circle"></i>Struggling</li>
									<li class="remedial"><i class="fa fa-circle"></i>Remedial</li>
							</ul>
							<br>
							<ul class="row list-thumb student_list">
								<li class="student gifted">
									<a href="teacher/student-profile">
										<div class="student__img">
										<img class="img-circle" src="assets/img/student-img/stud_img_1.png" alt="Andrew Garfield"/>
									</div>
										<span class="student__name">Andrew Garfield</span>
									</a>
								</li>

								<li class="student outstanding">
									<a href="teacher/student-profile">
										<div class="student__img">
										<img class="img-circle" src="assets/img/student-img/stud_img_2.png" alt="Angelina Barnes"/>
									</div>
										<span class="student__name">Angelina Barnes</span>
									</a>
								</li>

								<li class="student ontarget">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_3.png" alt="Bobby Jackson"/>
										</div>
										<span class="student__name">Bobby Jackson</span>
									</a>
								</li>

								<li class="student ontarget">
									<a href="teacher/student-profile">
										<div class="student__img">
										<img class="img-circle" src="assets/img/student-img/stud_img_3.png" alt="Bobby Jackson"/>
									</div>
										<span class="student__name">Bobby Jackson</span>
									</a>
								</li>

								<li class="student ontarget">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_3.png" alt="Bobby Jackson"/>
										</div>
										  <span class="student__name">Bobby Jackson</span>
									</a>
								</li>

								<li class="student struggling">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_4.png" alt="Caly Miles"/>
										</div>
										<span class="student__name">Caly Miles</span>
									</a>
								</li>

								<li class="student remedial">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_5.png" alt="Jema Stones"/>
										</div>
										<span class="student__name">Jema Stones</span>
									</a>
								</li>

								<li class="student struggling">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_6.png" alt="Saul Millers"/>
										</div>
										<span class="student__name">Saul Millers</span>
									</a>
								</li>

								<li class="student struggling">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_7.png" alt="Peter Parker"/>
										</div>
										<span class="student__name">Peter Parker</span>
									</a>
								</li>

							</ul>
						</div>
						<div class="panel-footer text-center">
								<a class="link link-gray-dark" href="#">Show All</a>
						</div>
					</div>
					<!-- /student list panel  -->

					<!-- Student Gap Analysis Panel  -->
					<div class="well well-flat tabs-analysis">
						<div class="row">
							<div class="tab-content tab-content-left col-sm-6">
								<h4 class="category-content text-uppercase no-margin">Needs Your Attention</h4>
								<ul id="myNav" class="nav nav-tabs-analysis row">
									<li class="active">
										<a data-toggle="tab" href="#menu">
												<h5 class="nav__title">MATHS - <span>H.C.F & L.C.M</span> <span class="gifted status"><i class="fa fa-circle"></i></span></h5>
												<p class="nav__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do
												eiusmod tempor incididunt ut labore et dolore magna aliqua.
												Ut enim ad minim veniam,</p>
										</a>
									</li>
									<li>
										<a data-toggle="tab" href="#menu1">
											<h5 class="nav__title">MATHS - <span>H.C.F & L.C.M</span> <span class="outstanding status"><i class="fa fa-circle"></i></span></h5>
											<p class="nav__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do
											eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ut enim ad minim veniam,</p>
										</a>
									</li>
									<li>
										<a data-toggle="tab" href="#menu2">
											<h5 class="nav__title">MATHS - <span>H.C.F & L.C.M</span> <span class="ontarget status"><i class="fa fa-circle"></i></span></h5>
											<p class="nav__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do
											eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ut enim ad minim veniam,</p>
										</a>
									</li>
									<li>
										<a data-toggle="tab" href="#menu3">
											<h5 class="nav__title">MATHS - <span>H.C.F & L.C.M</span> <span class="struggling status"><i class="fa fa-circle"></i></span></h5>
											<p class="nav__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do
											eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ut enim ad minim veniam,</p>
										</a>
									</li>
								</ul>
								<h5 class="text-center"><a class="fa fa-2x fa-angle-down link link-gray-light"></a></h5>
							</div>

							<div class="tab-content tab-content-right col-sm-6">
								<div class="text-center">
									<ul class="list-inline list-filters">
										<li>
											<select class="form-control input-sm no-border">
												<option value="Standard">Standard</option>
											</select>
										</li>
										<li>
											<select class="form-control input-sm no-border">
												<option value="Subject">Subject</option>
											</select>
										</li>
										<li>
											<select class="form-control input-sm no-border">
												<option value="Skills">Skills</option>
											</select>
										</li>
									</ul>
								</div>
								<div id="menu" class="tab-pane fade in active">
									 <!-- remove below image in the case of using plugins -->
									 <div class="analysis-chart-container">
										<img src="assets/img/analysis_img_1.png" alt="" class="img-responsive"/>
									</div>
										<div class="row">
											<div class="text-center col-sm-8 col-sm-offset-2">
												<button type="button" class="btn btn-danger btn-outline btn-block">Send auto-generated assignment</button>
												<br>
												<button type="button" class="btn btn-default btn-outline btn-block">Create custom assignment</button>
											</div>
										</div>
								</div>

								<div id="menu1" class="tab-pane fade">
									<!-- remove below image in the case of using plugins -->
									<div class="analysis-chart-container">
									 <img src="assets/img/analysis_img_1.png" alt="" class="img-responsive"/>
								 </div>
									 <div class="row">
										 <div class="text-center col-sm-8 col-sm-offset-2">
											 <button type="button" class="btn btn-danger btn-outline btn-block">Send auto-generated assignment</button>
											 <br>
											 <button type="button" class="btn btn-default btn-outline btn-block">Create custom assignment</button>
										 </div>
									 </div>
								</div>

								<div id="menu2" class="tab-pane fade">
									<!-- remove below image in the case of using plugins -->
									<div class="analysis-chart-container">
									 <img src="assets/img/analysis_img_1.png" alt="" class="img-responsive"/>
									 </div>
									 <div class="row">
										 <div class="text-center col-sm-8 col-sm-offset-2">
											 <button type="button" class="btn btn-danger btn-outline btn-block">Send auto-generated assignment</button>
											 <br>
											 <button type="button" class="btn btn-default btn-outline btn-block">Create custom assignment</button>
										 </div>
									 </div>
								</div>

								<div id="menu3" class="tab-pane fade">
									<!-- remove below image in the case of using plugins -->
									<div class="analysis-chart-container">
										 <img src="assets/img/analysis_img_1.png" alt="" class="img-responsive"/>
									</div>

									 <div class="row">
										 <div class="text-center col-sm-8 col-sm-offset-2">
											 <button type="button" class="btn btn-danger btn-outline btn-block">Send auto-generated assignment</button>
											 <br>
											 <button type="button" class="btn btn-default btn-outline btn-block">Create custom assignment</button>
										 </div>
									 </div>
								</div>
							</div>

						</div>
					</div>
					<!-- /student gap analysis panel  -->

					<!-- group List Panel  -->
					<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title text-uppercase">My Groups</h5>
						</div>
						<div class="panel-body">
							<ul class="row list-thumb group_list">
								<li class="group">
									<a class="add__group" href="#">
										<img class="img-circle" src="assets/img/group-img/add_group_img.png" alt="Group Default"/>
										<span class="group__name">Add Group</span>
									</a>
								</li>
								<li class="group">
									<a href="#">
										<div class="group-thumb">
										<img class="img-circle" src="assets/img/group-img/group_img_placeholder.png" alt="Group Default"/>
									</div>
										<span class="group__name">Group Name with default Image</span>
									</a>
								</li>
								<li class="group">
									<a href="#">
										<div class="group-thumb">
										<img class="img-circle" src="assets/img/group-img/group_img_1.png" alt="Andrew Garfield"/>
									</div>
										<span class="group__name">Andrew Garfield</span>
									</a>
								</li>
								<li class="group">
									<a href="#">
										<div class="group-thumb">
										<img class="img-circle" src="assets/img/group-img/group_img_2.png" alt="Andrew Garfield"/>
									</div>
										<span class="group__name">Andrew Garfield</span>
									</a>
								</li>
								<li class="group">
									<a href="#">
										<div class="group-thumb">
										<img class="img-circle" src="assets/img/group-img/group_img_3.png" alt="Andrew Garfield"/>
									</div>
										<span class="group__name">Andrew Garfield</span>
									</a>
								</li>
								<li class="group">
									<a href="#">
										<div class="group-thumb">
											<img class="img-circle" src="assets/img/group-img/group_img_4.png" alt="Andrew Garfield"/>
										</div>
										<span class="group__name">Andrew Garfield</span>
									</a>
								</li>
								<li class="group">
									<a href="#">
										<div class="group-thumb">
										<img class="img-circle" src="assets/img/group-img/group_img_2.png" alt="Andrew Garfield"/>
									</div>
										<span class="group__name">Andrew Garfield</span>
									</a>
								</li>
								<li class="group">
									<a href="#">
										<div class="group-thumb">
										<img class="img-circle" src="assets/img/group-img/group_img_3.png" alt="Andrew Garfield"/>
									</div>
										<span class="group__name">Andrew Garfield</span>
									</a>
								</li>
								<li class="group">
									<a href="#">
										<div class="group-thumb">
											<img class="img-circle" src="assets/img/group-img/group_img_4.png" alt="Andrew Garfield"/>
										</div>
										<span class="group__name">Andrew Garfield</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- /group list panel  -->

					<!-- Planner Panel  -->
					<div class="panel panel-flat">
						<div class="panel-body no-padding">
							<img src="assets/img/addeventnew-img.jpg" alt="" class="img-responsive" style="width:100%"/>
						</div>
					</div>
					<!-- /planner panel  -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->

	

