	<!-- Main navbar -->
	<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top">
		
	</nav>
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main"></aside>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<!-- get a quote  Panel  -->
					<div class="panel panel-flat get-a-quote-panel">
						<div class="panel-body">
              <form action="select-children.html" class="form-login">
                <h5 class="text-uppercase"><i class="icon icon-arrow-left"></i> Your contact information</h5>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group float-label">
                      <label class="control-label">First Name</label>
                      <input type="text" class="form-control float-input" value="Jimmy"/>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group float-label">
                      <label class="control-label">Last Name</label>
                      <input type="text" class="form-control float-input" value="Gordon"/>
                    </div>
                  </div>
                </div>
                <div class="form-group float-label has-error has-feedback">
                  <label class="control-label">EMAIL ADDRESS</label>
                  <input type="text" class="form-control float-input" id="inputEmail" aria-describedby="inputEmailErrorStatus">
                  <div class="form-control-feedback"><i class="fa fa-close"></i></div>
                  <span id="inputEmailErrorStatus" class="help-block">Enter valid email</span>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group float-label">
                      <label class="control-label">Phone Number</label>
                      <input type="phone" class="form-control float-input" id="inputEmail">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group float-label has-success has-feedback">
                      <label class="control-label">Position</label>
                      <input type="text" class="form-control float-input">
                    </div>
                  </div>
                </div>
                <!-- contact information -->
                <h5 class="text-uppercase">Your school information</h5>
                  <div class="form-group float-label">
                    <label class="control-label">School Name</label>
                    <input type="text" class="form-control float-input" value="St. Stephens Convent School "/>
                  </div>
                  <div class="form-group float-label">
                    <label class="control-label">Street</label>
                    <input type="text" class="form-control float-input" value=""/>
                  </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group float-label">
                      <label class="control-label">city</label>
                      <select type="phone" class="form-control float-input">
                        <option value="Delhi">Delhi</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Uttarpardesh">Uttarpardesh</option>
                        <option value="Uttrakhand">Uttrakhand</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group float-label has-success has-feedback">
                      <label class="control-label">District</label>
                      <input type="text" class="form-control float-input">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group float-label">
                      <label class="control-label">City</label>
                      <select  class="form-control float-input">
                        <opiton value=""></option>
                        <option value="Delhi">Delhi</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Uttarpardesh">Uttarpardesh</option>
                        <option value="Uttrakhand">Uttrakhand</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group float-label">
                      <label class="control-label">Zip Code</label>
                        <input type="number" class="form-control float-input">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group float-label">
                      <label class="control-label">Country</label>
                      <select  class="form-control float-input" >
                        <opiton value=""></option>
                        <option value="Delhi">Delhi</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Uttarpardesh">Uttarpardesh</option>
                        <option value="Uttrakhand">Uttrakhand</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- school information -->
                <h5 class="text-uppercase">Your implementation</h5>
                  <div class="form-group float-label">
                    <label class="control-label">TYPE OF LICENCE</label>
                    <select  class="form-control float-input" >
                      <option value="Delhi">Delhi</option>
                      <option value="Haryana">Haryana</option>
                      <option value="Uttarpardesh">Uttarpardesh</option>
                      <option value="Uttrakhand">Uttrakhand</option>
                    </select>
                  </div>
                  <!-- implementation -->
                  <h5 class="text-uppercase">Select your Grades & Subjects</h5>
									<div class="subject-grade-section">
										<div class="btn-group grade-group" data-toggle="buttons">
											<!-- to show the selected or checked add class active to label as below-->
											<label class="btn active">
												<input type="checkbox" name="grade6" autocomplete="off" checked>
												<span class="grade"><span class="hidden-xs">grade</span> 6<sup>th</sup></span>
											</label>
											<label class="btn">
												<input type="checkbox" name="grade7" autocomplete="off">
												<span class="grade"><span class="hidden-xs">grade</span> 7<sup>th</sup></span>
											</label>
											<label class="btn">
												<input type="checkbox" name="grade8" autocomplete="off">
												<span class="grade"><span class="hidden-xs">grade</span> 8<sup>th</sup></span>
											</label>
											<label class="btn">
												<input type="checkbox" name="grade9" autocomplete="off">
												<span class="grade"><span class="hidden-xs">grade</span> 9<sup>th</sup></span>
											</label>
											<label class="btn">
												<input type="checkbox" name="grade10" autocomplete="off">
												<span class="grade"><span class="hidden-xs">grade</span> 10<sup>th</sup></span>
											</label>
											<label class="btn">
												<input type="checkbox" name="grade12" autocomplete="off">
												<span class="grade"><span class="hidden-xs">grade</span> 11<sup>th</sup></span>
											</label>
											<label class="btn">
												<input type="checkbox" name="grade12" autocomplete="off">
												<span class="grade"><span class="hidden-xs">grade</span> 12<sup>th</sup></span>
											</label>
										</div>
	                  <!-- grade_btn_group -->
										<div class="btn-group subject-group" data-toggle="buttons">
											<!-- to show the selected or checked add class active to label as below-->
											<label class="btn active">
												<input type="checkbox" name="math" autocomplete="off" checked>
												<span class="subject">Math</span>
											</label>
											<label class="btn">
												<input type="checkbox" name="english" autocomplete="off">
												<span class="subject">English</span>
											</label>
											<label class="btn">
												<input type="checkbox" name="science" autocomplete="off">
												<span class="subject">Science</span>
											</label>
											<label class="btn">
												<input type="checkbox" name="socialScience" autocomplete="off">
												<span class="subject">Social Science</span>
											</label>
										</div>
									</div>

									<div class="container-fluid">
										<div class="row">
											<div class="col-md-10 col-md-offset-1 selected-grades-subjects">
												<h3 class="text-gray-light">Your choosen grades and subjects</h3>
											</div>
										</div>
										<div class="row">
											<div class="col-md-10 col-md-offset-1 selected-grades-subjects">
												<div class="form-group">
													<label class="label-grade">Grade 6<sup>th</sup></label>
													<button type="button" class="btn btn-sm btn-link btn-remove"><i class="fa fa-trash position-left"></i> Remove</button>
													<div class="subjects-list">
														<span class="label label-subject">Maths <a class="link link-gray-light">X</a></span>
														<span class="label label-subject">Science <a class="link link-gray-light">X</a></span>
														<span class="label label-subject">English <a class="link link-gray-light">X</a></span>
														<span class="label label-subject">French <a class="link link-gray-light">X</a></span>
													</div>
												</div>
												<div class="form-group">
													<label class="label-grade">Grade 8<sup>th</sup></label>
													<button type="button" class="btn btn-sm btn-link btn-remove"><i class="fa fa-trash position-left"></i> Remove</button>
													<div class="subjects-list">
														<span class="label label-subject">Maths <a class="link link-gray-light">X</a></span>
														<span class="label label-subject">Science <a class="link link-gray-light">X</a></span>
														<span class="label label-subject">English <a class="link link-gray-light">X</a></span>
													</div>
												</div>
											</div>
										</div>
									</div>

                  <div class="row margin-top-20">
                    <div class="col-sm-6">
                      <div class="form-group float-label">
                        <label class="control-label">Number of Student</label>
                        <input type="number" class="form-control float-input">
                      </div>
                    </div>
                  </div>
                  <div class="form-group float-label">
                    <label class="control-label text-uppercase">comments for mlg</label>
                    <span class="optional-input">(optional)</span>
                    <textarea type="email" class="form-control float-input"></textarea>
                  </div>
                <br>
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-primary">Get a quote</button>
                </div>
              </form>
						</div>
            <!-- /panel-body -->
					</div>
					<!-- /get a quote  Panel  -->
				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->
