<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>	
<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
      <<aside class="sidebar sidebar-main"></aside>
			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<!-- Teacher Setting  Panel  -->
					<div class="panel panel-flat panel panel-scope-sequence">
						<div class="panel-heading padding-bottom-5">
							<h5 class="panel-title text-uppercase"><i class="icon icon-arrow-left"></i><span ng-repeat="skill in Skills">
                    <h4 class="hd">{{skill.name}}</h4>
                  </span></h5>
						</div>
						<div class="panel-body">
							<form class="form">
								<div class="row">
									<div class="col-lg-3 col-md-offset-9 margin-top-xs-10">
										<div class="row">
											<div class="col-lg-12 col-md-6">
												<div class="text-left">
													<button type="button" class="btn btn-block margin-sm-top-10 margin-bottom-10 btn-default btn-outline  text-uppercase border-color-gray-lighter" data-toggle="modal" data-target="#modal-ImportTemplate"><i class="icon icon-plus-outline margin-right-10"></i> Save Template</button>
												</div>
											</div>
											<div class="col-lg-12 col-md-6">
												<div class="text-left">
													<select class="mlg-selectpicker form-control"
                                  ng-model="templateModel" ng-init="templateModel=''" ng-change="getTemplate(templateModel)"
                                  ng-options="temp.id as temp.name for temp in templat track by temp.id" >
														 <option value="">APPLY TEMPLATE</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="scope-sequence-listing">
                  <span ng-repeat="skill in Skills">
                    <h4 class="hd">{{skill.name}}</h4>
                  </span>
								<p class="para">Hold and drag to change the order</p>
									<ul as-sortable="sortableOptions" data-ng-model="scopeSubSkills">
                    <li ng-repeat="subskill in scopeSubSkills" as-sortable-item>
											<div class="row" as-sortable-item-handle>
													<div class="col-lg-5">
														<div class="row">
															<div class="col-md-5">
															<h5 class="topic_name margin-sm-top-0"><i class="icon icon-drag"></i>{{subskill.name}}</h5>
															</div>
															<div class="col-md-7 text-right text-sm-left margin-sm-top-15">
															<h5>START DATE : {{subskill.start_date}}</h5>
															</div>
														</div>
													</div>
													<div class="col-lg-5 col-lg-offset-2">
														<div class="row">
															<div class="col-md-7">
															<h5 class="margin-sm-top-0">End DATE : {{subskill.end_date}}</h5>
															</div>
                              <div class="col-md-5 text-right text-sm-left margin-top-5">
																<div class="checkbox checkbox-switchery checkbox-inline switchery-sm switchery-double">
                                  <label>
                                  <input class="js-switch" type="checkbox" >
                                  <span class="off">OFF</span>
                                  <span class="switchery switchery-default {{subskill.course_id}}"ng-if="subskill.visibility == 1">
                                    <small></small>
                                  </span>
                                  <span class="switchery switchery-default off {{subskill.course_id}}" ng-if="subskill.visibility != 1">
                                  <small></small>
                                  </span>
                                  <span class="on">ON</span>
                                  </label>
																</div>
															</div>
														</div>
													</div>
												</div>
										</li>
								</ul>
								<div class="text-right text-sm-center">
                  <!--data-target="#modal-approvedQuestion"-->
									<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-addSkills"><i class="icon icon-plus-outline margin-right-10"></i> Add own Subskills</button>
								</div>
								</div>
							</form>
						</div>
						<div class="panel-footer">
							<div class="row">
								<div class="col-lg-3 col-md-6">
									<button type="button" class="btn btn-outline border-color-gray btn-default text-uppercase btn-block border-radius-0">Restore to Default</button>
									<div class="row margin-top-10">
										<div class="col-xs-6">
											<button type="button" class="btn btn-outline btn-default btn-block btn-print"><i class="icon icon-print margin-right-5"></i> Print</button>
										</div>
										<div class="col-xs-6">
											<button type="button" class="btn btn-outline btn-default btn-block btn-email"><i class="icon icon-mail margin-right-5"></i> eMail</button>
										</div>
									</div>
								</div>
								<div class="col-lg-9 col-md-6 margin-sm-top-10">
									<div class="col-lg-8  text-center text-md-right text-sm-center padding-md-right-0">
										<button type="button" class="btn btn-background-none padding-sm-left-0"><i class="icon icon-undo"></i> Undo</button>
										<button type="button" class="btn btn-background-none padding-sm-right-0"> Redo <i class="icon icon-redo"></i></button>
									</div>
									<div class="col-lg-4  text-right padding-right-0 text-sm-center margin-sm-top-10">
											<button type="button" class="btn btn-background-none">Cancel</button>
											<button type="button" class="btn btn-primary btn-preview" data-toggle="modal" data-target="#modal-SequencePreview">Preview</button>
									</div>
								</div>
							</div>
						</div>
            <!-- /panel-body -->
					</div>
					<!-- /Teacher Setting  Panel  -->
				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->

	<!-- modal section  -->
	<section class="">
		<!-- Modal -->
		<div id="modal-ImportTemplate" class="modal fade modal-saveTemplateAs" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-body">
		        <form class="form">
							<div class="form-group float-label">
								<label class="control-label">Template Name</label>
								<input type="text" class="form-control float-input" ng-model="frm.template_name"/>
							</div>
		        </form>
		      </div>
		      <div class="modal-footer border-top-0">
		        <button type="button" class="btn btn-background-none" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveScopeSubSkillTemplate(frm,'subSkill')">Save</button>
		      </div>
		    </div>

		  </div>
		</div>


		<div id="modal-addSkills" class="modal fade modal-importTemplate" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
					</div>
					<div class="modal-body">
						<input type="text" class="form-control" placeholder="Add Skills" ng-model="frm.newSubSkill">
					</div>
					<div class="modal-footer text-right border-0">
						<button type="button" class="btn btn-background-none" data-dismiss="modal">Close</button>
            <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="setNewSubSkill(frm)">Save</button>
					</div>
				</div>

			</div>
		</div>
		<!-- modal-SequencePreview -->
		<div id="modal-SequencePreview" class="modal fade modal-SequencePreview" role="dialog">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		       <div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
		       	<h5 class="modal-title">Sequence Preview</h5>
		       </div>
		      <div class="modal-body">
						<div class="content-cover">
							<div class="row repeat-row" ng-repeat="skill in Skills">
								<div class="heading" >
									<div class="row">
										<div class="col-md-6 col-sm-8 left-side">
											<h5>{{skill.name}}</h5>
										</div>
										<div class="col-md-6 col-sm-4 right-side">
											<span >Start date: {{skill.start_date}}</span>
											<span >End date: {{skill.end_date}}</span>
										</div>
									</div>
								</div>
								<ul class="connected-li-list" ng-repeat=" subskil in scopeSubSkills">
									<li ng-if="subskil.visibility == '1'">{{subskil.name}}</li>
								</ul>
							</div>
						</div>
		      </div>
		      <div class="modal-footer text-right border-0">
		        <button type="button" class="btn btn-background-none" data-dismiss="modal">Close</button>
						 <a href="teacher-addQuestion.html"><button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveScopeSubSkill()">Save Sequence</button></a>
		      </div>
		    </div>

		  </div>
		</div>
		<!-- modal-SequencePreview -->

		<!-- modal-approved-question -->
		<div id="modal-approvedQuestion" class="modal fade modal-approvedQuestion" role="dialog">
		  <div class="modal-dialog modal-lg">
		    <!-- Modal content-->
		    <div class="modal-content">
					<div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
						<h5 class="modal-title">Approved Questions</h5>
					</div>
		      <div class="modal-body">
						<table id="tableAllQuestions" class="table table-condenced table-teacherContent table-lessons">
							<thead>
								<tr>
									<th class="sr-no">#</th>
									<th class="title">Title</th>
									<th class="level">Level</th>
									<th class="type">Type</th>
									<th class="status">Status</th>
									<th class="actions">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr class="approved">
									<td class="sr-no">1</td>
									<td class="title">In the nuymber 7947949, which digit is in</td>
									<td class="level">Easy</td>
									<td class="type">Multiple Choice</td>
									<td class="status">Approved</td>
									<td class="actions">
										<button class="btn btn-link text-success"><i class="icon icon-tick"></i>Add</button>
									</td>
								</tr>
								<tr class="approved">
									<td class="sr-no">1</td>
									<td class="title">In the nuymber 7947949, which digit is in</td>
									<td class="level">Easy</td>
									<td class="type">Multiple Choice</td>
									<td class="status">Approved</td>
									<td class="actions">
										<button class="btn btn-link text-danger"><i class="icon icon-times"></i>Remove</button>
									</td>
								</tr>
							</tbody>
						</table>
		      </div>
		      <div class="modal-footer text-right border-0">
		        <button type="button" class="btn btn-background-none" data-dismiss="modal">Cancel</button>
						 <button class="btn btn-primary btn-add-skills" data-dismiss="modal"  data-toggle="modal" data-target="#modal-addSkills">Add Skill</button>
		      </div>
		    </div>
		  </div>
<!--			<script>
				var headertext = [],
				headers = document.querySelectorAll(".table-teacherContent th"),
				tablerows = document.querySelectorAll(".table-teacherContent th"),
				tablebody = document.querySelector(".table-teacherContent tbody");

				for(var i = 0; i < headers.length; i++) {
				  var current = headers[i];
				  headertext.push(current.textContent.replace(/\r?\n|\r/,""));
				}
				for (var i = 0, row; row = tablebody.rows[i]; i++) {
				  for (var j = 0, col; col = row.cells[j]; j++) {
				    col.setAttribute("data-th", headertext[j]);
				  }
				}

				$(document).ready(function(){
					$('[data-toggle="tooltip"]').tooltip();
				});

				$(window).load(function(){
						$(".modal-SequencePreview .modal-body").mCustomScrollbar();
        });
			</script>-->
		</div>
		<!-- modal-approved-question -->
	</section>
	<!-- modal section  -->
</body>
</html>
