
	<!-- Main navbar -->
	<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle sidebar-mobile-main-toggle" aria-expanded="false">
				<span class="sr-only">Menu</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="dashboard-dashboard.html"><img src="assets/img/logo_1.png" alt="" class="img-responsive"></a>
		</div>
		<div class="search_form">
			<div class="form-group has-feedback has-feedback-left">
				<input type="search" class="form-control" placeholder="Type here to search...">
				<div class="form-control-feedback"><i class="fa fa-search"></i><span class="sr-only">Search</span></div>
			</div>
		</div>
	</nav>
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main"></aside>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<div class="panel panel-flat panel-teacher-create-class ">
						<div class="panel-heading">
							<h5 class="panel-title text-uppercase">
								<div class="btn-group" role="group" aria-label="...">
									<button type="button" class="btn btn-default">
									Class 10<sup>th</sup>A - Maths</button>
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#">Clever</a></li>
										<li><a href="#">Student Information System</a></li>
									</ul>
								</div></h5>
								<div class="heading-elements">
									<ul class="padding-left-0 list-inline">
										<li class="toolbar-item">
											<div class="btn-group" role="group" aria-label="...">
												<button type="button" class="btn btn-default"><i class="icon icon-user"></i> Email Me</button>
											</div>
										</li>


										<li class="toolbar-item">
											<div class="btn-group" role="group" aria-label="...">
												<button type="button" class="btn btn-default" data-toggle="tooltip" title="Hooray!"><i class="icon icon-users"></i> Email Students</button>
											</div>
										</li>

										<li class="toolbar-item">
											<div class="btn-group" role="group" aria-label="...">
												<button type="button" class="btn btn-default"><i class="icon icon-upload"></i> Upload an excel sheet</button>
											</div>
										</li>

										<li class="toolbar-item">
											<div class="btn-group" role="group" aria-label="...">
											  <button type="button" class="btn btn-default">Select an X-tool</button>
												<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Clever</a></li>
													<li><a href="#">Student Information System</a></li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
						</div>
						<div class="panel-body">
							<div class="panel-toolbar responsive-md">

							</div>
							<table id="tableAllQuestions" class="table table-condenced table-teacherContent table-lessons" ng-controller="tableRow">
								<thead>
									<tr>
										<th class="sr-no" width="5%">#</th>
										<th class="last-name">Last Name</th>
										<th class="first-name">First Name</th>
										<th class="parent-student-email">Parent or Student E-mail</th>
										<th class="user-name">User Name</th>
										<th class="pasword">Pasword</th>
										<th class="actions">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="sr-no">1</td>
										<td class="last-name">Henston</td>
										<td class="first-name">Andrew</td>
										<td class="parent-student-email">andrew.henston@gmail.com</td>
										<td class="user-name">andrew.henston</td>
										<td class="pasword">andrew@123</td>
										<td class="actions">
											<button class="btn btn-link"><i class="fa fa-pencil"></i></button>
											<button class="btn btn-link"><i class="fa fa-trash"></i></button>
										</td>
									</tr>
									<tr ng-repeat="person in people">
										<td class="sr-no">{{person.id}}</td>
										<td class="last-name">{{person.Lname}}</td>
										<td class="first-name">{{person.Fname}}</td>
										<td class="parent-student-email">{{person.email}}</td>
										<td class="user-name">{{person.Uname}}</td>
										<td class="pasword">{{person.pass}}</td>
										<td class="actions">
											<button class="btn btn-link"><i class="fa fa-pencil"></i></button>
											<button class="btn btn-link" ng-click="removePerson($index)"><i class="fa fa-trash"></i></button>
										</td>

										<!--<td>
											<button type="button" ng-click="removePerson($index)">Remove Person</button>
										</td>-->
									</tr>

									<tr>
										<td class="classId"><input type="text" ng-model="id" placeholder="ID" ></td>
										<td><input type="text" ng-model="Lname" placeholder="Last Name" ></td>
										<td><input type="text" ng-model="Fname" placeholder="First Name" ></td>
										<td><input type="text" ng-model="email" placeholder="Email" ></td>
										<td><input type="text" ng-model="Uname" placeholder="User Name" ></td>	
										<td><input type="text" ng-model="pass" placeholder="Password" ></td>
										<td><button type="button" ng-click="addPerson()">Save</button></td>
									</tr>
								</tbody>
							</table>
							<a href="quick-start-guide.html"><span>Have questions?</span> <b><u>Quick-start Guide</u></b></a>
						</div>
					</div>
				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->




	<script>
		var headertext = [],
		headers = document.querySelectorAll(".table-teacherContent th"),
		tablerows = document.querySelectorAll(".table-teacherContent th"),
		tablebody = document.querySelector(".table-teacherContent tbody");

		for(var i = 0; i < headers.length; i++) {
		  var current = headers[i];
		  headertext.push(current.textContent.replace(/\r?\n|\r/,""));
		}
		for (var i = 0, row; row = tablebody.rows[i]; i++) {
		  for (var j = 0, col; col = row.cells[j]; j++) {
		    col.setAttribute("data-th", headertext[j]);
		  }
		}

	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();
	});
	</script>