
<!-- Main navbar -->
	<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>
		

	<!-- /main navbar -->

<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main"></aside>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">
					<!-- panel-report -->
					<div class="panel panel-flat panel-report">
						<div class="panel-heading">
							<h5 class="panel-title text-uppercase">proficiency</h5>
								<div class="heading-elements">
									<ul class="padding-left-0 list-inline">
										<li class="toolbar-item">
											Sort By <select class="mlg-selectpicker form-control" title="Sort By" data-width="auto" data-size="auto"
                            ng-model="sortModel"  ng-click="sortBy(sortModel)">

												 <option value="name">Student Name</option>
												 <option value="mastered">Mastered</option>
												 <option value="started">Started</option>
												 <option value="notstarted">Not Started</option>
												 <option value="gap">Area of Gaps</option>
											</select>
										</li>
										<li class="toolbar-item">
											<button type="button" class="btn btn-primary" onClick="window.print();">Print</button>
										</li>
									</ul>
								</div>
						</div>
						<div class="panel-body">
							<div class="panel-toolbar responsive-md">

							</div>
							<table id="tableAllQuestions" class="table table-condenced table-teacherContent table-report">
								<thead>
									<tr>
										<th class="standard">STANDARD</th>
                    <th class="student_name">STUDENT NAME</th>
										<th class="mastered">MASTERED (%)</th>
										<th class="started">STARTED (%)</th>
										<th class="not_started">NOT STARTED (%)</th>
										<th class="area_of_gaps">AREA OF GAPS</th>
									</tr>
								</thead>
								<tbody>
                  {{sort}}
									<tr ng-repeat="details in assisment | orderObjectBy:sortModel:true">
										<td class="standard">{{$index+1}}</td>
										<td class="studen_name">{{details.name}}</td>
										<td class="mastered">{{details.mastered}}%</td>
										<td class="started">{{details.started}}%</td>
										<td class="not_started">{{details.notstarted}}%</td>
                    <!--data-target="#modal-areaOfGaps"-->
										<td class="area_of_gaps" style="cursor:pointer" data-toggle="modal"ng-click="getStudentGap(details.id)" >{{details.gap}}</td>
									</tr>
								</tbody>
                <tfoot>
									<tr>
										<td class="table-pagination" colspan="7">
											<!--<span class="pull-left">Showing 1-10 of 50 entries</span>-->
											<ul class="pagination pagination-sm">
												<li class="{{preClass}}">
													<a ng-click="getPrevious('report')">
														<span aria-hidden="true">Previous</span>
													</a>
												</li>
                        <li ng-repeat="n in range(1,lastPage)">
													<a href="#{{n}}">{{n}}</a>
												</li>
												<li class="{{nexClass}}">
													<a aria-hidden="true" ng-click="getNext('report')">Next</a>
												</li>
											</ul>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					<!-- panel-report -->

					<!-- panel-area-of-gaps -->
					<div class="panel panel-flat panel-area-of-gaps">
						<div class="panel-heading">
							<h5 class="panel-title text-uppercase">area of gaps</h5>
								<div class="heading-elements">
									<div class="row filter-cover">
										<div class="col-lg-2 col-md-4 margin-sm-bottom-15">
											<div class="radio radio-primary radio-inline">
												<input type="radio" id="inlineRadio1"  value="all" name="GAP" ng-model="option" checked="">
												<label for="inlineRadio1" class="text-uppercase"> All Class</label>
											</div>
										</div>
										<div class="col-lg-5 col-md-4 margin-sm-bottom-15">
											<div class="row">
												<div class="col-sm-1 col-xs-2">
													<div class="radio radio-primary radio-inline margin-sm-top-10">
														<input type="radio" id="inlineRadio1" value="group" name="GAP" ng-model="option">
														<label></label>
													</div>
												</div>
												<div class="col-sm-10 col-xs-10">
													<select class="mlg-selectpicker form-control" title="Group"  data-size="auto"
                                ng-model="gapGroupModel" ng-init="gapGroupModel=''" ng-change="getGroup(gapGroupModel)"
                           ng-options="grp.id as grp.title for grp in groups" >
													 <option value="">Select Group</option>
												</select>
												</div>
											</div>
										</div>
										<div class="col-lg-5 col-md-4">
											<div class="row">
												<div class="col-sm-1 col-xs-2">
													<div class="radio radio-primary radio-inline margin-sm-top-10">
														<input type="radio" id="inlineRadio1" value="student" name="GAP"  ng-model="option">
														<label></label>
													</div>
												</div>
												<div class="col-sm-10 col-xs-10 padding-right-0 padding-sm-right-15">
													<select class="mlg-selectpicker form-control" title="people" data-width="auto" data-size="auto"
                                  ng-model="gapPeopleModel" ng-init="gapPeopleModel='' " ng-change="getPeople(gapPeopleModel)"
                                      ng-options="student.id as student.first_name+' '+student.last_name for student in students">
                          <option value="">Select People</option>
                          </select>
												</div>
											</div>
										</div>
									</div>
								</div>
						</div>
						<div class="panel-body">
							<div class="panel-toolbar responsive-md"></div>
							<table id="tableAllQuestions" class="table table-condenced table-teacherContent table-area-of-gaps">
								<thead>
									<tr>
										<th class="standard">STANDARD</th>
										<th class="student_name">SKILL NAME</th>
										<th class="mastered">SUBSKILLS <span>(Click tab to send  assignement)</span></th>
										<th class="started">NO OF STUDENTS LACKING</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="sgp in studentGap">
										<td class="standard" data-th="STANDARD">{{$index+1}}</td>
										<td class="skill_name" data-th="SKILLS NAME">{{sgp.skill_name}}</td>
										<td class="subskill" data-th="SUBSKILLS">
											<div class="subkills-cover" ng-repeat="sub in sgp.sub_skill ">
												<button type="button" class="btn btn-danger btn-outline" ng_click="generateAssignment(sgp.skill_id)">{{sub.sub_skill_name}}</button>
												<!--<button type="button" class="btn btn-danger btn-outline border-0">+5 more</button>-->
											</div>
										</td>
										<td class="no_of_students" data-th="NO OF STUDENTS LACKING">{{sgp.lack_student}}</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td class="table-pagination" colspan="7">
											<!--<span class="pull-left">Showing 1-10 of 50 entries</span>-->
											<ul class="pagination pagination-sm">
												<li class="{{preClass}}">
													<a ng-click="getPrevious('gap')">
														<span aria-hidden="true">Previous</span>
													</a>
												</li>
                        <li ng-repeat="n in range(1,endPage)">
													<a href="#{{n}}">{{n}}</a>
												</li>
												<li class="{{nexClass}}">
													<a aria-hidden="true" ng-click="getNext('gap')">Next</a>
												</li>
											</ul>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					<!-- panel-area-of-gaps -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->

	<!-- modal-section  -->
	<section class="modal-section">
		<!-- Modal content-->
		<div id="modal-areaOfGaps" class="modal fade modal-areaOfGaps" role="dialog">
			<div class="modal-dialog modal-lg">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
						<h4 class="modal-title">{{gapStudentName}} - AREA OF GAPS</h4>
					</div>
					<div class="modal-body">
						<table id="tableAllQuestions" class="table table-condenced table-teacherContent table-area-of-gaps">
							<thead>
								<tr>
									<th class="standard">STANDARD</th>
									<th class="student_name">SKILL NAME</th>
									<th class="mastered">SUBSKILLS <span>(Click tab to send  assignement)</span></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat=" skill in gapSkill">
									<td class="standard" data-th="STANDARD">1</td>
									<td class="skill_name" data-th="SKILLS NAME">{{skill.skill_name}}</td>
									<td class="subskill" data-th="SUBSKILLS">
                      <div class="subkills-cover" ng-repeat=" subskill in gapSubSkill" ng-if="skill.skill_id == subskill.parent_id">
                        <button type="button" class="btn btn-danger btn-outline"ng_click="generateAssignment(skill.skill_id)">{{subskill.sub_skill_name}}</button>
                        <!--<button type="button" class="btn btn-danger btn-outline border-0">+5 more</button>-->
                      </div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>



	<script>
		var headertext = [],
		headers = document.querySelectorAll(".table-teacherContent th"),
		tablerows = document.querySelectorAll(".table-teacherContent th"),
		tablebody = document.querySelector(".table-teacherContent tbody");

		for(var i = 0; i < headers.length; i++) {
		  var current = headers[i];
		  headertext.push(current.textContent.replace(/\r?\n|\r/,""));
		}
		for (var i = 0, row; row = tablebody.rows[i]; i++) {
		  for (var j = 0, col; col = row.cells[j]; j++) {
		    col.setAttribute("data-th", headertext[j]);
		  }
		}

	//$(document).ready(function(){
		// tooltip
	    $('[data-toggle="tooltip"]').tooltip();
			// mlg-selectpicker
			$('.mlg-selectpicker').selectpicker();
	//});
	</script>        