	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main">
				<ul class="nav sidebar_nav sidebar_nav-main">
					<li>
						<a href="teacher-dashboard.html"><i class="icon icon-my_class"></i><span class="link__text">My Class</span></a>
					</li>
					<li >
						<a href="teacher-subscription.html"><i class="icon icon-my_subscriptions"></i><span class="link__text">My Subscription</span></a>
					</li>
					<li >
						<a href="teacher-rewards.html"><i class="icon icon-my_rewards"></i><span class="link__text">My Rewards</span></a>
					</li>
					<li class="active">
						<a href="#teacherContent" data-toggle="collapse"><i class="icon icon-my_data"></i><span class="link__text">My Content</span></a>
						<ul id="teacherContent" class="sub-menu collapse in">
							<li>
								<a href="teacher-content-questions.html"><span class="link__text">Questions</span></a>
							</li>
							<li class="active">
								<a href="teacher-content-lessons.html"><span class="link__text">Lessons</span></a>
							</li>
						</ul>
					</li>
					<li>
						<a href="teacher-scope-sequence.html"><i class="icon icon-my_blueprinting_tool"></i><span class="link__text">scope and sequence</span></a>
					</li>
					<li>
						<a href="teacher-setting.html"><i class="icon icon-my_settings"></i><span class="link__text">My Setting</span></a>
					</li>
					<li>
						<a href="../index.html"><i class="icon icon-logout"></i><span class="link__text">Logout</span></a>
					</li>
				</ul>
			</aside>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<!-- Teacher Setting  Panel  -->
					<div class="panel panel-flat add-content-panel">
						<div class="panel-heading">
							<h5 class="panel-title"><a href="teacher-content-lessons.html" class="fa fa-arrow-left pull-left"></a> Add Lessons</h5>
							<div class="heading-elements">
								<select class="mlg-selectpicker form-control" title="Import Template" data-width="auto" data-size="auto">
									 <option>Approved</option>
									 <option>Not Approved</option>
									 <option>Submitted</option>
									 <option>Pending</option>
									 <option>Under review</option>
									 <option>Draft</option>
								</select>
							</div>
						</div>
						<div class="panel-body">
              <form class="form-horizontal">
								<div class="row repeat-row">
                  <div class="col-lg-5">
                    <div class="row">
                      <div class="form-group">
												<label for="" class="col-xs-5 control-label">Grade :</label>
	                      <div class="col-xs-7">
													<select class="mlg-selectpicker form-control" title="Sixth Grade" data-size="auto">
													 <option>---Select Grade---</option>
													  <option  ng-repeat="grade in level " value="{{grade}}">Grade {{grade}}</option>
													</select>
	                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2">
										<div class="row">
											<div class="form-group">
												<label for="" class="col-xs-5 control-label">Subject :</label>
												<div class="col-xs-7">
														<select class="mlg-selectpicker form-control" title="Mathematics" data-size="auto">
														 <option value="Subject">---Select Subject---</option>
                             <option  ng-repeat="course in subject" value="{{course}}">{{course}}</option>
													</select>
												</div>
											</div>
										</div>
                  </div>
                </div>
								<div class="row repeat-row">
                  <div class="col-lg-5">
                    <div class="row">
                      <div class="form-group">
												<label for="" class="col-xs-5 control-label">Assessment Target :</label>
	                      <div class="col-xs-7">
													<input type="number" class="form-control normal-input" value="Target 1"/>
	                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2">
										<div class="row">
											<div class="form-group">
												<label for="" class="col-xs-5 control-label">Secondary target :</label>
												<div class="col-xs-7">
														<input type="number" class="form-control normal-input"/>
													</select>
												</div>
											</div>
										</div>
                  </div>
                </div>
								<div class="row repeat-row">
                  <div class="col-lg-5">
                    <div class="row">
                      <div class="form-group">
												<label for="" class="col-xs-5 control-label">Claim :</label>
	                      <div class="col-xs-7">
													<select class="mlg-selectpicker form-control" title="Student can read" data-size="auto">
													 <option>Sixth Grade</option>
													 <option>Seventh Grade</option>
													 <option>Eight Grade</option>
													 <option>Nine Grade</option>
													 <option>Ten Grade</option>
													 <option>Eleventh Grade</option>
													 <option>Twelfth Grade</option>
													</select>
	                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2">
										<div class="row">
											<div class="form-group">
												<label for="" class="col-xs-5 control-label">Difficulty Level :</label>
												<div class="col-xs-7">
														<select class="mlg-selectpicker form-control" title="Moderate" data-size="auto">
                             <option>---Select Difficulity Level---</option>
														 <option value='easy'>Easy</option>
														 <option value='medium'>Medium</option>
                             <option value="difficult">Difficult</option>
													</select>
												</div>
											</div>
										</div>
                  </div>
                </div>
								<div class="row repeat-row">
                  <div class="col-lg-5">
                    <div class="row">
                      <div class="form-group">
												<label for="" class="col-xs-5 control-label">Lesson Name :</label>
	                      <div class="col-xs-7">
													<input type="number" class="form-control normal-input" value=""/>
	                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2">
										<div class="row">
											<div class="form-group">
												<label for="" class="col-xs-5 control-label">Depth of knowledge :</label>
												<div class="col-xs-7">
														<select class="mlg-selectpicker form-control" title="Select DOK" data-size="auto">
														 <option>Mathematics</option>
														 <option>Science</option>
														 <option>Social Science</option>
														 <option>History</option>
														 <option>Geography</option>
													</select>
												</div>
											</div>
										</div>
                  </div>
                </div>
								<div class="row repeat-row">
                  <div class="col-lg-5">
                    <div class="row">
                      <div class="form-group">
												<label for="" class="col-xs-5 control-label">Standards :</label>
	                      <div class="col-xs-7">
													<select class="mlg-selectpicker form-control" multiple title="select standards" data-size="auto">
													 <option>Sixth Grade</option>
													 <option>Seventh Grade</option>
													 <option>Eight Grade</option>
													 <option>Nine Grade</option>
													 <option>Ten Grade</option>
													 <option>Eleventh Grade</option>
													 <option>Twelfth Grade</option>
													</select>
	                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2">
										<div class="row">
											<div class="form-group">
												<label for="" class="col-xs-5 control-label">Skills :</label>
												<div class="col-xs-7">
														<select class="mlg-selectpicker form-control" title="Select skills" data-size="auto">
														 <option>Mathematics</option>
														 <option>Science</option>
														 <option>Social Science</option>
														 <option>History</option>
														 <option>Geography</option>
													</select>
												</div>
											</div>
										</div>
                  </div>
                </div>
								<h5>Enter Question statement below :</h5>
								<!-- summernotes  -->
								<div class="summernote">
									<h2>Apollo 11</h2>
									<div class="pull-right" style="margin-left: 20px;"><img alt="Saturn V carrying Apollo 11" class="right" src="http://c.cksource.com/a/1/img/sample.jpg"></div>

									<p><strong>Apollo 11</strong> was the spaceflight that landed the first humans, Americans <a href="#">Neil Armstrong</a> and <a href="#">Buzz Aldrin</a>, on the Moon on July 20, 1969, at 20:18 UTC. Armstrong became the first to step onto the lunar surface 6 hours later on July 21 at 02:56 UTC.</p>

									<p class="mb-15">Armstrong spent about <s>three and a half</s> two and a half hours outside the spacecraft, Aldrin slightly less; and together they collected 47.5 pounds (21.5&nbsp;kg) of lunar material for return to Earth. A third member of the mission, <a href="#">Michael Collins</a>, piloted the <a href="#">command</a> spacecraft alone in lunar orbit until Armstrong and Aldrin returned to it for the trip back to Earth.</p>

									<h5 class="text-semibold">Technical details</h5>

								</div>
								<!-- summernotes -->

              </form>
						</div>
						<div class="panel-footer text-center">
              <button type="button" class="btn btn-outline btn-default margin-right-10 margin-xs-top-10"><i class="icon icon-plus-outline margin-right-5"></i> SAVE AS TEMPLATE</button>
              <button type="button" class="btn  btn-primary margin-xs-top-10" data-toggle="modal" data-target="#modal-contentPreview">Preview</button>
						</div>
            <!-- /panel-body -->
					</div>
					<!-- /Teacher Setting  Panel  -->
				</div>
				<!-- /content area -->
			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->

	<section class="modal-section">
		<div id="modal-contentPreview" class="modal fade modal-contentPreview " role="dialog">
		  <div class="modal-dialog modal-lg">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
		        <h4 class="modal-title">Lesson Preview</h4>
		      </div>
		      <div class="modal-body ">
						<div class="table-cover">
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>GRADE</span>
								</div>
								<div class="col-md-9 table-cell">
									<p>Fifth Grade (5)</p>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>SUBJECT</span>
								</div>
								<div class="col-md-9 table-cell">
									<p>English & Language Arts (ela)</p>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>LESSON NAME</span>
								</div>
								<div class="col-md-9 table-cell">
									<p>Basic Grammer</p>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>LESSON NAME</span>
								</div>
								<div class="col-md-9 table-cell">
									<p>Basic Grammer</p>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>STANDARDS</span>
								</div>
								<div class="col-md-9 table-cell">
									<ul>
										<li>College & Career Readiness Anchor Standards for Reading</li>
										<li>Key Ideas & Details</li>
									</ul>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>Claim</span>
								</div>
								<div class="col-md-9 table-cell">
									<p>Students can produce effective & well-grounded writing for a rnage
									of purpose & audiences (produce effective and well ground writing)</p>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>DEPTH OF KNOWLEDGE</span>
								</div>
								<div class="col-md-9 table-cell">
									<p>Level 1 requires or recite facts or to use simple skills or abilities. Oral
									reading that does not include analysis of the text as well as basic
									comprehension of a text is included. Items require only a shallow
									understanding of text presented & often consist of verbatim recall from
									text or simple understanding of a single word or phase (Level 1)</p>
								</div>
							</div>
							<div class="row table-repeat-row">
								<div class="col-md-3 table-cell">
									<span>ASSESSMENT TARGET</span>
								</div>
								<div class="col-md-9 table-cell">
									<span>This is lessson.</span>
								</div>
							</div>
							<!-- <div class="question-block">
								<div class="row">
									<div class="col-md-12">
										<h5 class="ques">Q1.  What comes in between 14 __ 15.</h5>
									</div>
								</div>
								<div class="row option-block">
									<div class="col-md-7 margin-sm-bottom-10">
										<span class="ans"> A. 13 </span>
									</div>
									<div class="col-md-5 margin-sm-bottom-10">
										<span> A. 16 </span>
									</div>
								</div>
								<div class="row option-block margin-bottom-0 margin-sm-top-0">
									<div class="col-md-7 margin-sm-bottom-10">
										<span> C. 15 </span>
									</div>
									<div class="col-md-5 margin-sm-bottom-10">
										<span> D. 14 </span>
									</div>
								</div>
							</div> -->
							<iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
   width="100%" height="315" frameborder="0" allowfullscreen></iframe>
						</div>
		      </div>
		      <div class="modal-footer border-top-0 padding-top-0">
						<div class="text-center">
		        	<button type="button" class="btn btn-primary" data-dismiss="modal">Submit Question</button>
						</div>
		      </div>
		    </div>
		  </div>
		</div>
</section>

<script type="text/javascript">
	$(document).ready(function(){
		var owl = $(".img-ans-owl-carousel");
			owl.owlCarousel({
				margin: 20,
				nav: false,
				loop: false,
				responsive: {
					1000: {
						items: 6
					}
				}
			});
	})
</script>
