<!-- Main navbar -->
	<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main"></aside>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<!-- Areas of Focus Panel  -->
					<div class="panel panel-flat teacher-rewards">
						<div class="panel-heading">
							<h5 class="panel-title text-uppercase"><i class="icon icon-arrow-left"></i> ;My Rewards</h5>
							<div class="heading-elements">
								<h5 class="text-uppercase">Total points earned:- <b>600</b> Points </h5>
							</div>
						</div>
						<div class="panel-body parentRedeem-content">
							<ul class="media-list redeem-list">
							  <li class="media redeem-item">
							    <div class="media-left">
							        <img class="media-object coupon-img" src="assets/img/amazon-logo.png" alt="Get coupen worth $12 for 200points">
							    </div>
							    <div class="media-body media-middle">
							      <div class="row">
							        <div class="col-sm-7">
							          <h4 class="media-heading">10% discount on next quarter</h4>
							        </div>
							        <div class="col-sm-5">
							          <span class="points">200 points</span>
							        </div>
							      </div>
							    </div>
                  <div class="media-right">
                    <div class="media-btns">
                      <button type="button" data-toggle="modal" data-target="#modal-redeemcheck" class="btn btn-danger btn-rounded">Redeem</button>
                    </div>
                  </div>
							  </li>
                <li class="media redeem-item">
							    <div class="media-left">
							        <img class="media-object coupon-img" src="assets/img/amazon-logo.png" alt="Get coupen worth $12 for 200points">
							    </div>
							    <div class="media-body media-middle">
							      <div class="row">
							        <div class="col-sm-7">
							          <h4 class="media-heading">10% discount on next quarter</h4>
							        </div>
							        <div class="col-sm-5">
							          <span class="points">200 points</span>
							        </div>
							      </div>
							    </div>
                  <div class="media-right">
                    <div class="media-btns">
                      <a class="btn btn-danger btn-rounded">Redeem</a>
                    </div>
                  </div>
							  </li>
                <li class="media redeem-item">
							    <div class="media-left">
							        <img class="media-object coupon-img" src="assets/img/amazon-logo.png" alt="Get coupen worth $12 for 200points">
							    </div>
							    <div class="media-body media-middle">
							      <div class="row">
							        <div class="col-sm-7">
							          <h4 class="media-heading">10% discount on next quarter</h4>
							        </div>
							        <div class="col-sm-5">
							          <span class="points">200 points</span>
							        </div>
							      </div>
							    </div>
                  <div class="media-right">
                    <div class="media-btns">
                      <a class="btn btn-danger btn-rounded">Redeem</a>
                    </div>
                  </div>
							  </li>
                <li class="media redeem-item">
							    <div class="media-left">
							        <img class="media-object coupon-img" src="assets/img/amazon-logo.png" alt="Get coupen worth $12 for 200points">
							    </div>
							    <div class="media-body media-middle">
							      <div class="row">
							        <div class="col-sm-7">
							          <h4 class="media-heading">10% discount on next quarter</h4>
							        </div>
							        <div class="col-sm-5">
							          <span class="points">200 points</span>
							        </div>
							      </div>
							    </div>
                  <div class="media-right">
                    <div class="media-btns">
                      <a class="btn btn-danger btn-rounded">Redeem</a>
                    </div>
                  </div>
							  </li>
                <li class="media redeem-item">
							    <div class="media-left">
							        <img class="media-object coupon-img" src="assets/img/amazon-logo.png" alt="Get coupen worth $12 for 200points">
							    </div>
							    <div class="media-body media-middle">
							      <div class="row">
							        <div class="col-sm-7">
							          <h4 class="media-heading">10% discount on next quarter</h4>
							        </div>
							        <div class="col-sm-5">
							          <span class="points">200 points</span>
							        </div>
							      </div>
							    </div>
                  <div class="media-right">
                    <div class="media-btns">
                      <a class="btn btn-danger btn-rounded">Redeem</a>
                    </div>
                  </div>
							  </li>

							</ul>
						</div>
					</div>
					<!-- /student gap analysis panel  -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->


	<section class="modal-section">
		<div id="modal-redeemcheck" class="modal fade modal-redeemcheck" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><i class="icon icon-cross"></i></button>
						<h4 class="modal-title">&nbsp;</h4>
					</div>
					<div class="modal-body">
						<a href="teacher-autoGenerateAssignment.html" class='btn btn-outline btn-danger  btn-block'>Send Auto Generated Assignemt</a>
						<a href="teacher-createCustomAssignement.html" class='btn btn-outline  btn-default btn-block'>Create a custom assignment</a>
					</div>
				</div>
			</div>
				<!-- Modal content-->
