	<!-- Main navbar -->
	<top-search-bar class="navbar navbar-default navbar-dashboard navbar-static-top"></top-search-bar>
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main Sidebar -->
			<aside class="sidebar sidebar-main"></aside>
			<!-- /sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<!-- Student List Panel  -->
					<div class="panel panel-flat my-class">
						<div class="panel-heading">
							<h5 class="panel-title text-uppercase"><i class="icon icon-arrow-left"></i> My Class</h5>
							<div class="heading-elements">
									<ul class="list-inline heading-text list-filters">
										<li>
											<select class="form-control input-sm no-border">
												<option value="Standard">Standard</option>
											</select>
										</li>
										<li>
											<select class="form-control input-sm no-border">
												<option value="Subject">Subject</option>
											</select>
										</li>
										<li>
											<select class="form-control input-sm no-border">
												<option value="Skills">Skills</option>
											</select>
										</li>
										<li>
											<select class="form-control input-sm no-border">
												<option value="Sub Skills">Sub Skills</option>
											</select>
										</li>
										<li>
											<select class="form-control input-sm no-border">
												<option value="Time relevance">Time relevance</option>
											</select>
										</li>
									</ul>
							</div>
						</div>
						<div class="panel-body">
              <div class="row">
                <div class="col-md-8 col-sm-12 pull-right">
    							<ul class="list-inline student_status_legend">
    									<li class="gifted"><i class="fa fa-circle"></i>Gifted</li>
    									<li class="outstanding"><i class="fa fa-circle"></i>Outstanding</li>
    									<li class="ontarget"><i class="fa fa-circle"></i>On Target</li>
    									<li class="struggling"><i class="fa fa-circle"></i>Struggling</li>
    									<li class="remedial"><i class="fa fa-circle"></i>Remedial</li>
    							</ul>
                </div>
                <div class="col-md-4 col-sm-12 pull-left">
                  <select class="form-control input-sm no-border display-inline-block width-auto text-uppercase">
                    <option value="Subject">Short by</option>
                  </select>
                </div>
              </div>
							<br>
							<ul class="row list-thumb student_list">
								<li class="student gifted">
									<a href="teacher/student-profile">
										<div class="student__img">
										<img class="img-circle" src="assets/img/student-img/stud_img_1.png" alt="Andrew Garfield"/>
									</div>
										<span class="student__name">Andrew Garfield</span>
									</a>
								</li>

								<li class="student outstanding">
									<a href="teacher/student-profile">
										<div class="student__img">
										<img class="img-circle" src="assets/img/student-img/stud_img_2.png" alt="Angelina Barnes"/>
									</div>
										<span class="student__name">Angelina Barnes</span>
									</a>
								</li>

								<li class="student ontarget">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_3.png" alt="Bobby Jackson"/>
										</div>
										<span class="student__name">Bobby Jackson</span>
									</a>
								</li>

								<li class="student ontarget">
									<a href="teacher/student-profile">
										<div class="student__img">
										<img class="img-circle" src="assets/img/student-img/stud_img_3.png" alt="Bobby Jackson"/>
									</div>
										<span class="student__name">Bobby Jackson</span>
									</a>
								</li>

								<li class="student ontarget">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_3.png" alt="Bobby Jackson"/>
										</div>
										  <span class="student__name">Bobby Jackson</span>
									</a>
								</li>

								<li class="student struggling">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_4.png" alt="Caly Miles"/>
										</div>
										<span class="student__name">Caly Miles</span>
									</a>
								</li>

								<li class="student remedial">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_5.png" alt="Jema Stones"/>
										</div>
										<span class="student__name">Jema Stones</span>
									</a>
								</li>

								<li class="student struggling">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_6.png" alt="Saul Millers"/>
										</div>
										<span class="student__name">Saul Millers</span>
									</a>
								</li>

								<li class="student struggling">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_7.png" alt="Peter Parker"/>
										</div>
										<span class="student__name">Peter Parker</span>
									</a>
								</li>
                <li class="student struggling">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_7.png" alt="Peter Parker"/>
										</div>
										<span class="student__name">Peter Parker</span>
									</a>
								</li>
                <li class="student struggling">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_7.png" alt="Peter Parker"/>
										</div>
										<span class="student__name">Peter Parker</span>
									</a>
								</li>
                <li class="student struggling">
									<a href="teacher/student-profile">
										<div class="student__img">
											<img class="img-circle" src="assets/img/student-img/stud_img_7.png" alt="Peter Parker"/>
										</div>
										<span class="student__name">Peter Parker</span>
									</a>
								</li>

							</ul>
						</div>
						<div class="panel-footer text-center">
								<a class="link link-gray-dark" href="#">Show All</a>
						</div>
					</div>
					<!-- /student list panel  -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->
