.prelogin {
    font-family: 'Open Sans', sans-serif;
    background: none !important;
    min-height: 100vh;
    position: relative;
  .navigation {
      background: #162840;
    .navbar-default {
      @include padding(0px 15px);
      max-width: 1200px;
      @include respond-to(mobileMedium){
        @include padding(3px null 3px null);
        .navbar-toggle {
          border-color: $white;
        }
      }
      // navbar-brand
      .navbar-brand {
        color: $black;
        height: auto;
        font-size: 24px;
        font-weight: $bold;
        padding: 10px 15px;
        text-transform: uppercase;
          @include respond-to(mobileMedium){
            padding: 15px;
          }
          img {
            max-width: 75px;
          }
      }

      // navbar-collapse
      .navbar-collapse {
        @include respond-to(mobileMedium){
          padding: 0px;
        }
      }

      // navbar-nav
      .navbar-nav {
        @media screen and (min-width: $screen-sm-max){
            @include margin(0px null null 100px);
        }
        li {
            position: relative;
          a {
            color: #c7dbf4;
            font-size: 13px;
            @include padding(26px 10px);
            text-transform: uppercase;
            font-weight: $bold;
            &:hover {
              background: rgba($white,0.3);
            }
          }
          // active li
          &.active {
            a {
              background: transparent;
              color: #60d3e5;
              @media screen and (min-width:$screen-sm-max){
                background: rgba($white,0.3);
              }
            }
          }
          @include respond-to(mobileMedium){
            display: block;
            border: 0px;
            @include border-radius(0px);
            border-bottom: 1px solid $white;
            top: 0px;
            right: 0px;
          }
        }
          @include respond-to(mobileMedium){
            float: none;
            margin: auto;
          }
          &.navbar-right {
            @include margin(0px);
            li {
              @include padding(17px null 15px 7px);
              a {
                @include border-radius(100px);
                border: 2px solid  #60d3e5;
                @include padding( 8px 9px);
                @media screen and (min-width: $screen-sm-max){
                  @include padding( 8px 20px);
                }
                &:hover {
                  background: #60d3e5;
                }
              }
              &.active {
                a {
                  background: #60d3e5;
                  color: #162840;
                }
              }
              &:last-child {
                a {
                    @include border-width(0px);
                    @include padding(null 0px);
                    &:hover {
                      background: none;
                    }
                }
              }
            }
          }
       }

    }
  }

  // carousel
  .carousel {
    .carousel-inner {
      .item {
        img {
          min-width: 100%;
        }
        .img_info {
          background: rgba($Comet,0.85);
          color: $white;
          position: absolute;
          width: 100%;
          height: 140px;
          bottom: 0px;
          left: 0px;
          @include padding(17px 198px 32px 198px);
          @include respond-to(tabletPort){
            @include padding(22px 198px);
            height: 106px;
          }
          h4 {
            font-size: 30px;
            font-weight: $bold;
            color: $white;
            @include respond-to(tabletPort){
              font-size: 24px;
            }
          }
          p {
            color: $white;
            font-size: 20px;
            margin-top: 10px;
            line-height: 19px;
            @include respond-to(tabletPort){
              font-size: 16px;
            }
          }
          @include respond-to(mobileMedium){
            display: none;
          }
        }
      }
    }
    .carousel-control {
      .fa-angle-left, .fa-angle-right {
        font-size: 60px;
        top:45%;
        @include respond-to(tabletPort){
          font-size: 49px;
        }
        @include respond-to(mobileMedium){
          top: 36%;
        }
      }
      .fa-angle-left {
        left: 14%;
      }
      .fa-angle-right {
        right: 14%;
      }
    }
  }
  .main_content_section {
    @include respond-to(mobileMedium){
      padding-top: 50px;
    }
    .about_us {
      h1 {
        font-size: 36px;
        color: $mineShaft;
        margin-bottom: 60px;
        text-align: center;
        @include respond-to(mobileMedium){
          margin-bottom: 15px;
        }
      }
      p {
        color: $light-black;
        font-size: 22px;
        text-align: center;
        @include respond-to(mobileMedium){
          font-size: 16px;
        }
      }
    }
    .core_compitancy {
      padding-top: 60px;
      @include respond-to(mobileMedium){
        padding-top: 50px;
      }
      .thumbnail {
        background: none;
        border: 0px;
        padding: 0px;
        text-align: center;
        margin-bottom: 40px;
        h4 {
          color: $mineShaft;
          font-size: 14px;
          margin-top: 10px;
          font-weight: $bold;
          @include respond-to(mobileMedium){
            font-size: 23px;
            margin-top: 13px;
          }
        }
        p {
          color: $light-black;
          font-size: 15px;
          margin-top: 10px;
        }
      }
    }
    .feature_section {
      @include margin(50px null null null);
      >div {
      @media screen and (min-width: $screen-sm){
          padding-bottom: 160px;
      }
        @include respond-to(mobileMedium){
          padding-bottom: 50px;
          text-align: center;
        }
        &.teacher_feature {
          @include padding(null null 20px null);
        }
      h1 {
        font-size: 26px;
        color: $black;
        margin-top: 40px;
        font-weight: $bold;
      }
      p {
        font-size: 16px;
        margin-top: 20px;
        color: $light-black;
      }
      .learn_more {
        display:block;
        font-size: 14px;
        color: #4b6cb4;
        text-transform: uppercase;
        margin-top: 20px;
        @media screen and (max-width: $screen-sm){
          display: block;
          text-align: center;
          width: 100%;
        }
        @include padding(null null null 0px);
        }
      }
    }
    .testimonial_section {
      text-align: center;
      h4 {
        color: $black;
        font-size: 32px;
      }
      p {
        color: rgba($black,0.4);
        font-size: 32px;
        font-style: italic;
        margin-top: 28px;
        max-width: 815px;
        @include margin(null auto null auto);
        @include respond-to(mobileMedium){
          font-size: 24px;
        }
      }
      .testimonials_info {
        text-align: center;
        margin-top: 90px;
        .img_cover {
          @include border-radius(100%);
          width: 120px;
          height: 120px;
          border: 6px solid $dandelion;
          padding-top: 4px;
          margin: auto;
          img {
            @include border-radius(100%);
            width: 100px;
            height: 100px;
          }
        }
        .testimonial_name {
          color: rgba($black, 0.8);
          font-size: 20px;
          display: block;
          margin-bottom: 5px;
        }
        .testimonial_post {
          color: rgba($black,0.5);
          font-size: 20px;
          display: block;
        }
      }
        .owl-theme .owl-controls{
           position: absolute;
           top: 38%;
           width: 100%;
           opacity: 1;
           @include respond-to(mobileMedium) {
              top: 48%;
            }
         .owl-buttons div{
           width: 50px;
           height: 50px;
           line-height: 40px;
           background: transparent;
           border-radius: 0;
         }
        }
        .owl-prev{
           position: absolute;
           left: -3%;
        }
        .owl-next{
           position: absolute;
           right: -3%;
        }
        .owl-prev:after,
        .owl-next:after{
           content: "\f104";
           font-family: 'FontAwesome';
           font-size: 50px;
           color: #808080;
        }
        .owl-next:after{
           content: "\f105";
      }
    }
    .get_in_touch {
      padding-top: 160px;
      @include margin(null null 100px null);
      @media screen and (min-width: $screen-sm){
        @include margin(null null 220px null);
      }
      @include respond-to(mobileMedium){
        padding-top: 50px;
      }
      h1 {
        color: $black;
        font-size: 36px;
        text-align: center;
        margin-bottom: 90px;
        @include respond-to(mobileMedium){
          font-size: 26px;
          margin-bottom: 20px;
        }
      }
      .cover {
        max-width: 938px;
        margin: auto;
        @include box-shadow(0 0 16px rgba(0,0,0,0.4));
        @include border-radius(10px);
        h4 {
          font-size: 20px;
          font-weight: $bold;
          margin-bottom: 39px;
        }
        .form_cover {
            @include padding(41px 36px);
          h4 {
            color: $Comet;
            margin-bottom: 60px;
          }
          .form {
            position: relative;
            .form-group {
              position: relative;
              margin-bottom: 40px;
              &.focus {
                label {
                  top: -20px;
                }
              }
              label {
                color: rgba($Comet,1);
                font-size: 12px;
                font-weight: $light;
                position: absolute;
                left: 0px;
                top: 0px;
                text-transform: uppercase;
                @include transition(0.3s top);
              }
              .form-control {
                @include box-shadow(none);
                @include border-radius(0px);
                border:0px;
                border-bottom: 2px solid $alto;
                font-size: 20px;
                color: rgba($Comet,0.85);
                padding-left: 0px;
              }
            }
            .btn-send {
              @include box-shadow(0 0 16px rgba(0,0,0,0.4));
              color: $white;
              width: 60px;
              height: 60px;
              border: 0px;
              @include border-radius(100%);
              background: #162840;
              font-size: 30px;
              position: absolute;
              bottom: -30px;
              right: -30px;
              &:focus {
                outline: 0px;
              }
            }
          }
        }
        .detail_cover {
          @include border-radius(0px 10px 10px 0px);
          background: {
            image: url("../img/prelogin_img/contact-form-right-bg.png");
            size: 100% 100%;
            position: center center;
            color:#162840;
          }
          height: 100%;
          @include padding(41px 47px);
          @include respond-to(mobileMedium){
              @include border-radius(0px 0px 10px 10px);
              @include padding(41px 30px);
          }
          h4 {
            color: $white;
          }
          .details {
            li {
              display: block;
              margin-bottom: 28px;
              .fa ,span {
                color: rgba($white,0.4);
                font-size: 18px;
                display: inline-block;
              }
              span {
                color: $white;
                margin-left: 20px;
              }
            }
          }
          .map {
            width: 257px;
            height: 152px;
            margin: auto;
            margin-bottom: 41px;
          }
          .social_icon {
            text-align: center;
            @include margin(167px null null null);
            li {
              display: inline-block;
              &:not(:last-child){
                margin-right: 27px;
                @include respond-to(mobileMedium){
                  margin-right: 15px;
                }
              }
              a {
                display: block;
                color: $white;
                background: rgba($black,0.31);
                @include border-radius(100%);
                height: 45px;
                width: 45px;
                text-align: center;
                font-size: 30px;
                padding-top: 2px;
                &:hover {
                  background: $shamrock;
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
  }
  .footer {
    width: 100%;
    @include position(absolute,null null 0px 0px );
    margin-top: 187px;
    background: #162840;
    @include respond-to(mobileMedium){
      margin-top: 50px;
    }
    h4 {
      font-size: 20px;
      color: $white-65;
      text-transform: uppercase;
      font-weight: $bold;
      @include respond-to(mobileMedium){
        margin-top: 20px;
      }
    }
    ul {
      margin-top: 18px;
      li {
        display: block;
        margin-bottom: 5px;
        a {
          font-size: 18px;
          font-weight: $light;
          color: $white-65;
        }
      }
    }
    .company_tab_line {
      border-top: 1px solid rgba($white,0.3);
      @include padding(15px null 15px null);
      p {
        color: $white-65;
        font-size: 14px;
        font-weight: $light;
        @include respond-to(mobileMedium){
          text-align: center;
        }
        &.policy_line {
          text-align: right;
          @include respond-to(mobileMedium){
            text-align: center;
            margin-top: 15px;
          }
        }
      }
    }
  }
}


.featuer-carousel {
  .owl-nav {
    display: block !important;
    text-align: center;
    .owl-prev, .owl-next {
      display: inline-block;
      width: 15px;
      height: 15px;
      // @include box-shadow(inset 0px 0px 10px rgba(0,0,0,0.2));
      background: #afaeae;
      @include border-radius(100%);
      @include margin(15px 5px);
    }
  }

}

.comingsoon-img {
  display: block;
  @include margin(60px auto 30px auto);
  @media screen and (min-width: $screen-sm){
    @include margin(150px auto 30px auto);
  }
  max-width: 181px;
  opacity: 0.4;
  @media screen and (max-width: $screen-sm){
      max-width: 120px;
  }
}

.div-center {
  display: table;
  height: calc(100vh - 250px);
  width: 100vw;
  .table-row {
    display: table-row;
    .table-cell {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 30px;
    }
  }
}
