/* --- FORMS --- */

.form-control{
  color: $gray-base;
  //height: 36px;
  border-radius: $border-radius-small;
  box-shadow: none;
  &:not(.input-sm){
    font-size: $font-size-base + 2;
  }
  &.no-border{
    border-width: 0;
    &:focus, &:active{
      box-shadow: none;
    }
  }
}
.control-label{
  font-weight: $regular;
  color: $gray-light;
  .has-success &, .has-error &, .has-warning &{
    color: $gray-light;
  }
}
.form-group-inline{
  .control-label, .form-control{
    display: inline-block;
    width: auto;
  }
  >.form-control{
    margin-left: 8px
  }
  .float-label{
    display: inline-block;
    margin: 0
  }
}
// Input Floating labels Style
.float-label{
  position: relative;
  padding-top: 15px;

  .control-label{
    pointer-events: none;
    @include transition(all linear 0.1s);
    @include position(absolute, null null null null);

  }
  &.focus{
    .control-label{
      font-size: 12px;
      top: 0;
    }
  }
  &.has-feedback label ~ .form-control-feedback {
        top: 12px;
  }

  // On Success
  &.has-success{
    .form-control-feedback{
      color: $brand-primary;
    }
    .float-input{
      border-color: $input-border-color;
      color: $brand-primary;
    }
  }
}


.float-input{
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid $input-border-color;
  box-shadow: none;
  background-color: transparent;

  &:focus, &:active, &.active{
    border-color: $brand-primary;
    box-shadow: none;
    .has-success &, .has-error &, .has-warning &{
      box-shadow: none;
    }
  }
  .has-feedback{
    box-shadow: none;
  }
  .has-success &, .has-error &, .has-warning &{
    box-shadow: none;
  }
  .has-error &{
    border-color: $brand-danger;
    color: $brand-danger;
  }
  .has-warning &{
    border-color: $brand-warning;
    color: $brand-warning;
  }
}
.help-block{
  font-size: 12px;
}

.has-feedback-left{
  &.has-feedback{
    .form-control{
      padding-left: 42.5px;
      padding-right: 12px;
    }
    .form-control-feedback{
      left: 0;
      right: auto;
    }
  }
  &.float-label{
    .control-label{
      left: 42.5px;
    }
  }
}


// edited-input

.edited-input {
  @include padding(15px 0px 0px);
  @media screen and (max-width: $screen-sm){
    @include padding(0px);
  }
  .form-control {
    @include border-width(0px 0px 1px 0px);
    @include padding($mgl-tab-input-padding);
    background: none;
    @media screen and (max-width: $screen-sm){
      @include padding(null null null 0px);
    }
  }
  .input-group-addon {
    background: none;
    color: $brand-primary;
    @include border-width(0px 0px 1px 0px);
  }
}


// edited-input-group
.edited-input-group {
  @include border-width(0px 0px 1px 0px);
  @include border-style(solid);
  @include border-color($gray-lighter);
  margin: 0px !important;
  .control-label {
    color: $gray;
    font-size: ceil($font-size-base*1.14);
    text-align: left;
    @include margin(12px null null null);
  }
  .form-control {
    @include border-color(transparent);
    }
  .input-group-addon {
    @include border-color(transparent);
  }
}

// option-input
.form-group {
  .optional-input {
    color: $gray-light;
    position: absolute;
    top: 15px;
    right: 0px;
    text-transform: uppercase;
  }
}
