// Colors
$switch-default-color: #eeeeee !default;
$switch-primary-color: $brand-primary !default;
$switch-info-color: $brand-info !default;
$switch-success-color: $brand-success !default;
$switch-danger-color: $brand-danger !default;
$switch-warning-color: $brand-warning !default;
$switch-disabled-color: #d5d5d5 !default;
$slider-default-color: darken($switch-default-color, 10%) !default;
$slider-primary-color: lighten($switch-primary-color, 10%) !default;
$slider-info-color: lighten($switch-info-color, 10%) !default;
$slider-success-color: lighten($switch-success-color, 10%) !default;
$slider-danger-color: lighten($switch-danger-color, 10%) !default;
$slider-warning-color: lighten($switch-warning-color, 10%) !default;
$slider-disabled-color: lighten($switch-disabled-color, 5%) !default;

// Sizes
$slider-height: 16px !default;
$slider-width: $slider-height * 2 !default; // 32px
$switch-height: $slider-height * 1.5 !default; // 24px
$switch-width: $switch-height !default; // 24px
$switch-shift: $slider-height !default; // 8px

// Transitions
$transition-duration: .2s !default;
$transition-function: ease !default;
$transition: all $transition-duration $transition-function !default;

.switch-box {
  display: block;
  margin-top: $slider-height;
&.on-off-switch {
  .off {
    color: $gray-lighter;
  }
  .switch-box-slider {
    vertical-align: -webkit-baseline-middle;
    @include margin(null 24px null 24px);
  }
}
  &.label-left{
    .switch-box-label{
      float: left;
      margin-left: 0 !important;
      margin-right: $slider-height + 10;
      margin-bottom: 0;
    }
  }

  .switch-box-slider {
    position: relative;
    display: inline-block;
    height: $slider-height;
    width: $slider-width;
    background: $slider-default-color;
    border-radius: $slider-height;
    cursor: pointer;
    transition: $transition;

    &:after {
      position: absolute;
      left: -$switch-shift;
      top: ($slider-height - $switch-height) / 2;
      display: block;
      width: $switch-height;
      height: $switch-width;
      border-radius: 50%;
      background: $switch-default-color;
      box-shadow: 0px 2px 2px rgba(#000, .2);
      content: '';
      transition: $transition;
    }
  }

  .switch-box-input {
    display: none;

    ~ .switch-box-label {
      margin-left: $slider-height;
    }

    &:checked ~ .switch-box-slider {

      &:after {
        left: $slider-width - $switch-width + $switch-shift;
      }
    }

    &:disabled ~ .switch-box-slider {
      background: $slider-disabled-color;
      cursor: default;

      &:after {
        background: $switch-disabled-color;
      }
    }
  }

  &.is-primary {
    .switch-box-input:checked:not(:disabled) ~ .switch-box-slider {
      background: $slider-primary-color;

      &:after {
        background: $switch-primary-color;
      }
    }
  }

  &.is-info {
    .switch-box-input:checked:not(:disabled) ~ .switch-box-slider {
      background: $slider-info-color;

      &:after {
        background: $switch-info-color;
      }
    }
  }

  &.is-success {
    .switch-box-input:checked:not(:disabled) ~ .switch-box-slider {
      background: $slider-success-color;

      &:after {
        background: $switch-success-color;
      }
    }
  }

  &.is-danger {
    .switch-box-input:checked:not(:disabled) ~ .switch-box-slider {
      background: $slider-danger-color;

      &:after {
        background: $switch-danger-color;
      }
    }
  }

  &.is-warning {
    .switch-box-input:checked:not(:disabled) ~ .switch-box-slider {
      background: $slider-warning-color;

      &:after {
        background: $switch-warning-color;
      }
    }
  }
}


.onoffswitch {
    position: relative; width: 36px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 18px; padding: 0; line-height: 18px;
    border: 2px solid #E3E3E3; border-radius: 18px;
    background-color: #9D9D9D;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 18px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 16px;
    border: 2px solid #E3E3E3; border-radius: 18px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #006D25;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #006D25;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}
