.panel.awards_achieved {
  margin-top: 43px;
  .award_achived_block {
    .item {
      max-width: 190px;
      height: 250px;
      @include transition(.3s all);
      .btn-share {
        background: none;
        border: 1px solid $alto;
        display: none;
        margin-top: 11px;
      }
      &:hover {
          @include box-shadow(0 0 16px rgba(0,0,0,0.15));
        .btn-share {
          display: inline-block;
        }
        .gray_strip {
            margin-top: 18px;
        }
      }
    }
  }
  .img_cover {
    min-height: 85px;
  }
  .awward_img {
    display: block;
    max-width: 60px;
    margin: auto;
  }
  .gray_strip {
    display: block;
    margin: auto;
    max-width: 100%;
    margin-top: 20px;
  }
  .awwards_name {
    color: $dixie;
    font-size: 16px;
    font-family: $font-secondary;
    text-align: center;
    margin-top: 20px;
  }
}
