.boot_popup {
    max-width: 500px;
  .modal-header {
    border-bottom: 0px;
    .close {
      @include border-radius(100%);
      border: 0px solid $gray;
      width: 25px;
      height: 25px;
      text-align: center;
    }
  }
  .modal-body {
      padding-bottom: 37px;
    .___status_icon {
      background: $springGreen;
      @include border-radius(100%);
      display: block;
      color: $white;
      font-size: 30px;
      height: 70px;
      margin:auto;
      padding-top: 16px;
      text-align: center;
      width: 70px;
    }
    .___tag_line {
      color: rgba($black,.8);
      font-size: 16px;
      font-weight: $light;
      text-align: center;
    }
  }
  .modal-footer {
    border-color: $funBlue;
    border-width: 3px;
    background-color: $pictonBlue;
    @include padding(30px null 30px null);
    position: relative;
    text-align: center;
    &:before {
      background: $white;
      @include border-width(0px 2px 2px 0px);
      @include border-color(null $funBlue $funBlue null);
      @include border-style(solid);
      content: '';
      height: 20px;
      left: 48%;
      position: absolute;
      top: -11px;
      @include transform(rotate(45deg));
      width: 20px;
    }
    .btn {
      @include border-radius(3px);
      background: $funBlue;
      border: $funBlue;
      color: $white;
      @include padding(10px 78px 10px 78px);
    }
  }
}
