/* --- BUTTONS --- */

.btn{
  border-width: 0;
  @include padding(8px 15px);
  border-radius: 2px;
  &.btn-background-none {
    background: none;
  }
  &.btn-outline{
    &:not(:hover){
      background-color: transparent;
    }
    border-width: 1px;
    &.btn-danger:not(:hover){
      color: $brand-danger;
    }
    &.btn-success:not(:hover){
      color: $brand-success;
    }
    &.btn-info:not(:hover){
      color: $brand-info;
    }
    &.btn-warning:not(:hover){
      color: $brand-warning;
    }
  }
}
.btn-rounded{
  border-radius: 100px;
}

.icon{
    display: inline-block;
    border: 0;
    color: inherit;
    &.icon-success{
      background-color: $brand-success;
      color: white;
    }
}
.icon-rounded{
  border-radius: 100px;
}

.icon-float{
  @include padding(18px);
  i{
    display: block;
    margin: 0;
    top: 0;
  }
  &.float-lg{
    i{
      font-size: 32px;
    }
  }
}
