.home-carousel {
  @include position(fixed, 0px null null 0px);
  min-width: 100vw;
  .carousel-indicators {
    bottom: 38px;
    @media screen and (max-width: $screen-xs-max){
      bottom: 10px;
    }
  }
  .carousel-inner {
    position: relative;
    .item {
      height: 100vh;
      overflow: hidden;
      width: 100vw;
        img {
          min-width: 100vw;
          max-width: inherit;
          height: auto;
          width: auto;
          min-height: 100vh;
          @media screen and (min-height: $screen-md) and (max-width: 1366px){
            width: auto;
            min-width: inherit;
            max-width: inherit;
            height: 100vh;
            @include margin(null null null -68vw);
          }
          @media screen and (max-width: $screen-sm){
            width: auto;
            min-width: inherit;
            max-width: inherit;
            height: 100vh;
            @include margin(null null null -68vw);
          }
          @media screen and (max-width: $screen-xs-max){
            @include margin(null null null -100vw);
          }
        }
    }

  }
  // carousel-caption
  .carousel-caption {
    font-family: $font-tertiary;
    h1 {
      font-size: 16px;
      text-transform: uppercase;
      @media screen and (min-width: $screen-sm){
        font-size: 32px;
        font-weight: $ultrabold;
        @include margin(null null 34px null);
        letter-spacing: 1px;
      }
    }
    p {
      font-size: 12px;
      @include margin(0px null null null);
      line-height: 26px;
      @media screen and (min-width: $screen-sm){
        font-size: 20px;
      }
      @media screen and (min-width: $screen-sm-max){
        @include margin( null null 45px null);
      }
      @media screen and (max-width: $screen-sm){
        line-height:  20px;
      }
      span {
        display: block;
        @media screen and (max-width: $screen-sm){
          display: inline;
        }
      }
    }
    .btn {
      background: #f75f18;
      @include border-color(#f75f18);
      @include border-radius(5px);
      color: $white;
      font-size: 10px;
      @include padding(8px 25px);
      text-transform: uppercase;
      @media screen and (min-width: $screen-sm){
        @include padding(12px 94px);
        font-size: 18px;
      }
    }
  }


  // carousel
  .carousel {
    .carousel-inner {
      .item {
        img {
          min-width: 100%;
        }
        .img_info {
          background: rgba(22,40,64,0.85);
          color: $white;
          position: absolute;
          width: 100%;
          height: 140px;
          bottom: 0px;
          left: 0px;
          @include padding(37px 198px 32px 198px);
          @include respond-to(tabletPort){
            @include padding(22px 76px);
            height: 106px;
          }
          @media screen and (max-width: $screen-xs-max){
            padding: 0px 15px 0px !important;
          }
          h4 {
            font-size: 30px;
            font-weight: $bold;
            color: $white;
            @include respond-to(tabletPort){
              font-size: 24px;
            }
          }
          p {
            color: $white;
            font-size: 20px;
            margin-top: 10px;
            line-height: 19px;
            @include respond-to(tabletPort){
              font-size: 16px;
            }
          }
          @include respond-to(mobileMedium){
            @include padding(15px);
            height: 89px;
            h4 {
              font-size: 17px;
            }
          }
        }
      }
    }
    .carousel-control {
      .fa-angle-left, .fa-angle-right {
        font-size: 60px;
        top:39%;
        position: absolute;
        @include respond-to(tabletPort){
          font-size: 49px;
        }
        @include respond-to(mobileMedium){
          top: 36%;
        }
      }
      .fa-angle-left {
        left: 14%;
      }
      .fa-angle-right {
        right: 14%;
      }
    }
  }
}
