.edited-block {
  @include padding(15px null null 15px);
  @media screen and (min-width: $screen-sm){
      @include padding(24px null null 15px);
  }
  position: relative;
  .fa-arrow-left {
    color: $gray-light;
    font-size: 20px;
    @include position(absolute, 30px null null 15px);
    @media screen and (min-width: $screen-sm){
        @include position(absolute, 55px null null 30px);
    }
  }
  ul {
    list-style: none;
    @include padding(null null  null 0px);
    text-align: center;
    li {
      display: inline-block;
      vertical-align: middle;
      .icon {
        margin-left: 15px;
      }
      .group-name {
        background: none;
        @include border-width(0px 0px 0px 0px);
        font-family: $font-secondary;
        font-weight: $bold;
        color: $gray-light;
        font-size: 20px;
        margin-left: 21px;
      }
    }
  }
}
