/* --- Panels --- */
.panel{

  &-flat{
    box-shadow: 0 0 20px rgba($gray-dark, 0.10);
    border: 0;
    @include margin(null null 40px null);
    .panel-heading{
      position: relative;
      @include padding($content-padding-base $content-padding-large);
      @media(max-width: $screen-xs){
        @include padding($content-padding-base $content-padding-base);
      }
      &::before{
        content: '';
        height: 1px;
        background-color: $gray-lighter;
        @include position(absolute, null $content-padding-large 0 $content-padding-large);
        @media(max-width: $screen-xs-max){
          left: $content-padding-base;
          right: $content-padding-base;
        }
      }
    }
    .panel-body{
      @include padding($content-padding-base $content-padding-large);
      @media(max-width: $screen-xs){
        @include padding($content-padding-base $content-padding-base);
      }
    }

    .panel-footer{
      background-color: transparent;
      border: 0;
      position: relative;
      @include padding($content-padding-base $content-padding-large);
      @media(max-width: $screen-xs){
        @include padding($content-padding-base $content-padding-base);
      }
      &::before{
        content: '';
        height: 1px;
        background-color: $gray-lighter;
        @include position(absolute, 0 $content-padding-large null $content-padding-large);
        @media(max-width: $screen-xs-max){
          left: $content-padding-base;
          right: $content-padding-base;
        }
      }
    }
  }


  &.panel-empty {
    .heading-elements {
      select[disabled] {
        background: none;
        color: #eee;
        @media screen and (min-width: $screen-sm){
          color: lighten($gray, 60%);
        }

      }
    }
    .panel-body
      .hd {
        text-align: center;
        font-size: 24px;
        font-weight: $thin;
        span {
          display: block;
        }
      }
      .btn {
        .icon {
          @include margin(null 10px null null);
        }
      }
  }
}


// Heading elements base
.heading-elements {
    display: block;
    min-width: 200px;
    @include margin(($input-height-base / 2) null null null);

    @media (min-width: $screen-md-min) {
      background-color: inherit;
      position: absolute;
      top: 50%;
      right: $grid-gutter-width;
      height: $input-height-base;
      margin-top: -($input-height-base / 2);
    }

    .list-inline{
      margin-bottom: 0;
    }

    // Make them visible starting from tablet
    @media (min-width: $screen-md-min) {

        // Make them inline
        .heading-text,
        > .btn-group {
            float: left;
            margin-left: $content-padding-large;
        }

        // Heading text
        .heading-text {
            display: inline-block;

            & + .heading-text {
                margin-left: $content-padding-large;
            }
        }
      }

    // search and edit box
    .search-box {
      .form-control {
        @include border-color(transparent transparent null transparent);
        @include border-radius(0px);
        &:focus {
          outline: 0px;
          @include box-shadow(none);
          @include border-color(transparent transparent $brand-primary transparent);
        }
      }
      .input-group-addon {
        background: transparent;
        @include border-color(transparent);
        &:hover, &:focus , &:active {
          outline: 0px;
          background: transparent;
        }
      }
    }
}
