/* --- Panels --- */
.panel{

  &-flat{
    box-shadow: 0 0 20px rgba($gray-dark, 0.10);
    border: 0;
    &-flat {
      @media screen and (min-width: $screen-lg){
        @include margin(null null 47px null);
      }
    }
    @include margin(null null 40px null);
    .panel-heading{
      position: relative;
      @include padding($content-padding-base $content-padding-large $content-padding-base/2);
      @media(max-width: $screen-xs){
        @include padding($content-padding-base $content-padding-base null);
      }
      &:after {
        content: " "; // 1
        clear: both;
        display: table; // 2
      }
      &::before{
        content: '';
        height: 1px;
        background-color: $gray-lighter;
        @include position(absolute, null $content-padding-large 0px $content-padding-large);
        @media(max-width: $screen-xs-max){
          left: $content-padding-base;
          right: $content-padding-base;
        }
      }
      .panel-title {
        @include margin(10px null null null);
        font-weight: $semibold;
        text-align: center;
        text-transform: uppercase;
        .icon-arrow-left {
          float: left;
          @include margin(null 15px null null);
          vertical-align: bottom;
          @media screen and (min-width: $screen-sm-max){
            float: none;
          }
        }
        @media screen and (min-width: $screen-sm-max){
          float: left;
          text-align: left;
        }
      }
    }
    .panel-body{
      @include padding($content-padding-base $content-padding-large);
      @media(max-width: $screen-xs){
        @include padding($content-padding-base $content-padding-base);
      }
    }

    .panel-footer{
      background-color: transparent;
      border: 0;
      position: relative;
      @include padding($content-padding-base $content-padding-large);
      @media(max-width: $screen-xs){
        @include padding($content-padding-base $content-padding-base);
      }
      &::before{
        content: '';
        height: 1px;
        background-color: $gray-lighter;
        @include position(absolute, 0 $content-padding-large null $content-padding-large);
        @media(max-width: $screen-xs-max){
          left: $content-padding-base;
          right: $content-padding-base;
        }
      }
    }
  }


  &.panel-empty {
    .heading-elements {
      select[disabled] {
        background: none;
        color: #eee;
        @media screen and (min-width: $screen-sm){
          color: lighten($gray, 60%);
        }

      }
    }
    .panel-body
      .hd {
        text-align: center;
        font-size: 24px;
        font-weight: $thin;
        span {
          display: block;
        }
      }
      .btn {
        .icon {
          @include margin(null 10px null null);
        }
      }
  }
  &-accordion {
    .panel {
      @include border-width(0px);
      @include border-radius(0px);
      .panel-heading {
        @include padding(0px);
        background: none;
        &:before {
          display: none;
        }
        .panel-title {
          @include margin(0px null null null);
          float: none;
          a {
            @include padding(15px 20px 15px 0px);
            display: block;
            text-decoration: none;
            font-size: 18px;
            text-transform: none;
            color: rgba($gray-dark,0.6);
            font-weight: 700;
            @media screen and (max-width: $screen-xs-max){
              @include padding(null 15px null null);
            }
            &.collapsed {
              font-weight: normal;
              color: rgba($gray-dark,0.5);
              &:before {
                @include transform(rotate(-90deg));
                font-weight: normal;
                color: rgba($gray,0.7);
              }
            }
            // collapsed condition
            &:hover {
              color: rgba($gray-dark,0.6);
            }
            &:before {
              font-family: 'Glyphter';
              @include position(absolute, 18px 15px null null);
              color: $gray-dark;
              font-weight: $bold;
              font-size: 12px;
              @include transition(all .2s linear);
              @media screen and (max-width: $screen-xs-max){
                right: 0px;
              }
            }
            // icon-down-arrow
          }
        }
        // panel-title
      }
      // panel-heading
      .panel-body {
        @include padding(15px 10px null 10px);
        font-size: 16px;
        color: rgba($gray,0.7);
        font-weight: normal;
      }
      // panel-body
    }
  }
}


// Heading elements base
.heading-elements {
    display: block;
    min-width: 200px;
    @include margin(($input-height-base / 2) null null null);

    .btn {
      font-family: $font-primary;
    }

    text-align: center;
    @media (min-width: $screen-sm-max) {
      background-color: inherit;
      text-align: right;
      display: inline-block;
      min-width: 320px;
      @include margin(0px null null null);
      float: right;
    }
    // filter list
    .list-filters {
      text-align: center;
      @media screen and (min-width: $screen-sm-max){
        text-align: right;
      }
      li {
        @media screen and (max-width: $screen-xs-max){
          display: block;
          .btn {
            display: block;
            width: 100%;
          }
          @include margin(null null 10px null);
        }
      }

      // bootstrap-select
      .bootstrap-select {
        @media screen and (min-width: $screen-lg){
          width: 156px !important;
        }
        @media screen and (max-widht: $screen-xs-max){
          max-height: 41px;
        }
        @media screen and (max-width: $screen-xs-max){
          .dropdown-menu {
            position: relative;
            float: none;
            @include box-shadow(none);
            @include margin(-10px null null null);
          }
        }
      }

      // list-filter without background
      &.background-bd-none {
        .bootstrap-select {
          .btn {
            background: transparent;
            @include border-width(0px);
            &:focus, &:active {
              outline: 0px;
            }
            .bs-caret {
              @include border-width(0px);
              background: transparent;
            }
          }
        }
      }
    }


    .list-inline{
      margin-bottom: 0;
    }

    // Make them visible starting from tablet
    @media (min-width: $screen-md-min) {

        // Make them inline
        .heading-text,
        > .btn-group {
            float: left;
            margin-left: $content-padding-large;
        }

        // Heading text
        .heading-text {
            display: inline-block;

            & + .heading-text {
                margin-left: $content-padding-large;
            }
        }
      }

    // search and edit box
    .search-box {
      .form-control {
        @include border-color(transparent transparent null transparent);
        @include border-radius(0px);
        &:focus {
          outline: 0px;
          @include box-shadow(none);
          @include border-color(transparent transparent $brand-primary transparent);
        }
      }
      .input-group-addon {
        background: transparent;
        @include border-color(transparent);
        &:hover, &:focus , &:active {
          outline: 0px;
          background: transparent;
        }
      }
    }
}
