label{
  margin-right: 10px;
  input[type="radio"],input[type="checkbox"]{
    vertical-align: sub;
  }
  span {
    display: inline-block;
    vertical-align: bottom;
  }
}

/* custom radio button */
.radio-proceed {
	display: none !Important;
& + .radio-btn {
	background: {
		image: url(../img/btn-icons.png);
		position: -125px -5px;
	}
  &+ span {
    color: rgba($black,0.7);
    font-size: 16px;
    text-transform: capitalize;
  }
&.checked {
	background-position: -155px -5px;
  & + span {
    color: $black;
  }
}
  cursor: pointer;
	display: inline-block;
	height: 20px;
    margin: 0px;
	margin-right: 5px;
	vertical-align: middle;
    width: 20px;
 }
}
/* custom radio button */


/* custom checkbox button */
.checkbox-proceed {
	display: none !Important;
& + .checkbox-btn {
	background: {
		image: url(../img/btn-icons.png);
		position: -5px -5px;
	}
&.checked {
	background-position: -35px -5px;
}
    cursor: pointer;
	display: inline-block;
	height: 20px;
    margin: 0px;
	margin-right: 5px;
	vertical-align: middle;
    width: 20px;
 }
}
/* custom checkbox button */
