
$analysis-nav-border-color: $gray-lighter;


.tabs-analysis{
  .tab-content{
    vertical-align: top;
    @media (min-width: $screen-sm){
      display: table-cell;
      float: none;
    }
    &-right{
      //@include padding(20px null);
      .tab-pane{
        @include padding(20px);
      }
    }
  }

  .nav__title{
    text-transform: uppercase;
    font-weight: $bold;
    color: $gray-light;
    span{
      color: $gray-dark;
    }
  }
}

.nav-tabs-analysis{
  @include box-shadow(inset -9px 0px 24px rgba(105, 101, 101, 0.15));
  border-bottom: 0;
  li{
    display: block;
    position: relative;
    width: 100%;
    &:not(:last-child){
      border-bottom: 1px solid $analysis-nav-border-color;
    }
    a{
      display: block;
      color: $gray-light;
      &:hover{
        background-color: transparent;
      }
    }
    .nav__text{
      font-size: $font-size-base;
      @media(max-width: $screen-xs){
        display: none;
      }
    }
    &.active{
      border-left-color: $brand-primary;
      &::before{
        content: '';
        @include position(absolute, 0 null 0 0);
        width: 100%;
        border-left: 5px solid $brand-primary;
        background-color: white;
        display: block;
        z-index: 0;
        @include box-shadow(inset 0px 0px 6px rgba(105, 101, 101, 0.15));
      }
      a{
        background-color: transparent;
        position: relative;
        z-index: 1;
        color: $gray-base;
      }
      .nav__title{
        span{
          color: $gray-base;
        }
      }
    }
  }
}

.list_scoreAnalysis{
  @include margin(30px auto);
  font-size: 16px;
  li{
    display: block;
    border-bottom: 1px solid $gray-lighter;
    @include padding(10px null);
    .score__value{
      float: right;
      display: inline-block;
      margin-left: 8px;
    }
  }
}

.tags-problems-area{
  .label{
    display: inline-block;
    margin-bottom: 8px;
    @include padding(8px null);
    border-radius: 20px;
  }
}
