.onboarding-cover {background: transparent;}

.signinonboarding-cover, .parent_signuponboarding-cover, .parent_loginonboarding-cover, .select_childrenonboarding-cover,

.add_child_accountonboarding-cover, .parent_preferencesonboarding-cover, .payment_pageonboarding-cover , .teacher\/signuponboarding-cover,
 .student\/loginonboarding-cover, .teacher\/select_coursesonboarding-cover {

  background-color: #333333;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("assets/img/cover-onboarding.jpg");
}

.signinonboarding-cover .content-wrapper, .parent_signuponboarding-cover .content-wrapper,
.parent_loginonboarding-cover .content-wrapper, .select_childrenonboarding-cover .content-wrapper,
.add_child_accountonboarding-cover .content-wrapper, .parent_preferencesonboarding-cover .content-wrapper,
.payment_pageonboarding-cover .content-wrapper, .teacher\/signuponboarding-cover .content-wrapper,
 .student\/loginonboarding-cover .content-wrapper, .teacher\/select_coursesonboarding-cover .content-wrapper{background: transparent !important;}