/* --- Onboarding Content Layoput --- */

.onboarding-cover{
  background-color: $gray-dark;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../img/cover-onboarding.jpg');
  &.cover-teacher{
    background-image: url('../img/cover-signup-teacher.jpg');
  }
  &.cover-parent{
    background-image: url('../img/cover-signup-parent.jpg');
  }
  &.cover-student{
    background-image: url('../img/cover-signup-student.jpg');
  }

  // Content wrapper
  .content-wrapper {
      background-color: transparent;
      vertical-align: middle;
  }
}


//Onboarding login/register panel
.panel-onboarding{
  width: 95%;
  margin: 0 auto;
  margin-bottom: 15px;
  @media(min-width: $screen-md){
    max-width: 990px;
  }
  .panel-heading::before{
    display: none;
  }

  .panel-body{

    @media(min-width: $screen-sm){
      .as-table{
        table-layout: fixed;
        display: table;
        width: 100%;
        @include margin(0);
        [class*=' col-']{
          float: none;
          display: table-cell;
          vertical-align: top;
        }
      }
    }
    .col-left, .col-right{
      @include padding(null 24px);
      @media(max-width: $screen-xs-max){
        @include padding(null 15px);
      }
    }
    .col-left{
      margin-bottom: 30px;
      @media(min-width: $screen-sm){
        margin-bottom: 0;
        border-bottom: 0;
        border-right: 1px solid $gray-lighter;
      }
      @media(max-width: $screen-xs-max){
        border-bottom: 1px solid $gray-lighter;
        padding-bottom: 20px
      }
      .content-header{
        @include margin(60px auto);
        .content-title{
          font-weight: $semibold;
          color: $gray-light;
        }
        .content-tagline{
          font-weight: $light;
          color: $gray-light;
          font-size: 20px;
        }
      }
      .img-content{
        @include margin(60px auto null auto);
      }
    }
  }

  // Panel Content header
  .content-header{
    text-align: center;
    margin-bottom: 20px;
    @include padding(null 20%);
    .content-title{
      font-weight: $light;
      color: $brand-primary;
      line-height: normal;
    }
    .content-tagline{
      font-weight: $light;
      color: $gray-light;
      line-height: normal;
    }
  }
   &.panel-flat{
     .panel-body{
       @media(min-width: $screen-sm){
         @include padding(null 0) ;
       }
     }
   }
}
