/* --- Onboarding Content Layoput --- */

.onboarding-cover{
  background-color: $gray-dark;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../img/cover-onboarding.jpg');
  &.cover-teacher{
    background-image: url('../img/cover-signup-teacher.jpg');
  }
  &.cover-parent{
    background-image: url('../img/cover-signup-parent.jpg');
  }
  &.cover-student{
    background-image: url('../img/cover-signup-student.jpg');
  }

  // Content wrapper
  .content-wrapper {
      background-color: transparent;
      vertical-align: middle;
      padding-top: 34px;
  }
}


//Onboarding login/register panel
.panel-onboarding{
  width: 95%;
  @include margin(null auto 10px auto);
  @media(min-width: $screen-md){
    max-width: 990px;
  }
  .panel-heading{
    padding-top: 30px;
    &::before{
      display: none;
    }
    @media screen and (min-width: $screen-sm-max){
      @include padding(null null 0px null);
      @include border-width(null null 0px null);
    }
    .panel-title{
      color: $gray-light;
      @include margin(0px null null null);
      min-width: 50%;
      @media screen and (min-width: $screen-sm){
        border-right: 1px solid $gray-lighter;
      }
      >img {
        @media screen and (max-width: $screen-xs-max){
          max-width: 100%;
          width: 100px;
        }
      }
    }
  }

  .panel-body{

    .float-label .control-label {
      font-weight: $semibold;
      text-transform: uppercase;
    }
    @media(min-width: $screen-sm-max){
      @include padding(0px  null null null);
      .as-table{
        table-layout: fixed;
        display: table;
        width: 100%;
        @include margin(0);
        [class*=' col-']{
          float: none;
          display: table-cell;
          vertical-align: top;
        }
      }
    }
    .col-left, .col-right{
      @media screen and (min-width: $screen-sm-max){
          @include padding(30px 24px 0px 24px);
      }
      @media(max-width: $screen-xs-max){
        @include padding(null 15px);
      }
    }
    .col-left{
      margin-bottom: 30px;
      .sign_in_left_hd{
        text-align: center;
        font-size: 20px;
        font-weight: $thin;
        color: rgba($gray,0.9);
        line-height: 26px;
        @media screen and (min-width: $screen-sm-max){
          width: 69%;
          @include margin(46px auto null auto);
        }
        span {
          display: block;
          text-align: center;
          font-weight: $bold;
          margin-top: 10px;
        }
      }
      @media(min-width: $screen-sm){
        margin-bottom: 0;
        border-bottom: 0;
        border-right: 1px solid $gray-lighter;
      }
      @media(max-width: $screen-xs-max){
        padding-bottom: 20px
      }
      // content-header
      .content-header{
        @include margin(60px auto);
        .content-title{
          font-weight: $semibold;
          color: $gray-light;
        }
        .content-tagline{
          font-weight: $light;
          color: $gray-light;
          font-size: 20px;
        }
      }
      // img-content
      .img-content{
        @include margin(60px auto null auto);
      }
    }
  }

  // Panel Content header
  .content-header{
    text-align: center;
    margin-bottom: 20px;
    @include padding(null 15%);
    @media screen and (max-width: $screen-xs-max){
      @include padding(null 0px);
    }
    .content-title{
      font-weight: $light;
      color: $brand-primary;
      line-height: normal;
      margin-top: 0;
    }
    .content-tagline{
      font-weight: $light;
      color: $gray-light;
      line-height: normal;
    }
  }
   &.panel-flat{
     .panel-body{
       @media(min-width: $screen-sm){
         @include padding(null null) ;
       }
     }
   }
}

.panel-onboarding ~ .legal{
  text-align: center;
  font-size: 12px;
  margin-bottom: 15px;
  a{
    color: white;
    text-decoration: underline;
  }
}




// panel-sign-in-up
.panel {
  &.panel-sign-in-up {
    .heading-elements {
      small {
        font-weight: $semibold;
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .panel-body {
      .col-right {
        @include padding(null 30px);
        @media screen and (min-width: $screen-sm-max){
          @include padding(null 40px null 74px);
        }

        .content-header {
          @media screen and (min-width: $screen-sm){
            @include margin(null null 57px null);
          }
         .content-title {
           @media screen and (min-width: $screen-sm-max){
             font-size: 60px;
           }
         }
         .content-tagline {
           font-size: 16px;
           color: $gray-dark;
           @media screen and (min-width: $screen-sm){
             @include margin(null auto null auto);
           }
         }
        } // content-header

        .form-group {
          .form-control {
            @include padding(null 0px null 0px);
          }
        }
      }
      @media screen and (max-width: $screen-xs-max){
        @include padding(null null 60px null);
      }

      // sign-in-error
      .sign-in-error {
        font-size: 12px;
        color: red;
        display: block;
        text-align: left;
        font-weight: $semibold;
      }
    }
    // btn-submit
    .btn-submit {
      @include padding(10px 30px);
      @media screen and (min-width: $screen-sm-max){
        @include margin(80px null null null);
      }
    } // btn-submit
  }
  // panel-signup
  &.panel-signup {
    .panel-body {
      .col-right {
        .content-header {
          @media screen and (min-width: $screen-sm){
            @include margin(null null 20px null);
          }
        }
      }
    }
  }

  // panel-teacher-account
  &.panel-teacher-account {
    .panel-body {
      .col-right {
        @include padding(null 30px);
        @media screen and (min-width: $screen-sm-max){
          @include padding(0px 74px null 74px);
          .confirm-success-msg{
            @include margin(-60px null 40px null);
          }
        }
        // form.form-login
        .form-login {
          @media screen and (min-width: $screen-sm-max){
            @include margin(40px null null null);
          }
        }
      }
    }
  }


  // panel-subject-grade
  &.panel-subject-grade {
    .panel-heading {
      .panel-title {
        min-width: auto;
        @include border-width(null 0px null null);
        @media screen and (min-width: $screen-sm-max){
          display: block;
          float: none;
        }
      }
      .heading-elements {
        @media screen and (min-width: $screen-sm-max){
          float: none;
          display: block;
          text-align: center;
          margin-top: -53px;
        }
        font-size: 20px;
        @media screen and (min-width: $screen-sm-max){
          font-size: 24px;
          color: rgba($gray-light,0.5);
        }
      }
    }
    .panel-body {
      @media screen and (max-width: $screen-sm){
        @include padding(null 30px);
      }
      .selected-grades-subjects {
        @media screen and (max-width: $screen-xs-max){
          .label-grade{
            float: none;
          }
          .subjects-list {
            .label-subject {
              @include margin(null 5px null 0px);
            }
          }
        }
      }
      .grade-group {
        .grade {
          @media screen and (min-width: $screen-sm){
            @include padding(null 10px);
          }
        }
        @media screen and (max-width: $screen-xs-max){
          @include margin(0px null null null);
        }
      }
      .btn-submit {
        @include margin(40px null null null);
      }
    }
  }


  // term and condition
  &.panel-term {
    .panel-heading {
      .panel-title {
        min-width: auto;
        @include border-width(null 0px null null);
        @media screen and (min-width: $screen-sm-max){
          display: block;
          float: none;
        }
      }
      .heading-elements {
        @media screen and (min-width: $screen-sm-max){
          float: none;
          display: block;
          text-align: center;
          margin-top: -53px;
        }
        font-size: 20px;
        @media screen and (min-width: $screen-sm-max) {
          font-size: 24px;
          color: rgba($gray-light,0.5);
        }
      }
    }
    .panel-body {
      .tab-navs {
        @media screen and (min-width: $screen-lg){
          @include padding(null 46px null null);
        }
      }
      @include padding(25px null null null);
      @media screen and (max-width: $screen-sm){
        @include padding(45px null null null);
      }
      @media screen and (max-width: $screen-xs-max){
        .panel-heading {
          @include padding(0px);
          .panel-title {
            @include margin(0px null null null);
            a {
              @include padding(10px 20px);
            }
          }
        }
      }
    }
  }

  // panel-payment
  &.panel-payment {
    .panel-heading {
      .panel-title {
        @include border-width(0px);
      }
    }
    .panel-body {
      .col-left ,.col-right {
        @include padding(10px null null null);
        >h2 {
          @media screen and (max-width: $screen-xs-max){
            font-size: 22px;
          }
        }
      }
      .total-cartValue {
        h1 {
          border-top: 1px solid $gray-lighter;
          @include padding(15px null null null);
        }
      }
    }
  }

  // panel-child-selection
  &.panel-child-selection{
    @media screen and (min-width: $screen-sm-max){
      @include padding(null null 60px null);
    }
    .panel-heading {
      .panel-title {
        @include border-width(0px);
      }
    }
    .panel-body {
      // form-login
      .form-login {
        .hd {
          font-size: 20px;
          color: rgba($gray-light,0.8);
          text-align: center;
        }
      }
    .category-item {
     .icon-float  {
      @include padding(14px);
     }
     .tab-line {
       @include margin(30px auto null auto);
       font-size: 16px;
       color: rgba($gray-light,0.8);
       @media screen and (min-width: $screen-sm-max){
         width: 48%;
       }
       @media screen and (min-width: $screen-sm){
         width: 49%;
       }
     }
   }
 }
}

  // all parent-panel header styling
  &.panel-child-account-setup, &.panel-preferences , &.panel-teacher-term, &.panel-payment {
    .panel-heading {
      .panel-title {
        min-width: auto;
        @include border-width(0px);
      }
      @media screen and (min-width: $screen-sm-max){
        .heading-elements {
          min-width: calc(100% - 100px);
        }
      }
      .steps-container {
        @include margin(0px null null null);
      }
    }
  }
  // panel-child-account-setup
  &.panel-child-account-setup {

    // panel-body
    .panel-body {
      .email-info {
        @include margin(-16px null null null);
        position: relative;
        z-index: 10;
        color: rgba($gray-light,0.8);
        cursor: pointer;
        text-decoration: none;
        &:hover {
          color: $gray-light;
        }
        @media screen and (max-width: $screen-xs-max){
          display: none;
        }
      }
      .package-box, .package-group .btn, .subject-group .btn {
        @include margin(null null null 10px);
        min-width: 90px;
      }
      .child-account-setup {
        .subject{
          span {
            display: inline-block;
            vertical-align: -webkit-baseline-middle;
          }
        }
      }

      // col-right
      .col-right {
        .email-info {
          @include margin(12px -23px null null);
        }
        // package-group-plan
        .package-group-plan {
          .package-plan {
            @include margin(null null null 30px);
            &:first-child {
              @include margin(null null null 0px);
            }
            &:not(:last-child):after {
              content: 'OR';
              @include position(absolute, 34% -27px null null);
              z-index: 10;
              color: $gray-lighter;
            }
          }
        }
      }
    }
  }

  // panel-preferences
  &.panel-preferences {
    @media screen and (max-width: $screen-sm){
      text-align: center;
    }
    .panel-body {
      padding-bottom: 50px;
      @media screen and (min-width: $screen-sm){
        padding-bottom: 70px;
      }
      .form-login{
        .hd {
          font-size: 20px;
          color: rgba($gray-light,0.8);
          text-align: center;
        }
        .phone-number {
          margin-left: 59px;
          .control-label {
            left: 0px;
          }
          .fa-question-circle{
            @include position(absolute, null 0px 10px null);
            z-index: 100;
          }
          .allow-dropdown{
            width: 100%;
          }
        }
        .preference-tag-line {
          color: $gray-light;
          font-weight: normal;
          font-size: 14px;
          text-align: center;
          @include margin(20px null 30px);
          @media screen and (min-width: $screen-sm){
            @include margin(40px null 52px);
          }
        }
      }
    }
  }

  &.panel-teacher-term {
    .panel-body {
      padding-bottom: 50px;
      @media screen and (min-width: $screen-sm){
        padding-bottom: 70px;
      }
      .tab-navs {
        @media screen and (min-width: $screen-lg){
          @include padding(null 30px null null);
        }
      }
      @include padding(25px null null null);
      @media screen and (max-width: $screen-sm){
        @include padding(45px null null null);
      }
      @media screen and (max-width: $screen-xs-max){
        .panel-heading {
          @include padding(0px);
          .panel-title {
            @include margin(0px null null null);
            a {
              @include padding(10px 20px);
              display: block;
            }
          }
        }
      }
    }
  }
}
