/* --- Navigation --- */

.navbar{
  &-default{
    background-color: transparent;
    border: 0;
    margin: 0;
    .navbar-nav{
      li{
        a{
          color: white;
        }
      }
    }
    .navbar-brand{
      background-color: transparent;
      color: white;
      font-weight: $semibold;
      &:hover{
        background-color: transparent;
        color: white;
      }
    }
  }

  //Primary Index Navbar
  &-primary{
    background-color: #fdd75e;
    border: 0;
    margin: 0;
    font-size: 18px;
    @include padding(10px null);
    .navbar-btn{
      @extend .btn-rounded;
      border-width: 2px;
      border-color: white;
      color: $gray-base;
      min-width: 100px;
      font-size: 18px;
      &:hover{
        background-color: white;
      }
    }
    .navbar-btn + .navbar-btn{
      margin-left: 15px;
    }

    .navbar-nav{
      li{
        a{
          color: $gray-base;
          font-weight: $regular;
          @include padding(null 30px);
          &:hover, &:focus{
            background-color: transparent;
          }
        }
        .nav-text{
          border-bottom: 2px solid transparent;
        }
        a:hover .nav-text{
          border-color: white;
        }
        &.active{
          .nav-text{
            border-color: white;
          }
          a:hover, a:focus{
            background-color: transparent
          }
        }
      }
    }

    .navbar-brand{
      background-color: transparent;
      color: $gray-base;
      font-weight: $bold;
      font-size: 24px;
      &:hover{
        background-color: transparent;
        color: $gray-dark;
      }
    }
  }

  //Dashboard Navbar
  &-dashboard{
    box-shadow: 0 2px 6px rgba($sidebar-dark-bg, 0.4);
    .navbar-header{
      display: block;
      float: left;
      width: $sidebar-width-xs;
      background-color: $sidebar-dark-bg;
      @media (min-width: $screen-xs-max) {
        max-width: $sidebar-base-width;
        width: $sidebar-base-width;
      }

      .navbar-brand{
        display: inline-block;
      }
    }
  }
}
.search_form{
  float: right;
  width: calc(100% - #{$sidebar-width-xs});
  @include padding(6px 15px);
  @media (min-width: $screen-xs-max){
    width: calc(100% - #{$sidebar-base-width});
  }
  .form-group{
    margin: 0;
  }
  .form-control{
    @include border-radius($border-radius-large);
    box-shadow: inset 0 0 10px rgba($gray-dark, $gama);
    background-color: lighten($gray-lighter, 5%);
  }
}
