.panel-gender-selection {
  .content-cover {
    text-align: center;
    @media screen and (min-width: $screen-xs-max){
      max-width: 400px;
      @include padding(90px null null null);
      @include margin(auto);
    }
    .avtar-img {
      display: block;
      @include margin(0px auto 40px auto);
    }
  }
  .btn-primary{
    background: #3498db;
    border-color: #3498db;
    font-family: 'Open Sans', sans-serif;
    &:hover {
      @include box-shadow(0px 0px 32px rgba(52, 152, 219, 0.48));
    }
  }

  .btn-pink {
    background: #e73c7c;
    color: $white;
    border-color: transparent;
    font-family: 'Open Sans', sans-serif;
    &:hover {
      background: darken(#e73c7c, 10%);
      @include box-shadow(0px 0px 32px rgba(231, 60, 124, 0.48));
    }
  }
  .panel-footer {
    @include padding( null null 20px null);
    .btn-skip {
      background: none;
      border:0px;
      &:hover {
        color: #3498db;
      }
    }
  }
}
