/* --- Header --- */

.navbar-default{
  background-color: transparent;
  border: 0;
  margin: 0;
  max-width: 931px;
  margin: auto;
  position: relative;
  z-index: 1000;
  @include padding(11px null 5px);
  @media screen and (max-width: $screen-xs-max){
    .navbar-toggle {
      margin-top: 27px;
      background: transparent;
      &:focus {
        background: transparent;
      }
      @include border-radius(0px);
      .icon-bar {
          background-color: #fea756;
      }
    }
    .navbar-collapse {
      margin-top: 25px;
      border-top: 0px;
    }
  }
  .navbar-nav{
  @include margin(-5px null null 10px);
  @media screen and (max-width: $screen-mobile-md){
    margin-top: 0px;
    padding-top: 20px;
    margin-left: 0px;
  }
    li{
      display: inline-block;
      float: none !Important;
      vertical-align: middle;
      @media screen and (max-width: $screen-mobile-md){
        display: block;
      }
      a{
        text-align: center;
        color: #fff ;
        @media screen and (max-width: $screen-mobile-md){
          text-align: left;
        }
      }
      &.active {
        a {
          background: none;
          color: #fff ;
        }
      }
      &.dropdown {
        &.open {
          a {
            background: none;
            color: $white;
          }
        }
      .dropdown-menu {
        @include background-cover("navbar-dropdown-bg.png");
        background-color: transparent;
        @include box-shadow(none);
        @include border-radius(0px);
        border: 0px;
        padding-top: 20px;
        top: 66%;
        left: 34px;
        z-index: -1;
        min-height: 150px;
        @include respond-to(mobileMedium) {
          @include padding(null 15px null 15px);
        }
        li {
          display: block;
          @include padding(5px 10px);
          a {
            font-family: $font-open-sans;
            text-align: left;
            @include padding(3px 10px);
            @include border-radius(5px);
            color: $maroon;
            position: relative;
            &:hover {
              background: rgba($black,0.07);
            }
              &:before {
                content:'';
                @include position(absolute, null null -6px 0px);
                width: 100%;
                height: 1px;
                background: rgba($cola,0.1);
                z-index: 100;
              }
          }

        }
        .icon {
          display: inline-block;
          vertical-align: middle;
          &.profile {
            @include cssSprite($ico_profile);
          }
          &.avtar_creation {
            @include cssSprite($ico_avtar_creation);
          }
          &.logout {
            @include cssSprite($ico_logout);
          }
         }
        }
      }
    }

    // garbage
    .nav_text{
      display: block;
      font-size: 14px;
    }
    .nav_icon{
      display: inline-block;
      &.ico_profile{
        @include cssSprite($ico_profile);
      }
      &.ico_dragon{
        @include cssSprite($ico_dragon);
      }
      &.ico_coins {
        @include cssSprite($coins);
      }
    }
    // garbage
  }
.navbar-form {
  margin-right: 0px;
  @media screen and (max-width: $screen-mobile-md){
    border: 0px;
    box-shadow: none;
    clear: both;
    margin-left: 0px;
    text-align: center;
   }
  }
  .profile_bar {
    display: inline-block;
    @include cssSprite($profile_bar);
    margin-top: 0px;
    font-size: 16px;
    @include padding(19px null null 48px);
    @include respond-to(mobileMedium) {
        @include padding(19px null null 63px);
    }

    .user_name {
      display: inline-block;
      width: 107px;
      overflow: hidden;
      vertical-align: bottom;
      white-space: pre;
    }
  }
  .go-back-btn {
    @include position(fixed, 30px null null 30px);
    z-index: 100;
    @media screen and (max-width: $screen-tb-land  ){
      display: none;
    }
  }
}


.student_growth{
  display: inline-block;
  position: relative;
  @include cssSprite($ico_coins);
  color: white;
  .growth_text{
    @include position(absolute, -18px null null 22px);
    width: 100%;
&:hover {
  color: $white-70;
   }
}
  .growth_value{
    display: block;
    color: white;
    text-align: center;
    @include margin(3px null null);
    @include padding(null null null 38px);
    font-size: 19px;
    line-height: 1.5;
  }
}
