/* --- Panels --- */
$panel-padding-left : 30px;
$panel-padding-right : 30px;
$panel-padding-top: 30px;
$panel-margin-bottom : 45px;
$panel-border-bottom-width : 1px;
$panel-border-bottom-color : $alto;
$panel-heading-padding-top : 25px;
$panel-heading-padding-bottom : 15px;
$panel-title-font-size : 16px;
$panel-title-color : $dimGray;

.panel{
  border: 0px;
  @include padding(null $panel-padding-left null $panel-padding-right);
  &:not(:last-child){
    margin-bottom: $panel-margin-bottom;
  }
  .panel-heading {
    @include border-width(null null $panel-border-bottom-width null);
    @include border-color(null null $panel-border-bottom-color null);
    @include border-style(null null solid null);
    background-color: transparent;
    @include padding($panel-heading-padding-top 0px $panel-heading-padding-bottom 0px);
    .panel-title {
        color: $panel-title-color;
        font-size: $panel-title-font-size;
        font-family: $font-primary;
        font-weight: $semibold;
        float: left;
        text-transform: uppercase;
    }
  }
  &.no_heading {
    padding-top: $panel-padding-top;
  }
}
