
	<body>
    <div class="avtar-creation-page">
      <div class="page-container">
        <div class="page-content">
          <div class="content-wrapper">
            <div class="panel panel-flat panel-avatar-creation  panel-gender-selection">
  						<div class="panel-heading">
  							<h4 class="panel-title"> <img src="assets/img/avtar-creation-img/logo.png" class="logo" alt="">
								</h4>
  						</div>
              <!-- panel-heading -->

  						<div class="panel-body">
                <h5 class="content-title">Who you are?</h5>
                <p class="content-tagline">Are you a smart lad or a dancing queen?</p>
                <div class="content-cover">
                  <div class="row">
                    <div class="col-xs-6">
                      <img src="assets/img/avtar-creation-img/boy.png" class="avtar-img" alt="" >
                      <a href="avtar2"><button type="button" class="btn btn-primary">I'm a boy</button></a>
                    </div>
                    <div class="col-xs-6">
                      <img src="assets/img/avtar-creation-img/girl.png" class="avtar-img" alt="" >
                      <a href="avtar3"><button type="button" class="btn btn-pink">I'm a girl</button></a>
                    </div>
                  </div>
                </div>
  						</div>
              <!-- panel-body -->

              <div class="panel-footer text-right">
                <a href="" ng-click="skip_avatar();">Skip for now</a>
              </div>
              <!-- panel-footer  -->

					  </div>
            <!-- panel -->
          </div>
          <!-- content-wrapper  -->
        </div>
        <!-- page-content -->
      </div>
      <!-- page-container -->
    </div>
    <!-- avtar-creation-page -->

		<!-- Latest compiled and minified jQuery -->
		
		<!-- plugins -->
		<!-- plugins -->
    <script type="text/javascript" src="assets/js/pages/avtar-creation.js"></script>
	</body>
</html>
