

   
    <link rel="stylesheet" href="assets/css/plugins/owl.carousel.min.css">
 
 
    <div class="main_cover myjourney_page challenge_page">
      <div class="main_wrapper">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="my_journey.html"><img src="assets/img/logo.png" alt="logo" class="main_logo "/></a>
            <form class="form hidden-lg hidden-md mobile_universal_search_bar">
              <div class="input-group">
                <input id="email" type="text" class="form-control" name="email" placeholder="Search...">
                <span class="input-group-addon"><i class="icon icon-search"></i></span>
              </div>
            </form>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li>
                  <a href="#">
                    <div class="student_growth">
                      <span class="growth_text">My Growth</span>
                      <span class="growth_value">350pt</span>
                    </div>
                  </a>
                </li>
                <li class="hidden-xs hidden-sm">
                  <a href="#">
                    <form class="navbar-form search_form">
                      <input type="search" class="search__input" placeholder="Type here to search">
                    </form>
                  </a>
                </li>
                <li class="dropdown"><a href="#" data-toggle="dropdown"><span class="profile_bar"><span class="profile_pick"><img src="assets/img/profile_pick.png" alt='' /></span><span class='user_name'>James Gorden</span><i class="caret"></i></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="my_profile.html"><i class="icon icon-profile"></i> My Profile</a></li>
                    <li><a href="help.html"><i class="icon icon-question-mark"></i> Help</a></li>
                    <li><a href="#"><i class="icon icon-exit"></i> Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
        </nav>
        <div class="wooden_frame">
          <div class="wooden_frame_content_cover">
            <div class="castle_cover">
              <div class="castle challenge_mountain" data-toggle="modal" data-target="#challenge_Modal">
                <span class="castle__img"></span>
                <span class="castle__icon"></span>
                <span class="castle__arrowUp"></span>
                <span class="castle__text">Challenges</span>
              </div>
            </div>
          </div>
        </div>
      </div>

     
    <!-- challenge_modal -->
    <!-- Modal -->
    <div id="challenge_Modal" class="modal fade challenge_modal in">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content challenge_frame">
          <div class="modal-body">
            <div class="challenge_content_frame">
              <ul class="nav nav-tabs" id="challenge">                
                <li class="subject_{{stcourse.id}}" id="bp_{{stcourse.id}}" ng-init="addCl(stcourse.id)"  ng-repeat="stcourse in student_courses">
                  <a data-toggle="tab" href="" ng-click="onClickSubject(stcourse.id)"  >{{stcourse.course_name}}
                     <!-- <i class="notification">3</i> -->
                  </a>
                </li>              
              </ul>

              <div class="tab-content">
                <div id="subject_{{stcourse.id}}" class="tab-pane fade subject_{{stcourse.id}} in " ng-repeat="stcourse in student_courses" >
            

                    <data-owl-carousel class="owl-carousel owl-theme challenge_option" data-options="{margin: 19, loop: false, responsive: { 0: {items: 1}, 600: {items: 3}, 1000: {items: 4} }}">
                        <div owl-carousel-item=""  class="item" ng-repeat="assignment in assignments"> 
                            <!-- If student has not attemped challenge -->
                            <a href="challenge/{{assignment.assignment_id}}" style="text-decoration:none;" ng-if="assignment.has_attempted_challenge==0">
                                <h1>{{assignment.type}}</h1>
                                    <div class="img_cover">
                                        <img src="assets/img/hat_img.png" alt="" data-center="center"/>
                                    </div>
                              <h2>{{assignment.course_name}}</h2>
                            </a> 

                            <!-- If student has attemped challenge -->
                          <a href="#" style="text-decoration:none;" ng-if="assignment.has_attempted_challenge==1">
                                <h1>{{assignment.type}}</h1>
                                    <div class="img_cover">
                                        <img src="assets/img/hat_img.png" alt="" data-center="center"/>
                                    </div>
                              <h2>{{assignment.course_name}}</h2><br>
                              <h2 ng-if="assignment.student_result_percent >= mastered" style="color:green" >Mastered</h2>
                              <h2 ng-if="assignment.student_result_percent < mastered" style="color:red">Not Mastered</h2>
                              <br>
                            </a>                            

                        </div>
                   </data-owl-carousel>

                  <!-- If assignment exist for a student-->
                  <div class="challenge_option" ng-if="err_assignment_message" style="text:center;">
                      <h1>{{err_assignment_message}}</h1>
                  </div> 
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="icon icon-exit-door" onclick="goback();"></a>
    </div>
    <!-- challenge_modal -->
  </div>


  <!-- page loader  -->
   <div class="loader" loading>
    <img src="assets/img/loader.svg" class="loader-img" data-center="center" alt="">
  </div> 
  
   
      <!-- <script type="text/javascript" src="assets/js/plugins/owl.carousel.min.js"></script> -->
      
    <!-- <script type="text/javascript">
      $(document).ready(function(){
        $("#challenge").tabCollapse();
        
      });
      $(document).ready(function(){
        var owl = $('.challenge_option');
        owl.owlCarousel({
          margin: 19,
          loop: false,
          nav: true,
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 3
            },
            1000: {
              items: 4
            }
          }
        });

       /* $(".owl-nav .owl-prev").html("<span>Previous</span>");
        $(".owl-nav .owl-next").html("<span>Next</span>");*/
        
        
      });

    </script> -->
 
