<div class="main_cover subject_view_page">
			<div class="main_wrapper">
				<header></header>
			</div>
				<div class="subject_frame_center">
					<div class="cloud-cover">
						<img src="assets/img/animated-cloud-img.png" alt="" class="animated-cloud">
						<img src="assets/img/animated-cloud-img.png" alt="" class="animated-cloud">
						<img src="assets/img/animated-cloud-img_3.png" alt="" class="animated-cloud">
						<img src="assets/img/animated-cloud-img_3.png" alt="" class="animated-cloud">
					</div>
					
					<div class="wooden_frame" data-center="center">
						<div class="wooden_frame_content_cover">
							<img src="assets/img/castles_map_web.jpg" alt="" class="castles_map_web_img"/>
							<div class="subject_view_castles_block" >
								
						<!-- 		<a href="pre-test/{{cid}}"  ng-value="studentResult">
									<div ng-class="{'winned_castle': studentResult == 'pass' }" class="castle topic_castle subskills_castle_1">
										<span class="castle__img "></span>
										<span class="fire__img"></span>
										<span class="flag__icon"></span>
										<span class="castle__text">Training Arena</span>
									</div>
								</a>

								<a ng-if="studentResult == 'pass'"  ng-repeat="subject in subject_detail " href="skill-door/{{subject.name|changeInURL }}/{{subject.course_id}}">
                                      <div class="castle topic_castle subskills_castle_{{$index+2}}">
										<span class="castle__img "></span>
										<span class="fire__img"></span>
										<span class="flag__icon"></span>
										<span class="castle__text">{{subject.name}}</span>
									</div>
								</a>

                               <a ng-if="studentResult == 'fail'"  ng-repeat="subject in subject_detail " ng-disabled="studentResult == 'fail'">
								  <div ng-class="{'inactive' : studentResult == 'fail'}" class="castle topic_castle subskills_castle_{{$index+2}}">
										<span class="castle__img "></span>
										<span class="fire__img"></span>
										<span class="flag__icon"></span>
										<span class="castle__text">{{subject.name}}</span>
									</div>
								</a> -->

						<!-- pre Test -->
						<a href="#" ng-if="pretest_result =='pass' ">
							<div ng-class="{'winned_castle': pretest_result == 'pass' }" class="castle topic_castle subskills_castle_1">
								<span class="castle__img "></span>
								<span class="fire__img"></span>
								<span class="flag__icon"></span>
								<span class="castle__text">Training Arena</span>
							</div>
						</a>
						<a href="pre-test/{{cid}}"  ng-if="pretest_result == 'fail' ">
							<div ng-class="{'inactive': pretest_result == 'fail' }" class="castle topic_castle subskills_castle_1">
								<span class="castle__img "></span>
								<span class="fire__img"></span>
								<span class="flag__icon"></span>
								<span class="castle__text">Training Arena</span>
							</div>
						</a>
						<!-- end pre Test -->

						<!-- start skill links -->
						<a href="skill-door/{{subject.name|changeInURL}}/{{subject.course_id}}"  ng-if="pretest_result == 'pass' " 
               ng-model="mytest[$index]"  ng-repeat="subject in subject_detail " >
              <div ng-if=" subject.visibility == '1'">
							  <div class="castle topic_castle subskills_castle_{{$index+2}}" >
									<span class="castle__img "></span>
										<span class="fire__img"></span>
										<span class="flag__icon"></span>
										<span class="castle__text">{{subject.name}}</span>
									</div>
              </div>
						</a>
						<a href="#" ng-if="pretest_result == 'fail'"  ng-repeat="subject in subject_detail " >
							<div class="castle topic_castle subskills_castle_{{$index+2}}">
								<span class="castle__img "></span>
								<span class="fire__img"></span>
								<span class="flag__icon"></span>
								<span class="castle__text">{{subject.name}}</span>
							</div>
						</a>						
						<!-- start skill links -->









							</div>
						</div>
					</div>
				</div>			
		</div>
	</div>
	


	<!-- dummy close button  -->
		<button type="button" class="close_btn">Close</button>
	<!-- dummy close button  -->
		<!-- Latest compiled and minified jQuery -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<audio id="mysoundclip" preload="auto" style="display:none;">
		<source src="assets/sounds/click-sound.mp3"></source>
		<script src="assets/js/main.js"></script>
		<script>
		// $(document).ready(function(){
		// 	$(".wooden_frame_content_cover, .conversation_block").mCustomScrollbar({
		// 			horizontalScroll: true,
		// 	});
		// 	$(".conversation_block").mCustomScrollbar({
		// 		theme:"dark-3"
		// 		});
		// 	$(".subject_view_page").fadeIn(2000);
		// 	var windowWidth = $(window).width();
		// 	if(windowWidth<=767){
		// 		$(".wooden_frame").remove();
		// 	}
		// 	if( windowWidth>767){
		// 		$(".subject_view_frame_mobile").remove();
		// 	}
		// });
	</script>
</audio>