<div class="main_cover subject_view_page">
			<div class="main_wrapper">
				<header></header>
			</div>
				<div class="subject_frame_center">
					<div class="wooden_frame" data-center="center">
						<div class="wooden_frame_content_cover">
							<img src="assets/img/castles_map_web.jpg" alt="" class="castles_map_web_img"/>
							<div class="subject_view_castles_block" >
								<a href="" ng-disabled="beDisabled" ng-if="studentResult == 0" ng-value="studentResult">
									<div class="castle topic_castle subskills_castle_1 winned_castle">
										<span class="castle__img "></span>
										<span class="fire__img"></span>
										<span class="flag__icon"></span>
										<span class="castle__text">Training Arena</span>
									</div>
								</a>
								<a ng-repeat="subject in subject_detail " href="skill-door/{{subject.id}}" ng-disabled="studentResult == 1">
								  <div class="castle topic_castle subskills_castle_{{$index+1}}">
										<span class="castle__img "></span>
										<span class="fire__img"></span>
										<span class="flag__icon"></span>
										<span class="castle__text">{{subject.name}}</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- subject_view_frame -->
			<!-- <div class="subject_view_frame_mobile">
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_1 winned_castle">
							<span class="castle__text">Addition</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_2">
							<span class="castle__text">Algebra</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_3 challenge_castle">
							<span class="castle__text">Calculus</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_4">
							<span class="castle__text">Comparing</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_5">
							<span class="castle__text">Decimals</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_6">
							<span class="castle__text">Division</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_7">
							<span class="castle__text">Estimation</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_8">
							<span class="castle__text">Fractions</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_9">
							<span class="castle__text">Functions & Equations</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_10">
							<span class="castle__text">Geometry</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_11">
							<span class="castle__text">Graphs</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_12">
							<span class="castle__text">Integers</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_13">
							<span class="castle__text">Logic & Reasoning</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_14">
							<span class="castle__text">Measurement</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_15">
							<span class="castle__text">Mixed operations</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_16">
							<span class="castle__text">Money & consumer maths</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>

				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_17">
							<span class="castle__text">Multiplication</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_18">
							<span class="castle__text">Number Theory</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_19">
							<span class="castle__text">Patterns</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_20">
							<span class="castle__text">Percents</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_21">
							<span class="castle__text">Place values</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_22">
							<span class="castle__text">Probability & statistics</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_23">
							<span class="castle__text">Ratios & Proportions</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_24 ">
							<span class="castle__text">Subtraction</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_25">
							<span class="castle__text">Time</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_26">
							<span class="castle__text">Trigonometry</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
				<div class="castle_repeat_block">
					<a href="#">
						<div class="castle topic_castle subskills_castle_27">
							<span class="castle__text">Word problems</span>
							<span class="castle__img "></span>
							<span class="fire__img"></span>
							<span class="flag__icon"></span>
						</div>
					</a>
				</div>
			</div> -->
		</div>
	</div>
	<div class="chat_block">
		<div class="user_list">
			<span class="bg__chat"></span>
			<div class="chat_container ">
				<ul class="user_list_ul">
					<li class="categories_type">Teacher</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
					<li class="categories_type">Parent</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Jema Stones</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Jema Stones</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles <i class="no_msg">3</i></span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="chating_block">
			<div class="chat_container_cover">
				<div class="chat_conversation_toggle_btn_bg">
					<span class="reciverName">Milessa</span>
					<img src="assets/img/cross-white.png" alt="" class="close">
				</div>
				<div class="chat_container">
					<div class="conversation_block">
						<div class="conversation_repeat_block">
							<div class="receiver_chat msg_continuation">
								<div class="message_content">
									<span class="receiver_name">Caly Miles</span>
									<span class="receiver_msg">dfdfddddfgsdgsdfsdfsdfsfd</span>
									<time class="sending_time">00:15</time>
								</div>
							</div>
							<div class="receiver_chat">
								<div class="message_content">ddfdfdfdf</div>
							</div>
							<div class="receiver_chat">
								<div class="message_content">ddfdfdfdf</div>
							</div>
							<div class="receiver_chat">
								<div class="message_content">ddfdfdfdf</div>
							</div>

							<h5 class="date"><span>17-feb</span></h5>
							<div class="sender_chat msg_continuation">
								<div class="message_content">
									<span class="sender_name">Caly Miles</span>
									<span class="sender_msg">dfdfddddfgsdgsdfsdfsdfsfd</span>
									<time class="sending_time">00:15</time>
								</div>
							</div>
							<h5 class="date"><span>17-march</span></h5>
						</div>
					</div>
					<form class="form">
						<div class="form-inline">
							<div class="form-group">
								<input type="text" class="chat_input" placeholder="Type your text"/>
							</div>
							<button type="submit" class="btn_send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>



	<!-- dummy close button  -->
		<button type="button" class="close_btn">Close</button>
	<!-- dummy close button  -->
		<!-- Latest compiled and minified jQuery -->
		<audio id="mysoundclip" preload="auto" style="display:none;">
		<source src="assets/sounds/click-sound.mp3"></source>
		<script src="assets/js/main.js"></script>
		<script>
		// $(document).ready(function(){
		// 	$(".wooden_frame_content_cover, .conversation_block").mCustomScrollbar({
		// 			horizontalScroll: true,
		// 	});
		// 	$(".conversation_block").mCustomScrollbar({
		// 		theme:"dark-3"
		// 		});
		// 	$(".subject_view_page").fadeIn(2000);
		// 	var windowWidth = $(window).width();
		// 	if(windowWidth<=767){
		// 		$(".wooden_frame").remove();
		// 	}
		// 	if( windowWidth>767){
		// 		$(".subject_view_frame_mobile").remove();
		// 	}
		// });
	</script>
</audio>