    <style type="text/css">
      .modal-backdrop {
        display: none;
      }
    </style>

    <!-- {{frm.childcourses}} 

   {{frm.cousesListByGrade}} -->
	
	<div class="main_cover myjourney_page">
		<div class="main_wrapper">
			<header></header>
				<div class="wooden_frame">
			<div class="wooden_frame_content_cover">
					<div class="castle_cover">			

					<div ng-repeat="gradecourse in frm.cousesListByGrade" ng-init="pIndex = $index+1">
						<div ng-if="!guest" ng-repeat="childcourse in frm.childcourses">
								<div ng-if="gradecourse.id==childcourse.id">
										<a href="{{redirectURL}}/{{childcourse.id}}" data-castle-name="science" >							 
											<div class="castle subject_castle castle_{{pIndex}} active">
												<span class="castle__img"></span>
												<span class="castle__icon"></span>
												<span class="castle__arrowUp"></span>
												<span class="castle__text">{{gradecourse.course_name}}</span>
											</div>
										</a>
								</div>
 
								 <div ng-if="gradecourse.id!=childcourse.id">
									<div class="castle subject_castle castle_{{pIndex}} inactive">
										<span class="castle__img"></span>
										<span class="castle__icon"></span>
										<span class="castle__arrowUp"></span>
										<span class="castle__text">{{gradecourse.course_name}}</span>
									</div>
								</div> 					
							</div>
                                                        <div ng-if="guest">
                                                          <div>
                                                              <a href="{{redirectURL}}/{{gradecourse.id}}" data-castle-name="science" >
                                                                <div class="castle subject_castle castle_{{pIndex}} active">
                                                                        <span class="castle__img"></span>
                                                                        <span class="castle__icon"></span>
                                                                        <span class="castle__arrowUp"></span>
                                                                        <span class="castle__text">{{gradecourse.course_name}}</span>
                                                                </div>
                                                              </a>
                                                          </div>
                                                        </div>
						  </div>
						</div>

						<a href="help" data-castle-name="science">
							<div class="castle help">
								<span class="castle__img"></span>
								<span class="castle__icon"></span>
								<span class="castle__arrowUp"></span>
								<span class="castle__text">Help</span>
							</div>
						</a>
						<a href="challenges" data-castle-name="science">
							<div class="castle challenge_mountain">
								<span class="castle__img"></span>
								<span class="castle__icon"></span>
								<span class="castle__arrowUp"></span>
								<span class="castle__text">Challenges</span>
							</div>
						</a> 
					</div>
			</div>
			</div>
		</div>
	</div>




	
    <!-- plugins -->
		<script src="assets/js/plugins/jquery.mCustomScrollbar.min.js"></script>
		<script type="text/javascript" src="assets/js/plugins/owl.carousel.min.js"></script>
    <!-- plugins -->
		<!-- Compiled and minified Page Specific JavaScript -->
		<script src="assets/js/plugins/jquery.transit.min.js"></script>
    <script src="assets/js/plugins/bootstrap-tabcollapse.js"></script>
		<script src="assets/js/pages/journey.js"></script>
		<script src="assets/js/main.js"></script>
		<audio id="mysoundclip" preload="auto" style="display:none;">
     <source src="assets/sounds/click-sound.mp3"></source>
    </audio>
    <script type="text/javascript">
      $(document).ready(function(){
				 $("input[type='checkbox']").checkbox_button();
        $("#challenge").tabCollapse();
      });
      $(document).ready(function(){
        var owl = $('.challenge_option');
        owl.owlCarousel({
          margin: 19,
          loop: false,
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 3
            },
            1000: {
              items: 4
            }
          }
        });
        $(".owl-nav .owl-prev").html("<span>Previous</span>");
        $(".owl-nav .owl-next").html("<span>Next</span>");
      });
    </script>