<div class="main_cover my_profile_cover">
  <div class="main_wrapper">
     <header></header>
    <div class="profile_block">
      <ul class="student_progress_info">
        <li class="student_img">
          <span class="profile_img_cover">
            <a href="avtar-creation/avtar-gender-selection.html"><img src="assets/img/profile_pick_1.png" alt=""></a>
          </span>
          <span>Change Avtar</span>
        </li>
        <li>
          <span>Daily Reward</span>
          <span>01:30:48</span>
          <img src="assets/img/point_pot.png" alt="">
        </li>
        <li>
          <span>Get more points</span>
          <img src="assets/img/get-more-points.png" alt="">
        </li>
        <li>
          <span>Teacher</span>
          <span>Guidance(Off)</span>
          <img src="assets/img/mascot-img.png" alt="" class="mascout-img off">
        </li>
        <li data-toggle="modal" data-target="#modal-view-report">
          <span>View</span>
          <span>Reports</span>
          <img src="assets/img/view-report-icon.png" alt="" >
        </li>

      </ul>
      <div class="progress_bar">
        <div alt="" class="progress_bar_img">
          <img src="assets/img/progress_bar_fillable.png" alt="" data-clip="40%" class="progress_range">
        </div>

        <span>Profile Progress</span>
        <ul class="dragons">
          <li><img src="assets/img/dragon-img/dragon_egg.png" alt="" class="dragon_img img-responsive"/></li>
          <li><img src="assets/img/dragon-img/dragon_img_1.png" alt="" class="dragon_img img-responsive"/></li>
          <li class="active"><img src="assets/img/dragon-img/dragon_img_2.png" alt="" class="dragon_img img-responsive"/></li>
          <li><img src="assets/img/dragon-img/dragon_img_3.png" alt="" class="dragon_img img-responsive"/></li>
          <li><img src="assets/img/dragon-img/dragon_img_4.png" alt="" class="dragon_img img-responsive"/></li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default redeem_coupon">
      <div class="panel-heading">
        <h4 class="panel-title">
          <span>Redeem your coupon</span>
          <span data-toggle="modal" ng-click="openRedeemAll();">See all</span>
        </h4>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-12">
            <div class="coupon_cover coupon_accquired" data-toggle="modal" ng-click="openmodelRedeem();">
              <ul>
                <li>your Accquired Coupons</li>
                <li><span>(3)</span></li>
              </ul>
            </div>
          </div>
          <div  ng-repeat="coupon in coupons | limitTo: display_front_cards"  class="col-md-2 col-sm-3 col-xs-12">
            <div class="coupon_cover" ng-class="{'locked': coupon.visibility == 'hidden', 'coupon-redeemed' : coupon.process_status.toLowerCase() == 'redeem'}"> 
            <img src="assets/img/provider_logo.png" alt="" class="coupon_provider_logo"/>
              <ul>
                <li><span>{{coupon.description}}</span></li>
                <li><span class="icons coin"></span><span>{{coupon.conditional_value}}</span></li>
              </ul>
              <button type="button" ng-click="coupon_requested(coupon.id, coupon.visibility, coupon.process_status)" class='btn'>{{coupon.process_status}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default unlocked_game">
      <div class="panel-heading">
        <h4 class="panel-title">
          <span>Unlocked Games</span>
          <span>See all</span>
        </h4>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="thumbnail">
              <a href="#">
                <img src="assets/img/game_img.png" alt="Lights" class="img-responsive">
                <div class="caption">
                  <div class="row">
                    <div class="col-xs-6">
                      <span class="game_name">Sundrops</span>
                    </div>
                    <div class="col-xs-6">
                      <button type="button" class="btn">Play Now</button>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="thumbnail">
              <a href="#">
                <img src="assets/img/game_img_1.png" alt="Lights" class="img-responsive">
                <div class="caption">
                  <div class="row">
                    <div class="col-xs-6">
                      <span class="game_name">Trakersss</span>
                    </div>
                    <div class="col-xs-6">
                      <button type="button" class="btn">Play Now</button>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="thumbnail">
              <a href="#">
                <img src="assets/img/game_img_2.png" alt="Lights" class="img-responsive">
                <div class="caption">
                  <div class="row">
                    <div class="col-xs-6">
                      <span class="game_name">Minplayer</span>
                    </div>
                    <div class="col-xs-6">
                      <button type="button" class="btn">Play Now</button>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="thumbnail">
              <a href="#">
                <img src="assets/img/game_img_3.png" alt="Lights" class="img-responsive">
                <div class="caption">
                  <div class="row">
                    <div class="col-xs-6">
                      <span class="game_name">BladeCole</span>
                    </div>
                    <div class="col-xs-6">
                      <button type="button" class="btn">Play Now</button>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- chat block -->
<div class="chat_block">
  <div class="user_list">
    <span class="bg__chat"><i class="chat-notification">3</i></span>
    <div class="chat_container ">
      <ul class="user_list_ul">
        <li class="categories_type">Group</li>
        <li>
          <img src="assets/img/group_img.png" alt="" class="user_img">
          <span class="user_name">English Class 8th</span>
        </li>
        <li>
          <img src="assets/img/group_img.png" alt="" class="user_img">
          <span class="user_name">Math Class 9th</span>
        </li>
        <li>
          <img src="assets/img/group_img.png" alt="" class="user_img">
          <span class="user_name">Science Class 10th</span>
        </li>

        <li class="categories_type">Teacher</li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
        <li class="categories_type">Parent</li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Jema Stones</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Jema Stones</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles <i class="no_msg">3</i></span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="chating_block">
    <div class="chat_container_cover">
      <div class="chat_conversation_toggle_btn_bg">
        <span class="reciverName">Milessa</span>
        <img src="assets/img/cross-white.png" alt="" class="close">
      </div>
      <div class="chat_container">
        <div class="conversation_block">
          <div class="conversation_repeat_block">
            <div class="receiver_chat msg_continuation">
              <div class="message_content">
                <span class="receiver_name">Caly Miles</span>
                <span class="receiver_msg">dfdfddddfgsdgsdfsdfsdfsfd</span>
                <time class="sending_time">00:15</time>
              </div>
            </div>
            <div class="receiver_chat">
              <div class="message_content">ddfdfdfdf</div>
            </div>
            <div class="receiver_chat">
              <div class="message_content">ddfdfdfdf</div>
            </div>
            <div class="receiver_chat">
              <div class="message_content">ddfdfdfdf</div>
            </div>

            <h5 class="date"><span>17-feb</span></h5>
            <div class="sender_chat msg_continuation">
              <div class="message_content">
                <span class="sender_name">Caly Miles</span>
                <span class="sender_msg">dfdfddddfgsdgsdfsdfsdfsfd</span>
                <time class="sending_time">00:15</time>
              </div>
            </div>
            <h5 class="date"><span>17-march</span></h5>
          </div>
        </div>
        <form class="form">
          <div class="form-inline">
            <div class="form-group">
              <input type="text" class="chat_input" placeholder="Type your text"/>
            </div>
            <button type="submit" class="btn_send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- chat block -->


<!-- modal section  -->
<seciton class="modal-section">
  <div id="modal-redeem" class="modal fade modal-redeem" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Accquired Coupons({{acquired_coupon_count}})</h4>
        </div>
        <div class="modal-body">
          <div class="owl-carousel owl-theme accquired-coupones">
            <div ng-repeat="coupon in coupons_acquired" class="item">
              <div class="coupon_cover locked">
                <img src="assets/img/provider_logo.png" alt="" class="coupon_provider_logo"/>
                <ul>
                  <li><span>{{coupon.description}}</span></li>
                  <li><span class="icons coin"></span><span>{{coupon.conditional_value}}</span></li>
                </ul>
                <button type="button" class='btn'>View</button>
              </div>
            </div>
            <!--  ITEMS ENDED HERE -->
          </div>
          <!--  CAROUSEL ENDED HERE -->
        </div>
      </div>

    </div>
  </div>
  <div id="modal-allRedeem" class="modal fade modal-redeem modal-all-redeem" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">All Magical Coupons({{total_coupons - display_front_cards}})</h4>
        </div>
        <div class="modal-body">
          <div ng-repeat="coupon in coupons" ng-show="($index+1) > display_front_cards" class="col-md-4 col-sm-6">
            <div class="coupon_cover" ng-class="{'locked': coupon.visibility == 'hidden', 'coupon-redeemed' : coupon.process_status.toLowerCase() == 'redeem'}">
              <img src="assets/img/provider_logo.png" alt="" class="coupon_provider_logo"/>
              <ul>
                <li><span>{{coupon.description}}</span></li>
                <li><span class="icons coin"></span><span>{{coupon.conditional_value}}</span></li>
              </ul>
              <button type="button" ng-click="coupon_requested(coupon.id, coupon.visibility, coupon.process_status)" class='btn'>{{coupon.process_status}}</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Modal content-->

    </div>
  </div>

  <!-- modal-view-report -->
  <div id="modal-view-report" class="modal fade modal-view-report" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><img src="assets/img/view-report-bg/exit-icon.png" alt=""></button>
          <h4 class="modal-title">
            My Report
          </h4>
        </div>
        <div class="modal-body">
          <div class="report-row">
            <ul>
              <li class="name">
                <span>WHOLE NUMBERS</span>
                <span>Properties of Whole Numbers</span>
              </li>
              <li class="status">
                <button type="button" class="btn complete">90% Completed</button>
              </li>
              <li class="score">
                <span>MY SCORE</span>
                <span>8/10</span>
              </li>
              <li class="group-score">
                <span>PEER GROUP SCORE</span>
                <span>6/10</span>
              </li>
            </ul>
          </div>

          <div class="report-row">
            <ul>
              <li class="name">
                <span>DIVISION</span>
                <span>Properties of Division</span>
              </li>
              <li class="status">
                <button type="button" class="btn warning"><i class="fa fa-exclamation-triangle"></i> 40% Completed</button>
              </li>
              <li class="score">
                <span>MY SCORE</span>
                <span>8/10</span>
              </li>
              <li class="group-score">
                <span>PEER GROUP SCORE</span>
                <span>6/10</span>
              </li>
            </ul>
          </div>

          <div class="report-row">
            <ul>
              <li class="name">
                <span>MULTIPLICATION</span>
                <span>Properties of Multiplication</span>
              </li>
              <li class="status">
                <button type="button" class="btn complete">90% Completed</button>
              </li>
              <li class="score">
                <span>MY SCORE</span>
                <span>8/10</span>
              </li>
              <li class="group-score">
                <span>PEER GROUP SCORE</span>
                <span>6/10</span>
              </li>
            </ul>
          </div>

          <div class="report-row">
            <ul>
              <li class="name">
                <span>WHOLE NUMBERS</span>
                <span>Properties of Whole Numbers</span>
              </li>
              <li class="status">
                <button type="button" class="btn warning"><i class="fa fa-exclamation-triangle"></i> 40% Completed</button>
              </li>
              <li class="score">
                <span>MY SCORE</span>
                <span>8/10</span>
              </li>
              <li class="group-score">
                <span>PEER GROUP SCORE</span>
                <span>6/10</span>
              </li>
            </ul>
          </div>

          <div class="report-row">
            <ul>
              <li class="name">
                <span>WHOLE NUMBERS</span>
                <span>Properties of Whole Numbers</span>
              </li>
              <li class="status">
                <button type="button" class="btn warning"><img src="assets/img/view-report-bg/badge-1.png" class="badge-icon" alt=""> 40% Completed</button>
              </li>
              <li class="score">
                <span>MY SCORE</span>
                <span>8/10</span>
              </li>
              <li class="group-score">
                <span>PEER GROUP SCORE</span>
                <span>6/10</span>
              </li>
            </ul>
          </div>

          <div class="report-row">
            <ul>
              <li class="name">
                <span>WHOLE NUMBERS</span>
                <span>Properties of Whole Numbers</span>
              </li>
              <li class="status">
                <button type="button" class="btn warning"><img src="assets/img/view-report-bg/badge-2.png" class="badge-icon" alt=""> Apprentice</button>
              </li>
              <li class="score">
                <span>MY SCORE</span>
                <span>8/10</span>
              </li>
              <li class="group-score">
                <span>PEER GROUP SCORE</span>
                <span>6/10</span>
              </li>
            </ul>
          </div>

          <div class="report-row">
            <ul>
              <li class="name">
                <span>WHOLE NUMBERS</span>
                <span>Properties of Whole Numbers</span>
              </li>
              <li class="status">
                <button type="button" class="btn warning"><img src="assets/img/view-report-bg/badge-3.png" class="badge-icon" alt=""> Recruit</button>
              </li>
              <li class="score">
                <span>MY SCORE</span>
                <span>8/10</span>
              </li>
              <li class="group-score">
                <span>PEER GROUP SCORE</span>
                <span>6/10</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <ul class="pagination">
            <li><a href="#">&#129024;<span>Previous</span></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#"><span>Next</span> &#129026;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</seciton>
<!-- page loader  -->
<div class="loader">
  <img src="assets/img/loader.svg" class="loader-img" data-center="center" alt="">
</div>

<!-- page loader  -->
<script src="assets/js/plugins/jquery.mCustomScrollbar.min.js"></script>
<script src="assets/js/plugins/owl.carousel.min.js"></script>
<!-- plugins -->
<script src="assets/js/main.js"></script>
<script>
  $(document).ready(function() {
    $(".modal-all-redeem .modal-body").mCustomScrollbar();
    var owl = $('.accquired-coupones');
    owl.owlCarousel({
      margin: 19,
      loop: false,
      nav: false,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 3
        },
        1000: {
          items: 3
        }
      }
    });
  })
</script>
<!-- Compiled and minified Page Specific JavaScript -->

<!-- data-clip js  -->
<script type="text/javascript">
  $(document).ready(function() {
    var percentVal = parseInt($(".progress_range").attr("data-clip"));
    var totalWidth = $(".progress_range").parent().width();
    console.log(totalWidth);
    var progress_range_width = (totalWidth * percentVal) / 100 + "px";
    console.log(progress_range_width);
    $(".progress_range").css("clip", "rect(0px," + progress_range_width + ", 57px, 0px)");
  });
</script>