
	<div class="subject_door_page"> 
		<div class="subject_door">
			<div class="main_wrapper">
				<header></header>
			</div>
			<!-- main_container -->

			<!-- Change adding animate gate gif image in all subject-gate -->
			<div class="main_container">
				<ul class="subject_gate_cover" style="">

				<li class="item" ng-repeat="subject in subject_detail">
						<div class="subject_board"><span><i class="fa fa-check"></i> {{subject.name}}</span></div>
						<a href="sub-skill/{{ subject.name |changeInURL}}/{{subject.course_id}}">
							<div class="subject_gate">
								<img src="" alt="" class="open-gate-animation"/>
							</div>
						</a>
					</li>
					
						<!-- knight challenge status locked -->
					<li class="item locked" ng-if="kstatus!=1"  ng-click="show_knight_mascot();">
						<div class="subject_board"><span><i class="fa fa-check"></i> Knight Challanges</span></div>
						<a href=""><div class="challenge_gate"></div></a>
					</li>

					<!-- knight challenge status Unlocked -->
					<li class="item" ng-if="kstatus==1">
						<div class="subject_board"><span><i class="fa fa-check"></i> Knight Challanges</span></div>
						<a href="knight-challenge/{{URLskill_name}}/{{URLskill_id}}"><div class="challenge_gate"></div></a>
					</li>
					

				</ul>
			</div>
			<!-- main_container -->
	</div>
	</div>

	<!-- masscourts block -->
<div class="masscourt-block active" id="skillmascot">
			<div class="masscourt-cover in">
				<img ng-src="assets/img/mascort-img/{{mascot_img}}" class="masccort-img" alt=""/>
				<div class="hint-block">
					<div class="col-xs-2 padding-0">
						<!-- <img src="assets/img/hint-bulb-img.png" alt="" class="bulb-img"/> -->
					</div>
					<div class="col-xs-10">
						<span class="hint">							
							See the doors lined up here? Go to the topic you want to learn	
						</span>
						<div class="text-right">
							<button type="button" class="btn" id="gotIt1" ng-click="close_skill_mascot();">Got it!</button>
						</div>
					</div>
				</div>
			</div>
</div>




<div class="masscourt-block" id="knight_challanges">
			<div class="masscourt-cover in">
				<img ng-src="assets/img/mascort-img/{{mascot_img}}" class="masccort-img" alt=""/>
				<div class="hint-block">
					<div class="col-xs-2 padding-0">
						<!-- <img src="assets/img/hint-bulb-img.png" alt="" class="bulb-img"/> -->
					</div>
					<div class="col-xs-10">
						<span class="hint">
							
							You cannot get in there yet. Complete rest of the doors first. Then you can take the challenge.
							
						</span>
						<div class="text-right">
							<button type="button" class="btn" id="gotIt1" ng-click="close_challanges_mascot();">Got it!</button>
						</div>
					</div>
				</div>
			</div>
</div>
		<!-- masscourts block -->

	

	<!-- page loader  -->
	<div class="loader" loading>
		<img src="assets/img/loader.svg" class="loader-img" data-center="center" alt="">
	</div>
	<!-- page loader  -->
		<!-- Latest compiled and minified jQuery -->
		
		<!-- page specific js  -->
		<script type="text/javascript">
			$(document).ready(function(){
				function navbarPos() {
					var windowWidth = $(window).width();
					var element = $(".main_wrapper .navbar-default").outerWidth();
					var elementLeft = (windowWidth - element)/2;
					$(".main_wrapper .navbar-default").css({"left":elementLeft+"px"});
				};
				navbarPos();
				$(window).resize(function(){
					navbarPos();
				});
				$("body").mCustomScrollbar({
					horizontalScroll: true,
					
				});
				// preventing the anchor default click
				/*$('.subject_gate_cover li a').click(function(event) {
				    event.preventDefault();
						$(this).children("div").addClass("open");
						$(this).find(".open-gate-animation").attr("src","assets/img/subject_animate_gate.gif");
						var href= $(this).attr("href");
						console.log(href);
						var url = document.location.href;
						url = url.replace("http://","");
						if(url.indexOf("\/")>=0){
							url = url.substr(0,url.lastIndexOf("\/"));
							url= "http://"+url+"/";
						 }
						 else {
							 url = document.location.href;
						 }
						 console.log(url);
						setTimeout(function(){
			        window.location.href = (url + href);
					 },1800);
				});
				// subject_door width js
				var numOfDoor = $(".item").length;
				var subject_door_width = 256*numOfDoor;
				$(".subject_door").width(subject_door_width + "px");

				// placement of the door
				subject_door_width = $(".subject_door").width();
				subject_door_width = parseInt(subject_door_width);
				var total_gap_width = (subject_door_width - 256*numOfDoor);
				var numOfGaps = numOfDoor + 1;
				var gaps = (total_gap_width/numOfGaps)/2;
				var marginLR = gaps + "px";
					$(".subject_gate_cover .item").css({"margin-left":marginLR, "margin-right":marginLR});*/
			});
		</script>
		<!-- page specific js  -->
	
