	<div class="subject_door_page">
		<div class="main_cover subject_door">
			<div class="main_wrapper">
				<header></header>
			</div>
			<div class="main_container">
				
					<ul class="subject_gate_cover">
						<li class="item" ng-repeat="subject in subject_detail">
							<div class="subject_board"><span data-center="center">{{subject.name}}</span></div>
							<a href="sub-skill/{{subject.id}}"><div class="subject_gate"></div></a>
						</li>
					</ul>
					<!-- <div class="item">
						<div class="subject_board"><span data-center="center"></span></div>
						<a href="quiz.html"><div class="challenge_gate"></div></a>
					</div> -->

				
			</div>
	</div>
	<!--chating-->
	<div class="chat_block">
		<div class="user_list">
			<span class="bg__chat"></span>
			<div class="chat_container ">
				<ul class="user_list_ul">
					<li class="categories_type">Teacher</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
					<li class="categories_type">Parent</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Jema Stones</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Jema Stones</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles <i class="no_msg">3</i></span>
					</li>
					<li>
						<img src="assets/img/receiver_img.png" alt="" class="user_img">
						<span class="user_name">Caly Miles</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="chating_block">
			<div class="chat_container_cover">
				<div class="chat_conversation_toggle_btn_bg">
					<span class="reciverName">Milessa</span>
					<img src="assets/img/cross-white.png" alt="" class="close">
				</div>
				<div class="chat_container">
					<div class="conversation_block">
						<div class="conversation_repeat_block">
							<div class="receiver_chat msg_continuation">
								<div class="message_content">
									<span class="receiver_name">Caly Miles</span>
									<span class="receiver_msg">dfdfddddfgsdgsdfsdfsdfsfd</span>
									<time class="sending_time">00:15</time>
								</div>
							</div>
							<div class="receiver_chat">
								<div class="message_content">ddfdfdfdf</div>
							</div>
							<div class="receiver_chat">
								<div class="message_content">ddfdfdfdf</div>
							</div>
							<div class="receiver_chat">
								<div class="message_content">ddfdfdfdf</div>
							</div>

							<h5 class="date"><span>17-feb</span></h5>
							<div class="sender_chat msg_continuation">
								<div class="message_content">
									<span class="sender_name">Caly Miles</span>
									<span class="sender_msg">dfdfddddfgsdgsdfsdfsdfsfd</span>
									<time class="sending_time">00:15</time>
								</div>
							</div>
							<h5 class="date"><span>17-march</span></h5>
						</div>
					</div>
					<form class="form">
						<div class="form-inline">
							<div class="form-group">
								<input type="text" class="chat_input" placeholder="Type your text"/>
							</div>
							<button type="submit" class="btn_send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--chating-->
</div>
		<!-- plugins -->
    
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="assets/js/min/jquery-2.1.3.min.js"><\/script>')</script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- plugins -->
    <script type="text/javascript" src="assets/js/plugins/owl.carousel.min.js"></script>
		<script src="assets/js/plugins/jquery.mCustomScrollbar.min.js"></script>
		<script src="assets/js/plugins/jquery.transit.min.js"></script>
		<!-- plugins -->
		<script src="assets/js/min/main.min.js"></script>
		
		<script type="text/javascript">
			$(document).ready(function(){
				function navbarPos() {
					var windowWidth = $(window).width();
					var element = $(".main_wrapper .navbar-default").outerWidth();
					var elementLeft = (windowWidth - element)/2;
					$(".main_wrapper .navbar-default").css({"left":elementLeft+"px"});
				};
				navbarPos();
				$(window).resize(function(){
					navbarPos();
				});
				$(".subject_door_page").mCustomScrollbar({
					horizontalScroll: true,
				});

				/*var owl = $('.subject_gate_cover');
        owl.owlCarousel({
          margin: 0,
          loop: false,
					mouseDrag: false,
          responsive: {
            375: {
              items: 10
            },
            600: {
              items: 10
            },
            1000: {
              items: 10
            }
          }
        });*/
				$(".subject_gate").click(function(){
					$(".subject_gate").removeClass("open");
					$(this).addClass("open");
					$("body").transition({ scale: 4,  x: 35, y: -104, opacity: 0},5000);
				});
			});
		</script>