<style type="text/css">
  .modal-backdrop {
	display: none;
  }
</style>
    <div class="main_cover subskillsroom_page subskills_view_text">
			<div class="main_div_center">
				<header></header>
				<div class="frame frams_table subskills_view_video_frame">
					<div class="inner_cover">
						<div class="content_cover">
							<div class="panel panel-default">
								<div class="panel-heading">
									<div class="row">
										<div class="col-sm-3 col-xs-1 text-left pd0">
											<span class="prev">Previous Lesson</span>
											<i class="icon quiz_book"></i>
										</div>
										<div class="col-sm-6 col-xs-10 pd0">
											<h4 class="panel-title">
												<span>Revising Whole Numbers</span>
											</h4>
										</div>
										<div class="col-sm-3  col-xs-1 text-right pd0">
											<span class="next">Next Lesson</span>
											<i class="icon book"></i>
										</div>
									</div>
								</div>
								<div class="panel-body">
                  <div class="video_cover">
                    <video  id="tutorialVideo" >
                      <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                      <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/ogg">
                      Your browser does not support HTML5 video.
                    </video>
                    <div class="play_btn_cover">
                      <button type="button" class="video_play_btn" id="video_play_btn" data-center="center"><img src="assets/img/video_play_btn_bg.png" alt=""></button>
                    </div>
                    <div class="video_controller">
                      <ul>
                        <li>
                          <ul>
                            <li>
                              <button type="button" class="btnPlay btn_play">
                                <i class="fa fa-play" aria-hidden="true"></i>
                                <i class="fa fa-pause-circle" aria-hidden="true"></i>
                              </button>
                            </li>
                            <li>
                            <div id="slider" class="progress_bar"></div>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <ul>
                            <li>
                              <span id="current">00:00</span><span> / </span>
                              <span id="duration">00:00</span>
                            </li>
                            <li>
                              <div id="volumeSlider" class="progress_bar volume_bar"></div>
                              <i class="fa fa-volume-up" aria-hidden="true" id="volume_controller"></i>
                            </li>
                            <li>
                              <img src="assets/img/video_element/full_screen.svg" alt="" id="fullScreen" class="screen_icon">
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
								</div>
								<div class="panel-footer">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
    </div>
		<!--chating-->
		<div class="chat_block">
			<div class="user_list">
				<span class="bg__chat"></span>
				<div class="chat_container ">
					<ul class="user_list_ul">
						<li class="categories_type">Teacher</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
						<li class="categories_type">Parent</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Jema Stones</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Jema Stones</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles <i class="no_msg">3</i></span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="chating_block">
				<div class="chat_container_cover">
					<div class="chat_conversation_toggle_btn_bg">
						<span class="reciverName">Milessa</span>
						<img src="assets/img/cross-white.png" alt="" class="close">
					</div>
					<div class="chat_container">
						<div class="conversation_block">
							<div class="conversation_repeat_block">
								<div class="receiver_chat msg_continuation">
									<div class="message_content">
										<span class="receiver_name">Caly Miles</span>
										<span class="receiver_msg">dfdfddddfgsdgsdfsdfsdfsfd</span>
										<time class="sending_time">00:15</time>
									</div>
								</div>
								<div class="receiver_chat">
									<div class="message_content">ddfdfdfdf</div>
								</div>
								<div class="receiver_chat">
									<div class="message_content">ddfdfdfdf</div>
								</div>
								<div class="receiver_chat">
									<div class="message_content">ddfdfdfdf</div>
								</div>

								<h5 class="date"><span>17-feb</span></h5>
								<div class="sender_chat msg_continuation">
									<div class="message_content">
										<span class="sender_name">Caly Miles</span>
										<span class="sender_msg">dfdfddddfgsdgsdfsdfsdfsfd</span>
										<time class="sending_time">00:15</time>
									</div>
								</div>
								<h5 class="date"><span>17-march</span></h5>
							</div>
						</div>
						<form class="form">
							<div class="form-inline">
								<div class="form-group">
									<input type="text" class="chat_input" placeholder="Type your text"/>
								</div>
								<button type="submit" class="btn_send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="loader" loading>
			<img src="assets/img/loader.svg" class="loader-img" data-center="center" alt="">
		</div>
		
    <!-- plugins -->
		<!-- Compiled and minified Page Specific JavaScript -->
    <script src="assets/js/video.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
				$("input[type='checkbox']").checkbox_button();
        var owl = $('.owl_text_block_carousel');
        owl.owlCarousel({
          margin: 0,
          nav: true,
          loop: false,
          responsive: {
            1000: {
              items: 1
            }
          }
        });
        $(".owl-prev").html("<i class='fa fa-angle-left'></i>");
        $(".owl-next").html("<i class='fa fa-angle-right'></i>");
      });
    </script>
		<script type="text/javascript">
			$(".conversation_block, .user_list .user_list_ul").mCustomScrollbar({
				theme:"dark"
			});
		</script>
