<style type="text/css">
  .modal-backdrop {
      display: none;
  }
</style>
<div class="sub-skills-room">
  <header></header>
  <!-- main-content -->
  <div class="main-content">
    <a href="subskillsroom.html"><i class="icon icon-exit-door"></i></a>
    <span class="google-speaker"><img src="assets/img/speaker_icon_gray.png" alt=""/></div>
  <div class="board table subskills-content">
				<div class="table-animated-img"></div>
    <h5 class="hd"><span>Subskills:</span> Whole Numbers</h5>
    <div class="row">
      <div class="col-md-4 table-of-content">
        <h6>Table of Content</h6>
        <ul class="nav nav-tabs" id="tableOfContent">
            <li ng-repeat="topic in topic_detail" ><i class="icon icon-document"></i> <a data-toggle="tab" href="/subskill_content/#topic_{{$index+1}}">{{topic.name}}</a></li>
            <!--<li ng-if="khan_api_content"><i class="icon icon-document"></i> <a data-toggle="tab" href="/subskill_content/#khan_api">Khan API</a></li>-->
            <li ng-repeat="khan_content in khan_api_content">
              <i ng-if="khan_content.kind.toUpperCase() != 'VIDEO'" class="icon icon-document"></i>
              <i ng-if="khan_content.kind.toUpperCase() == 'VIDEO'" class="icon icon-video"></i>
              <a data-toggle="tab" href="/subskill_content/#khan_api_{{$index+1}}">{{khan_content.name}}</a></li>
        </ul>
      </div>
      <div class="col-md-8 tab-content">
        <!-- MLG content -->
        <div ng-repeat="topic in topic_detail"  id="topic_{{$index+1}}" class="tab-pane fade ">         
          {{topic.descriptions}}
        </div>

        <!-- KHAN Content -->
        <div ng-repeat="topic in khan_api_content" class="tab-pane fade" id="khan_api_{{$index+1}}">
          <p>{{topic.descriptions}}</p>
          <div ng-if="topic.kind.toUpperCase() == 'VIDEO'" class="tab-pane fade in active">
            <iframe class="iframe" ng-src="{{getIframeSrc(topic.youtube_id)}}"  style="max-width: 100%;">
            </iframe>
          </div>
        </div>
        <div class="text-center">
          <button type='button' class="btn btn-skip" id="skip">Skip</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- main-content -->

<!--chating-->
<div class="chat_block">
  <div class="user_list">
    <span class="bg__chat"></span>
    <div class="chat_container ">
      <ul class="user_list_ul">
        <li class="categories_type">Teacher</li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
        <li class="categories_type">Parent</li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Jema Stones</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Jema Stones</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles <i class="no_msg">3</i></span>
        </li>
        <li>
          <img src="assets/img/receiver_img.png" alt="" class="user_img">
          <span class="user_name">Caly Miles</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="chating_block">
    <div class="chat_container_cover">
      <div class="chat_conversation_toggle_btn_bg">
        <span class="reciverName">Milessa</span>
        <img src="assets/img/cross-white.png" alt="" class="close">
      </div>
      <div class="chat_container">
        <div class="conversation_block">
          <div class="conversation_repeat_block">
            <div class="receiver_chat msg_continuation">
              <div class="message_content">
                <span class="receiver_name">Caly Miles</span>
                <span class="receiver_msg">dfdfddddfgsdgsdfsdfsdfsfd</span>
                <time class="sending_time">00:15</time>
              </div>
            </div>
            <div class="receiver_chat">
              <div class="message_content">ddfdfdfdf</div>
            </div>
            <div class="receiver_chat">
              <div class="message_content">ddfdfdfdf</div>
            </div>
            <div class="receiver_chat">
              <div class="message_content">ddfdfdfdf</div>
            </div>

            <h5 class="date"><span>17-feb</span></h5>
            <div class="sender_chat msg_continuation">
              <div class="message_content">
                <span class="sender_name">Caly Miles</span>
                <span class="sender_msg">dfdfddddfgsdgsdfsdfsdfsfd</span>
                <time class="sending_time">00:15</time>
              </div>
            </div>
            <h5 class="date"><span>17-march</span></h5>
          </div>
        </div>
        <form class="form">
          <div class="form-inline">
            <div class="form-group">
              <input type="text" class="chat_input" placeholder="Type your text"/>
            </div>
            <button type="submit" class="btn_send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="loader" loading>
	<img src="assets/img/loader.svg" class="loader-img" data-center="center" alt="">
</div>
<!--chating-->
<!-- page specific js  -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- Compiled and minified Page Specific JavaScript -->
		<script src="assets/js/plugins/bootstrap-tabcollapse.js"></script>
		<!-- page specific js  -->
    <script type="text/javascript">
      $(document).ready(function(){
				$("#tableOfContent").tabCollapse({
					tabsClass: 'hidden-sm hidden-xs',
    			accordionClass: 'visible-sm visible-xs'
				});
        if($(window).width()>768){
					$(".tab-pane, .table-of-content .nav-tabs").mCustomScrollbar();
				}
				// skip function
				$("#skip").click(function(){
					// js for tableOfContent
					var targetLiIndex = $("#tableOfContent li.active").index();
					targetLiIndex = Math.abs(targetLiIndex);
					var noOfLi = $("#tableOfContent li").length;
					if (targetLiIndex==noOfLi-1){
						$("#tableOfContent li").removeClass("active");
						$("#tableOfContent li:first").addClass("active");
					}
					else if(targetLiIndex<noOfLi){
						$("#tableOfContent li.active").removeClass("active").next("li").addClass("active");
					}

					// js for tab-content
					var targetpaneIndex = $(".tab-content .tab-pane.in").index();
					targetpaneIndex = Math.abs(targetpaneIndex);
					var noOfpane = $(".tab-content .tab-pane").length;
					if (targetLiIndex==noOfLi-1){
						$(".tab-content .tab-pane").removeClass("in active");
						$(".tab-content .tab-pane:first").addClass("in active");
					}
					else if(targetLiIndex<noOfLi){
						 $(".tab-content .tab-pane.in").removeClass("in active").next(".tab-pane").addClass("in active");
					}

				});
				// tooltip bootstrap
				$('[data-toggle="tooltip"]').tooltip();
      });
			if($(window).width()>768){
				$(window).load(function(){
					// table animation
	          var currentIndex = 1;
	          setInterval(function () {
	              if (currentIndex == 45) {
	                  currentIndex = 1;
	              }
	              $(".table-animated-img").css('background-image', 'url("assets/img/table-animation/' + currentIndex++ + '.png")');
	          }, 110);
				});
			}
    </script>

