	<style type="text/css">
      .modal-backdrop {
        display: none;
      }
    </style>
    <div class="main_cover subskillsroom_page subskillsoverview">
			<div class="main_div_center">
			 <header></header>
        <div class="link_block">
          <a href="" data-target="#modal-subskillsoverview" ng-click="show_subskill();">
						<div class="lesson_link"><span>Lesson</span></div>
					</a>
          <a href="sub-skill-quiz/2"><div class="quiz_link"><span>Quizzes</span></div></a>
        </div>
    </div>
		<!--chating-->
		<div class="chat_block">
			<div class="user_list">
				<span class="bg__chat"></span>
				<div class="chat_container ">
					<ul class="user_list_ul">
						<li class="categories_type">Teacher</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
						<li class="categories_type">Parent</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Jema Stones</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Jema Stones</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles <i class="no_msg">3</i></span>
						</li>
						<li>
							<img src="assets/img/receiver_img.png" alt="" class="user_img">
							<span class="user_name">Caly Miles</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="chating_block">
				<div class="chat_container_cover">
					<div class="chat_conversation_toggle_btn_bg">
						<span class="reciverName">Milessa</span>
						<img src="assets/img/cross-white.png" alt="" class="close">
					</div>
					<div class="chat_container">
						<div class="conversation_block">
							<div class="conversation_repeat_block">
								<div class="receiver_chat msg_continuation">
									<div class="message_content">
										<span class="receiver_name">Caly Miles</span>
										<span class="receiver_msg">dfdfddddfgsdgsdfsdfsdfsfd</span>
										<time class="sending_time">00:15</time>
									</div>
								</div>
								<div class="receiver_chat">
									<div class="message_content">ddfdfdfdf</div>
								</div>
								<div class="receiver_chat">
									<div class="message_content">ddfdfdfdf</div>
								</div>
								<div class="receiver_chat">
									<div class="message_content">ddfdfdfdf</div>
								</div>

								<h5 class="date"><span>17-feb</span></h5>
								<div class="sender_chat msg_continuation">
									<div class="message_content">
										<span class="sender_name">Caly Miles</span>
										<span class="sender_msg">dfdfddddfgsdgsdfsdfsdfsfd</span>
										<time class="sending_time">00:15</time>
									</div>
								</div>
								<h5 class="date"><span>17-march</span></h5>
							</div>
						</div>
						<form class="form">
							<div class="form-inline">
								<div class="form-group">
									<input type="text" class="chat_input" placeholder="Type your text"/>
								</div>
								<button type="submit" class="btn_send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!--chating-->
    <!-- section -->
    <section class="modal-section">
      <!-- Modal -->
      <div id="modal-subskillsoverview" class="modal fade modal-subskillsoverview" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal"><img src="assets/img/cross-white.png" alt=""><i class="icon icon-exit-door"></i></button>
            <div class="modal-body">
              <div class="owl-carousel overview-owl-carousel">
                <div class="item" ng-repeat="topic in topic_detail">
                  <span class="topic_no">Topic {{$index+1}}</span>
                  <span class="topic_name">{{topic.name}}</span>
                  <p class="short_description">
                    {{topic.descriptions}}
                  </p>
                  <div class="video_section">
                    <h5 class="hd"><i class="icon icon-video"></i> 1 Video</h5>
                    <div class="video-mcustomscroller">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td><a href="sub-skill-video/1"><img src="assets/img/help_video_img_2.jpg" alt="" class="img-responsive"></a></td>
                           <!--  <td><a href="sub-skill-video/2"><img src="assets/img/help_video_img_2.jpg" alt="" class="img-responsive"></a></td>
                            <td><a href="sub-skill-video/3"><img src="assets/img/help_video_img_2.jpg" alt="" class="img-responsive"></a></td>
                            <td><a href="sub-skill-video/4"><img src="assets/img/help_video_img_2.jpg" alt="" class="img-responsive"></a></td>
                            <td><a href="sub-skill-video/5"><img src="assets/img/help_video_img_2.jpg" alt="" class="img-responsive"></a></td> -->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                 <!--  <div class="doc_section">
                    <h5 class="hd"><i class="icon icon-doc"></i> 2 Documents</h5>
                    <ul>
                      <li><a href="subskills_view_lesson.html"><i class="icon icon-doc"></i> 1. Overview - What are Whole Numeber</a></li>
                      <li><a href="subskills_view_lesson.html"><i class="icon icon-doc"></i> 2. Overview - What are Whole Numeber</a></li>
                    </ul>
                  </div> -->
                </div>


			  </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
	<div class="loader" loading>
		<img src="assets/img/loader.svg" class="loader-img" data-center="center" alt="">
	</div>
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	
    <script type="text/javascript">
      $(document).ready(function(){
        var owl = $('.overview-owl-carousel');
        owl.owlCarousel({
          margin: 19,
					nav: true,
          loop: false,
          responsive: {
						320: {
							items: 1
						},
						600: {
							items: 1
						},
            992: {
              items: 1
            },
            1000: {
              items: 2
            }
          }
        });
        $(".owl-nav .owl-prev").html("<i class='icon left-arrow'></i> <span>Previous</span>");
        $(".owl-nav .owl-next").html("<i class='icon right-arrow'></i><span>Next</span>");
        $(".video-mcustomscroller").mCustomScrollbar({
			horizontalScroll: true,
		});
		
		$('.subskillModelBox').on('click', function(){
			$('.modal-subskillsoverview').show();
		});
		
      });
    </script>
