	<style type="text/css">
      .modal-backdrop {
        display: none;
      }
    </style>
    <div class="main_cover subskillsroom_page subskillsoverview">
			<div class="main_div_center">
			 <header></header>
        <div class="link_block">
          <a href="subskill_content/{{URLsubskill_name}}/{{URLsubskill_id}}">
						<div class="lesson_link"><span>Lesson</span></div>
					</a>
          <a href="{{quiz_link}}"><div class="quiz_link"><span>{{quiz_name}}</span></div></a>
        </div>
    </div>
	

    
	<div class="loader" loading>
		<img src="assets/img/loader.svg" class="loader-img" data-center="center" alt="">
	</div>
	
	