.main_cover {
	@include background-cover('bg-wood.jpg');
	min-height: 100vh;
	min-width: 100vw;
	padding-bottom: 50px;
		.wooden_frame {
			  @include background-cover('frame_web.png', center center);
			  background-size: 100% 100%;
			  height: 620px;
			  overflow: hidden;
			  position: relative;
			  width: 1170px;
			  z-index: 2;
				@include respond-to(tabletLand)  {
					width: 100%;
				}
				@include respond-to(mobileMedium)  {
					background: none;
				}
		 }
		 .wooden_frame_content_cover {
			 @include background-cover('map.png');
		     height: calc(100% - 57px);
		     left: 23px;
		     overflow: hidden;
		     position: absolute;
		     top: 28px;
		     width: calc(100% - 46px);
				 @include respond-to(mobileMedium)  {
 					height: 100%;
					width: 100%;
					left:0px;
 				}
		 }
  &.myjourney_page {
		 .wooden_frame_content_cover {
			background: none;
		 }
		@include respond-to(mobileMedium)  {
			  @include background-img("myjourney_mobile_bg.jpg");
				background-size: auto 100%;
			 .castle_cover  {
				 background: none;
			 }
		 }
  }
	&.subject_view_page {
		.wooden_frame_content_cover {
		 	background: none;
		}
	  @include respond-to(mobileMedium) {
	    background: {
	      image: url(../img/mobile_mobile_bg.jpg);
	      size: auto auto;
	      repeat: repeat;
	      position: fixed;
	    }
	  }
	}
	&.subskills_page {
	 @include respond-to(mobileMedium) {
	    background: {
	    image: url(../img/subskill_mobile_bg.jpg);
	    repeat: repeat;
	  }
	 }
	 .wooden_frame_content_cover {
		 @include background-cover("subquiz_bg.jpg");
		  @include respond-to(mobileMedium) {
				background: none;
				position: relative;
			}
	  }
	}
}
