.navbar-default {
  .profile_pick {
    height: 60px;
    width: 60px;
    @include border-radius(100%);
    display: block;
    @include position(absolute, 16px null null 0px);
    overflow: hidden;
    @media screen and (min-width: $screen-sm){
      @include position(absolute, 16px null null 9px);
    }
    @include padding(4px);
    background: {
      image: url(../img/student_prof_img_bg.png);
      size: 100% 100%;
      repeat: no-repeat;
      position: center center;
    }
    .cover {
      height: 52px;
      width: 52px;
      @include border-radius(100%);
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        @include border-radius(100%);
        @include margin(-10px auto null auto);
      }
    }
  }
  .dropdown-menu {
  @include background-cover("navbar-dropdown-bg.png");
  background-color: transparent;
  @include box-shadow(none);
  @include border-radius(0px);
  @media screen and (max-width: $screen-xs){
    width: 97% !important;
  }
  border: 0px;
  padding-top: 20px;
  top: 66%;
  left: 34px;
  z-index: -1;
  min-height: 150px;
  @include respond-to(mobileMedium) {
    @include padding(null 15px null 15px);
  }
  li {
    display: block;
    @include padding(5px 10px);
    a {
      font-family: $font-primary;
      text-align: left;
      @include padding(3px 10px);
      @include border-radius(5px);
      color: $maroon !important;
      position: relative;
      font-weight: $bold;
      .icon {
        vertical-align: sub;
      }
      &:hover {
        background: rgba($black,0.07) !important;
      }
      &:before {
        content:'';
        @include position(absolute, null null -6px 0px);
        width: 100%;
        height: 1px;
        background: rgba($cola,0.1);
        z-index: 100;
     }
    }
   }
  }
}
