/* --- Navbar Search FORM --- */
.search_form{
  @include padding(0);
  @include margin(0px null 0 0px);
  .search__input{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 16px;
    font-family: $font-primary-italic;
    @include padding(10px 15px 10px 50px);
    @include cssSprite($search_tablet);
    @media screen and (max-width: $screen-sm){
      @include cssSprite($search_mobile);
      background-size: 100% 100%;
    }
    &:hover, &:active, &:focus{
      outline: 0;
    }
  }
}
