/* --- $VARIABLES --- */

// Font weights
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$ultrabold: 800;
// Font weights

// Colors
$white: #fff;
$black: #000;
$bluies_white: #c7dbf4;
$darkstateblue: #162840;
$darkstateblue_1: #192d46;
$darkstateblue_border: #223a56;
$cyan: #60d3e5;
$lightCyan: #ecf1f7;
$cornFlowerFlue: #3498db;
$seaGreen: #0e7a65;
$springGreen: #2cd875;
$orange: #f39c12;
$fireBrick: #c0392b;
$gray : #8e8e8e;
$dimGray: #3f3f3f;
$doveGray: #676767;
$alto: #D6D6D6;
$bitterSweet: #FF6565;
$pictonBlue: #2D94ED;
$cinnabar: #E74C3C;

// Colors

// Font family
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'MyriadPro-Regular', sans-serif;

// Image dir path
$imagedir: "../img/";


// media width
$screen-large : 1490px;
$screen-tb-land : 1024px;
$screen-tb-port: 1023px;
$screen-mobile-md: 767px;
$screen-mobile-sm: 413px;
$screen-mobile-xs: 374px;
// media width
