/* --- $VARIABLES --- */

// Font weights
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$ultrabold: 800;

// Colors
$white: #fff;
$black: #000;
$bluies_white: #c7dbf4;
$darkstateblue: #162840;
$darkstateblue_1: #192d46;
$darkstateblue_border: #223a56;
$cyan: #60d3e5;
$lightCyan: #ecf1f7;
$cornFlowerFlue: #3498db;
$seaGreen: #0e7a65;
$springGreen: #2cd875;
$orange: #f39c12;
$fireBrick: #c0392b;
$gray : #8e8e8e;
$dimGray: #3f3f3f;
$doveGray: #676767;
$alto: #D6D6D6;
$bitterSweet: #FF6565;
$pictonBlue: #2D94ED;
$cinnabar: #E74C3C;
$funBlue: #1D70B7;
$grannySmith: #929D9F;

// Colors Student Status
$color-gifted: #3498db;
$color-outstanding: #0e7a65;
$color-ontarget: #2cd875;
$color-struggling: #f39c12;
$color-remedial: #c0392b;


//opacities
$alpha: 0.8;
$beta: 0.6;
$gama: 0.2;

// Font family
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'MyriadProBoldCondensed', sans-serif;

// Image dir path
$imagedir: "../img/";


// Form Components
$input-border-color: darken($gray-lighter, 10%);

// sidebar
$sidebar-user-bg: #192d46;
$sidebar-dark-bg: lighten($sidebar-user-bg, 4%);
$sidebar-base-width: 230px;
$sidebar-width-xs: 130px;

$sidebar-active-border-color: lighten($brand-primary, 10%);;
$sidebar-link-color: #c7dbf4;
$sidebar-active-link-color: lighten($brand-primary, 10%);

//Content Wrapper
$content-wrapper-bg: #ecf1f7;

//footer
$footer-bg: #5a667f;
$footer-text-color: rgba(white, 0.65);

//** Required additional padding options, integrated to other less files
$content-padding-large: 				     30px;
$content-padding-base: 					     15px;
$content-padding-small: 				     10px;

// Grids
// -------------------------------

$grid-padding-width:              10px !default;
$grid-responsive-sm-break:        767px !default;  // smaller than landscape phone
$grid-responsive-md-break:        992px !default;  // smaller than portrait tablet
$grid-responsive-lg-break:        1023px !default; // smaller than landscape tablet

// media width
$screen-large : 1489px;
$screen-tb-land : 1024px;
$screen-tb-port: 1023px;
$screen-mobile-md: 767px;
$screen-mobile-sm: 413px;
$screen-mobile-xs: 374px;
// media width
