   <!-- Page container -->
  <div class="page-container">

    <!-- Page content -->
    <div class="page-content">

      <!-- Main content -->
      <div class="content-wrapper">

        <!-- Onboarding: Login Teacher -->
          <div class="panel panel-flat panel-onboarding">
            <div class="panel-heading">
              <h4 class="spanel-title"><b><img src="assets/img/logo.png" alt="" /></b></h4>
            </div>

            <div class="panel-body">
              <!-- Steps -->                
              <div class="steps-container">             
                  <ul class="steps" ng-if="childname===null">                  
                        <li class="" ng-repeat="a in counter(childrencount) track by $index" value="{{ $index + 1 }}"><span class="_serial_num"></span><span class="__text">Child Account</span></li>
                         <li class=""><span class="_serial_num"></span><span class="__text">Preferences</span></li>
                        <li class=""><span class="_serial_num"></span><span class="__text">Terms & Conditons</span></li>
                        <li class=""><span class="_serial_num"></span><span class="__text">Payment</span></li>
                  </ul>


                  <ul class="steps" ng-if="childname!=null">                  
                        <li class="completed" ng-repeat="cname in childname track by $index" value="{{ $index + 1 }}"><span class="_serial_num"></span><span class="__text">{{cname.children_name}}</span></li>
                        <li class="" ng-repeat="cname in counter(remainchildAccount) track by $index" value="{{ $index + 1 }}"><span class="_serial_num"></span><span class="__text">Add Child</span></li>
                         <li class=""><span class="_serial_num"></span><span class="__text">Preferences</span></li>
                        <li class=""><span class="_serial_num"></span><span class="__text">Terms & Conditons</span></li>
                        <li class=""><span class="_serial_num"></span><span class="__text">Payment</span></li>
                  </ul>
              </div>

              <form name="childform" class="form-login">
                <div class="row as-table">
                  <div class=" col-sm-6 col-left">
                    <h3 class="text-center text-light text-gray-light no-margin">Setup your child's account</h3>
                    <br>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group float-label">
                            <label class="control-label">First Name</label>
                            <input type="text" name="fname" class="form-control float-input" ng-model="frm.first_name" />
                            <span style="color:red">{{message[2]}}</span>                              
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group float-label">
                            <label class="control-label">Last Name</label>
                            <input type="text" class="form-control float-input" ng-model="frm.last_name"  />
                            <span style="color:red">{{message[3]}}</span>
                          </div>
                        </div>
                      </div>

                      <div class="form-group float-label">
                        <label class="control-label">School</label>
                        <input type="text" class="form-control float-input" ng-model="frm.school" />
                        <span style="color:red">{{message[5]}}</span>
                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group float-label">
                            <label class="control-label">Grade</label>
                            <select name="gradename" class="form-control float-input" ng-options="grade.name for grade in grades"  ng-model="frm.levelchoice" ng-change="changeCourseList(frm.levelchoice)" required="Please select grade">
                              <option value="">Select Grade</option>
                              <!--<option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.name}}</option> -->                                
                            </select>
                            <span ng-show="childform.gradename.$error.required"></span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group float-label">
                            <!--<label class="control-label">Date of Birth</label>
                            <input type="date" class="form-control float-input" ng-model="frm.dob"/>-->
							<div id="date" class="input-append inputGroup" datetimez ng-model="frm.dob">
							  <input data-format="MM/dd/yyyy" type="text" />
							  <span class="add-on">
								<i data-time-icon="icon-time" class="fa fa-calendar btn" data-date-icon="icon-calendar"></i>
							  </span>
							</div><!--  End of date-->
                            <span style="color:red">{{message[6]}}</span>
                          </div>
                        </div>
                      </div>

                      <br>

                      <div class="row">
                        <div class="col-md-8">
                          <div class="form-group">
                            <label class="control-label">Would you like to give your child's email?</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="radio radio-primary radio-inline">
                          <input type="radio" id="inlineRadio1" value="1" name="radioInline"  ng-model="frm.emailchoice" ng-click="myStyle={display:'block'}" required>
                              <label for="inlineRadio1">Yes</label>
                          </div>
                          <div class="radio radio-primary radio-inline">
                              <input type="radio" id="inlineRadio2" value="0" name="radioInline" ng-model="frm.emailchoice" ng-click="myStyle={display:'none'}" required>
                              <label for="inlineRadio2"> No</label>
                          </div>
                        </div>
                      </div>


                      <div class="form-group float-label has-success has-feedback" ng-style="myStyle">
                        <label class="control-label">EMAIL Id</label>
                        <input type="text" class="form-control float-input" id="inputEmail" aria-describedby="inputEmailSuccessStatus" value="hello@mlg.com" ng-model="frm.childemail" >
                        <div class="form-control-feedback"><i class="icon icon-check"></i></div>
                        <span style="color:red">{{message[1]}}</span>
                      </div>

                       <div class="form-group float-label has-success has-feedback">
                        <label class="control-label">UserName (Required to login to your child)</label>
                        <input type="text" class="form-control float-input" id="inputEmail" value="" ng-model="frm.user_name" >
                        <div class="form-control-feedback"><i class="icon icon-check"></i></div>
                        <span style="color:red">{{message[0]}}</span>
                      </div> 


            <div class="form-group">
              <label class="control-label text-uppercase"><b>Select subject package type</b></label>
              <div id="subjectPackages" class="flex-row flex-row-wrap btn-group package-group" data1-toggle="buttons">
                    <label class="flex-col btn package subject" ng-repeat="package in packages">
                    <input type="radio" name="package" ng-value="package.id" ng-change="onSelectedPackageDiscount(package)" ng-model="$parent.frm.selectedPackage"> {{package.name}}<br>{{package.discount}}%off
                </label>
              </div>
                  </div>
                  <span style="color:red">{{message[7]}}</span>
          </div><!-- /.col-left-->




          <div class="col-sm-6 col-right">
            <div class="form-group text-center">
              <label class="control-label text-uppercase"><b>Choose a plan</b></label>
              <div id="subscriptionPlans" class="btn-group subscriptionPlan-group" data-toggle1="buttons">
                <label class="btn plan" ng-repeat="plan in plans">
                  <input type="radio" name="plan" id="planYearly" autocomplete="off" ng-value="plan.id" ng-change="onSelectplan(plan)" ng-model="$parent.frm.selectedplan" required>
                  <span class="plan-title">{{plan.name}}</span>
                  <i class="icon icon-yearly plan-icon"></i>
                </label>
              </div>

              <p class="text-center text-danger"><small><sup>*</sup>Your selected plan will activate after free trail of 30 days</small></p>
              <br><br>
            </div>

            <div class="form-group text-center">
              <label class="control-label text-uppercase"><b>Choose your subjects</b></label>               
                      
                <div ng-if="courserecords=='0' ">
                      <strong class="msg">{{msg}}</strong>
                </div>
                <div ng-if="courserecords>0 ">
                <div id="subjectsPrice" class="flex-row flex-row-wrap btn-group package-group" data-toggle1="buttons">
                    <label class="flex-col btn package subject" ng-repeat="course in cousesListByGrade">
                      <input type="checkbox" ng-change="onSelectCourse(frm.selectedcourse)" ng-model="frm.selectedcourse[course.id]" ng-true-value="'{{course.course_name}}'" ng-false-value="''" >                      
                      <span class="package-title">{{course.course_name}}</span>
                      <strong class="package-price">${{course.price}}</strong>
                      <small class="package-type">monthly</small>
                    </label>
                  </div>
                  <span style="color:red">{{message[9]}}</span>
                </div>      
              </div>

               <div class="form-group">
                  <table class="table table-totalCost">
                    <tbody>
                      <tr>
                        <td><b>Cost:</b></td>
                        <td><b>{{currency}} {{price}} {{permonth}}</b></td>
                        </tr>
                        <tr>
                          <td>
                            <b>Discount:</b>
                            <span class="display-block text-muted">{{discount}} off</span>
                          </td>
                          <td><b>{{currency}} {{dis_amount}} {{permonth}}</b></td>
                        </tr>
                        <tr>
                          <td><b>Sub total:</b></td>
                          <td><b>{{currency}} {{subtotal}} {{permonth}}</b></td>
                        </tr>
                        <tr>
                          <td><b>Total:</b></td>
                          <td><b>{{currency}} {{subtotal * num_months}} /{{num_months}}months</b></td>
                        </tr>
                        <!-- start- promo code calculation -->
                        <tr>
                          <td>
                            <b>Total after Promocode:</b>
                            <span class="display-block text-muted">{{pcode.discount}} {{pcode.discount_type}} off</span>
                          </td>
                          <td>
                          <div ng-if="pcode.discount_type=='percent' ">
                          <b>{{currency}} {{( subtotal * num_months)-((subtotal * num_months)*(pcode.discount/100)) }} /{{num_months}}months</b>
                          <input type="hidden" name="vcode" ng-model="frm.vcode" value="{{( subtotal * num_months)-((subtotal * num_months)*(pcode.discount/100)) }}" ng-init="frm.vcode=pcode.pcode_id" />
                          </div>
                          <div ng-if="pcode.discount_type=='fixed' ">
                            <b>{{currency}} {{( subtotal * num_months)-(pcode.discount) }} /{{num_months}}months</b>
                            <input type="hidden" name="vcode" ng-model="frm.vcode" value="{{( subtotal * num_months)-(pcode.discount) }}" ng-init="frm.vcode=pcode.pcode_id" />
                          </div>

                          </td>                         
                        </tr>
                        <!-- start- promo code calculation -->


                      </tbody>
                    </table>
                  </div>
                  <!--start- Promo code -->
                  <div class="form-group">
                    <h4><a class="link">Have a promo code?</a></h4>
                      <div class="form-inline promo-inputContainer">
                      <form name="pform">
                        <input type="text" name="promo" class="form-control" ng-init="" ng-model="prm.promocode"/>        
                        <button class="btn btn-primary" ng-click="submitpromocode(prm)" >Apply</button>
                        <span class="error" ng-mode="prequire" style="color:red">{{prequire}}</span>
                        </form>
                      </div>
                  </div>
                  <!-- end-  Promo code -->

                  <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary" ng-click="submitChildDetails(frm)">Proceed</button>
                  </div>
                </div>

              </div>

              </form>              
            </div>

          </div>
          <!-- /.onboarding: login teacher-->
      </div>
      <!-- /main content -->
    </div>
    <!-- /page content -->

  </div>
  <!-- page container -->

  <!-- Footer -->
  <div class="footer text-muted">
    &copy; 2017. <a href="#">Terms of use</a> & <a href="#" target="_blank">Privacy policy</a>
  </div>
  <!-- /footer -->


  <!-- Latest compiled and minified jQuery -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 

  <script type="text/javascript">
    $(document).ready(function(){
      //$("input[type='radio']").radio_button();
	  $( "#datepicker" ).datepicker();
    });
  </script>


