kkk{{childrencount}}
  <!-- Page container -->
  <div class="page-container">

    <!-- Page content -->
    <div class="page-content">

      <!-- Main content -->
      <div class="content-wrapper">

        <!-- Onboarding: Login Teacher -->
          <div class="panel panel-flat panel-onboarding">
            <div class="panel-heading">
              <h4 class="spanel-title"><b>MLG</b></h4>
            </div>

            <div class="panel-body">
              <!-- Steps -->                
              <div class="steps-container">             
                <ul class="steps">                  
                        <li class="" ng-repeat="a in counter(childrencount) track by $index" value="{{ $index + 1 }}"><span class="_serial_num"></span><span class="__text">Child Account</span></li>
                              <li class=""><span class="_serial_num"></span><span class="__text">Preferences</span></li>
                        <li class=""><span class="_serial_num"></span><span class="__text">Terms & Conditons</span></li>
                        <li class=""><span class="_serial_num"></span><span class="__text">Payment</span></li>
                      </ul>
              </div>

              <form action="preferences.html" class="form-login">
                <div class="row as-table">
                  <div class=" col-sm-6 col-left">
                    <h3 class="text-center text-light text-gray-light no-margin">Setup your child's account</h3>
                    <br>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group float-label">
                            <label class="control-label">First Name</label>
                            <input type="text" class="form-control float-input" ng-model="frm.first_name"/>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group float-label">
                            <label class="control-label">Last Name</label>
                            <input type="text" class="form-control float-input" ng-model="frm.last_name"/>
                          </div>
                        </div>
                      </div>

                      <div class="form-group float-label">
                        <label class="control-label">School</label>
                        <input type="text" class="form-control float-input" ng-model="frm.school">
                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group float-label">
                            <label class="control-label">Grade</label>
                            <select class="form-control float-input" ng-options="grade.name for grade in grades"  ng-model="frm.levelchoice" ng-change="changeCourseList(frm.levelchoice)">
                              <option value="">Select Grade</option>
                              <!--<option ng-repeat="grade in grades" value="{{grade.id}}">{{grade.name}}</option> -->                                
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group float-label">
                            <label class="control-label">Date of Birth</label>
                            <input type="date" class="form-control float-input" ng-model="frm.dob"/>
                          </div>
                        </div>
                      </div>

                      <br>

                      <div class="row">
                        <div class="col-md-8">
                          <div class="form-group">
                            <label class="control-label">Would you like to give your child's email?</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="radio radio-primary radio-inline">
                          <input type="radio" id="inlineRadio1" value="1" name="radioInline"  ng-model="frm.emailchoice"checked="">
                              <label for="inlineRadio1">Yes</label>
                          </div>
                          <div class="radio radio-primary radio-inline">
                              <input type="radio" id="inlineRadio2" value="0" name="radioInline" ng-model="frm.emailchoice">
                              <label for="inlineRadio2"> No</label>
                          </div>
                        </div>
                      </div>


                      <div class="form-group float-label has-success has-feedback">
                        <label class="control-label">EMAIL Id</label>
                        <input type="text" class="form-control float-input" id="inputEmail" aria-describedby="inputEmailSuccessStatus" value="hello@mlg.com" ng-model="frm.childemail">
                        <div class="form-control-feedback"><i class="icon icon-check"></i></div>
                      </div>

            <div class="form-group">
              <label class="control-label text-uppercase"><b>Select subject package type</b></label>
              <div id="subjectPackages" class="flex-row flex-row-wrap btn-group package-group" data-toggle="buttons">
                <!--<label ng-repeat="package in packages">
                  <input type="checkbox" ng-model="frm.packagechoice" checklist-value="package.id" ng-checked="isChecked(package.id,package.name)">{{package.name}}
                  </label> -->

                  <label class="flex-col btn package subject" ng-repeat="package in packages">
                    <input type="radio" name="subjectPackages" id="ubjectPackage{{package.id}}" autocomplete="off" ng-model="frm.packagechoice" ng-value="package.id"> {{package.name}}<br>{{package.discount}}%off
                </label>
              </div>
                  </div>
          </div><!-- /.col-left-->




          <div class="col-sm-6 col-right">
            <div class="form-group text-center">
              <label class="control-label text-uppercase"><b>Choose a plan</b></label>
              <div id="subscriptionPlans" class="btn-group subscriptionPlan-group" data-toggle="buttons">
                <!--
                <label class="btn plan">
                  <input type="radio" name="subscriptionPlans" id="planMonthly" autocomplete="off" ng-model="frm.planchoice" value="1" checked>
                  <span class="plan-title">Monthly</span>
                  <i class="icon icon-monthly plan-icon"></i>
                </label> -->
                
                <label class="btn plan" ng-repeat="plan in plans">
                  <input type="radio" name="subscriptionPlans" id="planYearly" autocomplete="off" ng-model="frm.planchoice" ng-value="plan.id">
                  <span class="plan-title">{{plan.name}}</span>
                  <i class="icon icon-yearly plan-icon"></i>
                </label>
              </div>

              <p class="text-center text-danger"><small><sup>*</sup>Your selected plan will activate after free trail of 30 days</small></p>
              <br><br>
            </div>

            <div class="form-group text-center">
              <label class="control-label text-uppercase"><b>Choose your subjects</b></label>               
                      
                <div ng-if="courserecords=='0' ">
                      <strong class="msg">{{msg}}</strong>
                </div>
                <div ng-if="courserecords>0 ">
                <div id="subjectsPrice" class="flex-row flex-row-wrap btn-group package-group" data-toggle="buttons">
                    <label class="flex-col btn package subject" ng-repeat="course in cousesListByGrade">
                      <input type="checkbox" name="{{course.course_name}}" autocomplete="off" ng-model="frm.cousechoice" checklist-value="course.id" ng-checked="isChecked(course.id,course.course_name)">
                      <span class="package-title">{{course.course_name}}</span>
                      <strong class="package-price">${{course.price}}</strong>
                      <small class="package-type">monthly</small>
                    </label>
                  </div>
                </div>      
              </div>

                  <div class="form-group">
                    <table class="table table-totalCost">
                      <tbody>
                        <tr>
                          <td><b>Cost:</b></td>
                          <td><b>$100/month</b></td>
                        </tr>
                        <tr>
                          <td>
                            <b>Discount:</b>
                            <span class="display-block text-muted">10% off</span>
                          </td>
                          <td><b>$10/month</b></td>
                        </tr>
                        <tr>
                          <td><b>Sub total:</b></td>
                          <td><b>$90/month</b></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary" ng-click="submitChildDetails(frm)">Proceed</button>
                  </div>
                </div>

              </div>

              </form>
            </div>

          </div>
          <!-- /.onboarding: login teacher-->
      </div>
      <!-- /main content -->
    </div>
    <!-- /page content -->

  </div>
  <!-- page container -->

  <!-- Footer -->
  <div class="footer text-muted">
    &copy; 2017. <a href="#">Terms of use</a> & <a href="#" target="_blank">Privacy policy</a>
  </div>
  <!-- /footer -->


  <!-- Latest compiled and minified jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="assets/js/min/jquery-2.1.3.min.js"><\/script>')</script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 

  <script type="text/javascript">
    $(document).ready(function(){
      //$("input[type='radio']").radio_button();
    });
  </script>

