    <div class="prelogin content_wrapper">
      <!-- navigation  -->
      <div class="navigation">
        <div class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="assets/img/logo_2.png" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav ">
              <li><a href="">English</a></li>
              <li><a href="">Maths</a></li>
              <li class="bd"><a href="">Science</a></li>
              <li class="bd"><a href="">Social Science</a></li>
            </ul>
						<ul class="nav navbar-nav navbar-right">
				      <!-- <li class="active"><a href="#modalFreeTrail" data-toggle="modal" class="btn navbar-btn" >Free Trial</a></li> -->
				      <li><a href="signin">login</a></li>
							 <li class="active"><a href="guest">Take a tour</a></li>
				    </ul>
          </div>
        </div>
      </div>
      <!-- navigation -->
      <!-- carousel -->
      <div id="myCarousel" class="carousel slide home-carousel" data-ride="carousel">
				<!-- carousel-indicator -->
				<ol class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#myCarousel" data-slide-to="1"></li>
			    <li data-target="#myCarousel" data-slide-to="2"></li>
			  </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="assets/img/prelogin_img/banner_img1.jpg" alt="">
						<div class="carousel-caption">
							<h1>Evidence based adaptive learning</h1>
							<p class="lead">
								<span>Captivating platform designed for classes 6-8</span>
								<span>Analyze Personalize Achieve</span>
							</p>
							<a class="btn btn-large btn-primary" href="guest">Take a tour</a>
						</div>
          </div>
          <div class="item">
            <img src="assets/img/prelogin_img/banner_img2.jpg" alt="">
						<div class="container">
						 <div class="carousel-caption">
							 <h1>Seamless connectivity into classroom</h1>
							 <p class="lead"><span>Scope & Sequence Management, actionable insights, </span><span> and personalized assignments</span></p>
							 <a class="btn btn-large btn-primary navbar-btn" href="#" ng-click="openFreeModal();" data-toggle="modal">Start a free trial</a>
						 </div>
					 </div>
          </div>
          <div class="item">
            <img src="assets/img/prelogin_img/banner_img3.jpg" alt="">
						<div class="carousel-caption">
							<h1>Analyze. Personalize. Achieve</h1>
							<p class="lead"><span>Personalized content delivery based</span><span>on dynamic gap analysis every step of the way</span></p>
							<a class="btn btn-large btn-primary navbar-btn" href="#" ng-click="openFreeModal();" data-toggle="modal">Start a free trial</a>
						</div>
          </div>
        </div>
        <!-- Left and right controls -->

      </div>
			<script type="text/javascritp">
			$('.carousel').carousel({
				interval: 1000
				});
			</script>
      <!-- carousel -->


      <section class="main_content_section" >
				<!-- core_compitancy -->
      	<div class="container">
					<div class="core_compitancy">
						<div class="row">
							<div class="col-md-3 ">
								<div class="thumbnail">
										<img src="assets/img/prelogin_img/img_1.png" alt="Nature" class="img-responsive">
										<div class="caption">
											<h4>Quality content</h4>
											<p>Content & assessments developed by teachers and aligned to all standards : Common Core, State, Science (NGSS), Social Studies (C3) and International standards (IB, NCERT/CBSE, Singapore etc)</p>
                  </div>
								</div>
							</div>
							<div class="col-md-3 ">
								<div class="thumbnail">
										<img src="assets/img/prelogin_img/img_2.png" alt="Nature" class="img-responsive">
										<div class="caption">
											<h4>individualized learning</h4>
											<p>Personalized learning through dynamic gap analysis and the ability for an educator to customize lesson and assignment. Use in-built content or upload and share content.</p>
										</div>
								</div>
							</div>
							<div class="col-md-3 ">
								<div class="thumbnail">
										<img src="assets/img/prelogin_img/img_3.png" alt="Nature" class="img-responsive">
										<div class="caption">
											<h4>Dynamic gap analysis</h4>
											<p>Intuitive & easy to use reports so parents and educators can quickly understand the child’s progress and either follow system recommendation or build a specific path for the learner</p>
										</div>
								</div>
							</div>
							<div class="col-md-3 ">
								<div class="thumbnail">
										<img src="assets/img/prelogin_img/img_4.png" alt="Nature" class="img-responsive">
										<div class="caption">
											<h4>Real rewards real adventure</h4>
											<p>The platform offers ‘real’ awards to the child as they spend more time on the platform and gain skill mastery, these awards are real-world awards aimed at Tweens/Teens</p>
										</div>
								</div>
							</div>
						</div>
					</div>
      	</div>
				<!-- feature_section -->
        <article class="feature_section">
					<!-- featuer_student -->
          <div class="container">
						<div class="row student_feature">
              <div class="col-md-6 col-xs-12 pull-right right-portion">
								<div class="laptop_screen right">
									<div class="owl-carousel featuer-carousel student" owlcarousel>
										<div class="item">
											<img src="assets/img/prelogin_img/student_dash_1.jpg" alt="" class="img-responsive">
										</div>
										<div class="item">
											<img src="assets/img/prelogin_img/student_dash_2.jpg" alt="" class="img-responsive">
	                	</div>
										<div class="item">
	                		<img src="assets/img/prelogin_img/student_dash_3.jpg" alt="" class="img-responsive">
	                	</div>
										<div class="item">
	                		<img src="assets/img/prelogin_img/student_dash_4.jpg" alt="" class="img-responsive">
	                	</div>
									</div>
								</div>
              </div>
              <div class="col-md-6 col-xs-12 pull-left">
                <h1>For Students</h1>
                <p>It’s no mystery that every student is different, they learn and react differently and expect to be treated like an individual. We are here to celebrate the differences in students by charting their <b>individual learning trajectory</b> – we do this by providing a data driven platform that engages the student. We not only believe in student outcomes, but student celebration !</p>
								<span class="hide">
									<p>The platform is set up in a ‘magical’ world and provides <b>real-world rewards</b> for students. Our primary research shows that kids respond better when <b>learning is made fun</b> in an environment they respond to. Real Awards provide the motivation for the student to return everyday with frequent treats rewarding growth in real life, not just virtual ‘badges’. A learner can even win a trip for their family to their favorite place by just learning.</br>
								Through deep prescriptive analytics, MLG uses data to place each student into the right level for each topic and then to adjust the level of skills, sub skills, hints & instruction so they retain what they have learnt and can succeed.
								</p></span>
                <button type="button" class="btn bg_none learn_more">READ MORE</button>
              </div>
            </div>
          </div>
					<!-- parent_feature -->
          <div class="container">
						<div class="row parent_feature">
              <div class="col-md-6  col-xs-12 ">
								<div class="laptop_screen left">
									<div class="owl-carousel featuer-carousel parent" owlcarousel>
										<div class="item">
											<img src="assets/img/prelogin_img/parent_dash_1.jpg" alt="" class="img-responsive">
										</div>
										<div class="item">
											<img src="assets/img/prelogin_img/parent_dash_2.jpg" alt="" class="img-responsive">
	                	</div>
										<div class="item">
	                		<img src="assets/img/prelogin_img/parent_dash_3.jpg" alt="" class="img-responsive">
	                	</div>
									</div>
								</div>
              </div>
              <div class="col-md-6  col-xs-12">
                <h1>For Parents</h1>
                <em>Many students are challenged in trying to make a connection between lessons taught in class, a practice program and the high-stakes test. That’s why MLG a supplemental and analytics driven test readiness program aims to help through <b>daily progress tracking</b> with <b>real time gap analysis</b> that helps to create an <b>individual learning path</b> for a child.</em>
								<span class="hide extra_content">Parents can use this to understand their child’s growth and challenges and reinforce achievements as a child masters the skills assigned to them.</span>
                <button type="button" class="btn bg_none learn_more">READ MORE</button>
              </div>
            </div>
          </div>
					<!-- teacher_feature -->
          <div class="container">
						<div class="row teacher_feature">
              <div class="col-md-6 col-xs-12 pull-right">
								<div class="laptop_screen right">
									<div class="owl-carousel featuer-carousel teacher" owlcarousel>
										<div class="item">
											<img src="assets/img/prelogin_img/teacher_dash_1.jpg" alt="" class="img-responsive">
										</div>
										<div class="item">
											<img src="assets/img/prelogin_img/teacher_dash_2.jpg" alt="" class="img-responsive">
	                	</div>
										<div class="item">
	                		<img src="assets/img/prelogin_img/teacher_dash_3.jpg" alt="" class="img-responsive">
	                	</div>
									</div>
								</div>
              </div>
              <div class="col-md-6 col-xs-12 pull-left">
                <h1>For Educators</h1>
                <p>In today’s day and age of mandatory high-stakes testing and continuous evaluation, educators need dynamic resources that aid them in real time skill gap analysis to accurately track a child’s learning trajectory.</p>
								<span class="hide"><p>Mylearninguru enables an educator to create customized learning paths for students and give real-time feedback in their class to accurately track the child’s progress. They can also <b>upload their own content, change scope and sequence</b> of the lessons and <b>send custom assignments to specific students</b> or groups to fill gaps.</p></span>
								<button type="button" class="btn bg_none learn_more">READ MORE</button>
              </div>
            </div>
          </div>
        </article>

				<!-- mgl_concern  -->
        <div class="container">
					<div class="mlg_concern">
            <h1>MLG helps answers the most critical questions to educators</h1>
            <p>Which skills and standards have my students achieved mastery in?</p>
						<p>How do I spend my time with my students in the most efficient way ?</p>
						<p>What are their gaps? and Where do my students need to work?</p>
						<p>What skills and standards are my students struggling with?</p>
						<p>How can I build classroom groups for remedial, moderate and advanced learners?</p>
						<p>Can I visually represent at-risk students, and what do they need?</p>
						<p>Can I see progress by skill, sub-skill, national and state standards?</p>
          </div>
        </div>
				<!-- mgl_concern -->

				<!-- about us  -->

        <article class="about_us" id="aboutus">
          <div class="container">
						<div class="cover">
							<h1>About Us</h1>
							<div class="divider"></div>
	            <p>"We are passionate team of educators, product and technology professionals with a passion and aim to making  learning personalized and fun.
								<span>
									Each child is unique with a distinct learning style, MLG aspires to provides a data driven adaptive platform that celebrates these differences and personalizes instruction to each child’s learning trajectory.  Teachers have access to real time gap analysis and prescriptive breakdown on how to most efficiently spend the “teaching minutes” with a student. So, their most precious classroom time is spent in ‘teaching’ rather than content creation, blueprinting, reporting, filing, correcting and analysis"
								</span>
							</p>
						</div>
          </div>
        </article>
				<!-- about us  -->
				<!-- get_in_touch -->
				<article class="get_in_touch">
          <div class="container">
						<h1>Get In Touch</h1>
            <div class="cover">
              <div class="row margin-0">
                <div class="col-md-8 col-sm-6 form_cover">
                  <h4>Send us a Message<span class="fa fa-envelope pull-right"></span></h4>
                  <form class="form"  id="contact-submit">
                    <div class="row">
                    	<div class="col-sm-6">
							<div class="form-group">
		                      <label for="">Your Name</label>
		                      <input type="text" class="form-control" id="contact_name"  ng-model="cfrm.name"/>
		                    </div>
                    	</div>
											<div class="col-sm-6">
		                    <div class="form-group">
		                      <label for="">Phone Number</label>
		                      <input type="text" class="form-control" id="contact_phone" ng-model="cfrm.phone"/>
		                    </div>
											</div>
                    </div>
                    <div class="form-group">
                      <label for="">Email</label>
                      <input type="email" class="form-control" id="contact_email" ng-model="cfrm.email"/>
                    </div>
                    <div class="form-group">
                      <label for="">message</label>
                      <textarea type="" class="form-control" id="contact_text" ng-model="cfrm.contact_text"></textarea>
                    </div>
                     <button type="submit" class="btn-send" ng-click="submitContactUs(cfrm)"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    <!-- <input type="submit" name="submit" value="submit"> -->
                  </form>
                  <div id="contact_submit_result" style="color:green">{{msg}}</div>
                </div>
                <div class="col-md-4 col-sm-6 detail_cover">
                  <h4>Contact Information</h4>
                  <ul class="details">
										<li><i class='fa fa-map-marker'></i><span class="address">Sullivan Ridge Dr, <br/> Charlotte North Carolina 28277, Charlotte</span></li>
                    <li><a href="tel:+1-152-245-1500"><i class='fa fa-phone'></i><span>+19199084123</span></a></li>
                    <li><a href="mailto:info@mylearninguru.com"><i class='fa fa-envelope'></i><span>info@mylearninguru.com</span></a></li>
                  </ul>

                  <ul class="social_icon">
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </article>
				<!-- get in touch -->
				<!-- footer -->
				<footer class="footer">
		      <div class="company_tab_line">
		        <div class="container">
		          <div class="row">
		            <div class="col-sm-12 text-center">
		              <p class="copyright_line">&copy; 2017 MyLearninGuru. All rights reserved.</p>
		            </div>
		          </div>
		        </div>
		      </div>
		    </footer>
      </section>
    </div><!--/ content-wrapper -->




		<!-- Modal -->
<div class="modal fade modal-free-trail" id="modalFreeTrail" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="text-center text-light">How would you like to acquire your Free Trail?</h4>
      </div>
      <div class="modal-body">
		<div class="flex-row">

			<div class="flex-col col-50 text-center"><img src="assets/img/as-teacher.png" class="img-responsive" alt="As Teacher"></a></div>
			<div class="flex-col col-50 text-center"><img src="assets/img/as-parent.png" class="img-responsive" alt="As Parent"></div>
		</div>
      </div>
      <div class="modal-footer">
		<div class="flex-row">
			<div class="flex-col col-50 text-center">
				<a href="" ng-click="teacher_signup_page();" ><button type="button" class="btn btn-default">As Teacher</button>
			</div>
			<div class="flex-col col-50 text-center">
				<a href="" ng-click="parent_signup_page();"><button type="button" class="btn btn-default">As Parent</button></a>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>

		
    <script>
    $(document).ready(function(){
			


			$(".learn_more").click(function(){
				$(this).siblings("span").toggleClass("hide");
				var presentText = $(this).text()
				presentText = presentText.toLowerCase();
				console.log(presentText);
				if(presentText == "read more"){
					$(this).text("Read Less");
				}
				else {
					$(this).text("Read More");
				}
			});
    });

    var floatInput = function(){
	    $("input, textarea").each(function(){
	       if(this.value!=''){
	        $(this).parent('.form-group').addClass('focus');
	       }
	    });

	    $('input, textarea').on('focusin', function() {
	      $(this).parent('.form-group').addClass('focus');
	    });
	    $('input, textarea').on('focusout', function() {
	      if (!this.value) {
	        $(this).parent('.form-group').removeClass('focus');
	      }
	    });
	  }
  	floatInput();
		$(document).scroll(function(){
			var count=$(window).scrollTop();
			var main_content_section_count = $(".main_content_section").offset();
			main_content_section_count = main_content_section_count.top;
				if(count>10 && count< main_content_section_count) {
					$(".navigation").addClass("p-relative");
				}
				else {
					$(".navigation").removeClass("p-relative");
				}
				if (count>main_content_section_count){
					$(".navigation").addClass("sticky");
				}
				else {
					$(".navigation").removeClass("sticky");
				}

		});
    </script>


		<!-- script to send mail -->
		<script type='text/javascript'>
	    /* attach a submit handler to the form */
	    $("#contact-submit").submit(function(event) {

	      /* stop form from submitting normally */
	      event.preventDefault();

	      /* get the action attribute from the <form action=""> element */
	      var $form = $(this),
	          url = $form.attr( 'action' );

	      /* Send the data using post with element id name and name2*/
	      var posting = $.post( url, {
	                      name: $('#contact_name').val(),
	                      email: $('#contact_email').val(),
	                      phone: $('#contact_phone').val(),
	                      contact_text: $('#contact_text').val()
	                     });

	      /* Alerts the results */
	     /* posting.done(function( data ) {
	        console.log(data);
	         $('#contact-submit')[0].reset();
	        $('#contact_submit_result').text(data);
	        $('#contact_submit_result').fadeOut(3500);
	      });*/
	    });


		</script>

