	<nav class="navbar navbar-primary navbar-fixed-top">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mlg-navbar-collapse" aria-expanded="false">
	        <span class="sr-only">Menu</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt="" /></a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="mlg-navbar-collapse">
				<div class="navbar-right">
					<a href="" ng-click="openFreeModal();" data-toggle="modal" class="btn navbar-btn">Free Trail</a>
					<a href="signin" class="btn navbar-btn">Login</a>
					<a href="guest" class="btn navbar-btn">Guest</a>
				</div>
	      <ul class="nav navbar-nav navbar-right">
	        <li class="active"><a href="#"><span class="nav-text">Home</span></a></li>
					<li><a href="#"><span class="nav-text">About Us</span></a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container -->
	</nav> <!-- /nav -->

	<!-- Page container -->
	<main role="main">

		<!-- Hero Index content -->
		<header id="heroIndexCarousel" class="carousel slide hero-index-Carousel" data-ride="carousel">
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="assets/img/hero-slide-1.jpg" alt="Chania">
					<div class="carousel-caption">
						<h2 class="caption-title">Designed.For.Twins</h2>
						<p>Capitivating platform that makes learning fun.</p>
					</div>
				</div>
				<div class="item">
					<img src="assets/img/hero-slide-2.jpg" alt="Chania">
					<div class="carousel-caption">
						<h2 class="caption-title">Designed.for.teachers</h2>
						<p>Capitivating platform that makes learning fun.</p>
					</div>
				</div>
				<div class="item">
					<img src="assets/img/hero-slide-3.jpg" alt="Flower">
					<div class="carousel-caption">
						<h2 class="caption-title">Designed.for.parents</h2>
						<p>Capitivating platform that makes learning fun.</p>
					</div>
				</div>
			</div>
			<!-- carousel controls -->
			<a class="left carousel-control" href="#heroIndexCarousel" role="button" data-slide="prev">
				<i  class="fa fa-angle-left" aria-hidden="true"></i>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#heroIndexCarousel" role="button" data-slide="next">
			<i  class="fa fa-angle-right" aria-hidden="true"></i>
				<span class="sr-only">Next</span>
			</a>
		</header>

		<!-- Section About Us -->
		<section id="aboutUs" class="mlg-section section-about">
			<div class="container text-center">
				<h1 class="section-title">About Us</h1>
				<p class="about-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

				<div class="core-competency">
					<div class="row">
						<div class="col-sm-3 ">
							<div class="thumbnail competency-thumbnail">
									<img src="assets/img/competency_1.png" alt="Nature" class="img-responsive">
									<div class="caption">
										<h4 class="caption-title">QUALITY CONTENT</h4>
										<p>Quality Content curated by teachers</p>
									</div>
							</div>
						</div>
						<div class="col-sm-3 ">
							<div class="thumbnail competency-thumbnail">
									<img src="assets/img/competency_2.png" alt="Nature" class="img-responsive">
									<div class="caption">
										<h4 class="caption-title">INDIVIDUALIZED LEARNING</h4>
										<p>Experience tailored to suit everyone differently</p>
									</div>
							</div>
						</div>
						<div class="col-sm-3 ">
							<div class="thumbnail competency-thumbnail">
									<img src="assets/img/competency_3.png" alt="Nature" class="img-responsive">
									<div class="caption">
										<h4 class="caption-title">GAP ANALYSIS</h4>
										<p>Real Time Data and easy used reports.</p>
									</div>
							</div>
						</div>
						<div class="col-sm-3 ">
							<div class="thumbnail competency-thumbnail">
									<img src="assets/img/competency_4.png" alt="Nature" class="img-responsive">
									<div class="caption">
										<h4 class="caption-title">REAL REWARDS</h4>
										<p>Earn real rewards as you progress</p>
									</div>
							</div>
						</div>
					</div>
				</div><!-- /core-competency-->

			</div>
		</section>

		<section id="sectionStudent" class="section-features section-student">
				<div class="container">
					<div class="row">
						<div class="col-sm-5 feature-img">
								<img src="assets/img/index-student-journey.png" alt="" class="img-responsive">
						</div>
						<div class="col-sm-7 feature-content">
							<h1 class="feature-title">For Students</h1>
							<p>An engaging gamified learning environment full of fun activities and lessons. Students earn points as they progress through the course material which can be used to redeem several coupons.</p>
							<a href="#" class="link">LEARN MORE</a>
						</div>
					</div>
				</div>
			</section>

			<section id="sectionParent" class="section-features section-parent">
				<div class="container">
					<div class="row">
						<div class="col-sm-5 feature-img">
								<img src="assets/img/index-parent-dashbard.png" alt="" class="img-responsive">
						</div>
						<div class="col-sm-7 feature-content">
							<h1 class="feature-title">For Parents</h1>
							<p>Daily progress tracking, ability to send custom assignments, and ability up upgrade the packages whenever required. Parents also get a way to communicate with the course instructors online.</p>
							<a href="#" class="link">LEARN MORE</a>
						</div>
					</div>
				</div>
			</section>

			<section id="sectionteacher" class="section-features section-teacher">
				<div class="container">
					<div class="row">
						<div class="col-sm-5 feature-img">
								<img src="assets/img/index-teacher-dashbard.png" alt="" class="img-responsive">
						</div>
						<div class="col-sm-7 feature-content">
							<h1 class="feature-title">For Teachers</h1>
							<p>Keep track of the progress of your class, make custom groups, send customized targeted assignments, easily upload student data on the system. Teachers also get a tool to share their content and earn reward points whenever it is used by others.</p>
							<a href="#" class="link">LEARN MORE</a>
						</div>
					</div>
				</div>
		</section>

		<!-- Testimonials -->
		<section class="mlg-section section-testimonial">
			<div class="container">
				<h1 class="section-title">Testimonials</h1>
				<div class="owl-carousel testimonial-carousel">
					<div class="item">
						<p class="testimonial-quote">“My Learning guru helped me in keepitestimonial_carouselng track of the learnings of my class. I can also send custom assignments to individual and groups.</p>
						<div class="user_info">
							<div class="img_cover">
								<img src="assets/img/testimonial-user-1.jpg" alt="">
							</div>
							<span class="user_name">Sushant Singh</span>
							<span class="user_post">Teacher, 9th grade,Mathematics</span>
						</div>
					</div>
					<div class="item">
						<p class="testimonial-quote">“My Learning guru helped me in keeping track of the learnings of my class. I can also send custom assignments to individual and groups.</p>
						<div class="user_info">
							<div class="img_cover">
								<img src="assets/img/testimonial-user-1.jpg" alt="">
							</div>
							<span class="user_name">Sushant Singh</span>
							<span class="user_post">Teacher, 9th grade,Mathematics</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /testimonials -->

		<section class="mlg-section section-getInTouch">
			<div class="container">
				<h1 class="section-title">Get In Touch</h1>

				<div class="well well-flat">
					<div class="row">
						<div class="col-md-7 col-sm-5 col-contactForm">
							<h4 class="text-bold">Send us a Message</h4>
							<br>
							<form role="form" class="form-getInTouch">
								<div class="form-group float-label">
									<label class="control-label">Your Name</label>
									<input type="text" class="form-control float-input">
								</div>
								<div class="form-group float-label">
									<label class="control-label">Email</label>
									<input type="email" class="form-control float-input">
								</div>
								<div class="form-group float-label">
									<label class="control-label">Phone Number</label>
									<input type="tel" class="form-control float-input">
								</div>
								<div class="form-group float-label">
									<label class="control-label">Message</label>
									<textarea class="form-control float-input"></textarea>
								</div>
								<button type="submit" class="btn btn-submit btn-rounded icon-float"><i class="fa fa-paper-plane"></i><span class="sr-only">Send</span></button>
							</form>
						</div>

						<div class="col-md-5 col-sm-7 col-contactInfo">
							<h4 class="text-bold">Contact Information</h4>
							<br>
							<ul class="contact-details">
								<li><i class="list-icon fa fa-envelope"></i><a href="mailto:info@mylearningguru.com">info@mylearningguru.com</a></li>
								<li><i class="list-icon fa fa-phone"></i><a href="tel:+1-152-245-1500">+1-152-245-1500</a></li>
								<li><i class="list-icon fa fa-map-marker"></i><span class="address">#8984, Loreum complex, Ipsum Rd, Dolor, CA-242434</span></li>
							</ul>
							<div id="map" class="contact-map">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d448183.73912804417!2d76.81306640115254!3d28.646677246352574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi!5e0!3m2!1sen!2sin!4v1490790107287" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
							<div class="social-info">
								<a href="#" class="fa fa-facebook"><i class="sr-only">Facebook</i></a>
								<a href="#" class="fa fa-instagram"><i class="sr-only">Instagram</i></a>
								<a href="#" class="fa fa-linkedin"><i class="sr-only">Linked In</i></a>
								<a href="#" class="fa fa-twitter"><i class="sr-only">twitter</i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>
	<!-- page container -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h4 class="footer-title">ABOUT</h4>
					<ul class="list-footer-links">
						<li><a href="#">Business</a></li>
						<li><a href="#">Compare</a></li>
						<li><a href="#">Features</a></li>
						<li><a href="#">Pricing</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h4 class="footer-title">COMPANY</h4>
					<ul class="list-footer-links">
						<li><a href="#">About us</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">Press Releases</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h4 class="footer-title">LEARN MORE</h4>
					<ul class="list-footer-links">
						<li><a href="#">Support</a></li>
						<li><a href="#">Developers</a></li>
						<li><a href="#">Referral Program</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h4 class="footer-title">LEARN MORE</h4>
					<ul class="list-footer-links">
						<li><a href="#">Support</a></li>
						<li><a href="#">Developers</a></li>
						<li><a href="#">Referral Program</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="legal">
			<div class="container">
				Mylearninguru.All rights reserved <span class="legal-links"><a href="#">.Terms of Use</a> <a href="#">.Privacy Policy</a> <a href="#">.Sitemap</a></span>
			</div>
		</div>
	</footer>

	<!-- Modal -->
<div class="modal fade modal-free-trail" id="modalFreeTrail" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="text-center text-light">How would you like to acquire your Free Trail?</h4>
      </div>
      <div class="modal-body">
				<div class="flex-row">

					<div class="flex-col col-50 text-center"><img src="assets/img/as-teacher.png" class="img-responsive" alt="As Teacher"></a></div>
					<div class="flex-col col-50 text-center"><img src="assets/img/as-parent.png" class="img-responsive" alt="As Parent"></div>
				</div>
      </div>
      <div class="modal-footer">
				<div class="flex-row">
					<div class="flex-col col-50 text-center">
						<a href="" ng-click="teacher_signup_page();" ><button type="button" class="btn btn-default">As Teacher</button>
					</div>
					<div class="flex-col col-50 text-center">
						<a href="" ng-click="parent_signup_page();"><button type="button" class="btn btn-default">As Parent</button></a>
					</div>
				</div>
      </div>
    </div>
  </div>
</div>

	<!-- Latest compiled and minified jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="assets/js/min/jquery-2.1.3.min.js"><\/script>')</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Page Specific JavaScript -->

	<script src="assets/js/main.js"></script>
	<script>
	$(document).ready(function(){
		var owl = $('.testimonial-carousel');
		owl.owlCarousel({
			items:1,
			itemsDesktop:[1000,1],
			itemsDesktopSmall:[979,1],
			itemsTablet:[768,1],
			itemsMobile:[550,1],
			pagination: false,
			navigation:true,
			slideSpeed:1000,
			navigationText:["",""],
			transitionStyle:"goDown",
			autoPlay:false
		});
		$(".testimonial-carousel").trigger("to.owl.carousel", [2, 1, true]);
	});
	</script>
