	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Onboarding: Login Teacher -->

					<div class="panel panel-flat panel-onboarding">
						<div class="panel-heading">
							<h4 class="panel-title"><img src="assets/img/logo_1.png" alt=""><small class="pull-right"><a href="signup-parent.html" class="link link-gray-light">Don't have an account?</a></small></h4>
						</div>

						<div class="panel-body">
							<div class="row as-table">
								<div class="col-sm-6 col-left">
									<h4 class="text-center">
				              Boost your Subject Skills and check progress online with
				              <span class="display-block text-muted">MY LEARNING GURU</span>
				          </h4>
									<br>
									<br>
									<img src="assets/img/rocket_img.png" class="img-responsive img-content">
								</div>

								<div class=" col-sm-6 col-right">

									<div class="content-header">
										<h1 class="content-title">Sign In</h1>
										<p class="content-tagline">Hello there! Sign in and start improving your skills</p>
									</div>

									<form action="dashboard/parent-dashboard.html" class="form-login">
										<div class="form-group float-label">
											<label class="control-label">EMAIL ADDRESS / USERNAME</label>
											<input type="email" class="form-control float-input"/>
										</div>
										<div class="form-group float-label">
											<label class="control-label">PASSWORD</label>
											<input type="password" class="form-control float-input"/>
										</div>
										<br>
										<div class="text-center">
											<button type="submit" class="btn btn-primary">Sign in</button>
										</div>
									</form>
								</div><!-- /.col-right-->
							</div>
						</div>

					</div>
					<!-- /.onboarding: login teacher-->
					<p class="legal"><a href="terms.html">Terms & conditions</a></p>

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->