<div class="masscourt-block active">
			<div class="masscourt-cover in">
				<img src="assets/img/mascort-img/math_normal.png" class="masccort-img" alt=""/>
				<div class="hint-block">
					<div class="col-xs-2 padding-0">
						<!-- <img src="assets/img/hint-bulb-img.png" alt="" class="bulb-img"/> -->
					</div>
					<div class="col-xs-10">
						<span class="hint">
							<p>&nbsp;</p>
							<p ng-bind-html="mascot_msg">See the doors lined up here? Go to the topic you want to learn.</p>
							
						</span>
						<div class="text-right">
							<button type="button" class="btn" id="gotIt">Got it!</button>
						</div>
					</div>
				</div>
			</div>
</div>
<script src="assets/js/main.js"></script>