<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

      <!-- Main content -->
      <div class="content-wrapper">

        <!-- Onboarding: Select Number of children -->

        <div class="panel panel-flat panel-onboarding">
          
           
            <form  class="form-login" ng-submit="submitChildrenCount(childrencount)">
              <br>
              <h2 class="text-light text-gray-light text-center">Now specify how many children?</h2>
              <br>
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">

                  <div class="select-child-rangeSlider">
                    <div id="selectChildren">
                      <input id="option1" name="options" type="radio" ng-model="childrencount" ng-value="1">
              <label for="option1">1</label>
              <input id="option2" name="options" type="radio" ng-model="childrencount" ng-value="2">
              <label for="option2">2</label>
              <input id="option3" name="options" type="radio" ng-model="childrencount" ng-value="3" checked>
              <label for="option3">3</label>
              <input id="option4" name="options" type="radio" ng-model="childrencount" ng-value="4">
              <label for="option4">4</label>
              <input id="option5" name="options" type="radio" ng-model="childrencount" ng-value="5">
              <label for="option5">5</label>
                    </div>
                  </div>

                  <br>

                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Proceed</button>
                  </div>
                </div>
              </div>
            </form>

         

        </div>
        <!-- /.onboarding: login teacher-->

      </div>
      <!-- /main content -->

    </div>
    <!-- /page content -->

  </div>  
  <script type="text/javascript" src="assets/js/main.js"></script>
  <script src="assets/js/plugins/jquery.radios-to-slider.min.js"></script>
  <script type="text/javascript">
      $(document).ready(function(){
         $("#selectChildren").radiosToSlider();
      });
  </script>
</div>
