<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

      <!-- Main content -->
      <div class="content-wrapper">

        <!-- Onboarding: Select Number of children -->

        <div class="panel panel-flat panel-onboarding">
         

          <div class="panel-body">

            <div class="category-item text-center">
              <span class="icon icon-rounded icon-success icon-float float-lg"><i class="icon icon-check"></i></span>
              <br>
              <br>
              <p>Congratulations! you have successfully registerd with us. Now it’s time to <b>Become a Member</b></p>
              <br><div><a href="parent_login">Kindly Login</a></div>
            </div>
            

          
          </div>

        </div>
        <!-- /.onboarding: login teacher-->

      </div>
      <!-- /main content -->

    </div>
    <!-- /page content -->

  </div><script src="assets/js/main.js"></script>