<link rel="stylesheet" href="assets/css/plugins/radios-to-slider.css"/>
	<div  class="sign_pages">
    <div class="signpage_block">
      <div class="signpage__heading">
        <h5 class="signpage___title">MLG</h5>
        <!-- <button type="button" class="btn">Already have an account?</button> -->
      </div>
      <div class="signpage__body student_no_selection">
        <span class="___status_icon">
          <i class="icon icon-check"></i>
        </span>
        <p class="__tag_line">Congratulations! you have successfully registerd with us Now it’s time to <span>Become a Member</span></p>
          <br /><div><a href="parent_login">Kindly Login</a></div>
      </div>
  </div>
  
  <script type="text/javascript">
   $(document).ready(function(){
    $(".signpage_block").centerfy();
    $(window).resize(function(){
          $(".signpage_block").centerfy();
    });
     $("#radios").radiosToSlider();
  });
 
  </script>
</div>
