	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Onboarding: Login Teacher -->

					<div class="panel panel-flat panel-onboarding">
						<div class="panel-heading">
							<h4 class="panel-title"><b>MLG</b></h4>
						</div>

						<div class="panel-body">
							<h3 class="text-light text-gray-light text-center">Select your grades & subjects</h3>

							<form action="terms-teacher.html" class="form-login">

								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="btn-group grade-group" data-toggle="buttons">
											<!-- to show the selected or checked add class active to label as below-->
											<label class="btn active">
												<input type="checkbox" name="grade6" autocomplete="off" checked>
												<span class="grade"><span class="hidden-xs">grade</span> 6<sup>th</sup></span>
											</label>
											<label class="btn">
												<input type="checkbox" name="grade7" autocomplete="off">
												<span class="grade"><span class="hidden-xs">grade</span> 7<sup>th</sup></span>
											</label>
											<label class="btn">
												<input type="checkbox" name="grade8" autocomplete="off">
												<span class="grade"><span class="hidden-xs">grade</span> 8<sup>th</sup></span>
											</label>
											<label class="btn">
												<input type="checkbox" name="grade9" autocomplete="off">
												<span class="grade"><span class="hidden-xs">grade</span> 9<sup>th</sup></span>
											</label>
											<label class="btn">
												<input type="checkbox" name="grade10" autocomplete="off">
												<span class="grade"><span class="hidden-xs">grade</span> 10<sup>th</sup></span>
											</label>
											<label class="btn">
												<input type="checkbox" name="grade12" autocomplete="off">
												<span class="grade"><span class="hidden-xs">grade</span> 11<sup>th</sup></span>
											</label>
											<label class="btn">
												<input type="checkbox" name="grade12" autocomplete="off">
												<span class="grade"><span class="hidden-xs">grade</span> 12<sup>th</sup></span>
											</label>
										</div>

										<div class="btn-group subject-group" data-toggle="buttons">
											<!-- to show the selected or checked add class active to label as below-->
											<label class="btn active">
												<input type="checkbox" name="math" autocomplete="off" checked>
												<span class="subject">Math</span>
											</label>
											<label class="btn">
												<input type="checkbox" name="english" autocomplete="off">
												<span class="subject">English</span>
											</label>
											<label class="btn">
												<input type="checkbox" name="science" autocomplete="off">
												<span class="subject">Science</span>
											</label>
											<label class="btn">
												<input type="checkbox" name="socialScience" autocomplete="off">
												<span class="subject">Social Science</span>
											</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-8 col-sm-offset-2">
										<div class="form-group float-label">
											<label class="control-label">Comments for MLG (optional)</label>
											<input type="text" class="form-control float-input"/>
										</div>
									</div>
								</div>

								<br>
								<div class="form-group text-center">
									<button type="submit" class="btn btn-primary">Proceed</button>
								</div>
							</form>
						</div>

					</div>
					<!-- /.onboarding: login teacher-->
					<p class="legal"><a href="terms-parent.html">Terms & conditions</a></p>

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->


	<!-- Latest compiled and minified jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="assets/js/min/jquery-2.1.3.min.js"><\/script>')</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Page Specific JavaScript -->
	<script src="assets/js/main.js"></script>
