	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Onboarding: Select Number of children -->

				<div class="panel panel-flat panel-onboarding">
					<div class="panel-heading">
						<h4 class="panel-title"><img src="assets/img/logo_1.png" alt=""></h4>
					</div>

					<div class="panel-body">

						<div class="category-item text-center">
							<span class="icon icon-rounded icon-success icon-float float-lg"><i class="icon icon-check"></i></span>
							<br>
							<br>
							<p>Congratulations! you have successfully registerd with us. Now it’s time to <b>Become a Member</b></p>
						</div>
						<br>

						<form action="children-account-setup.html" class="form-login">
							<h3 class="text-gray-dark text-center">Now specify how many children?</h3>
							<br>
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2 text-center">

									<div class="select-child-rangeSlider">
										<div id="selectChildren">
											<input id="option1" name="options" type="radio">
											<label for="option1">1</label>
											<input id="option2" name="options" type="radio">
											<label for="option2">2</label>
											<input id="option3" name="options" type="radio" checked>
											<label for="option3">3</label>
											<input id="option4" name="options" type="radio">
											<label for="option4">4</label>
											<input id="option5" name="options" type="radio">
											<label for="option5">5</label>
										</div>
									</div>

									<br>

									<div class="form-group text-center">
										<button type="submit" class="btn btn-primary">Proceed</button>
									</div>
								</div>
							</div>
						</form>

					</div>

				</div>
				<!-- /.onboarding: login teacher-->
				<p class="legal"><a href="terms.html">Terms & conditions</a></p>

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- page container -->

	<!-- Latest compiled and minified jQuery -->
	
	<script type="text/javascript">
		  $(document).ready(function(){
		     $("#selectChildren").radiosToSlider();
		  });
  </script>
