

<style type="text/css">
body {
	font-family: 'Open Sans', sans-serif;
}
.container {
	width: 1140px;
	margin: 0 auto;
}

body h1 {text-align: center; margin-top: 50px;}
.tabs {
	text-align: center;
	border-bottom: 1px solid #ddd;
	padding-left: 0;
	margin-bottom: 30px;
	margin-top: 50px;
}
.tabs a{
	display: inline-block;
	padding: 10px;
	color: #999;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	margin-bottom: -1px;
}
.tabs a:hover, .tabs a.current{
	color: #5cc1e9;
	border-bottom: 1px solid #5cc1e9;
}

.tabContent {
	text-align: center;
}

.tabContent {
	display: none;
}
.tabContent:first-child {
	display: block;
}

.tabContent > div {
	width: 130px;
	display: inline-block;
	margin: 0 10px;
	padding: 20px 15px;
	border: 1px solid #ddd;
	border-radius: 3px;
	cursor: pointer;
}

.tabContent > div:hover, .tabContent > div.active {
	border: 1px solid #5cc1e9;
}

</style>


<div class="container">
	<h1>Select your grade and subjects</h1>
	<div class="tabs">
		<a href="#1" class="current">Grade 6</a>
		<a href="#2">Grade 7</a>
		<a href="#3">Grade 8</a>
		<a href="#4">Grade 9</a>
		<a href="#5">Grade 10</a>
		<a href="#6">Grade 11</a>
		<a href="#7">Grade 12</a>
	</div>
	
	<div class="contentBox">
		<div id="1"class="tabContent">
			<div>Math</div>
			<div>English</div>
			<div>Science</div>
			<div>Social Science</div>
		</div>
		
		<div id="2" class="tabContent">
			<div>Math</div>
			<div>English</div>
			<div>Hindi</div>
		</div>
		
		<div  id="3" class="tabContent">
			<div>Math</div>
			<div>English</div>
			<div>Science</div>
			<div>Social Science</div>
		</div>
		
		<div  id="4" class="tabContent">
			<div>Math</div>
			<div>English</div>
		</div>
		
		<div  id="5" class="tabContent">
			<div>Math</div>
		</div>
		
		<div  id="6" class="tabContent">
			<div>Math</div>
			<div>Hindi</div>
		</div>
		
		<div  id="7" class="tabContent">
			<div>Math</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$(".tabs a").click(function(event) {
			event.preventDefault();
			$('.tabs a').removeClass("current");
			$(this).addClass("current");
			var tab = $(this).attr("href");
			$(".tabContent").not(tab).stop().css("display", "none");
			$(tab).fadeIn(500);
		});
		
	});
</script>

