
	<div class="sign_pages">
  <div class="signpage_block">
      <div class="signpage__heading">
        <h5 class="signpage___title">MLG</h5>
        <button type="button" class="btn"><a href="signup">Don't have an account?</a></button>
      </div>
      <div class="signpage__body">
        <div class="row">
          <div class="col-sm-6 col-xs-12 signpage___left_side">
            <h5 class="signpage___heading">
                Boost your Subject Skills and check progress online with
                <span>MY LEARNING GURU</span>
            </h5>
            <img src="assets/img/pri-login-images/rocket_img.png" alt="" class="rocket__img img-responsive">
          </div>
          <div class=" col-sm-6 col-xs-12 signpage___right_side">
            <h5 class="signpage____heading">Sign In</h5>
            <p class="signpage____tag_line">Hello there! Sign in and start improving your skills</p>
            <form  class="form signpage____form">

              <div class="form-group">
                <label>
                  <span class="placholder">USERNAME</span>
                  <input type="text" class="form-control"/ ng-model="form.username">
                </label>
              </div>
							<div class="form-group">
								<label>
									<span class="placholder">PASSWORD</span>
									<input type="password" ng-model="form.password" class="form-control"/>
								</label>
							</div>
              <button type="submit" class="btn btn-primary" ng-click="login(form)">Sign in</button>
              <span class="has_error" ng-if="msg">{{msg}}</span>
            </form>

          </div>
        </div>
      </div>
  </div>
	<!-- Latest compiled and minified jQuery -->
	
	
	<!-- Latest compiled and minified JavaScript -->

	
  <script type="text/javascript">
  $(document).ready(function(){
    $('input,textarea').on('focusin', function() {
      $(this).siblings('span').addClass('active');
    });
    $('input,textarea').on('focusout', function() {
      if (!this.value) {
        $(this).siblings('span').removeClass('active');
      }
    });

    $(".signpage_block").centerfy();
    $(window).resize(function(){
          $(".signpage_block").centerfy();
    });
  });

  </script>
</div>
