<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>S | 2017</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Description / Keywords -->
	<meta name="description" content="">
	<meta name="keywords" content="">

	<!-- Mobile web app capable -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="HandheldFriendly" content="true">

	<!-- Facebook Open Graph -->
	<meta property="og:title" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>

	<!-- Favicon & Touch Icons -->
	<link rel="shortcut icon" href="assets/img/favicon/favicon.png">
	<!-- google fonts  -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
	<!-- google fonts -->
	<!-- Glyphter icons  -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/icons/css/Glyphter.css">
	<!-- Glyphter icons  -->
	<!-- Bootstrap and core app CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css" >
</head>
<body>
	<div  class="signup_background sign_pages">
  	<div class="signpage_block">
      <div class="signpage__heading">
        <h5 class="signpage___title">MLG</h5>
        <button type="button" class="btn"><a href="/signup">Don't have an account?</a></button>
      </div>
      <div class="signpage__body user_selection">
          <h5 class="signpage___heading">Sign in</h5>
          <p class="signpage____tag_line">How you want to sign in as?</p>
          <ul class="user_selection_ul">
              <li>
								 	<img src="/assets/img/pri-login-images/student_Img.png" alt="" class="user_img">
								<span>Student</span>
							</li>
              <li>
								<picture>
								  <source media="(max-width: 373px)" srcset="/assets/img/pri-login-images/teacher_Img_sm.png">
								 	<img src="/assets/img/pri-login-images/teacher_Img.png" alt="" class="user_img">
								</picture>
								<span>Teacher</span>
							</li>
              <li>
								<picture>
								  <source media="(max-width: 373px)" srcset="assets/img/pri-login-images/parent_Img_sm.png">
								 <img src="/assets/img/pri-login-images/parent_Img.png" alt="" class="user_img">
								</picture>

								<span><a href="/parent_login">Parent</a></span>
							</li>
          </ul>
      </div>
  </div>
	</div>
	
</body>
</html>
