
//Time spent Section Style

.time-spent{
  font-weight: $semibold;
  color: $gray;
  .time-value{
    margin-bottom: 0
  }
  .text-muted{
    color: lighten($gray, 15%);
  }
}


// modal-parentAssignment
.modal-parentAssignment {
  .modal-content {
    @include border-radius(0px);
    min-height: 196px;
    &.success {
      .modal-body {
        >p {
          display: none;
        }
        .confirm-succes-msg {
          display: block;
          opacity: 1;
        }
      }
      .modal-footer {
        display: none;
      }
    }
  }
  // header
  .modal-header {
    @include border-width(0px);
  }
  // body
  .modal-body {
    text-align: center;
    font-weight: $bold;

    // confirm-success-msg
    .confirm-success-msg {
      display: none;
      opacity: 0;
      @include transition(.5s all);
      .icon {
        display: inline-block;
        width: 70px;
        height: 70px;
        font-size: 28px;
        color: $white;
        @include padding(20px null null null);
        @include border-radius(100%);
        background: $springGreen;
      }
    }
  }
  .modal-footer {
    text-align: center;
    @include border-width(0px);
  }
}
