.panel.panel-parent-report {
  .heading-elements {
    @media screen and (min-width: $screen-lg){
      min-width: 392px !important;
    }
    .list-filters {
      text-align: center;
      @media screen and (min-width: $screen-sm-max){
        text-align: right;
      }
      li{
        &:first-child {
          width: auto;
        }
      }
      .bootstrap-select {
        @media screen and (min-width: $screen-lg){
          width: 127px !important;
        }
        .btn {
          background: transparent;
          @include border-width(0px);
          &:focus, &:active {
            outline: 0px;
          }
          .bs-caret {
            @include border-width(0px);
            background: transparent;
          }
        }
      }
    }
  }
}

.panel-parent-rewards {
  tr {
    td {
      .fa {
        color: $gray-light;
        font-size: 16px;
        text-decoration: none;
        &:hover {
          color: $gray-dark;
          text-decoration: none;
        }
      }
    }
  }
}
