.panel-redeem {
  .redeem-score {
    margin-left: 0px;
    @media screen and (min-width: $screen-sm){
      margin-left: 150px;
    }
    small {
      @include margin(null null null 10px);
    }
  }
   .switch-box  {
     @media screen and (max-width: $screen-xs-max){
       @include margin(0px null null null);
     }
   }
}
.parentRedeem-content{

}
.redeem-list{
  border-collapse: collapse;
  .redeem-item{
    border: 1px solid darken($gray-lighter, 5%);;
    @include border-radius($border-radius-large);
    &:hover {
      background: rgba($gray-light,0.1);
    }
    .media-left, .media-right, .media-body{
      border: 0;
    }
    .media-left{
      min-width: 200px;
      text-align: left;
      @include padding(15px 10px);
    }
    .media-body{
      text-align: center;
      @include padding(10px);
    }
    .media-object{
      &.coupon-img{
        max-width: 100px;
        margin: 0 auto;
      }
    }
    .coupon-text{
      font-weight: $semibold;
      color: darken($gray-light, 5%);
      display: block;
      @include margin(10px null null);
    }
    .media-heading{
      color: lighten($gray-light, 10%);;
      font-weight: $semibold;
    }
    .media-btns{
      display: inline-block;
      vertical-align: middle;
      .btn{
        min-width: 100px
      }
      .btn-default{
        background-color: $gray-light;
        color: white;
        &:hover, &:focus, &:active{
          background-color: $gray-dark;
          color: white;
        }
      }
      .btn + .btn{
       margin-left: 15px;
      }
    }
    @media(max-width: $screen-sm){
      display: block;
      width: 100%;
      .media-left, .media-body, .media-right{
        display: block;
        width: 100%;
        margin: 0;
      }
      .media-left{
        margin-bottom: 15px;
        text-align: center;
      }
      .media-right {
        margin-bottom: 15px;
        text-align: center;
      }
      .media-btns{
        display: block;
        margin-top: 15px;
      }
    }
  }
}




// modal-couponAccept
.modal-couponStatus {
  .modal-content {
    @include border-radius(0px);
    min-height: 196px;
    &.success {
      .modal-body {
        >p {
          display: none;
        }
        .confirm-succes-msg {
          display: block;
          opacity: 1;
        }
      }
      .modal-footer {
        display: none;
      }
    }
  }
  // header
  .modal-header {
    @include border-width(0px);
  }
  // body
  .modal-body {
    text-align: center;
    font-weight: $bold;

    // confirm-success-msg
    .confirm-succes-msg {
      display: none;
      opacity: 0;
      @include transition(.5s all);
      .icon {
        display: inline-block;
        width: 70px;
        height: 70px;
        font-size: 28px;
        color: $white;
        @include padding(20px null null null);
        @include border-radius(100%);
        background: $springGreen;
      }
    }
  }
  .modal-footer {
    text-align: center;
    @include border-width(0px);
  }
}
