.signpage__body {
  &.student_account_creation {
    clear: inherit;
    margin-top: 0px;
    .main_content {
      margin-top: 51px;
      .child_account_information {
    .hd {
      color: rgba($black, 0.7);
      font-weight: $light;
      font-size: 20px;
      margin: auto;
      margin-top: 0px;
      text-align: center;
      }
      .signpage____form {
        margin-top: 6px;
        input {
          color: $black;
          font-size: 16px;
        }
        .form-group {
          margin-top: 30px;
        }
        .placholder {
          font-weight: normal;
          font-size: 12px;
        }
        .child_email_id_opt {
          margin-top: 30px;
          .radio_ul {
            margin-bottom: 0px;
            text-align: left;
           }
           @include respond-to(mobileMedium){
             text-align: left;
             .radio_ul {
               margin-top: 10px;
             }
           }
           @include respond-to(mobileExtraSmall){
             .tag_line {
               font-size: 13px;
             }
           }
        }
      }
    }
    .subject_package_type {
      margin-top: 30px;
      .hd {
        color: rgba($black,0.7);
        font-size: 12px;
        font-weight: $bold;
        text-transform: uppercase;
        text-align: left;
        @include respond-to(mobileMedium){
          text-align: center;
        }
      }
      .subject_package {
        margin-top: 20px;
        margin-bottom: 0px;
        @include respond-to(mobileMedium){
          text-align: center;
        }
        li {
          border: 1px solid $alto;
          color: $grannySmith;
          @include border-radius(5px);
          height: 53px;
          padding-top: 7px;
          vertical-align: middle;
          width: 92px;
          &:not(:last-child){
            margin-right: 20px;
              @include respond-to(mobileMedium){
                margin-right: 0px;
              }
          }
          &.no_offers {
              padding-top: 17px;
          }
          &.active {
            border: 1px solid $pictonBlue;
            color: $pictonBlue;
            position: relative;
            &:before {
              background: $pictonBlue;
              @include border-radius(100%);
              color: $white;
              content: '\0043';
              display: inline-block;
              height: 15px;
              font-family: 'Glyphter';
              font-style: normal;
              font-weight: normal;
              font-size: 8px;
              line-height: 1;
              position: absolute;
              padding-top: 4px;
              right: -5px;
              top: -5px;
              text-align: center;
              width: 15px;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale
            }
          }
          span {
            display: block;
            font-weight: $regular;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            &:last-child {
              font-weight: $bold;
              font-size: 16px;
              margin-top: 0px;
              text-transform: lowercase;
             }
            }
            @include respond-to(mobileMedium){
              margin-bottom: 15px;
              &:nth-child(3n-1){
                margin-left: 20px;
                margin-right: 20px;
              }
            }
            @include respond-to(mobileExtraSmall){
              margin-bottom: 15px;
              margin-left: 20px;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}

.signpage__body {
  &.student_account_creation{
  .child_plan_selection {
    padding-right: 0px;
    border-left: 1px solid $alto;
    @include respond-to(mobileMedium){
      padding-right: 15px;
    }
    .hd {
      color: rgba($black,0.8);
      font-size: 14px;
      font-weight: $semibold;
      text-align: center;
     }
    ._chose_plan {
      @include respond-to(mobileMedium){
        margin-top: 20px;
      }
        ._plan {
          margin-top: 20px;
          text-align: center;
          li {
            border: 1px solid $alto;
            color: $grannySmith;
            @include border-radius(5px);
            height: 73px;
            text-align: center;
            width: 73px;
            &:not(:last-child){
              margin-right: 20px;
            }
            &.active {
              border: 1px solid $pictonBlue;
              color: $pictonBlue;
              position: relative;
            }
            span {
              &.time_period {
                display: block;
                font-size: 10px;
                font-weight: $semibold;
                margin-top: 5px;
                text-transform: uppercase;
              }
            }
            .icon {
              font-size: 36px;
            }
          }
         }

        }
    ._chose_subject{
      margin-top: 40px;
      ._subject {
        margin-top:20px;
        text-align: center;
          li {
            border: 1px solid $alto;
            color: $grannySmith;
            @include border-radius(5px);
            height: 73px;
            padding-top: 5px;
            width: 109px;
            &:not(:last-child){
              margin-right: 4px;
                @include respond-to(mobileMedium){
                  margin-right: 0px;
                }
            }
            &.active {
              border: 1px solid $pictonBlue;
              color: $pictonBlue;
              position: relative;
              &:before {
                background: $pictonBlue;
                @include border-radius(100%);
                color: $white;
                display: inline-block;
                height: 15px;
                font-family: 'Glyphter';
                font-style: normal;
                font-weight: normal;
                font-size: 8px;
                line-height: 1;
                position: absolute;
                padding-top: 4px;
                right: -5px;
                top: -5px;
                text-align: center;
                width: 15px;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale
              }
            }
            span {
              display: block;
              line-height: 20px;
              text-align: center;
              &._sub {
                font-size: 12px;
                font-weight: $semibold;
                margin-bottom: 5px;
                text-transform: uppercase;
              }
              &._price {
                font-size: 26px;
                font-weight: $bold;
              }
              &._month {
                font-size: 10px;
            }
           }
             @include respond-to(mobileMedium){
               margin-bottom: 8px;
               &:nth-child(3n-1){
                 margin-left: 4px;
                 margin-right: 4px;
               }
             }
             @include respond-to(mobileSmall){
               margin-left: 4px;
               margin-right: 4px;
             }

          }
        }
      }
     ._costing {
       margin-top: 50px;
       ._cost {
         text-align: center;
         li {
           display: block;
           width: 100%;
           &:not(:last-child){
             margin-bottom: 11px;
           }
           span{
             color: rgba($black,0.8);
             font-size: 14px;
             font-weight: $semibold;
             display: inline-block;
             text-align: left;
             vertical-align: middle;
             .discount {
               color: $grannySmith;
               display: block;
               font-size: 12px;
               font-style: normal;

             }
             &._parameter {
               width: calc(100% - 105px);
               .form-control {
                 display: inline-block;
                 vertical-align: bottom;
                 width: auto;
               }
               .btn-apply {
                 padding: 6px 20px;
                   @include respond-to(mobileMedium){
                     margin-top: 15px;
                   }
               }
             }
             &._amount{
               width: 100px;
             }
             .btn-promocode {
               background: none;
               border: 0px;
               color: $pictonBlue;
               font-weight: $semibold;
               padding-left: 0px;
             }
           }
         }
       }
       .promocode_form {
         display: none;
       }
     }
    }
  }
}
