.signpage__body {
  &.student_no_selection {
    text-align: center;
    .___status_icon {
      background: $springGreen;
      @include border-radius(100%);
      display: block;
      color: $white;
      font-size: 24px;
      height: 50px;
      margin:auto;
      padding-top: 12px;
      text-align: center;
      width: 50px;
    }
    .__tag_line {
    color: rgba($black, 0.7);
    font-weight: $light;
    font-size: 16px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 46%;
    @include respond-to(tabletPort){
      width: 65%;
    }
    @include respond-to(mobileMedium){
      width: 100%;
    }
    span {
      font-weight: $semibold;
     }
    }
    .hd {
      color: rgba($black,0.8);
      font-size: 20px;
      margin-top: 100px;
      margin-bottom: 50px;
      text-align: center;
      @include respond-to(tabletPort){
        margin-top: 50px;
      }
    }

    .child_rangeSlider {
        max-width: 502px;
        margin: auto;
        margin-bottom: 99px;
        padding-left: 8px;
        @include respond-to(mobileMedium){
          @include padding(null 15px null 15px);
        }
    }
  }
}
