// panel-myClass
.panel-all-student-list {
  .panel-heading {
    .panel-title {
      text-align: center;
      @media screen and (min-width: $screen-sm-max){
        text-align: left;
      }
    }
  }
  .list-filters {
    text-align: center;
    @media screen and (min-width: $screen-sm-max){
      text-align: right;
    }
    .bootstrap-select {
      @media screen and (min-width: $screen-lg){
        width: 156px !important;
      }
      .btn {
        background: transparent;
        @include border-width(0px);
        &:focus, &:active {
          outline: 0px;
        }
        .bs-caret {
          @include border-width(0px);
          background: transparent;
        }
      }
    }
  }
}
