.scope-sequence {
  .dragable-skills-block {
    @include box-shadow(0px 0px 6px rgba($black,0.1));
    @include padding(10px 15px);
    border-left: 8px solid $sidebar-active-border-color;
    h5 {
      font-size: 12px;
    }
    @media screen and (min-width: $screen-sm-max){
      @include padding(15px 53px);
      h5 {
        font-size: 14px;
      }
    }
  }
}

.modal-SequencePreview {
  .modal-header {
    border-bottom: 0px;
    .modal-title {
      text-align: center;
      font-size: 20px;
    }
  }
  .connected-li-list {
    margin-top: 15px;
  }
  .content-cover {
    @include padding(15px 40px);
    @media screen and (min-width: $screen-sm-max){
      @include padding(15px 100px);
    }
    .heading {
      h5 {
        color: $gray;
        font-weight: $bold;
        font-size: 20px;
        margin-top: 0px;
        position: relative;
        &:before {
          @include border-radius(100%);
          border: 2px solid $brand-primary;
          content:'';
          height: 15px;
          left: -19px;
          position: absolute;
          top: 3px;
          width: 15px;
          z-index: 100;
        }
      }
      span {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
    .repeat-row {
      @include padding(15px);
      @media screen and (min-width: $screen-sm-max){
        @include padding(30px null 30px null);
      }
      &:not(:last-child){
        border-bottom: 1px solid $gray-lighter;
      }
    }
  }
  .modal-footer {
    @include padding(null 40px);
  }
}
